{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                <div class="col-xs-6 align-right">
                    <span>Související: </span>
                    <a class="btn btn-xs btn-primary" title="Bannery" n:href=":Admin:Cms:Banner:">bannery</a>
                </div>
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Akce</th>
                                    <th>Název</th>
                                    <th>Šířka (x)</th>
                                    <th>Výška (y)</th>
                                </tr>
                            </thead>

                            <tbody>
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>{$item->name}</td>
                                        <td>{$item->width}</td>
                                        <td>{$item->height}</td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}