/* =======================================================================
	Akce
======================================================================= */
 
.page-4 {

	#hlavni {
		background: none;
		padding: 0;
		margin-bottom: $base-spacing-unit;
	}
	h1 {
		color: #fff;
	}
	.anotace {
		color: #fff;
		@include font-size(22px, 1.2);
		margin-bottom: 2.5 * $base-spacing-unit;

		p {
			margin: 0;
		}
		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.text {
		color: #fff;

		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}


// vypis akci
.action-list {

	.article__image {
		overflow: visible;

		&:before {
			display: none;
		}
		img {
			position: relative;
			top: auto;
			left: auto;
			border-radius: $border-radius $border-radius 0 0;
		}
	}
	.article__read {
		margin-bottom: $half-spacing-unit;

		a {
			display: inline-block;
			height: auto;
		}
	}

	.article__content__url {
		margin-bottom: $half-spacing-unit;

		a {
			color: #666;

			&:hover,
			&:focus {
				color: $link-color;
			}
		}
	}
	.fb-share {
		float: left;
		margin-right: 15px;
	}
	.twiter-share {
		position: relative;
		top: -2px;
	}
}


// akce v karte clanku
.article.action {
	background: none;

	.article__image {
		margin: 0;
		overflow: visible;
		background: none;

		&:before {
			display: none;
		}
		img {
			position: relative;
			top: auto;
			left: auto;
			border-radius: $border-radius;
		}
	}
}