/* =======================================================================
	Vypis clanku
======================================================================= */
 
 /*
 Hlavni clanek
 --------------------------------------------------- */
.main-article {
	@extend %cf;
	position: relative;
	margin-bottom: $half-spacing-unit;
	z-index: 5;
	overflow: hidden;
	border-radius: $border-radius;

	&:before {
		@include breakpoint($lap-and-up) {
			content: "";
			display: block;
			padding-top: $ratio-big;
		}
	}

	// vnitrek pozicovany absolutne kvuli aspect ratio obrazku
	&__inner {
		background-color: #fff;
		z-index: 10;
		padding: $half-spacing-unit;
		border-radius: 0 0 $border-radius $border-radius;

		@include breakpoint($lap-and-up) {
			position: absolute;
			bottom: 43px;
			left: 30px;
			background: none;
			padding: 0;
			border-radius: 0;
		}
		@include breakpoint($desk-and-up) {
			bottom: 83px;
			left: 50px;
		}
	}
	
	// obrazek
	&__image {
		margin: 0;
		z-index: 6;
		width: 100%;

		@include breakpoint($lap-and-up) {
			position: absolute;
			top: 0;
			left: 0;
		}

		img {
			max-width: 100%;
			width: 100%; 
			height: auto;
			vertical-align: top;
			border-radius: $border-radius;
		}
	}
	// nadpis
	&__title {
		margin: 0 0 $half-spacing-unit;
		
		@include breakpoint($lap-and-up) {
			color: #fff;
			width: 90%;
			margin-bottom: 21px;
		}
		@include breakpoint($desk-and-up) {
			width: 80%;
		}
	}
	// anotace
	&__anotace {
		margin-bottom: $half-spacing-unit;

		@include breakpoint($lap-and-up) {
			color: #fff;
			width: 90%;
			margin-bottom: 56px;
			@include font-size(22px, 1.2);
		}
		@include breakpoint($desk-and-up) {
			width: 60%;
		}

		p {
			margin: 0;
		}
		a {
			text-decoration: underline;

			@include breakpoint($lap-and-up) {
				color: #fff;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	// odkazy 
	&__links {
		margin: 0;

		a {
			display: inline-block;
		}
		.clanek {
			border-radius: $border-radius;
			border-bottom: 1px solid #661b02;
			text-decoration: none;
			@include font-size(20px);
			text-shadow: 0 1px 1px #651a01;
			padding: 10px 40px;
			@include bg("play.jpg", #d35e37, repeat, auto, 0 0);
			margin-right: $base-spacing-unit;
			font-family: $font-family-heading;
			color: #fff;

			@include breakpoint($lap-and-up) {
				padding: 14px 61px 17px;
			}

			&:hover {
				background: #b7421b;
			}
		}
		.podcast-link {
			@include font-size(18px);
			padding-left: 34px;
			@include bg("prehrat.png", transparent, no-repeat, auto, 0 18px);

			&:hover {
				background-position: 0 -206px;
			}
			@include breakpoint($lap-and-up) {
				color: #fff;
				background-image: url("../images/prehrat-white.png");
				background-position: 0 50%;

				&:hover {
					background-position: 0 50%;
				}
			}
		}
	}
	// meta info
	&__meta {
		@include font-size(14px);
		margin-bottom: 20px;

		@include breakpoint($lap-and-up) {
			color: #fff;
		}
		@include breakpoint($desk-and-up) {
			margin-bottom: 50px;
		}

		a {
			text-decoration: underline;

			@include breakpoint($lap-and-up) {
				color: #fff;
			}

			&:hover {
				text-decoration: none;
				
				@include breakpoint($lap-and-up) {
					color: #fff;
				}
			}
		}
	}
} // end .main-article


/*
Ostatni clanky
--------------------------------------------------- */
.articles-list {
	@extend %cf;
	margin-bottom: $base-spacing-unit;

	@include breakpoint($lap-and-up) {
    	-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2; 
		-moz-column-gap: 15px;
		-webkit-column-gap: 15px;
		column-gap: 15px;
    }
    @include breakpoint($desk-and-up) {
    	-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3; 
    }
}
.articles-list.no-column {

	@include breakpoint($lap-and-up) {
		-webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1; 
		-moz-column-gap: 0;
		-webkit-column-gap: 0;
		column-gap: 0;
	}
	@include breakpoint($desk-and-up) {
		-webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1; 
		-moz-column-gap: 0;
		-webkit-column-gap: 0;
		column-gap: 0;
	}

	.column-0 {
		width: 100%;
		
		@include breakpoint($lap-and-up) {
			float: left;
			width: 49%;
		}
		@include breakpoint($desk-and-up) {
			width: 32.33%;
			margin-right: 1.45%;
		}
	}
	.column-1 {

		@include breakpoint($lap-and-up) {
			float: right;
			width: 49%;
		}
		@include breakpoint($desk-and-up) {
			float: left;
			width: 32.33%;
			margin-right: 1.45%;
		}
	}
	.column-2 {
		float: right;
		width: 32.33%;
	}
}

// link na dalsi clanky
.article-more {
	width: 100%;
	clear: both;
	margin: 0 0 $base-spacing-unit;
	text-align: center;

	a {
		border-radius: $border-radius;
		border-bottom: 1px solid #661b02;
		text-decoration: none;
		@include font-size(20px);
		text-shadow: 0 1px 1px #651a01;
		padding: 14px 61px 17px;
		@include bg("play.jpg", #d35e37, repeat, auto, 0 0);
		font-family: $font-family-heading;
		color: #fff;
		display: inline-block;

		&:hover {
			background: #b7421b;
			color: #fff;
		}
	}
} // end .article-more

// jednotlivy clanek
.article {
	margin-bottom: $half-spacing-unit;
	border-radius: $border-radius;
	background: none;
	display: inline-block;
	vertical-align: text-top;
	width: 100%;

	&:nth-child(3n+1) {
		margin-right: 0;
	}

	// hlavicka s obrazkem a linkem
	&__image {
		position: relative;
		margin-bottom: -1px;
		//background-color: #eee;
		overflow: hidden;
		border-radius: $border-radius $border-radius 0 0;
		z-index: 5;

		&__a {
			position: relative;
			display: block;

			&:before {
				content: "";
				display: block;
				padding-top: $ratio-big;
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 100%;
			width: 100%;
			height: auto;
			z-index: 9;
		}
		&__link {
			position: absolute;
			bottom: 20px;
			z-index: 10;
			left: $half-spacing-unit;
			color: #fff;
			display: inline-block;
			text-decoration: none;
			border-radius: $border-radius;
			border-bottom: 1px solid #661b02;
			@include font-size(16px);
			text-shadow: 0 1px 1px #651a01;
			padding: 8px 15px 7px;
			@include bg("play.jpg", #d35e37, repeat, auto, 0 0);
			font-family: $font-family-heading;

			@include breakpoint($desk-and-up) {
				left: $base-spacing-unit;
			}
			@include breakpoint($desk-and-up) {
				left: 50px;
			}

			&:hover {
				background: #b7421b;
				color: #fff;
			}
		}
		img {
			max-width: 100%;
			height: auto;
			vertical-align: top;
		}
	}

	// content
	&__content {
		@extend %cf;
		background-color: #fff;
		padding: $half-spacing-unit;
		@include font-size(15px, 1.467);
		border-radius: 0 0 $border-radius $border-radius;

		@include breakpoint($lap-and-up) {
			padding: 25px $base-spacing-unit;
		}
		@include breakpoint($desk-and-up) {
			padding: 30px 35px; 
		}

		h2 {
			@include font-size(20px, 1.3);
			margin: 0 0 10px;
			font-weight: 400;

			a {
				display: block;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__anotace {
			margin-bottom: $half-spacing-unit;
		}
		&__tags {
			margin: 0;
			
			a {
				color: #666;

				&:hover {
					color: $brand-color;
				}
			}
		}
	}

	
}







