/* =======================================================================
	Autori
======================================================================= */
 
.page-5 {

	#hlavni {
		background: none;
		padding: 0;
		margin-bottom: $base-spacing-unit;
	}
	h1,
	h2 {
		color: #fff;
		@include font-size(35px, 1.2);
		margin-bottom: 15px;
		font-weight: 500;
	}
	.cf + h2 {
		margin-top: 50px;
	}
	.anotace {
		color: #fff;
		@include font-size(22px, 1.2);
		margin-bottom: 45px;

		p {
			margin: 0;
		}
		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.text {
		color: #fff;

		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
		h2,
		h3 {
			a {
				color: $link-color;

				&:hover,
				&:focus {
					color: #fff;
				}
			}
		}
		.author {
			float: left;
			width: 100%;
			margin: 0 0 $base-spacing-unit;

			
			@include breakpoint($lap-and-up) {
				width: 48%;
				margin: 0 2% 35px 0;
			}
			&:nth-of-type(even) {
				@include breakpoint($lap-and-up) {
					margin-right: 0;
				}
				@include breakpoint($desk-and-up) {
					margin-right: 2%;
				}
			}
			@include breakpoint($desk-and-up) {
				width: 32%;
				margin: 0 2% 2% 0;
			}
			&:nth-of-type(3n+3) {
				@include breakpoint($desk-and-up) {
					margin-right: 0;
				}
			}

			p {
				@include font-size(14px);
			}
		}
	}
}

// vypis autoru
.authors {
	@extend %cf;

	.author {
		width: 100%;
		margin-bottom: $base-spacing-unit;
		clear: both;

		@include breakpoint($lap-and-up) {
			float: left;
			clear: left; 
			width: 48%;
		}

		p {
			color: #fff;
			@include font-size(15px, 1.333);
		}
		.more {
			a {
				color: #fff;
			}
		}
	}
	.author.even {

		@include breakpoint($lap-and-up) {
			float: right;
			clear: right; 
		}
	}
}






// medailonek autora ve sloupci
.author {
	@extend %cf;
	margin: 0 0 $base-spacing-unit;

	.image {
		float: left;
		width: 43%;
		max-width: 169px;
		margin: 0 20px 10px 0;

		img {
			border-radius: 500px;
			max-width: 100%;
			height: auto;
		}
	}
	h2,
	h3 {
		@include font-size(20px);
		margin: 5px 0;
		font-weight: 400;
	}
	p {
		margin: 0;
		@include font-size(15px, 1.333);
	}
}