/* =======================================================================
	Bannery
======================================================================= */
 
// reklama ve sloupci
.inzerce-col {
	@extend %cf;
	margin: 0 0 $base-spacing-unit;

	img {
		vertical-align: top;
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}

// reklama v karte clanku
.article.advert {
	background: none;
	position: relative;

	&:before {
		content: 'inzerce';
		padding: 5px;
		background: #000;
		color: #7c7c7c;
		@include font-size(14px, 1.2);
		display: block;
		text-align: center;
		border-radius: $border-radius $border-radius 0 0;
	}

	img {
		vertical-align: top;
		max-width: 100%;
		width: 100%;
		border-radius: $border-radius;
	}
}
