/* =======================================================================
	Detail clanku
======================================================================= */
 
.b-article {

	.article-content {
		margin-bottom: 0;
	}
	.main-article {
		margin-bottom: 0;

		&__inner {
			left: 30px;
			bottom: 30px; 
			border-radius: 0;

			@include breakpoint($lap-and-up) {
				border-radius: 0 0 $border-radius $border-radius;
			}
			@include breakpoint($desk-wide) {
				left: 80px;
				bottom: 110px;
			}
		}
		&__image {

			img {
				border-radius: $border-radius $border-radius 0 0;
			}
		}
		&__title {
			text-transform: none;
		}
		&__anotace {
			margin-bottom: 20px;
		}
		&__down {
			display: none;

			@include breakpoint($lap-and-up) {
				margin: 0 0 0 20px;
				display: block;
			}

			&__link {
				display: inline-block;
				overflow: hidden;
				text-indent: 100%;
				color: #fff;
				text-decoration: none;
				@include wh(57px, 27px);
				@include bg("down.png", transparent, no-repeat, auto, 0 0);

				&:hover,
				&:focus {
					background-position: 0 -27px;
				}
			}
		}
	} // end .main-article

}

.article-content {
	@extend %cf;
	background-color: #fff;
	border-radius: 0 0 $border-radius $border-radius;
	padding: $half-spacing-unit;
	margin-bottom: $base-spacing-unit;

	@include breakpoint($lap-and-up) {
		padding: 25px 30px;
	}
	@include breakpoint($desk-wide) {
		padding: 60px 80px;
	}
}

// sdileni ve sloupci
.share-col {
	@extend %cf;
	margin: 0 0 $base-spacing-unit;

	.fb-share {
		float: left;
		margin-right: $half-spacing-unit;
	}
	.twiter-share {
		float: left;
	}
}


// souvisejici clanky dole
.article-related {
	padding-top: $half-spacing-unit;
}


// souvisejici clanky uvnitr
.related-inline {
	@extend %cf;
	margin-bottom: 30px;
	width: 100%;
	clear: both;
	font-family: $font-family-heading;

	.related-inline {
		margin: 0;
	}

	h2,
	h3 {
		@include font-size(18px, 1.3);
		margin: 0 0 10px;
		font-family: $font-family-heading;
	}
	ul {
		margin: 0 0 $base-spacing-unit;
		padding: 0;
	}
	p {
		margin: 0;

		img {
			max-width: 100%;
			height: auto;
			vertical-align: top;
		}
	}
}

