/* =======================================================================
	Efekty a animace
======================================================================= */
 
.effect {
	position: relative;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		@include bg("effect-brown.png", transparent, repeat-y, 100% auto, 0 0);
	}

	// modra - muzika
	&--blue {
		&:after {
			@include bg("effect-blue.png", transparent, repeat-y, 100% auto, 0 0);
		}
	}
	// zelena - military
	&--green {
		&:after {
			@include bg("effect-green.png", transparent, repeat-y, 100% auto, 0 0);
		}
	}
	// hneda - lifestyle
	&--orange {
		&:after {
			@include bg("effect-brown.png", transparent, repeat-y, 100% auto, 0 0);
		}
	}
	// cerna - benzin
	&--black {
		&:after {
			@include bg("effect-black.png", transparent, repeat-y, 100% auto, 0 0);
		}
	}
	// seda - editorial
	&--gray {
		&:after {
			@include bg("effect-gray.png", transparent, repeat-y, 100% auto, 0 0);
		}
	}
}

// efekt na kartach
.article {

	.article__image__a {

		&:after {
			display: none;
		}

		&:hover:after {
			display: block;
		}
	}
}

// efekt na karte produktu - jen cerny
.article.product {

	.article__image__a {

		&:after,
		&:hover:after {
			display: block;
			@include bg("effect-eshop.png", transparent, repeat-x, auto, 0 100%);
			border-radius: $border-radius;
		}
	}
}
