/* =======================================================================
	Eshop - vypis produktu
======================================================================= */

.b-eshop-list {
	h1 {
		color: #fff;
		margin-bottom: 5px;
	}
	h1 + .anotace {
		display: none;
	}
	.mag-filter .ajax .sort select {
		background: transparent;
	}
}

.eshop-list {
	
	.article.newsletter	{
		margin-bottom: $half-spacing-unit;
	}
	.article.product {
		position: relative;

		// editace
		.heading {
			display: none;
		}
		// obrazek
		.article__image {

			.article__image__a::before {
				display: none;
			}
			img {
				position: relative;
				top: auto;
				left: auto;
				border-radius: $border-radius;
			}
		}
		// informace
		.article__content {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 10;
			background: none;

			h2 {
				@include font-size(22px, 1.2);
				margin-bottom: 5px;

				a {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
						color: $link-color;
					}
				}
			}
			.price {
				color: #fff;
				margin-bottom: 10px;
				@include font-size(22px, 1.2);
				font-family: $font-family-heading;
				font-weight: 400;
			}
			.stock {
				color: #c0bca4;
				@include font-size(17px, 1.29);
				text-align: right;
				float: right;
				margin-bottom: 5px;

				span {
					display: block;
					font-weight: 700;
				}
			}
			.main-article__links {
				float: left;

				a {
					@extend .btn;
					height: auto;
					@include font-size(16px, 1);
					padding: 13px 36px;
				}
			}
		}
	}

}