/* =======================================================================
	Eshop - detail produktu
======================================================================= */

.b-eshop-detail {

}

.detailSlider {
	@extend %cf;
	width: 100%;
	position: relative;

	@include breakpoint($lap-and-up) {
		margin: 60px 0;
		padding: 0 58px;
	}

	&__cont {
		@extend %cf;
	}
	&__sipka {
		display: none;
		@include wh(50px, 187px);
		@include bg("left.png", rgba(0,0,0,0.5), no-repeat, auto, 50% 50%);
		position: absolute;
		top: 155px;
		left: 0;

		@include breakpoint($lap-and-up) {
			display: block;
		}

		&:hover {
			background-color: $link-color;
		}
		&--next {
			left: auto;
			right: 0;
			background-image: url(../images/right.png);
		}
	}
}

.eshop-left {
	width: 100%;
	clear: both;
	margin-bottom: $base-spacing-unit;
	color: #fff;

	@include breakpoint($lap-and-up) {
		float: left;
		width: 47.3%;
		clear: none;
		margin-bottom: 0;
	}

	.main-image {
		margin-bottom: 5px;

		img {
			vertical-align: top;
			max-width: 100%;
			height: auto;
			width: 100%;

			&:hover {
				box-shadow: 0 0 0 2px $link-color;
			}
		}
	}
	.photogallery {

		.photo {
			width: 32.25%;
			margin: 0 1.5% 1.5% 0;
		}
		.photo:nth-child(3n+3) {
			margin-right: 0;
			float: right;
		}
	}
}
.eshop-right {
	width: 100%;
	clear: both;
	color: #fff;

	@include breakpoint($lap-and-up) {
		float: right;
		width: 48%;
		clear: none;
	}

	h1 {
		color: #f4eecd;
		margin: 0 0 8px;
	}
	.stock {
		color: #f4eecd;
		margin: 0 0 20px;
		@include font-size(18px, 1.2);

		span {
			font-weight: 700;
		}
	}
	.price {
		margin: 0 0 24px;
		@include font-size($alpha, 1.2);
		font-weight: 700;
		font-family: $font-family-heading;

		@include breakpoint($desk-and-up) {
			float: left;
			margin: 0 30px 24px 0;
		}
	}
	.size { 
		float: left;
		margin: 0 12px 24px 0;

		label {
			color: #f4eecd;
			@include font-size(17px, 1.2);
		}
		select {
			background-color: transparent;
			border: 1px solid #4a483d;
			color: #f4eecd;
			height: auto;
			padding: 7px;
			width: 73px;
			font-family: $font-family;
			@include font-size(17px, 1.2);
			box-shadow: none;
		}
	}
	.pieces {
		float: left;
		margin: 0 0 24px;

		label {
			color: #f4eecd;
			@include font-size(17px, 1.2);
		}
		input {
			background-color: transparent;
			border: 1px solid #4a483d;
			color: #f4eecd;
			height: auto;
			padding: 10px;
			width: 45px;
			font-family: $font-family;
			@include font-size(17px, 1.2);
			box-shadow: none;
			text-align: center;
		}
	}
	p.submit {
		clear: both;
		width: 100%;
		margin-bottom: 25px;

		@include breakpoint($lap-and-up) {
			margin-bottom: 55px;
		}

		input[type="submit"] {
			@include font-size(18px, 1.2);
			background-image: url(../images/kosik.png);
			background-repeat: no-repeat;
			background-position: 75% 50%;
			padding: 13px 67px 14px 36px;
			height: 51px;
		}
	}

	// stav, kdyz je vyprodano
	.form-vyprodano {
		@extend %cf;

		.info {
			width: 100%;
			clear: both;
		}
		.email {
			float: left;
			margin-bottom: 0;

			input {
				background-color: transparent;
				border: 1px solid #4a483d;
				color: #f4eecd;
				padding: 10px;
				width: auto;
				font-family: $font-family;
				box-shadow: none;
				@include font-size(14px, 1.2);

				@include breakpoint($lap-and-up) {
					width: 158px;
				}
				@include breakpoint($desk-and-up) {
					width: 250px;
				}
			}
		}
		.submit {
			float: left;
			width: auto;
			clear: none;

			input[type="submit"] {
				border-radius: 0 $border-radius $border-radius 0;
				background-image: none;
				padding: 13px 15px 14px;

				@include breakpoint($lap-and-up) {
					padding: 13px 30px 14px;
				}
			}
		}
	}
}

.eshop-bottom {
	width: 100%;
	clear: both;
	color: #fff;

	@include breakpoint($lap-and-up) {
		float: right;
		width: 48%;
		clear: none;
	}

	.description {
		@extend %cf;
		margin: 0 0 $base-spacing-unit;

		h2 {
			color: #fff;
			font-family: $font-family;
			margin: 0 20px 25px 0;
		}
		p {
			margin: 0;
		}
	}
	.relatedArticle {
		margin: 0 0 $base-spacing-unit;

		p {
			margin: 0;

			a {
				font-family: $font-family-heading;
				font-weight: 400;
				@include font-size(24px, 1.4167);
				display: block;
			}
		}
	}
}