/* =======================================================================
	Eshop - globalni styly, hlavicka, paticka, kosik, ...
======================================================================= */

.b-eshop-list,
.b-eshop-detail,
.b-checkout,
.b-eshop {
	@include bg("eshop-mobil.jpg", #191812, no-repeat, 100% auto, 50% 0);

	@include breakpoint($lap-and-up) {
		background-image: url("../images/eshop-tablet.jpg");
	}
	@include breakpoint($desk-and-up) {
		background-image: url("../images/eshop.jpg");
		background-size: auto auto;
	}

	.footer {
		background-image: url(../images/footer-eshop.jpg);
	}
}

#snippet-cartMiniControl-cartMini {
	@include font-size(18px, 1.2);
	font-family: $font-family-heading;
	font-weight: 400;
	position: absolute;
	top: 34px;
	right: 80px;

	@include breakpoint($lap-and-up) {
		margin-top: -8px;
		float: right;
		position: relative;
		top: auto;
		right: auto;
	}
	@include breakpoint($desk-and-up) {
		margin-top: -28px;
	}

	p {
		margin: 0;

		a {
			display: inline-block;
			text-decoration: none;
			padding: 16px 18px 15px 48px;
			@include bg("basket.png", rgba(0,0,0,0.5), no-repeat, auto, 17px 46%);

			@include breakpoint($desk-and-up) {
				padding: 19px 23px 22px 50px;
			}

			&:hover {
				background-color: #000;
				color: $link-color;
			}

			.title {
				@include breakpoint($palm) {
					display: none;
				}
			}
			.castka {
				display: inline-block;
				padding-left: 10px;
				color: #f4eecd;

				@include breakpoint($lap-and-up) {
					padding-left: 50px;
				}
			}
		}
	}
}

// hover rozbaleny
.mini-cart {
	padding-bottom: 15px;
	margin-bottom: -15px;

	&:hover {

		#minikosik {
			display: block;
		}
	}
}


#minikosik {
	background-color: rgba(0,0,0,0.9);
	padding: 20px 20px 30px;
	color: #f4eecd;
	position: absolute;
	top: 76px;
	right: 0;
	z-index: 20;
	display: none;

	@include breakpoint($palm) {
		display: none !important;
	}

	&:before {
		content: '';
		@include wh(0);
		position: absolute;
		top: -10px;
		right: 40px;
		border-bottom: 10px solid rgba(0,0,0,0.9);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}

	table {
		margin: 0 0 25px;
		width: 100%;

		td {
			padding: 5px;
			vertical-align: middle;
		}
		.title {
			width: 200px;
			min-width: 200px;
			//text-overflow: ellipsis;
		}
		.size {
			@include font-size(17px, 1.2);
			font-weight: 300;
			padding-left: 30px;
			padding-right: 10px;
		}
		.count {
			@include font-size(17px, 1.2);
			font-weight: 300;
			min-width: 60px;

			input {
				background: none;
				border: 1px solid #4c493f;
				color: #f4eecd;
				box-shadow: none;
				padding: 1px 5px;
				height: auto;
				text-align: center;
				width: 28px;
			}
		}
		.cena {
			color: #fff;
			text-align: right;
			padding-left: 15px;
			@include font-size(17px, 1.2);
			white-space: nowrap;
		}
		.delete {
			padding-left: 15px;

			a {
				display: block;
				text-decoration: none;
				@include wh(14px, 13px);
				@include bg("del.png", transparent, no-repeat, auto, 0 0);
				text-indent: -999em;

				&:hover {
					background-position: -50px 0;
				}
			}
		}
	}
	.dokoncit {
		@extend .btn;
		height: auto;
		margin-left: 5px;
	}
}


/*
Thank you stranka
--------------------------------------------------- */
.standard-page {
	color: #f4eecd;
	margin: 40px 0;

	h1 {
		color: #fff;
	}
}