/* =======================================================================
	Eshop - pokladna
======================================================================= */

.checkout {
	@extend %cf;

	@include breakpoint($desk-and-up) {
		margin-bottom: 60px;
	}

	h1 {
		color: #fff;
		margin-bottom: 30px;
	}
	input[type="text"],
	textarea {
		background: none;
		border: 1px solid #4c493f;
		color: #f4eecd;
		box-shadow: none;
		padding: 1px 5px;
		height: auto;
		padding: 6px 10px;

		&:hover,
		&:focus {
			border-color: #f4eecd;
		}
	}
	.sekce {
		margin: 0 0 35px; 
		clear: both;
		color: #f4eecd;
		text-align: left;

		@include breakpoint($lap-and-up) {
			margin-bottom: 0;
		}

		> span {
			display: none; 
			float: left;
			width: 40px; 
			margin: 10px 10px 0 0;
			text-align: center; 
			@include font-size($alpha, 1.2);

			@include breakpoint($lap-and-up) {
				display: block;
			}
			@include breakpoint($desk-and-up) {
				width: 60px; 
			}

			sup {
				@include font-size(15px);
				top: -1em; 
				left: 0;
			}
		}
		fieldset {
			margin: 0; 
			padding: 40px 0 20px; 
			background: none; 
			border: 1px solid rgba(255,255,255,0.5);
			border-width: 0 0 1px;
			position: relative;

			@include breakpoint($lap-and-up) {
				border-width: 0 0 1px 1px;
				padding: 40px 0 20px 15px; 
			}
			@include breakpoint($desk-and-up) {
				padding: 40px 0 20px 30px; 
			}

			legend {
				margin: 0;
				@include font-size(18px, 1.2);
				position: relative;
				top: 20px;
				font-family: $font-family-heading;
				font-weight: 400;
			}
			h2.legend {
				@include font-size(18px, 1.2);
				font-family: $font-family-heading;
				font-weight: 400;
				color: #f4eecd;
				margin: 45px 0 14px;
			}
		}
	}

	// aktivni sekce
	.sekce.aktivni {

		> span {
			color: $link-color;
		}
		fieldset {
			background: none;

			@include breakpoint($lap-and-up) {
				border-color: $link-color;				
			}
		}
	}

	// tabulka produktu
	.kosik {

		@include breakpoint($palm) {
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}

		table {
			width: 100%;
			max-width: 100%;
			margin: 0;
			
			/*@include breakpoint($palm) {
				-webkit-overflow-scrolling: touch;
		    	overflow-x: auto;
		    	display: block;
		    	width: 100%;
				max-width: 100%;
			}*/
		}
		tbody tr {

			&:hover {

				th,
				td {
					background-color: #33301F;
				}
			}
			&.celkem {

				th,
				td {
					border-top: 2px solid #555;
					border-bottom: none;

					&.cena {
						@include font-size(20px, 1.2);

						@include breakpoint($desk-and-up) {
							width: 16%;
						}

						strong {
							font-weight: 700;
							position: relative;
							@include font-size(25px, 1.2);
							top: -2px;
						}
					}

					.upravit {
						height: auto;
					}
				}
			}
		}
		th,
		td {
			padding: 8px;
			vertical-align: middle;
			border-bottom: 1px solid #555;

			&.cena {
				text-align: right;
			}
			&.mnozstvi {
				width: 10%; 
				white-space: nowrap;

				input {
					background: none;
					border: 1px solid #4c493f;
					color: #f4eecd;
					box-shadow: none;
					padding: 1px 5px;
					height: auto;
					text-align: center;
					width: 38px;
				}
			}
			&.smazat {
				width: 3%;
				text-align: right;

				a {
					display: block;
					text-decoration: none;
					@include wh(14px, 13px);
					@include bg("del.png", transparent, no-repeat, auto, 0 0);
					text-indent: -999em;
					font-size: 0;

					&:hover {
						background-position: -50px 0;
					}
				}
			}
		}
		th {
			font-weight: 400;
		}
	}

	// doprava a platba 
	.doruceni {

		ul {
			@extend %cf;
			margin: 0 0 $half-spacing-unit;
			padding: 0;
			width: 100%;

			li {
				background: none !important; 
				padding: 0 !important;
				margin: 0 0 10px;
				

				@include breakpoint($lap-and-up) {
					margin: 0 25px 10px 0;
					display: inline-block;
					vertical-align: top;
				}

				* {
					vertical-align: middle;
				}
			}
			label {
				cursor: pointer;
			}
		}
	}


	// adresa
	.adresa {

		.dorucovaci {

			margin-bottom: $base-spacing-unit;			

			@include breakpoint($lap-and-up) {
				float: left;
				width: 48%;
				margin-bottom: 0;
			}
			@include breakpoint($desk-and-up) {
				width: 40%;
			}
		}
		p {
			@extend %cf;
			margin-bottom: 20px;
			width: 100%;

			@include breakpoint($lap-and-up) {
				margin-bottom: 10px;
			}

			label {
				padding-bottom: 2px;
				display: block;

				@include breakpoint($lap-and-up) {
					display: inline-block;
					float: left;
					width: 37%;
					padding: 5px 0 0;
				}
			}
			input {
				width: 100%;

				@include breakpoint($lap-and-up) {
					float: left;
					clear: none;
					width: 60%;
				}
			}
		}

		#zobrazFakturacni,
		#fakturacniUdaje {

			@include breakpoint($lap-and-up) {
				float: right;
				width: 48%;
				clear: right;
			}

			.upravit {
				display: inline-block;
				height: auto;
			}
		}
		#skryjFakturacni {
			float: none;
			clear: both;
			width: 100%;
		}
		#fakturacniUdaje {

			.legend {
				margin-top: 50px;

				@include breakpoint($lap-and-up) {
					margin-top: -39px;
				}
			}
			p {
				width: 100%;

				@include breakpoint($desk-and-up) {
					width: 75%;
				}
			}
		}
	}


	// dokonceni
	.dokonceni {

		fieldset {
			border-bottom: none;
			padding-bottom: 0;

			@include breakpoint($lap-and-up) {
				margin-bottom: 40px;
				padding-bottom: 20px;
			}
		}
		.info {
			padding: 20px;
			margin-bottom: $base-spacing-unit;
			border: 1px solid #555;
			border-radius: $border-radius;
			background-color: #33301F;

			@include breakpoint($lap-and-up) {
				float: right;
				width: 40%;
				margin: 26px 0 0;
			}

			h2 {
				margin: 0 0 20px;
				color: #f4eecd;
				@include font-size(18px, 1.2);
			}
			p {
				margin: 0;
			}
		}
		p {
			margin-bottom: 20px;

			label {
				display: block;
				padding-bottom: 2px;
			}
		}
		.formular {

			@include breakpoint($lap-and-up) {
				float: left;
				width: 53%;
			}
		}
		.email,
		.tel {
			clear: both;
			float: none;
			width: 100%;

			@include breakpoint($lap-and-up) {
				float: left;
				clear: left;
				width: 47%;
			}

			input {
				width: 100%;
			}
		}
		.tel {

			@include breakpoint($lap-and-up) {
				float: right;
				clear: right;
			}
		}
		.text {
			clear: both;
			width: 100%;

			textarea {
				width: 100%;
				min-height: 120px;
			}
		}
		.celkem {

		}
		.podminky {
			@include font-size(14px);
			margin-bottom: 40px;
		}
		.submit {
			margin-bottom: 0;

			input {
				@include font-size(20px, 1.2);
				padding: 20px 50px;
				height: auto;
			}
		}

	}
}






#fakturacniUdaje label					{ margin-top: 5px; }
.checkout .red															{ vertical-align: top; font-size: 1.3em; }

.checkout .adresa fieldset p span.errinfo						{ display: block; margin-left: 150px; color: red; font-size: 0.9285em; clear: both; }

.checkout .adresa fieldset p select								{ width: 130px; }
.checkout .adresa .adresa_login 									{ float: left; clear: both; width: auto; margin-top: 1em; }
.checkout .adresa .adresa_login p								{ margin: 0; width: auto; }

.checkout .dokonceni fieldset p span.errinfo					{ display: block; color: red; font-size: 0.9285em; clear: both; }
#zobrazFakturacni label {display:none}

/* * * * * *  kosik / basket  * * * * * */
/*
.checkout .kosik fieldset table tbody th,
.checkout .kosik fieldset table tbody td						{ border-top: solid 1px #e0e0e0; }
.checkout .kosik fieldset table tr.phe,
.checkout .kosik fieldset table tr.sleva						{ font-size: 0.916em; }
.checkout .kosik fieldset table tr.postovne th,
.checkout .kosik fieldset table tr.postovne td				{ border-bottom-color: #ccc; }
.checkout .kosik fieldset table tr.tlacitka th,
.checkout .kosik fieldset table tr.tlacitka td				{ border-bottom: 0; }
.checkout .kosik fieldset table tr.tlacitka:hover th,
.checkout .kosik fieldset table tr.tlacitka:hover td		{ background: none !important; }
.checkout .kosik fieldset table tr.error-row td,
.checkout .kosik fieldset table tr.error-row th        { border-top: 1px solid red; border-bottom: 1px solid red; background: #fff5f5; }
.checkout .kosik fieldset table td input						{ vertical-align: middle; }
.checkout .kosik fieldset table td #stav span.ok			{ display: block; padding: 2px 0 2px 21px; color: green; height: 17px; }
.checkout .kosik fieldset table td #stav span.ok span		{ font-size: 0.7857em; display: none; }
.checkout .kosik fieldset p.odstranit							{ margin: 1em 0 0; text-align: right; }
*/

/* * * * * *  obecne / common  * * * * * */
/*.checkout input.readonly											{ color: #999; background: #f8f8f8; box-shadow: none; }
.checkout input.readonly:hover,
.checkout input.readonly:focus 									{ border-color: #DDDCDC; box-shadow: none; }

.checkout #save_template											{ margin: 0 0 15px 110px; text-decoration: none; color: white; padding: 5px 8px; float: left; }
.kosikHeaderText														{ margin-left: 110px; background: #e9e9e9; border: 1px solid #e9e9e9; border-bottom-width: 2px; padding: 12px 15px 10px; }
.checkout .kosikHeaderText 										{ margin-bottom: 1.5em; margin-top: 1.5em; }
.kosikHeaderText p													{ margin-bottom: 0.5em; }
.checkout .rozcestnik												{ float: right; width: 30%; }
.checkout .back														{ float: right; border: 1px solid #999; border-right: 0; color: #666; text-decoration: none; }
.checkout .back span													{ background: #fff; padding: 8px 22px 7px 33px; display: block; }
.checkout .back:hover												{ border-color: #5f0e2f; color: #5f0e2f; }
.checkout .obsah														{ float: right; padding: 9px 25px 8px 25px; text-decoration: none; color: white; position: relative; }
.checkout .obsah:after  											{ border-color: #5f0e2f transparent transparent transparent; border-style: solid; border-width: 7px 7px 7px 7px; content: ""; float: left; height: 0; left: 50%; position: absolute; top: 100%; width: 0; }
.checkout .obsah:hover												{ background: #000; }
.checkout .obsah:hover:after  								{ border-color: #000 transparent transparent transparent; }

.checkout .sekce fieldset input[type="text"].error			{ border-color: red; color: #333; clear: none; display: inline; }
*/





/* * * * * *  doruceni ­ a platba / delivery and payment  * * * * * */
/*.checkout .doruceni fieldset p				{ clear: both; width: 100%; margin: 1em 0 8px; text-align: left; }
.checkout .doruceni fieldset p label							{ float: left; width: 150px; float: left; }
.checkout .doruceni fieldset p									{ float: left; font-weight: bold; clear: none; width: auto; margin: 1px 10px 0 0; }
.checkout .doruceni fieldset p + ul								{ float: left; width: auto; clear: none; margin: 0; }
.checkout .platba   fieldset p#displayVoucher,
.checkout .platba   fieldset p#voucherForm					{ clear: both; width: 100%; margin: 1em 0 8px; text-align: left; }
.checkout .platba   fieldset p#voucherForm .submit			{ padding: 6px 10px; }
.checkout #voucherForm #frm-checkoutForm-voucher				{ width: 15%; float: left; margin-right: 5px; }
.checkout .platba   fieldset p#voucherForm a   				{ float: left; height: 15px; width: 21px; margin: 3px 5px 0 0; }
.checkout .platba   fieldset p#voucherForm a span			{ position: absolute; left: -999em; }
.checkout .platba	  fieldset p#voucherForm label			{ display: block; padding-bottom: 2px; }
.checkout .platba   fieldset p#voucherForm .errinfo		{ display: block; clear: both; color: red; margin-top: 1em; } */
/*
.checkout .doruceni #shipping_total,
.checkout .platba	  #payment_total								{ float: right; margin: -38px 0 0; background: #e9e9e9; border: none; padding: 3px 5px; font-size: 0.9285em; color: black; font-weight: bold; }
*/

/* *  submit  * 
.checkout .dokonceni fieldset .formular p.submit			{ margin-bottom: 0; }
.checkout .dokonceni fieldset .formular p.submit input	{ 
padding: 12px;
font-size: 1.3em;
border: 1px solid #47AA42;
color: white; 
border-radius: 100px;
box-shadow: inset 0 1px rgba(255,255,255,0.2),
              0 1px 2px rgba(0,0,0,0.1);
outline: none;
line-height: 100%;
text-decoration: none;
letter-spacing: 1px;
font-size: 1.3em;
font-weight: bold;
font-family: 'Exo', Arial;
cursor: pointer;
background: transparent linear-gradient(to bottom, #47AA42 0%, #56CB50 100%) repeat scroll 0% 0%;
}                                                            
*/


/* * * * * *  objednavka / order  * * * * * */
/*.objednavka									{ width: 100%; margin-bottom: 1em; }
.objednavka .summaryHeaderText		{ margin-bottom: 1.5em; background: #f5f5f5; padding: 10px 20px 1px; }
.objednavka	.column_obal				{ border: 1px solid #ccc; border-top: 0; }
.objednavka .column_left				{ display: inline; float: left; width: 65%; margin: 0; }
.objednavka .column_left > div		{ border-bottom: 0; }
.objednavka .column_left .sekce h2,
.objednavka .column_right .sekce h2	{ font-size: 1.3em; font-weight: bold; }
.objednavka .column_left .sekce		{ border: 0; }
.objednavka .column_right				{ display: inline; float: right; width: 30%; margin: 20px 20px 1.5em 0; padding: 0; background: #f5f5f5; }
.objednavka .column_right p			{ font-size: 13px; }
.objednavka .column_right .sekce		{ border: 0; padding: 1.5em 20px 0; }
.objednavka .column_right .sekce.platba		{ padding: 0 20px 1.5em; }
.objednavka .column_left .sekce.platba		{ padding-top: 1.5em; }
.objednavka .sekce.platba p				{ margin: 0; }
.objednavka .sekce							{ margin: 0; border: 1px solid #ccc; border-top: 0; padding: 10px 20px 20px; }
.objednavka .sekce.kosik					{ padding-top: 1.5em; }
.objednavka .sekce h2						{ color: black; padding: 0.5em 1.5em; font-size: 1.4285em; font-weight: normal; margin-bottom: 0.5em; padding: 0; text-transform: uppercase; }
.objednavka .sekce p,
.objednavka .sekce ul						{ margin-top: 0; }
.objednavka .sekce ul.nm					{ margin-top: 0; margin-bottom: 0; }
.objednavka .sekce address				{ margin: 0; }
.objednavka .sekce .border				{  }
.objednavka .sekce table.w100			{ width: 100%; margin-bottom: 0; }
.objednavka .sekce table th				{ padding: 4px 6px; font-size: 1em; text-align: left; vertical-align: middle; background: white; border-bottom: solid 1px #e0e0e0; }
.objednavka .sekce table th	.fb_share 	{ vertical-align: middle; }
.objednavka .sekce table thead th.nazev	{ font-weight: bold; }
.objednavka .sekce table th.nazev,
.objednavka .sekce table .postovne th	{ font-weight: normal; }
.objednavka .sekce table td				{ padding: 4px 6px; font-size: 1em; text-align: left; vertical-align: middle; background: white; border-bottom: solid 1px #e0e0e0; }
.objednavka .sekce table td.celkem_row,
.objednavka .sekce table th.celkem_row					{ padding: 4px 6px; font-size: 1em; text-align: left; vertical-align: middle; border: 0; color: black; border-top: 2px solid #e0e0e0; }
.objednavka .sekce table thead th.thead_th				{ padding: 4px 6px; font-size: 1em; text-align: left; vertical-align: middle; border: 0; color: black; }
.objednavka .sekce table thead th.thead_th_no_bg		{ border-top: 0; border-bottom: 2px solid #e0e0e0; }
.objednavka .sekce table th.right,
.objednavka .sekce table td.right							{ text-align: right; }
.objednavka .sekce table th.mnozstvi,
.objednavka .sekce table td.mnozstvi						{ text-align: center; }

.objednavka .stav h2,
.objednavka .splatky h2							{  }
.objednavka .splatky .submit a				{ border: 0 none; color: white; font-weight: bold; padding: 5px 8px; text-decoration: none; }
.objednavka .stav .border,
.objednavka .splatky .border					{ border-color: #ccc; }
.objednavka .stav .text_float_left			{ display: inline; float: left; width: 68%; }
.objednavka .stav .text_float_left ul		{ padding: 0; margin-bottom: 1em; }
.objednavka .stav .text_float_left ul li	{ padding: 0; background: none; }
.objednavka .stav .p_info						{  }
.objednavka .stav table							{ float: right; width: 30%;  }
.objednavka .stav table th,
.objednavka .stav table td						{ background: #f5f5f5; padding: 5px 10px; border: 0; }
.objednavka .stav table th						{ padding-top: 10px; }
.objednavka .stav table	thead th.thead_th_no_bg	{ border: 0; }

.objednavka .navigace a.zpet			{ float: left; }
.objednavka .navigace a.dale			{ float: right; font-size: 1.3em; font-weight: bold; }
.objednavka .navigace input.sub		{ float: right; }

.objednavka .elemErr						{ border: 1px solid red; background-color: red; color: white; }
.objednavka .err							{ color: red; font-weight: bold; }
*/
/* * * * * *  moje udaje / my account  * * * * * *
.mojeUdaje   fieldset,
.zmenitHeslo fieldset					{ margin: 0; background: none; }
.mojeUdaje   fieldset p,
.zmenitHeslo fieldset p					{ width: 100%; margin: 0 0 2px; text-align: left; }
.mojeUdaje   fieldset p:after,
.zmenitHeslo fieldset p:after			{ display: block; clear: both; content: " "; }
.mojeUdaje   fieldset p label,
.zmenitHeslo fieldset p label			{ float: left; width: 110px; padding: 2px 0 0; }
.zmenitHeslo fieldset p label			{ width: 13em; }
.mojeUdaje   p.submit input,
.zmenitHeslo p.submit input			{ padding: 0; border: none; }
*/

/* FB - pochlub se 
.fb_share									{ display: inline-block; vertical-align: top; margin-top: 2px; }
*/
/* dorucovaci adresy 
#dorucovaciAdresy,
#novaDorucovaci							{ width: 48%; float: left; }
#dorucovaciAdresy input#adresa_0		{ display: none; }
label.adresa0								{ float: left; }
#novaDorucovaci							{ margin-top: 1.5em; clear: left; }
#dorucovaciAdresy							{ clear: left; font-size: 1.3em; margin-top: 0.4em; }
*/


/*#zobrazFakturacni a,
#dorucovaciAdresy #novaAdresa,
#fakturacniUdaje .unlock_address input	{ display: block; background: url(../images/ico_plus.png) 4px 50% no-repeat; color: #333333; text-decoration: none; padding: 10px 10px 10px 32px; border-bottom: 1px solid #b2b2b2; border-radius:5px; position: relative; }
*/
/*
#fakturacniUdaje p.unlock_address		{ float: right; width: auto; margin: -39px 0 0; }
#fakturacniUdaje .unlock_address input	{ border: 0; width: auto !important; padding-left: 24px; }
*/
/*
#zobrazFakturacni:hover,
#dorucovaciAdresy #novaAdresa:hover,
p.unlock_address input:hover,
#fakturacniUdaje .unlock_address input:hover				{ background-color: #dfe7f3; }
#skryjFakturacni a						{ padding-right: 14px; }
#skryjFakturacni a:hover				{ }
*/


/* nakupte jeste za.. 
.dopocet										{ background: #e9e9e9; border: 1px solid #e9e9e9; margin: 1.5em 0 1.5em 70px; border-radius: 0; }
.dopocet	p									{ padding: 10px 10px 10px 39px; margin: 0; }
*/
/* balik na postu 
.adresa p.k6								{ position: relative; }

#cpost_zip_whisp							{ background-color: #ffffff; border: 1px solid #E7E9EC; width: 500px; padding: 10px 0; float: left; clear: both; margin: 0; font-size: 12px; position: absolute; top: 29px; left: 150px; }
#cpost_zip_whisp > span					{ display: block; line-height: 1.3; }
#cpost_zip_whisp > span	a				{ display: block; padding: 5px 10px; border-top: 1px solid #EDEDED; }
#cpost_zip_whisp	#cpost_zip_whisp_0 a	{ border-top: 0; }
#cpost_zip_whisp > span br				{ display: none; }
#cpost_zip_whisp a						{ text-decoration: none; color: black; }
#cpost_zip_whisp a:hover				{ color: #E28915; }
*/
/* darkovy system 
.checkout .kosik tr.darek:hover th	{ background: white; }
#gift_choose_gift_link					{ float: left; color: white; padding: 4px 8px; }
#gift_choose_gift_link span			{ color: white; }
*/

/* dalsi text v pokladne 
.text_sekce										{ background: #e9e9e9; border: 1px solid #e9e9e9; margin: 1.5em 0 1.5em 70px; border-radius: 0; }
.text_sekce	p									{ padding: 10px 10px 10px 39px; margin: 0; }
*/
