/* =======================================================================
	Paticka
======================================================================= */
 
.footer {
	@extend %cf;
	margin: 0 auto;
	max-width: $wrapper-width-padding;
	padding: 0 $half-spacing-unit;
	@include bg("footer.jpg", transparent, no-repeat, auto, 50% 0);
	color: #f4eecd;
	@include font-size(14px, 1.571);

	@include breakpoint($desk-and-up) {
		min-height: 287px;
	}

	a {
		color: #f4eecd;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	p {
		margin-bottom: 9px;
	}

	&__inner {
		@extend %cf;
		padding: 27px 0 20px;

		@include breakpoint($desk-and-up) {
			padding: 27px 50px 20px;
		}
	}

	// jednotlive boxy
	&__box {
		text-align: center;
		margin: 0 0 35px;
		
		@include breakpoint($lap-and-up) {
			float: left;
			width: 33%;
			text-align: left;
			margin: 0;
		}

		&--b2 {
			text-align: center;
		
			@include breakpoint($lap-and-up) {
				width: 34%; 
			}
			
			.footer-logo {
				margin: 0 0 30px;

				@include breakpoint($lap-and-up) {
					margin-top: -80px;
				}

				img {
					max-width: 100%;
					height: auto;
					vertical-align: top;

					&:hover {
						opacity: 0.75;
					}
				}
			}
		}
		&--b3 {
			
			@include breakpoint($lap-and-up) {
				float: right;
				padding-top: 8px;
			}
			@include breakpoint($desk-and-up) {
				width: 26%;
			}
		}
	}

	// social menu
	.social-menu {
		@extend %cf;
		padding: 0;
		margin: 16px 0 15px;

		&__item {
			margin: 0 12px;
			display: inline-block;

			@include breakpoint($lap-and-up) {
				margin: 0 0 15px;
			}

			a {
				text-decoration: none;
				width: 52px;
				text-align: center;
				padding-top: 59px;
				display: inline-block;
				@include font-size(12);
				@include bg("social.png", transparent, no-repeat, auto, 0 0);
				color: #64a2dd;



				&:hover {
					background-position: -208px 0;
					color: #85c0f7;
				}
			}
			&--gplus {
				a {
					background-position: -52px 0;
					color: #cc5730;

					&:hover {
						background-position: -260px 0;
						color: #df7551;
					}
				}
			}
			&--twitter {
				a {
					background-position: -104px 0;
					color: #4697b5;
					color: #64a2dd;

					&:hover {
						background-position: -312px 0;
						color: #62b3d1;
					}
				}
			}
			&--youtube {
				a {
					background-position: -156px 0;
					color: #c34622;

					&:hover {
						background-position: -364px 0;
						color: #dd633f;
					}
				}
			}
		}
		&__item + li {
			@include breakpoint($lap-and-up) {
				margin-left: 20px;
			}
		}
	} // end .social-menu

	// footer menu
	.footer-menu {
		@extend %cf;
		padding: 0;
		margin: 0 0 $half-spacing-unit;

		@include breakpoint($lap-and-up) {
			margin: 0 0 8px;
		}

		&__item {
			margin: 0 7px;
			display: inline-block;
			vertical-align: top;

			@include breakpoint($lap-and-up) {
				margin: 0 7px 0 0;
			}
		}
	}

	// copyright
	.footer-copy {
		p {
			margin: 0;
			@include font-size(12px, 1.5);
			text-align: center;
		}
	}
}

