/* =======================================================================
	Fotogalerie
======================================================================= */
 
.photogallery {
	@extend %cf;
	width: 100%;
	clear: both;
	margin-bottom: $base-spacing-unit;

	.photo {
		float: left;
		width: 48.85%;
		margin: 0 1.5% 1.5% 0;
		overflow: hidden;
		position: relative;
		background: $gray-lighter;

		@include breakpoint($lap-and-up) {
			width: 31.85%;
		}
		
		&:nth-child(2n+2) {
			margin-right: 0;

			@include breakpoint($lap-and-up) {
				margin-right: 1.5%;
			}
		}
		&:nth-child(3n+3) {
			@include breakpoint($lap-and-up) {
				margin-right: 0;
			}
		}
		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		&:hover {
			box-shadow: 0 0 0 2px $link-color;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			max-height: 100%;
			max-width: 700px;
			width: auto;
		}
	}

}