/* =======================================================================
	Globalni styly
======================================================================= */

.b-home {
	.article.newsletter {
		margin-bottom: $half-spacing-unit;
	}
}

#page {
	margin: 0 auto;
	max-width: $wrapper-width-padding;
	padding: 0 $half-spacing-unit;
}

#content {
	@extend %cf;
	padding: 0 0 $base-spacing-unit * 2;
}

#hlavni {
	@extend %cf;
	background-color: #fff; 
	border-radius: $border-radius;
	padding: $half-spacing-unit;
	margin-bottom: $base-spacing-unit; 

	@include breakpoint($lap-and-up) {
		padding: 25px 30px;
	}
	@include breakpoint($desk-wide) {
		padding: 40px 80px; 
	}
}
.col-left {
	margin-bottom: 40px;

	@include breakpoint($lap-and-up) {
		float: left;
		width: 58.65%;
		margin-bottom: 0;
	}
}
.col-right {

	@include breakpoint($lap-and-up) {
		float: right;
		width: 37.5%;
	}
}


// aktivni polozky hlaviho menu
.b-podcast {
	.header nav li.m3 a {
		color: #fff;
	}
}
.b-magazine,
.b-article {
	.header nav li.m2 a {
		color: #fff;
	}
}