/* =======================================================================
	Hlavicka
======================================================================= */
 
.header {
	@extend %cf;

	// banner nad hlavickou
	&__banner {
		max-width: 100%;
		position: relative;

		&:before {
			content: "";
			display: block;
			padding-top: 9.167%;
		}
		img {
			max-width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__inner {
		@extend %cf;
		position: relative;
	}

	// logo
	.logo {
		float: left;
		margin: 6px 4px 14px -18px;

		img {
			max-width: 170px;
			vertical-align: top;

			@include breakpoint($desk-and-up) {
				max-width: 250px;
			}

			&:hover {
				opacity: 0.75;
			}
		}
	}

	// hlavni menu
	nav {
		margin: 0 0 20px; 
		padding: 0;
		width: 100%;
		clear: both;
		display: none;

		@include breakpoint($lap-and-up) {
			margin: 44px 0 0;
			width: auto;
			clear: none;
			float: left;
			display: block;
		}
		@include breakpoint($desk-and-up) {
			margin-top: 44px;
		}

		ul {
			@extend %cf;
			margin: 0;
			padding: 0;
		}
		li {
			display: block;
			padding: 0 !important;
			margin: 0;
			border-bottom: 1px solid;
			background: none !important;

			@include breakpoint($lap-and-up) {
				margin: 3px 7px 0 0;
				float: left;
				display: inline;
				border-bottom: none;
			}
			@include breakpoint($desk-and-up) {
				margin-right: 15px;
			}

			&:nth-last-child(1) {
				margin-right: 0;
			}
			&.active {

				a {
					color: #fff;
				}
			}

			a {
				text-transform: uppercase;
				color: #f4eecd;
				font-family: $font-family-heading;
				@include font-size(16px);
				text-decoration: none;
				padding: 10px 15px;
				text-shadow: 0 0 5px black;
				display: block;
				background-color: $bg-html;

				@include breakpoint($lap-and-up) {
					padding: 10px;
					display: inline-block;
					background: none;
				}
				@include breakpoint($desk-and-up) {
					@include font-size(18px);
				}

				&:hover {
					text-shadow: 0 0 12px #f4eecd;
				}
			}
		}
		li.m1 {
			@include breakpoint($lap-and-up) {
				margin-right: 15px;
				margin-top: 0;
			}
			@include breakpoint($desk-and-up) {
				margin-right: 30px;
			}

			a {
				text-shadow: none;
				border-radius: $border-radius;
				border: 1px solid #b7421b;
				position: relative;
				@include bg("play.jpg", #d35e37, repeat, auto, 0 0);
				padding: 12px 15px 10px 38px;
				box-shadow: 3px 3px 5px #200f0c;

				@include breakpoint($desk-and-up) {
					padding: 12px 20px 10px 43px;
				}
				
				&:hover {
					text-decoration: none;
					background: #b7421b;
					text-shadow: none;
				}
				&:after {
					content: "";
					@include wh(20px);
					@include bg("play.png", transparent, no-repeat, auto, 0 0);
					position: absolute;
					top: 50%;
					margin-top: -10px;
					left: 9px;

					@include breakpoint($desk-and-up) {
						left: 13px;
					}
				}
			}
		}
	} // end menu

	// burger
	.burger {
		display: inline-block;
		text-decoration: none;
		@include wh(44px);
		@include bg("burger.png", transparent, no-repeat, 70% 70%, 50% 50%);
		text-indent: -999em;
		float: right;
		margin: 40px 0 0;

		@include breakpoint($lap-and-up) {
			display: none;
		}
	}

	// vyhledavani
	.search-box {
		position: absolute;
		top: 40px;
		right: 70px;
		display: none;

		@include breakpoint($lap-and-up) {
			float: right;
			margin: 37px 0 0;
			position: relative;
			top: 0;
			right: 0;
		}
		@include breakpoint($desk-and-up) {
			margin-top: 42px;
			display: block;
		}

		&__inputs {
			margin: 0;
		}
		.field {
			background: none;
			border: none; 
			border-bottom: 1px solid #9d9c8b;
			border-radius: 0;
			color: #9d9c8b;
			max-width: 120px;
			box-shadow: none;
			padding: 10px;
			height: auto;

			@include breakpoint($desk-and-up) {
				max-width: 160px;
			}
		}
		&__submit {
			background: none;
			border: none;
			margin: 15px 0 0 7px;
			padding: 0;
			border-radius: 0;
			@include wh(21px, 26px);
			float: right;

			.icon-search {
				@include wh(21px, 26px);
				display: block;
				@include bg("lupa.png", transparent, no-repeat, auto, 0 0);
			}
		}
	}

} // end .header

