/* =======================================================================
	Magazin
======================================================================= */
 
 .b-magazine {

 	#hlavni {
		background: none;
		padding: 0;
		margin-bottom: $base-spacing-unit;
	}
	h1 {
		color: #fff;
	}
	.anotace {
		display: none;
		color: #fff;
		@include font-size(22px, 1.2);
		margin-bottom: 2.5 * $base-spacing-unit;

		p {
			margin: 0;
		}
		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.article {

		.heading {
			
			.ousko {
				display: none !important;
			}
			.upravit {
				margin-bottom: 12px;
			}
		}
	}
	.article.newsletter {
 		margin-bottom: $half-spacing-unit;
  	}

}


/*
Filtr v magazinu
--------------------------------------------------- */
.mag-filter {
	@extend %cf;
	margin-bottom: $base-spacing-unit;	

	&__text {
		color: #fff;
		@include font-size(18px, 1.2);
		margin-bottom: $base-spacing-unit;

		p {
			margin: 0;
		}
		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	// form
	.ajax {
		@extend %cf;
		margin-bottom: $base-spacing-unit;

		label {
			float: left;
			margin: 0 14px 10px 0;
			padding: 10px;
			display: inline-block;
			background-color: #f4eecd;
			border-radius: $border-radius;
			cursor: pointer;
			
			@include breakpoint($lap-and-up) {
				width: 133px;
			}
			@include breakpoint($desk-and-up) {
				width: 188px;
			}

			&:hover {
				box-shadow: 0 0 0 3px $link-color-hover;
			}

			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"] + span {
				@include font-size(18px);
				text-transform: uppercase;
				font-family: $font-family-heading;
				color: #7e7e7e;
				position: relative;

				&:before {
					content: "";
					@include wh(21px, 22px);
					@include bg("checkbox2.png", transparent, no-repeat, auto, 0 0);
					margin-right: 10px;
					display: inline-block;
					position: relative;
					top: 3px;
				}
			}
			input[type="checkbox"]:checked + span {
				color: $link-color;

				&:before {
					background-position: -21px 0;
				}
			}
		}

		// razeni
		.sort {
			width: 100%;
			clear: both;
			padding-top: $half-spacing-unit;

			select {
				background-color: $bg-html;
				border: 1px solid #858577;
				color: #f4eecd;
				height: auto;
				padding: 7px 10px;
				width: 180px;
				font-family: $font-family;
				@include font-size(14px);
				box-shadow: none;
			}
		}
	}
}