/* =======================================================================
	Boxy s newsletterem
======================================================================= */
 

// newsletter ve sloupci
.newsletter-col {
	@extend %cf;
	margin: 0 0 $base-spacing-unit;
	border-radius: $border-radius;
	@include bg("nl_bg.jpg", #fbf3d5, repeat, auto, 0 0);
	padding: 25px 30px;

	h3 {
		margin: 0 0 10px;
		font-weight: 400;
	}
}


// newsletter v karte clanku
.article.newsletter {
	@extend %cf;
	margin: 0 0 $base-spacing-unit;
	border-radius: $border-radius;
	@include bg("nl_bg.jpg", #fbf3d5, repeat, auto, 0 0);
	padding: 25px 30px;

	h2 {
		margin: 0 0 10px;
		font-weight: 400;
		@include font-size(20); 
	}

	.checkboxes-line {
		@extend %cf;
		margin: 0 0 10px;

		label {
			float: left;
			margin: 0 15px 0 0;
			cursor: pointer;

			input {
				margin-right: 5px;
			}
		}
	}
	.second-line {
		@extend %cf;
		margin: 0 0 10px;

		input[type="text"] {
			float: left;
			width: 82%;
		}
		input[type="submit"] {
			float: right;
			width: 18%;
		}
	}
}

