/* =======================================================================
	Stranka 404
======================================================================= */

.b-error-404 {

	#content {
		@include bg("404.jpg", #191e24, no-repeat, auto, 0 0);
		padding: $base-spacing-unit;
		color: #f4eecd;
		margin-bottom: 90px;

		@include breakpoint($lap-and-up) {
			padding: 50px 50px 30px;
		}
		@include breakpoint($desk-and-up) {
			padding: 200px 50px 30px;
			min-height: 629px;
		}

		h1 {
			color: #f4eecd;
			@include font-size(30px, 1.2);
			text-transform: uppercase;
			margin-bottom: 0;

			@include breakpoint($lap-and-up) {
				@include font-size(50px, 1.2);
			}

			span {
				color: $brand-color;
			}
		}
		h2 {
			color: #f4eecd;
			@include font-size(20px, 1.2);
			margin: 0 0 30px;

			@include breakpoint($lap-and-up) {
				@include font-size(30px, 1.2);
			}
		}
		a {
			@extend .btn;
			height: auto;
			text-decoration: none;
			display: inline-block;
		}
	}
}