/* =======================================================================
	Podcasty
======================================================================= */
 
.b-podcast {

	#hlavni {
		background: none;
		padding: 0;
		margin: 0 0 30px;
	}
	h1 {
		color: #fff;
	}
}

// jednotlive podcasty
.podcast {
	@extend %cf;
	position: relative;
	overflow: hidden;
	z-index: 5;

	&:before {
		content: "";
		display: block;
		padding-top: $ratio-big;
	}

	.img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		height: auto;
		z-index: 6;
		border-radius: $border-radius;
	}
	.svg {
		@include wh(200px);
		height: auto;
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -100px;
		z-index: 6;

		-webkit-filter: drop-shadow(0px 0 1px #fff);
        filter: drop-shadow(0px 0 1px #fff); 

		@include breakpoint($lap-and-up) {
			display: block;
			@include wh(250px);
			margin-left: -125px;
			top: -25px;
		}
		@include breakpoint($desk-and-up) {
			@include wh(350px);
			margin-left: -175px;
			top: 0;
		}
	}
	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		padding: $half-spacing-unit;
		z-index: 7;
		height: 100%;

		@include breakpoint($lap-and-up) {
			padding: 25px 30px;
		}
		@include breakpoint($desk-wide) {
			padding: 80px 80px 40px;
		}
	}
	// nadpis
	&__title {
		color: #fff;
		@include font-size(25px, 1.2);
		margin: 0 0 20px;
		font-weight: 400;
		float: left;
		display: none;

		@include breakpoint($lap-and-up) {
			margin-bottom: 40px;
			@include font-size(70, 1.2);
			float: none;
		}
		@include breakpoint($desk-wide) {
			margin-bottom: 130px;
		}
	}
	// tlacitko prehrat
	&__play {
		margin-bottom: $half-spacing-unit;

		@include breakpoint($lap-and-up) {
			margin-bottom: $base-spacing-unit;
		}

		a {
			text-shadow: none;
			border-radius: $border-radius;
			border: 1px solid #b7421b;
			position: relative;
			@include bg("play.jpg", #d35e37, repeat, auto, 0 0);
			padding: 12px 15px 10px 38px;
			color: #f4eecd;
			text-decoration: none;
			font-family: $font-family-heading;
			@include font-size(18px);
			text-transform: uppercase;
			display: inline-block;

			@include breakpoint($lap-and-up) {
				box-shadow: 3px 3px 5px #200f0c;
			}
			@include breakpoint($desk-and-up) {
				padding: 12px 20px 10px 43px;
			}
			
			&:hover {
				text-decoration: none;
				background: #b7421b;
			}
			&:after {
				content: "";
				@include wh(20px);
				@include bg("play.png", transparent, no-repeat, auto, 0 0);
				position: absolute;
				top: 50%;
				margin-top: -10px;
				left: 9px;

				@include breakpoint($desk-and-up) {
					left: 13px;
				}
			}
		}
	}
	// anotace
	&__annotation {
		margin-bottom: $half-spacing-unit;
		@include font-size(15, 1.529);
		clear: both;
		width: 100%;
		
		@include breakpoint($lap-and-up) {
			margin-bottom: $base-spacing-unit;
			color: #fff;
		}
		@include breakpoint($desk-wide) {
			width: 60%;
			@include font-size(17, 1.529);
		}

		p {
			margin: 0;
		}
	}
	// dolu
	&__down {
		display: none;

		@include breakpoint($lap-and-up) {
			margin: 0 0 0 20px;
			display: block;
		}

		&__link {
			display: inline-block;
			overflow: hidden;
			text-indent: 100%;
			color: #fff;
			text-decoration: none;
			@include wh(57px, 27px);
			@include bg("down.png", transparent, no-repeat, auto, 0 0);

			&:hover,
			&:focus {
				background-position: 0 -27px;
			}
		}
	}
	// link na starsi
	&__more {
		margin: 0 $base-spacing-unit $half-spacing-unit 0;

		@include breakpoint($lap-and-up) {
			float: left;
		}
		@include breakpoint($desk-and-up) {
			margin: 0 0 $base-spacing-unit;
			float: none;
		}

		a {
			@include breakpoint($lap-and-up) {
				color: #fff;
			}

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}


	// prvni podcast
	&--first {
		@include breakpoint($lap-and-up) {
			text-align: center;
		}

		.podcast__inner {
			@extend %cf;
			padding-top: $half-spacing-unit;
			background-color: #fff;
			margin-bottom: $half-spacing-unit;
			position: relative;
			top: auto;
			left: auto;

			@include breakpoint($lap-and-up) {
				padding-top: 24%;
				background: none;
				margin-bottom: 0;
				position: absolute;
				top: 0;
				left: 0;
			}
			@include breakpoint($desk-and-up) {
				padding-top: 27%;
			}
		}
		.podcast__title {
			@include breakpoint($lap-and-up) {
				display: none;
			}
		}
		.podcast__play {
			margin-bottom: 10px;

			@include breakpoint($desk-and-up) {
				margin-bottom: 30px;
			}
		}
		.podcast__annotation {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;

			@include breakpoint($desk-and-up) {
				margin-bottom: 20px;
			}
		}
		.podcast__more {
			float: left; 

			@include breakpoint($lap-and-up) {
				margin: 0 10px;
				display: inline-block;
				float: none;
			}
		}
		.podcast__share {
			float: right;

			@include breakpoint($lap-and-up) {
				position: absolute;
				bottom: 25px;
				right: 25px;
			}

			.fb-share {
				float: left;
				margin-right: $half-spacing-unit;
			}
			.twiter-share {
				float: left;
			}
		}
	}

	
}





// podcast ve sloupci
.podcast-col {
	margin: 0 0 $base-spacing-unit;
	position: relative;
	z-index: 5;

	&:before {
		content: "";
		display: block;
		padding-top: $ratio-small;
	}

	&__img {
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 6;
		max-width: 100%;

		img {
			vertical-align: top;
			max-width: 100%;
			height: auto;
			border-radius: $border-radius;
		}
	}
	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 7;
		@include wh(100%);
	}
	&__play {
		@include font-size(18px, 1.09);
		position: absolute;
		top: auto;
		bottom: 19px;
		left: 20px;
		display: inline-block;
		padding: 5px 20px 0 35px;
		color: #fff;
		text-decoration: underline;
		font-family: $font-family-heading;

		@include breakpoint($desk-wide) {
			top: auto;
			bottom: 19px;
			left: 20px;
			padding: 5px 20px 0 35px;
		}

		&:after {
			content: "";
			@include wh(25px);
			position: absolute;
			top: 3px;
			left: 0;
			@include bg("play-col.png", transparent, no-repeat, 25px 50px, 0 0);
		}
		&:hover,
		&:focus {
			text-decoration: none;
			color: #fff;
		}
	}
	&__next {
		color: #fff;
		font-family: $font-family-heading;
		position: absolute;
		top: 15px;
		right: 20px;
		@include font-size(14px);
		z-index: 15;

		&:hover,
		&:focus {
			text-decoration: none;
			color: #fff;
		}

		@include breakpoint($desk-and-up) {
			bottom: 15px;
			top: auto;
			right: 20px;
		}
	}
} // end .podcast-col 


// podcast v karte clanku
.article.podcast {
	background: none;

	&:before {
		display: none;
	}
	.podcast-col__img {
		position: relative;
		top: auto;
		left: auto;
			
		img {
			position: relative;
			top: auto;
			left: auto;
			width: 100%;
		}
	}
}


/*
Detail podcastu
--------------------------------------------------- */
.podcast-content {
	@extend %cf;
	background-color: #fff;
	border-radius: 0 0 $border-radius $border-radius;
	padding: $half-spacing-unit;
	margin-bottom: $base-spacing-unit;

	@include breakpoint($lap-and-up) {
		padding: 25px 30px;
	}
	@include breakpoint($desk-wide) {
		padding: 60px 80px;
	}
}

.podcast-det {
	@extend %cf;
	margin: 0 0 1.5 * $base-spacing-unit;

	h2 {
		margin-bottom: 5px;
	}
	.date-time {
		@include font-size(12px);
		color: #6f6f6f;
		margin-bottom: 10px;
	}
	.annotation {
		@extend %cf;
		margin-bottom: $half-spacing-unit;

		p {
			margin: 0;
			@include font-size(15px, 1.5333);
		}
	}
	.podcast__play {
		float: left;
		margin: 0 $base-spacing-unit 0 0;

		.wr-radio {
			box-shadow: none;
			text-transform: none;
		}
	}
	.podcast__article {
		float: left;
		padding-top: 15px;
		@include font-size(14px);
	}
}