/* =======================================================================
	Prima editace clanku
======================================================================= */

.mode-edit {

	.main-article__meta * {
		vertical-align: top;
	}
	.main-article__meta {
		position: absolute;
		bottom: 240px;
		right: 5px;
		margin: 0;
		padding: 20px 10px 10px;
		background-color: rgba(0,0,0,0.5);
		width: 450px;

		br {
			display: none;
		}
		.labels {
			margin: 10px 0;

			input {
				position: relative;
				top: 4px;
			}
		}
		.colors {
			input {
				position: relative;
				top: 4px;
			}
		}
	}
	.schvalovani {
		margin: 0;
		position: absolute;
		bottom: 380px;
		left: -45px;
		padding: 10px;
		background-color: rgba(0,0,0,0.5);
	}
	.hlavni-obrazek {
		margin: 0;
		position: absolute;
		bottom: 318px;
		left: -45px;
		padding: 10px;
		background-color: rgba(0,0,0,0.5);
		width: 450px;
	}

	.main-article__inner {
		color: #fff;
		bottom: 202px;
		left: 50px;
		width: 1145px;

		label {
			display: inline-block;
			margin-right: 25px;
			cursor: pointer;

			input {
				margin-right: 4px; 
			}
		}
	}
	.main-article__down,
	.share-col {
		display: none;
	}

	#formText-annotation {
		background-color: rgba(255,255,255,0.3);
		min-height: 60px;
		padding: 5px;
		text-shadow: 0 0 3px #000;
		margin: -5px;
	}
	#formText-edit {
		background-color: rgba(0,0,0,0.15);
		min-height: 60px;
		padding: 10px;
		text-shadow: 0 0 3px #fff;
		margin-bottom: 20px;
	}

	// sloupec
	.podcast,
	.banner-big,
	.banner-small,
	.newsletter-col,
	.autor-col,
	.photogallery-select,
	.banner-content,
	.related-2 {
		padding: 10px;
		margin: 0 0 20px;
		background: $link-color-hover;
		color: #fff;
		border-radius: $border-radius;

		&:before {
			display: none;
		}
		p {
			margin: 0;
		}
		p + p {
			margin: 10px 0 0;
		}
		select {
			height: 31px;
			padding: 5px;
			width: 100%;
		}
		label {
			cursor: pointer;
		}
	}

}

// potvrzovaci hlaska 
.flash.info {
	padding: $half-spacing-unit $base-spacing-unit;
	margin: 0 0 $half-spacing-unit;
	background-color: $success-light;
	border: 1px solid $success;
	color: #fff;
	border-radius: $border-radius;
}

// hlavicka
#frm-form-name {
	border: none;
	background-color: rgba(255, 255, 255, 0.3) !important;
	padding: 5px 5px 0;
	margin: -5px -5px 2px;
	color: #fff;
	text-shadow: 0 0 3px #000;
	@include font-size(35px, 1.2);
	width: 910px;
	font-family: $font-family-heading;
	text-transform: none;
}
#frm-form-heading {
	width: 100%;
	margin-bottom: 10px;
}
#frm-form-labels {
	height: 120px;
}
#frm-form-mainImage {
	padding: 5px;
	color: $text-color;
	width: 290px;
}

// paticka
#frm-form + p * {
	vertical-align: top;
}

.related-edit {
	padding: 10px;
	margin: 20px 0;
	background: $link-color-hover;
	color: #fff;
	border-radius: $border-radius;

	label[for="frm-form-related"] {
		color: #fff;
		padding: 10px 10px 0 0;
		display: inline-block;
	}
	#frm-form-related {
		margin-top: 10px;
		height: 450px;
	}
	* {
		vertical-align: top;
	}
}



#frm-form-name,
#frm-form-heading,
#frm-form-mainImage,
#frm-form-datePublication,
#frm-form-labels,
#frm-form-related {
	background: rgba(255,255,255,0.85)
}

#frm-form-datePublication,
#frm-form-timePublication {
	height: 31px;
	width: 130px;
	padding: 5px;
	margin-top: -6px;
}

#frm-form-cms_podcast_id,
#frm-form-bannerContent_id {
	width: 100%;
}
#frm-form-related2 {
	height: 600px;
	width: 100%;
}





// editacni lista
#directEditMenu {
	@extend %cf;
	width: 100%;
	padding: 5px;
	color: #fff;
	background-color: $link-color-hover;
	text-align: center;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	border-bottom: 1px solid $brand-color;

	p {
		margin: 0 10px;
		display: inline-block;
	}
	input[type="submit"] {
		padding: 5px 15px;
		height: auto;
	}
	a {
		display: inline-block;
		margin-left: 15px;
		color: #fff;
		@include font-size(13px);

		&:hover {
			color: #fff;
		}
	}
}


/*
Editace clanku posun
--------------------------------------------------- */
.articles-list {
	.article {
		
		.heading {
			position: relative;
			border-bottom: 1px solid $link-color-hover;
			padding: 5px 10px;
			@include font-size(14px);
			background-color: #fff;

			.ousko {
				display: inline-block;
				@include wh(35px);
				@include bg("move.png", transparent, no-repeat, 100% 100%, 0 0);
				cursor: move;
				float: left;
				margin: 5px 10px 5px 0;
			}
			.upravit {
				display: inline-block;
				@include font-size(16px);
				margin-top: 9px;
			}
			.label-public,
			.label-hp {
				position: absolute;
				top: 17px;
				left: 145px;
			}
			.label-hp {
				left: 250px;
			}
			.casy {
				@extend %cf;
				clear: both;
				margin: 0;

				input {
					float: left;
					margin: 0 5px 0 0;
					width: 110px;
					padding: 5px 8px;
					height: 35px;
				}
				.public-date,
				.public-time {
					border: 1px solid #CAC4A3;
				}
				.ulozto {
					float: right;
					margin: 0;
					width: auto;
					padding: 5px 35px;
				}
			}
		}
	}
	// pri pohyhu
	.article.ui-sortable-helper {
		opacity: 0.9;
		box-shadow: 0 0 0 4px $link-color;
	}

	// bannerova pozice
	.article.advert {

		.heading {
			@extend %cf;
			background-color: $link-color-hover;
			padding: 10px;
			border-radius: $border-radius $border-radius 0 0; 

			.label-public {
				color: #fff;
				float: left;
				display: inline-block;
				margin-right: 10px;
				padding-top: 7px;
				position: relative;
				top: auto;
				left: auto;
			}
			select {
				float: left;
				margin: 0 5px 0 0;
				width: 190px;
				padding: 5px 8px;
				height: 35px;
			}
			.ulozto {
				float: right;
				margin: 0;
				width: auto;
				padding: 5px 35px;
				height: 35px;
			}
		}
	}

}


// editace hlavniho clanku

.main-article {

	.heading {
	    position: absolute;
	    top: 0px;
	    z-index: 10;
	    width: 100%;
	    background: white;
	    border-bottom: 1px solid #294d6f;
	    @include font-size(15px);
	    padding: 15px;

	    .upravit {
		    margin: 3px 30px 0 0;
		    display: inline-block;
		    float: left;
		}
		form {
		    display: inline-block;
		    vertical-align: middle;
		    float: left;
		}
		.label-public,
		.label-hp {
			display: inline-block;
			margin: 5px 20px 0 0;
		}
		.casy {
			float: right;
			margin: 0;
		}
		input.field,
		input.ulozto {
		    padding: 0 15px;
		    height: 29px;
		}
		input.field {
			width: 120px;
			padding: 0 10px;
			border: 1px solid #CAC4A3;
		}
	}
} 
