/* ==========================================================================================
TYPOGRAFIE
========================================================================================== */

/*
HTML
--------------------------------------------------------------------------------- */
html {	

	// Definice font-family
	@if $special-font-family {
		font-family: $special-font-family, $font-family; 
	} 
	@else {
		font-family: $font-family;
	}
	background-color: $bg-html;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	@include bg("bg_mini-mobil.jpg", $bg-html, no-repeat, 100% auto, 50% 0);

	@include breakpoint($lap-and-up) {
		background-image: url("../images/bg_mini-tablet.jpg");
	}
	@include breakpoint($desk-and-up) {
		background-image: url("../images/bg_mini.jpg");
		background-size: auto auto;
	}
}

*, 
*:before, 
*:after	{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*
Font-face
--------------------------------------------------------------------------------- */
// Typ pisma v hlavnim menu v hlavicce
.mainNav li a {
	font-family: $font-family;
}

/*
Nadpisy
--------------------------------------------------------------------------------- */
// Custom styly pro vsechny nadpisy
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	color: $heading-color;
	margin-bottom: $half-spacing-unit;
	font-weight: 700;
}

// Custom styly pro jednotlive nadpisy
h1 {
	@include font-size(35px, 1.2);
	font-weight: 500;
}
h2 {
	@include font-size($beta);
	line-height: $line-height-small;
	font-weight: 400;
}
h3 {
	@include font-size($gamma);
}
h4 {
	@include font-size($delta);
}
h5 {
	
}
h6 {
	
}


/*
Hypertextovy odkaz
--------------------------------------------------------------------------------- */
a,
.link {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}

/*
Odstavce
--------------------------------------------------------------------------------- */
p {
	margin: 0 0 $base-spacing-unit;
}

/*
Nastaveni paddingu pro odkaz v odstavci
--------------------------------------------------------------------------------- */
@include breakpoint($palm) {
	p > a {
		padding: $half-spacing-unit 0;
	}
}

// Blokova citace
blockquote {
	quotes: none;
	//@include font-size(30px, 1.3);
	@include font-size(20px, 1.3);
	text-align: center;
	padding: 15px 0;
	margin: 0 0 20px;
	font-family: $font-family-heading;

	@include breakpoint($lap-and-up) {
		padding: 15px 30px;
	}
	/*@include breakpoint($desk-and-up) {
		padding: 15px 70px;
	}*/

	p {
		margin: 0;
	}
}

/*
Seznamy
--------------------------------------------------------------------------------- */
 ol, ul {
 	margin-left: 0;
 	padding-left: $half-spacing-unit;
 	& > li {
 		margin-bottom: 5px; 		 		
 	}
 }

 // Odrazka pro nesetrideny seznam
 ul {
 	& > li {
 		list-style: none;
		&:not([class*="nav__item"]):not([class*="social-menu__item"]):not([class*="footer-menu__item"]):not([class*="footerIcon__item"]):not([class*="footerLink__item"]):not([class*="currency__drop__item"]):not([class*="grid__item"]):not([class*="cHeader__mobileToolbar__item"]):not([class*="cftSearch__autocomplete__item"]):not([class*="cftSearch__autocomplete__allResults"]):not([class*="accordion__item"]):not([class*="cftSearch__autocomplete__noResult"]):not([class*="cMap__field"]):not([class*="cInstagram__descBottom__item"]):not([class*="cTally__item"]) {
				@include bg('li.png', transparent, no-repeat, auto auto, 0 10px);
	 			padding-left: 13px;
 		}
 	}
 }

 // Ciselny seznam
 ol {
 	& > li {
 		&:not([class*="breadcrumb__item"]):not([class*="nav__item"]) {
			margin-left: $base-spacing-unit;
 		} 		
 	}
 }

// Vnorene seznamy
ul ul, 
ol ol, 
ul ol, 
ol ul {
	margin-left: $base-spacing-unit;
}

/*
Tabulky - obecne (vice definovano v components-design.scss)
--------------------------------------------------------------------------------- */
table {
	max-width: 100%;
	@include breakpoint($palm) {
		-webkit-overflow-scrolling: touch;
    	overflow-x: auto;
    	display: block; 
	}
}


/*
* TLACITKA
-------------------------------------------------------------------------------- */
.btn,
input[type="submit"] {
	padding: $btn-padding / 2 $btn-padding;
	border: 0;
	border-bottom: 1px solid #b6411a;
	border-radius: $border-radius;	
	font-family: $font-family-heading;
	background-color: $btn-bg;
	color: $btn-color;
	@include font-size(16);
	cursor: pointer;
	height: 51px;
	text-decoration: none;

	// Hover a focus stav na tlacitku
	&:hover,
	&:focus {
		background-color: darken($btn-bg, 10%);
		color: $white;
		text-decoration: none;
	}
	/*
    Velikostni varianty tlacitka
    --------------------------------------------------------------------------------------- 
    &--huge {
        @include font-size($beta);
    }
    &--large {
        @include font-size($gamma);
    }
    &--small {
        @include font-size($milli);
    }
    &--micro {
        @include font-size($micro);
    }*/
}



// Formularove policko - input[type], textarea, select
.field,
select,
textarea,
input[type="text"] {
	padding: $field-padding;
	border-top: 1px solid $field-border;
	border-left: 1px solid $field-border;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-shadow: 1px 1px 0 0 #f1f0e9 inset;
	font-family: 'Times New Roman', Arial;
	border-radius: 0;
	background-color: $white;
	@include font-size(17);
	transition: all .5s;
	color: black;
	height: 51px;

	// Hover stav na formularovem policku
	&:hover {
		border-color: $brand-color;
	}
	// Fucus stav na formularovem policku
	&:focus {
		border-color: $brand-color;
		box-shadow: 0 0 4px lighten($brand-color, 35%);
	}
	// Chybne vyplnene policko formulare
	/*&--danger {
		border-color: $red;
		&:hover,
		&:focus {
			border-color: $red;
		}
		&:focus {
			box-shadow: 0 0 4px $red;
		}
	}*/
}


// selection
::-moz-selection {
    color: $brand-color;
    background: #fff;
}
::selection {
    color: $brand-color;
    background: #fff;
}

.article-content,
.article__content,
.search-results {
	::-moz-selection {
	    color: #fff;
	    background: $brand-color;
	}
	::selection {
	    color: #fff;
	    background: $brand-color;
	}
}


.article-content {
	h2 {
		font-family: $font-family;
		@include font-size(28px, 1.2);
		font-weight: 400;
		color: #373737;
		margin: 40px 0 20px;
	}
	img {
		vertical-align: top;
		max-width: 100%;
		height: auto !important;
	}
	img.left,
	img.floatLeft {
		max-width: 100%;
		height: auto !important;
		display: block;
		margin: 0 0 $base-spacing-unit;
		vertical-align: top;

		@include breakpoint($lap-and-up) {
			float: left;
			margin: 6px $base-spacing-unit $half-spacing-unit 0;
			max-width: 50%;
			height: auto ;
			display: inline; 
		}
	}
	img.right,
	img.floatRight {
		max-width: 100%;
		height: auto !important; 
		display: block;
		margin: 0 0 $base-spacing-unit;
		vertical-align: top;

		@include breakpoint($lap-and-up) {
			float: right;
			margin: 6px 0 $half-spacing-unit $base-spacing-unit;
			max-width: 50%;
			height: auto;
			display: inline;
		}
	}
	img.imageCenter,
	img.fullscreen {
		display: block;
		margin: 0 auto;
	}
	iframe {
		max-width: 100%;
	}
}
.img-description {
	@include font-size(15px);
	color: #777;
	text-align: center;
	margin-top: -20px;
}
.img-description-left {
	@include font-size(15px);
	color: #777;
	text-align: center;
	margin: -10px $base-spacing-unit $base-spacing-unit 0;
	float: left;
	width: 50%;
}
.img-description-right {
	@include font-size(15px);
	color: #777;
	text-align: center;
	margin: -10px 0 $base-spacing-unit $base-spacing-unit;
	float: right;
	width: 50%;
}
.resources {
	@include font-size(15px);
	color: #666;
}



.cf {
	width: 100%;
	height: 1px;
	clear: both;
	float: none;
}
hr {
	background-color: $gray-lighter;
	color: $gray-lighter;
	height: 1px;
	line-height: 1px;
	clear: both;
	width: 100%;
}