/* =======================================================================
	Editacni okno
======================================================================= */

#wrUserMenu {
	position: fixed;
	top: 30px;
	right: -190px;
	z-index: 100;
	background: #eee;
	border: 1px solid #aaa;
	border-right: none;
	padding: 7px 10px 10px;
	width: 190px;
	transition: all .4s;
	display: none;

	@include breakpoint($desk-and-up) {
		display: inline-block;
	}

	&:before {
		content: "";
		@include wh(40px);
		position: absolute;
		top: -1px;
		left: -40px;
		border: 1px solid #aaa;
		border-right: none;
		@include bg("edit.png", #eee, no-repeat, auto, 50% 50%);
	}
	&:hover {
		right: 0;
	}

	strong {
		margin-bottom: 4px;
		display: block;
	}
	ul {
		margin: 0;
   		padding: 0;
   		@include font-size(15px);

   		li {
   			margin: 0;
    		padding: 0;
    		background: none;

    		a {
    			color: #666;

    			&:hover,
    			&:focus {
    				color: $link-color;
    			}
    		}
   		}
	}
}
