/*
* BARVY
* 	Zakladni barvy
* 	Odstiny zakladnich barev
* 	Brandova barva
================================================================================ */

/*
* Zakladni barvy
-------------------------------------------------------------------------------- */
$white:						#fff;
$black:						#000;
$red:						#c80000;
$green:						#00a000;
$blue:						#007dc4;
$yellow:					#d8c751;
$gray:						#cbcbcb;
$brown:						#815A31;
$purple:					#9933cc;

// Odstiny sede
$gray-lighter:              #eceae8;
$gray-light:                #999999;
$gray-darker:               #555;
$gray-dark:                 #777;


/*
* Obecne (globalni) barvy komponent
-------------------------------------------------------------------------------- */
// Brandova (firemni) barva
$brand-color:				#cc5730;
$brand-color-light:         lighten($brand-color, 10%);
$brand-color-dark:          darken($brand-color, 10%);

// Barvy bezneho textu
$text-color:                #373737;
$text-color-light:          lighten($text-color, 40%); // svetlejsi velikost písma
$text-color-lighter:        $gray-lighter; // svetlejsi velikost písma
$text-color-dark:			$gray-dark; // Tmavsi barva pisma
$text-color-darker:			$gray-darker; // Tmavsi barva pisma

// Barvy hypertextoveho odkazu
$link-color:				$brand-color;
$link-color-hover:			#294d6f; // Hover na odkazu
$link-color-visited:		$brand-color; // Barva navstiveneho odkazu

// Barva nadpisu
$heading-color: 			#000;

// Barvy oramovani
$border-color:				#eee;
$border-color-dark:			$gray;
$border-color-light:		$gray-light;

// Stavove barvy - barvy udalosti
$success:                   $green; // Barva success stavu
$success-light:            	rgba(2,164,17,0.8);
$warning:                   #f0ad4e; // barva pro stav "warning"
$warning-light:             lighten(#f0ad4e, 20%); 
$danger:                    $red; // barva pro stav "danger"
$danger-light:              #fcf2f2; 
$info:                      #5bc0de; // barva pro stav "info" 
$info-light:               	lighten(#5bc0de, 30%);

// Pruhledne varianty podbarveni
$white-trans:              	rgba($white, 0.5);
$black-trans:               rgba($black, 0.5);
$brand-trans:				rgba($brand-color, 0.6);

// Inverzni barva - napr na inverznim tlacitku
$inverse-color:            	$gray-lighter;

// Globalni box-shadow
$box-shadow:				rgba(0, 0, 0, 0.1);

// Pozadi HTML dokumentu
$bg-html:                   #161b21;  


/*
TYPOGRAFIE
========================================================================================================= */

// Globalni velikost pisma pro desktop, tablet, mobil
$desk-font-size:            17; // px - velikost pisma pro desktop
$lap-font-size:             16; // px - velikost pisma pro tablet
$palm-font-size:            16; // px - velikost pisma pro mobil

//  Velikostni varianty textu
$alpha:                     35; // default h1
$beta:                      28; // default h2
$gamma:                     20; // default h3
$delta:                     18; // default h4

$milli:						14; // px 
$micro:						11; // px 


// vyska radku
$line-height:               1.529; // Standardni
$line-height-small:			1.2;
$line-height-big:			2;

// Tloustka pisma
$font-weight:              	400;


// Zakladni font na body
$font-family: 			   'Roboto Slab', sans-serif; // defaultni typ pisma
$font-family-heading:	   'Oswald'; // defaultni typ pisma pro nadpisy
$font-family-list:		   $font-family;  // defaultni typ pisma pro seznamy - je to obecne pro ul / ol - lepe stylovat seznamy pro danou kosticku

// promenna obsahujici napr. nektery z vyse zadanych fontu 
$special-font-family:      false; //název speciální fontu, který přepíše defaultní font

  
/*
PROPORCE
========================================================================================================= */

// Globalni odsazeni (margin/padding)
$base-spacing-unit:         30px;
$half-spacing-unit:         $base-spacing-unit / 2;

// Vnitrni odsazeni tabu a akordeonu
$tab-padding:				$half-spacing-unit;

// Sirka wrapperu
$wrapper-width:             1200px;
$wrapper-width-padding:     1230px;
// Pozadi wrapperu
$wrapper-bg:				$white;
                       
// Defaultni border-radius
$border-radius:            	3px; // defaulntí border radius 

// Cesta k obrazkum
$img-path:					'../images';


/*
BREAKPOINTY
========================================================================================================= */

// Inuit bere v potaz tyto promenne, nase breakpointy na ne navazuji
$custom-lap-start:          768px !default; // max velikost pro breakpoint mobil
$custom-desk-start:         1024px !default; // max velikost pro breakpoint tablet
$custom-desk-wide-start:    1232px !default; // min velikost pro breakpoint hd

// Nase breakpointy
$palm:                     	$custom-lap-start - 1 !default; // Maximalni hodnota od 1px do xxx
$lap-and-up:                $custom-lap-start !default; // Minimalni hodnota pro breakpoint tablet a vyse
$desk-and-up:               $custom-desk-start !default; // Minimalni hodnota pro breakpoint desktop a vyse
$desk-wide:                 $custom-desk-wide-start !default; // Minimalni hodnota pro sirokouhly display


/*
* Tabulky
-------------------------------------------------------------------------------- */
$table-padding:				4px 8px; // Defaultni padding bunek v tabulce
$table-striped-background:  $gray-lighter; // pozadi bunek u pruhovane tabulky

/*
* Tlacitka
-------------------------------------------------------------------------------- */
$btn-bg:					$brand-color; // Pozadi defaultniho tlacitka
$btn-color:					$white; // Barva pisma v tlacitku
$btn-padding:				$half-spacing-unit; // Defaultni padding tlacitek

/*
* FORMULARE a FORMULAROVE PRVKY
-------------------------------------------------------------------------------- */
$form-bg:					$gray-lighter; // Barva pozadi formulare (kosticky formular)
$field-padding:				10px 15px; // Vnitrni odsazeni formulare
$field-border:				#d6d3bf; // Barva borderu pro inputy
$field-bg:					$white; // Barva pozadi inputu
$field-color:				$text-color; // Barva pisma v inputu

// ratio
$ratio-big:					52.42%; // velky obrazek
$ratio-small:				52.31%; // maly obrazek



/*
Magnific popup
--------------------------------------------------- */
// overlay
$mfp-overlay-color:                   #0b0b0b !default;                    // Color of overlay screen
$mfp-overlay-opacity:                 0.8 !default;                        // Opacity of overlay screen
$mfp-shadow:                          0 0 8px rgba(0, 0, 0, 0.6) !default; // Shadow on image or iframe

// spacing
$mfp-popup-padding-left:              8px!default ;                        // Padding from left and from right side
$mfp-popup-padding-left-mobile:       6px !default;                        // Same as above, but is applied when width of window is less than 800px

$mfp-z-index-base:                    1040 !default;                       // Base z-index of popup

// controls
$mfp-include-arrows:                  true !default;                       // Include styles for nav arrows
$mfp-controls-opacity:                0.65 !default;                       // Opacity of controls
$mfp-controls-color:                  #FFF !default;                       // Color of controls
$mfp-controls-border-color:           #3F3F3F !default; 	                 // Border color of controls
$mfp-inner-close-icon-color:          #333 !default;                       // Color of close button when inside
$mfp-controls-text-color:             #CCC !default;                       // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       #FFF !default;                       // Hover color of preloader and "1 of X" indicator
$mfp-IE7support:                      true !default;                       // Very basic IE7 support

// Iframe-type options
$mfp-include-iframe-type:             true !default;                       // Enable Iframe-type popups
$mfp-iframe-padding-top:              40px !default;                       // Iframe padding top
$mfp-iframe-background:               #000 !default;                       // Background color of iframes
$mfp-iframe-max-width:                900px !default;                      // Maximum width of iframes
$mfp-iframe-ratio:                    9/16 !default;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
$mfp-include-image-type:              true !default;                       // Enable Image-type popups
$mfp-image-background:                #444 !default;
$mfp-image-padding-top:               40px !default;                       // Image padding top
$mfp-image-padding-bottom:            40px !default;                       // Image padding bottom
$mfp-include-mobile-layout-for-image: true !default;                       // Removes paddings from top and bottom

// Image caption options
$mfp-caption-title-color:             #F3F3F3 !default;                    // Caption title color
$mfp-caption-subtitle-color:          #BDBDBD !default;                    // Caption subtitle color

// A11y
$mfp-use-visuallyhidden:              false !default;                      // Hide content from browsers, but make it available for screen readers
