/* =======================================================================
	Vysledky vyhledavani
======================================================================= */

.b-search {
	
}

.search-results {
	@extend %cf;

	.modul {
		@extend %cf;
		margin-bottom: 40px;
	}

	.item {
		margin-bottom: 40px;

		h3 {
			margin-bottom: 0;
		}
	}
}