/* custom css - pak se musi prepsat do sassu */

.article-related.articles-list .article__image,
.article-related.articles-list .article__image__a 	{ overflow: visible; }
.article-related.articles-list .article__content 	{ position: relative; z-index: 25; }