/* styly pro player */

html,
body {
	padding: 0;
	margin: 0;
	background: #11151b url(../images/player_bg.jpg) 50% 0 no-repeat;
	font-size: 100%;
	font-family: Arial;
	line-height: 1.6em;
	min-height: 100%;
	color: white;
}

.main {
	width: 390px;
	margin: 0 auto;
	padding: 137px 0 20px;
}
.player-banner {
	margin: 15px 0 0;
	width: 100%;
	clear: both;
	padding: 0;
}
.player-banner img {
	vertical-align: top;
	max-width: 100%;
	width: auto;
	height: auto;
	max-height: 195px;
	border-radius: 3px;
}

/* prehravac */
.jp-audio, .jp-audio-stream, .jp-video {
	border: none;
	background: none;
	width: 390px;
}
.jp-audio .jp-interface, .jp-audio-stream .jp-interface {
	max-height: 240px;
	margin-bottom: 10px;
	background: none;
	position: relative;
}
.jp-audio .jp-controls {
	padding: 0;
	width: 364px;
	border: 1px solid #284159;
	background-color: rgba(41,77,111,0.46);
	padding: 5px 13px;
	border-radius: 3px;
	overflow: visible;
}
.jp-audio .jp-controls:after {
	content: "";
	display: block;
	clear: both;
}

/* play, prev, next, stop */
.jp-next, .jp-previous, .jp-stop {
	width: 30px;
	height: 30px;
	margin-top: 0;
}
.jp-previous {
	background: url(../images/player.png) 0 0 no-repeat !important;
	padding: 0;
	margin: 0 10px 0 0;
}
.jp-play {
	width: 61px;
	height: 61px;
	background: url(../images/player.png) 0 -90px no-repeat !important;
	padding: 0;
	margin: -15px 10px -15px 0;
}
.jp-state-playing .jp-play {
	background-position: -61px -90px !important;
}
.jp-next {
	background: url(../images/player.png) 0 -30px no-repeat !important;
	padding: 0;
	margin: 0 10px 0 0;
}
.jp-stop {
	background: url(../images/player.png) 0 -60px no-repeat !important;
	padding: 0;
	margin: 0;
}

/* randow, repeat */
.jp-audio .jp-type-playlist .jp-toggles {
	display: none;
}

/* volume */
.jp-volume-controls {
	top: 13px;
	left: 223px;
	width: 150px;
}
.jp-volume-max {
	display: none !important;
}
.jp-mute {
	width: 17px;
	height: 17px;
	background: url(../images/player.png) 1px -151px no-repeat !important;
	padding: 0;
}
.jp-volume-bar {
	left: 29px;
	height: 8px;
	background: rgba(244,238,205,0.31);
	border-radius: 4px;
	width: 120px;
}
.jp-volume-bar-value {
	background: #f4eecd;
	height: 8px;
	border-radius: 4px;
}


/* progres a casy */
.jp-audio .jp-type-playlist .jp-progress {
	top: 62px;
	left: 0;
	width: 390px;
	height: 8px;
	background: #6a2a1c;
	border-radius: 4px;
}
.jp-seek-bar {
	background: #6a2a1c;
	border-radius: 4px;
}
.jp-play-bar {
	background: #ce5832;
	border-radius: 4px;
}
.jp-audio .jp-type-playlist .jp-time-holder {
	top: 72px;
	left: 0;
	width: 390px;
	color: #fff;
}
.jp-current-time, .jp-duration {
	color: #697482;
	font-style: normal;
	font-size: 12px;
	font-family: Arial;
}



/* playlist */
.jp-details, .jp-playlist {
	border: none;
	background: none;
}
.jp-playlist ul {
	padding: 0;
	margin: 0;
	font-size: 15px;
	list-style: none;
	height: 250px;
	overflow-y: scroll; 
}
.jp-playlist li,
div.jp-type-playlist div.jp-playlist li:last-child {
	border: none;
	list-style: none;
	padding: 2px 0 0 30px;
	margin: 0 0 10px;
	background: url(../images/li_play.png) 0 2px no-repeat;
	line-height: 20px;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	list-style: none;
	padding: 2px 0 0 30px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #f4eecd;
	text-shadow: 0 0 5px black;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current, div.jp-type-playlist div.jp-playlist a:hover {
	color: #f4eecd;
	text-decoration: underline;
}
