@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.link:focus, a:active, a:focus, a:hover {
    outline: 0
}

.footer__box--b2 .footer-logo img:hover, .header .logo img:hover {
    opacity: .75
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.mainNav li a, html {
    font-family: "Roboto Slab", sans-serif
}

h2, h3, h4, html {
    line-height: 1.529
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend, td, th {
    padding: 0
}

legend {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%
}

.hidden, .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: -500%
}

#content, #directEditMenu, #hlavni, .article-content, .article.newsletter, .article.newsletter .checkboxes-line, .article.newsletter .second-line, .article__content, .articles-list, .articles-list .article .heading .casy, .articles-list .article.advert .heading, .author, .authors, .checkout, .checkout .adresa p, .checkout .doruceni ul, .detailSlider, .detailSlider__cont, .eshop-bottom .description, .eshop-right .form-vyprodano, .footer, .footer .footer-menu, .footer .social-menu, .footer__inner, .header, .header nav ul, .header__inner, .inzerce-col, .mag-filter, .mag-filter .ajax, .main-article, .newsletter-col, .photogallery, .podcast, .podcast--first .podcast__inner, .podcast-content, .podcast-det, .podcast-det .annotation, .related-inline, .search-results, .search-results .modul, .share-col {
    zoom: 1
}

#content:after, #content:before, #directEditMenu:after, #directEditMenu:before, #hlavni:after, #hlavni:before, .article-content:after, .article-content:before, .article.newsletter .checkboxes-line:after, .article.newsletter .checkboxes-line:before, .article.newsletter .second-line:after, .article.newsletter .second-line:before, .article.newsletter:after, .article.newsletter:before, .article__content:after, .article__content:before, .articles-list .article .heading .casy:after, .articles-list .article .heading .casy:before, .articles-list .article.advert .heading:after, .articles-list .article.advert .heading:before, .articles-list:after, .articles-list:before, .author:after, .author:before, .authors:after, .authors:before, .checkout .adresa p:after, .checkout .adresa p:before, .checkout .doruceni ul:after, .checkout .doruceni ul:before, .checkout:after, .checkout:before, .detailSlider:after, .detailSlider:before, .detailSlider__cont:after, .detailSlider__cont:before, .eshop-bottom .description:after, .eshop-bottom .description:before, .eshop-right .form-vyprodano:after, .eshop-right .form-vyprodano:before, .footer .footer-menu:after, .footer .footer-menu:before, .footer .social-menu:after, .footer .social-menu:before, .footer:after, .footer:before, .footer__inner:after, .footer__inner:before, .header nav ul:after, .header nav ul:before, .header:after, .header:before, .header__inner:after, .header__inner:before, .inzerce-col:after, .inzerce-col:before, .mag-filter .ajax:after, .mag-filter .ajax:before, .mag-filter:after, .mag-filter:before, .main-article:after, .main-article:before, .newsletter-col:after, .newsletter-col:before, .photogallery:after, .photogallery:before, .podcast--first .podcast__inner:after, .podcast--first .podcast__inner:before, .podcast-content:after, .podcast-content:before, .podcast-det .annotation:after, .podcast-det .annotation:before, .podcast-det:after, .podcast-det:before, .podcast:after, .podcast:before, .related-inline:after, .related-inline:before, .search-results .modul:after, .search-results .modul:before, .search-results:after, .search-results:before, .share-col:after, .share-col:before {
    content: "";
    display: table
}

.aspectRatio--1-1:after, .aspectRatio--16-9:after, .aspectRatio--4-3:after, .effect:after {
    content: ''
}

#content:after, #directEditMenu:after, #hlavni:after, .article-content:after, .article.newsletter .checkboxes-line:after, .article.newsletter .second-line:after, .article.newsletter:after, .article__content:after, .articles-list .article .heading .casy:after, .articles-list .article.advert .heading:after, .articles-list:after, .author:after, .authors:after, .checkout .adresa p:after, .checkout .doruceni ul:after, .checkout:after, .detailSlider:after, .detailSlider__cont:after, .eshop-bottom .description:after, .eshop-right .form-vyprodano:after, .footer .footer-menu:after, .footer .social-menu:after, .footer:after, .footer__inner:after, .header nav ul:after, .header:after, .header__inner:after, .inzerce-col:after, .mag-filter .ajax:after, .mag-filter:after, .main-article:after, .newsletter-col:after, .photogallery:after, .podcast--first .podcast__inner:after, .podcast-content:after, .podcast-det .annotation:after, .podcast-det:after, .podcast:after, .related-inline:after, .search-results .modul:after, .search-results:after, .share-col:after {
    clear: both
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none !important
    }
}

@media (min-width: 768px) {
    .hideOnDesk {
        display: none
    }
}

.inline-block {
    display: block;
    margin-bottom: 15px
}

.inline-block:last-child {
    margin-bottom: 0
}

@media (min-width: 768px) {
    .inline-block {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-bottom: 0
    }

    .inline-block:last-child {
        margin-right: 0
    }
}

@media (max-width: 768px) {
    .img--center, .img--left, .img--right {
        display: block;
        float: none;
        margin: 0 auto
    }

    .img--medium, .img--short, .img--tall {
        height: auto
    }

    .matrix > li, .multi-list > li {
        width: 100%
    }

    .block-list > li {
        padding: 0
    }

    .block-list__link {
        margin: 0;
        padding: 0
    }

    .flexbox, .flexbox__item {
        display: block
    }
}

.p25 {
    width: 100%
}

@media (min-width: 768px) {
    .p25 {
        width: 25%
    }
}

.p50 {
    width: 100%
}

@media (min-width: 768px) {
    .p50 {
        width: 50%
    }
}

.p75 {
    width: 100%
}

.noLink {
    font-weight: 400
}

@media (min-width: 768px) {
    .p75 {
        width: 75%
    }

    .noLink, .noLink:hover {
        color: #373737
    }

    .noLink {
        text-decoration: none;
        font-weight: inherit
    }
}

.aspectRatio {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden
}

.aspectRatio [class$="__inner"], .aspectRatio img {
    position: absolute;
    width: 100%
}

.aspectRatio--4-3:after {
    padding-top: 75%;
    display: block
}

.aspectRatio--16-9:after {
    padding-top: 56.25%;
    display: block
}

.aspectRatio--1-1:after {
    padding-top: 100%;
    display: block
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #161b21
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    color: #373737;
    -webkit-font-smoothing: antialiased
}

body {
    background-image: url(../images/bg_mini-mobil.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 0
}

@media (min-width: 768px) {
    body {
        background-image: url(../images/bg_mini-tablet.jpg)
    }
}

@media (min-width: 1024px) {
    body {
        background-image: url(../images/bg_mini.jpg);
        background-size: auto auto
    }
}

*, :after, :before {
    box-sizing: border-box
}

blockquote, h1, h2, h3, h4, h5, h6 {
    font-family: Oswald
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 15px;
    font-weight: 700
}

h1 {
    font-size: 35px;
    font-size: 2.06 pxrem;
    line-height: 1.2;
    font-weight: 500
}

h2 {
    font-size: 28;
    font-size: 1.64706rem;
    line-height: 1.2;
    font-weight: 400
}

h3 {
    font-size: 20;
    font-size: 1.17647rem
}

h4 {
    font-size: 18;
    font-size: 1.05882rem
}

.link, a {
    color: #cc5730
}

.link:hover, a:hover {
    color: #294d6f;
    text-decoration: none
}

p {
    margin: 0 0 30px
}

@media (max-width: 768px) {
    p > a {
        padding: 15px 0
    }
}

blockquote {
    quotes: none;
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.3;
    text-align: center;
    padding: 15px 0;
    margin: 0 0 20px
}

@media (min-width: 768px) {
    blockquote {
        padding: 15px 30px
    }
}

blockquote p {
    margin: 0
}

ol, ul {
    margin-left: 0;
    padding-left: 15px
}

ol > li, ul > li {
    margin-bottom: 5px
}

ul > li {
    list-style: none
}

ul > li:not([class*=nav__item]):not([class*=social-menu__item]):not([class*=footer-menu__item]):not([class*=footerIcon__item]):not([class*=footerLink__item]):not([class*=currency__drop__item]):not([class*=grid__item]):not([class*=cHeader__mobileToolbar__item]):not([class*=cftSearch__autocomplete__item]):not([class*=cftSearch__autocomplete__allResults]):not([class*=accordion__item]):not([class*=cftSearch__autocomplete__noResult]):not([class*=cMap__field]):not([class*=cInstagram__descBottom__item]):not([class*=cTally__item]) {
    background-image: url(../images/li.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 0 10px;
    padding-left: 13px
}

ol ol, ol ul, ol > li:not([class*=breadcrumb__item]):not([class*=nav__item]), ul ol, ul ul {
    margin-left: 30px
}

@media (max-width: 768px) {
    table {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        display: block
    }
}

#minikosik .dokoncit, .b-error-404 #content a, .btn, .eshop-list .article.product .article__content .main-article__links a, input[type=submit] {
    padding: 7.5px 15px;
    border: 0;
    border-bottom: 1px solid #b6411a;
    border-radius: 3px;
    font-family: Oswald;
    background-color: #cc5730;
    color: #fff;
    font-size: 16;
    font-size: .94118rem;
    line-height: 1.529;
    cursor: pointer;
    height: 51px;
    text-decoration: none
}

#minikosik .dokoncit:focus, #minikosik .dokoncit:hover, .b-error-404 #content a:focus, .b-error-404 #content a:hover, .btn:focus, .btn:hover, .eshop-list .article.product .article__content .main-article__links a:focus, .eshop-list .article.product .article__content .main-article__links a:hover, input[type=submit]:focus, input[type=submit]:hover {
    background-color: #a34526;
    color: #fff;
    text-decoration: none
}

.field, input[type=text], select, textarea {
    padding: 10px 15px;
    border-top: 1px solid #d6d3bf;
    border-left: 1px solid #d6d3bf;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 1px 1px 0 0 #f1f0e9 inset;
    font-family: 'Times New Roman', Arial;
    border-radius: 0;
    background-color: #fff;
    font-size: 17;
    font-size: 1rem;
    line-height: 1.529;
    transition: all .5s;
    color: #000;
    height: 51px
}

.field:hover, input[type=text]:hover, select:hover, textarea:hover {
    border-color: #cc5730
}

.field:focus, input[type=text]:focus, select:focus, textarea:focus {
    border-color: #cc5730;
    box-shadow: 0 0 4px #f0cbbf
}

::-moz-selection {
    color: #cc5730;
    background: #fff
}

::selection {
    color: #cc5730;
    background: #fff
}

.article-content ::-moz-selection, .article__content ::-moz-selection, .search-results ::-moz-selection {
    color: #fff;
    background: #cc5730
}

.article-content ::selection, .article__content ::selection, .search-results ::selection {
    color: #fff;
    background: #cc5730
}

.effect--black:after, .effect--blue:after, .effect--gray:after, .effect--green:after, .effect--orange:after, .effect:after {
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: 0 0
}

.article-content h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 28px;
    font-size: 1.65 pxrem;
    line-height: 1.2;
    font-weight: 400;
    color: #373737;
    margin: 40px 0 20px
}

.article-content img {
    vertical-align: top;
    max-width: 100%;
    height: auto !important
}

.article-content img.floatLeft, .article-content img.left {
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 0 0 30px;
    vertical-align: top
}

@media (min-width: 768px) {
    .article-content img.floatLeft, .article-content img.left {
        float: left;
        margin: 6px 30px 15px 0;
        max-width: 50%;
        height: auto;
        display: inline
    }
}

.article-content img.floatRight, .article-content img.right {
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 0 0 30px;
    vertical-align: top
}

@media (min-width: 768px) {
    .article-content img.floatRight, .article-content img.right {
        float: right;
        margin: 6px 0 15px 30px;
        max-width: 50%;
        height: auto;
        display: inline
    }
}

.article-content img.fullscreen, .article-content img.imageCenter {
    display: block;
    margin: 0 auto
}

.article-content iframe {
    max-width: 100%
}

.img-description {
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.529;
    color: #777;
    text-align: center;
    margin-top: -20px
}

.img-description-left, .img-description-right {
    font-size: 15px;
    color: #777;
    width: 50%;
    line-height: 1.529;
    text-align: center
}

.img-description-left {
    font-size: .88 pxrem;
    margin: -10px 30px 30px 0;
    float: left
}

.img-description-right {
    font-size: .88 pxrem;
    margin: -10px 0 30px 30px;
    float: right
}

.cf, hr {
    height: 1px;
    width: 100%;
    clear: both
}

.resources {
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.529;
    color: #666
}

.cf {
    float: none
}

hr {
    box-sizing: content-box;
    background-color: #eceae8;
    color: #eceae8;
    line-height: 1px
}

.b-article .header nav li.m2 a, .b-magazine .header nav li.m2 a, .b-podcast .header nav li.m3 a, .header nav li.active a {
    color: #fff
}

.b-home .article.newsletter {
    margin-bottom: 15px
}

#page {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px
}

#content {
    padding: 0 0 60px
}

#hlavni {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px
}

.effect--black:after, .effect--blue:after, .effect--gray:after, .effect--green:after, .effect--orange:after, .effect:after {
    background-color: transparent
}

@media (min-width: 768px) {
    #hlavni {
        padding: 25px 30px
    }
}

@media (min-width: 1232px) {
    #hlavni {
        padding: 40px 80px
    }
}

.col-left {
    margin-bottom: 40px
}

@media (min-width: 768px) {
    .col-left {
        float: left;
        width: 58.65%;
        margin-bottom: 0
    }

    .col-right {
        float: right;
        width: 37.5%
    }
}

.effect {
    position: relative
}

.effect:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-image: url(../images/effect-brown.png)
}

.article__image__a:before, .header nav li.m1 a:after, .header__banner:before {
    content: ""
}

.effect--blue:after {
    background-image: url(../images/effect-blue.png)
}

.effect--green:after {
    background-image: url(../images/effect-green.png)
}

.effect--orange:after {
    background-image: url(../images/effect-brown.png)
}

.effect--black:after {
    background-image: url(../images/effect-black.png)
}

.effect--gray:after {
    background-image: url(../images/effect-gray.png)
}

.article .article__image__a:after {
    display: none
}

.article .article__image__a:hover:after {
    display: block
}

.article.product .article__image__a:after, .article.product .article__image__a:hover:after {
    display: block;
    background-image: url(../images/effect-eshop.png);
    background-color: transparent;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 100%;
    border-radius: 3px
}

.header__banner {
    max-width: 100%;
    position: relative
}

.header__banner:before {
    display: block;
    padding-top: 9.167%
}

.header__banner img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0
}

.header__inner {
    position: relative
}

.header .logo {
    float: left;
    margin: 6px 4px 14px -18px
}

.header .logo img {
    max-width: 170px;
    vertical-align: top
}

.header nav {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    clear: both;
    display: none
}

@media (min-width: 768px) {
    .header nav {
        margin: 44px 0 0;
        width: auto;
        clear: none;
        float: left;
        display: block
    }
}

@media (min-width: 1024px) {
    .header .logo img {
        max-width: 250px
    }

    .header nav {
        margin-top: 44px
    }
}

.header nav ul {
    margin: 0;
    padding: 0
}

.header nav li {
    display: block;
    padding: 0 !important;
    margin: 0;
    border-bottom: 1px solid;
    background: 0 0 !important
}

@media (min-width: 768px) {
    .header nav li {
        margin: 3px 7px 0 0;
        float: left;
        display: inline;
        border-bottom: none
    }
}

@media (min-width: 1024px) {
    .header nav li {
        margin-right: 15px
    }
}

.header nav li:nth-last-child(1) {
    margin-right: 0
}

.header nav li a {
    text-transform: uppercase;
    color: #f4eecd;
    font-family: Oswald;
    font-size: 16px;
    font-size: .94 pxrem;
    line-height: 1.529;
    text-decoration: none;
    padding: 10px 15px;
    text-shadow: 0 0 5px #000;
    display: block;
    background-color: #161b21
}

.header nav li a:hover {
    text-shadow: 0 0 12px #f4eecd
}

@media (min-width: 768px) {
    .header nav li a {
        padding: 10px;
        display: inline-block;
        background: 0 0
    }

    .header nav li.m1 {
        margin-right: 15px;
        margin-top: 0
    }
}

.header nav li.m1 a {
    text-shadow: none;
    border-radius: 3px;
    border: 1px solid #b7421b;
    position: relative;
    background-image: url(../images/play.jpg);
    background-color: #d35e37;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    padding: 12px 15px 10px 38px;
    box-shadow: 3px 3px 5px #200f0c
}

.header nav li.m1 a:hover {
    text-decoration: none;
    background: #b7421b;
    text-shadow: none
}

.header .burger, .header nav li.m1 a:after {
    background-color: transparent;
    background-repeat: no-repeat
}

.header nav li.m1 a:after {
    width: 20px;
    height: 20px;
    background-image: url(../images/play.png);
    background-size: auto;
    background-position: 0 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 9px
}

@media (min-width: 1024px) {
    .header nav li a {
        font-size: 18px;
        font-size: 1.06 pxrem;
        line-height: 1.529
    }

    .header nav li.m1 {
        margin-right: 30px
    }

    .header nav li.m1 a {
        padding: 12px 20px 10px 43px
    }

    .header nav li.m1 a:after {
        left: 13px
    }
}

.header .burger {
    display: inline-block;
    text-decoration: none;
    width: 44px;
    height: 44px;
    background-image: url(../images/burger.png);
    background-size: 70% 70%;
    background-position: 50% 50%;
    text-indent: -999em;
    float: right;
    margin: 40px 0 0
}

.header .search-box {
    position: absolute;
    top: 40px;
    right: 70px;
    display: none
}

@media (min-width: 768px) {
    .header .burger {
        display: none
    }

    .header .search-box {
        float: right;
        margin: 37px 0 0;
        position: relative;
        top: 0;
        right: 0
    }
}

@media (min-width: 1024px) {
    .header .search-box {
        margin-top: 42px;
        display: block
    }
}

.header .search-box__inputs {
    margin: 0
}

.header .search-box .field {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #9d9c8b;
    border-radius: 0;
    color: #9d9c8b;
    max-width: 120px;
    box-shadow: none;
    padding: 10px;
    height: auto
}

@media (min-width: 1024px) {
    .header .search-box .field {
        max-width: 160px
    }
}

.header .search-box__submit {
    background: 0 0;
    border: none;
    margin: 15px 0 0 7px;
    padding: 0;
    border-radius: 0;
    width: 21px;
    height: 26px;
    float: right
}

.footer, .footer .social-menu__item a, .header .search-box__submit .icon-search {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto
}

.article-more a, .article__image__link, .main-article__links .clanek {
    border-bottom: 1px solid #661b02;
    text-shadow: 0 1px 1px #651a01;
    font-family: Oswald
}

.header .search-box__submit .icon-search {
    width: 21px;
    height: 26px;
    display: block;
    background-image: url(../images/lupa.png);
    background-position: 0 0
}

.footer {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    background-image: url(../images/footer.jpg);
    background-position: 50% 0;
    color: #f4eecd;
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.571
}

.footer a {
    color: #f4eecd;
    text-decoration: underline
}

.footer a:hover {
    text-decoration: none
}

.footer p {
    margin-bottom: 9px
}

.footer__inner {
    padding: 27px 0 20px
}

@media (min-width: 1024px) {
    .footer {
        min-height: 287px
    }

    .footer__inner {
        padding: 27px 50px 20px
    }
}

.footer__box {
    text-align: center;
    margin: 0 0 35px
}

@media (min-width: 768px) {
    .footer__box {
        float: left;
        width: 33%;
        text-align: left;
        margin: 0
    }
}

.article-more, .author .image, .footer .footer-copy p, .footer__box--b2 {
    text-align: center
}

.footer__box--b2 .footer-logo {
    margin: 0 0 30px
}

.footer__box--b2 .footer-logo img {
    max-width: 100%;
    height: auto;
    vertical-align: top
}

@media (min-width: 768px) {
    .footer__box--b2 {
        width: 34%
    }

    .footer__box--b2 .footer-logo {
        margin-top: -80px
    }

    .footer__box--b3 {
        float: right;
        padding-top: 8px
    }
}

@media (min-width: 1024px) {
    .footer__box--b3 {
        width: 26%
    }
}

.footer .social-menu {
    padding: 0;
    margin: 16px 0 15px
}

.footer .social-menu__item {
    margin: 0 12px;
    display: inline-block
}

.footer .social-menu__item a {
    text-decoration: none;
    width: 52px;
    text-align: center;
    padding-top: 59px;
    display: inline-block;
    font-size: 12;
    font-size: .70588rem;
    line-height: 1.529;
    background-image: url(../images/social.png);
    background-position: 0 0;
    color: #64a2dd
}

.footer .social-menu__item a:hover {
    background-position: -208px 0;
    color: #85c0f7
}

.footer .social-menu__item--gplus a {
    background-position: -52px 0;
    color: #cc5730
}

.footer .social-menu__item--gplus a:hover {
    background-position: -260px 0;
    color: #df7551
}

.footer .social-menu__item--twitter a {
    background-position: -104px 0;
    color: #64a2dd
}

.footer .social-menu__item--twitter a:hover {
    background-position: -312px 0;
    color: #62b3d1
}

.footer .social-menu__item--youtube a {
    background-position: -156px 0;
    color: #c34622
}

.footer .social-menu__item--youtube a:hover {
    background-position: -364px 0;
    color: #dd633f
}

@media (min-width: 768px) {
    .footer .social-menu__item {
        margin: 0 0 15px
    }

    .footer .social-menu__item + li {
        margin-left: 20px
    }
}

.footer .footer-menu {
    padding: 0;
    margin: 0 0 15px
}

@media (min-width: 768px) {
    .footer .footer-menu {
        margin: 0 0 8px
    }
}

.footer .footer-menu__item {
    margin: 0 7px;
    display: inline-block;
    vertical-align: top
}

@media (min-width: 768px) {
    .footer .footer-menu__item {
        margin: 0 7px 0 0
    }
}

.footer .footer-menu--eshop .footer-menu__item a {
    color: #cc5730
}

.footer .footer-copy p {
    margin: 0;
    font-size: 12px;
    font-size: .71 pxrem;
    line-height: 1.5
}

.main-article {
    position: relative;
    margin-bottom: 15px;
    z-index: 5;
    overflow: hidden;
    border-radius: 3px
}

@media (min-width: 768px) {
    .main-article:before {
        content: "";
        display: block;
        padding-top: 52.42%
    }
}

.article, .article-more a, .main-article__links a {
    display: inline-block
}

.main-article__inner {
    background-color: #fff;
    z-index: 10;
    padding: 15px;
    border-radius: 0 0 3px 3px
}

@media (min-width: 768px) {
    .main-article__inner {
        position: absolute;
        bottom: 43px;
        left: 30px;
        background: 0 0;
        padding: 0;
        border-radius: 0
    }
}

@media (min-width: 1024px) {
    .main-article__inner {
        bottom: 83px;
        left: 50px
    }
}

.main-article__image {
    margin: 0;
    z-index: 6;
    width: 100%
}

.main-article__image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 3px
}

.main-article__title {
    margin: 0 0 15px
}

@media (min-width: 768px) {
    .main-article__image {
        position: absolute;
        top: 0;
        left: 0
    }

    .main-article__title {
        color: #fff;
        width: 90%;
        margin-bottom: 21px
    }
}

@media (min-width: 1024px) {
    .main-article__title {
        width: 80%
    }
}

.main-article__anotace {
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .main-article__anotace {
        color: #fff;
        width: 90%;
        margin-bottom: 56px;
        font-size: 22px;
        font-size: 1.29 pxrem;
        line-height: 1.2
    }
}

.main-article__anotace p, .main-article__links {
    margin: 0
}

.main-article__anotace a {
    text-decoration: underline
}

.main-article__anotace a:hover {
    text-decoration: none
}

.main-article__links .clanek {
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.529;
    padding: 10px 40px;
    background-image: url(../images/play.jpg);
    background-color: #d35e37;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    margin-right: 30px;
    color: #fff
}

@media (min-width: 768px) {
    .main-article__anotace a {
        color: #fff
    }

    .main-article__links .clanek {
        padding: 14px 61px 17px
    }
}

.main-article__links .clanek:hover {
    background: #b7421b
}

.main-article__links .podcast-link {
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.529;
    padding-left: 34px;
    background-image: url(../images/prehrat.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 18px
}

.main-article__links .podcast-link:hover {
    background-position: 0 -206px
}

.main-article__meta {
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529;
    margin-bottom: 20px
}

@media (min-width: 1024px) {
    .main-article__anotace {
        width: 60%
    }

    .main-article__meta {
        margin-bottom: 50px
    }
}

.main-article__meta a {
    text-decoration: underline
}

.article-more a, .article__image__link, .main-article__meta a:hover {
    text-decoration: none
}

.articles-list {
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .main-article__links .podcast-link {
        color: #fff;
        background-image: url(../images/prehrat-white.png);
        background-position: 0 50%
    }

    .main-article__links .podcast-link:hover {
        background-position: 0 50%
    }

    .main-article__meta, .main-article__meta a, .main-article__meta a:hover {
        color: #fff
    }

    .articles-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 15px;
        -webkit-column-gap: 15px;
        column-gap: 15px
    }
}

@media (min-width: 1024px) {
    .articles-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}

.articles-list.no-column .column-0 {
    width: 100%
}

@media (min-width: 768px) {
    .articles-list.no-column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
        column-gap: 0
    }

    .articles-list.no-column .column-0 {
        float: left;
        width: 49%
    }
}

@media (min-width: 1024px) {
    .articles-list.no-column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
        column-gap: 0
    }

    .articles-list.no-column .column-0 {
        width: 32.33%;
        margin-right: 1.45%
    }
}

@media (min-width: 768px) {
    .articles-list.no-column .column-1 {
        float: right;
        width: 49%
    }
}

@media (min-width: 1024px) {
    .articles-list.no-column .column-1 {
        float: left;
        width: 32.33%;
        margin-right: 1.45%
    }
}

.articles-list.no-column .column-2 {
    float: right;
    width: 32.33%
}

.article-more {
    width: 100%;
    clear: both;
    margin: 0 0 30px
}

.article-more a {
    border-radius: 3px;
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.529;
    padding: 14px 61px 17px;
    background-image: url(../images/play.jpg);
    background-color: #d35e37;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    color: #fff
}

.article-more a:hover {
    background: #b7421b;
    color: #fff
}

.article {
    margin-bottom: 15px;
    border-radius: 3px;
    background: 0 0;
    vertical-align: text-top;
    width: 100%
}

#frm-form + p *, .article.advert img, .article__image img, .inzerce-col img, .mode-edit .main-article__meta *, .podcast-col__img img, .related-edit *, .related-inline p img {
    vertical-align: top
}

.article:nth-child(3n+1) {
    margin-right: 0
}

.article__image {
    position: relative;
    margin-bottom: -1px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    z-index: 5
}

.article__image__a {
    position: relative;
    display: block
}

.article__image__a:before {
    display: block;
    padding-top: 52.42%
}

.article__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    max-width: 100%;
    height: auto
}

.article__image__link {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    left: 15px;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    font-size: .94 pxrem;
    line-height: 1.529;
    padding: 8px 15px 7px;
    background-image: url(../images/play.jpg);
    background-color: #d35e37;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0
}

.article__image__link:hover {
    background: #b7421b;
    color: #fff
}

.article__content {
    background-color: #fff;
    padding: 15px;
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.467;
    border-radius: 0 0 3px 3px
}

@media (min-width: 768px) {
    .article__content {
        padding: 25px 30px
    }
}

@media (min-width: 1024px) {
    .article__image__link {
        left: 50px
    }

    .article__content {
        padding: 30px 35px
    }
}

.article__content h2 {
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.3;
    margin: 0 0 10px;
    font-weight: 400
}

.article__content h2 a {
    display: block;
    text-decoration: none
}

.article__content h2 a:hover {
    text-decoration: underline
}

.article__content__anotace {
    margin-bottom: 15px
}

.article__content__tags {
    margin: 0
}

.article__content__tags a {
    color: #666
}

.article__content__tags a:hover {
    color: #cc5730
}

.b-article .article-content, .b-article .main-article {
    margin-bottom: 0
}

.b-article .main-article__inner {
    left: 30px;
    bottom: 30px;
    border-radius: 0
}

@media (min-width: 768px) {
    .b-article .main-article__inner {
        border-radius: 0 0 3px 3px
    }
}

.b-article .main-article__image img {
    border-radius: 3px 3px 0 0
}

.b-article .main-article__title {
    text-transform: none
}

.b-article .main-article__anotace {
    margin-bottom: 20px
}

.b-article .main-article__down {
    display: none
}

@media (min-width: 768px) {
    .b-article .main-article__down {
        margin: 0 0 0 20px;
        display: block
    }
}

.b-article .main-article__down__link {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: #fff;
    text-decoration: none;
    width: 57px;
    height: 27px;
    background-image: url(../images/down.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0
}

.b-article .main-article__down__link:focus, .b-article .main-article__down__link:hover {
    background-position: 0 -27px
}

.article-content {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 15px;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .article-content {
        padding: 25px 30px
    }
}

@media (min-width: 1232px) {
    .b-article .main-article__inner {
        left: 80px;
        bottom: 110px
    }

    .article-content {
        padding: 60px 80px
    }
}

.share-col {
    margin: 0 0 30px
}

.share-col .fb-share {
    float: left;
    margin-right: 15px
}

.share-col .twiter-share {
    float: left
}

.article-related {
    padding-top: 15px
}

.related-inline {
    margin-bottom: 30px;
    width: 100%;
    clear: both;
    font-family: Oswald
}

.related-inline .related-inline {
    margin: 0
}

.related-inline h2, .related-inline h3 {
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.3;
    margin: 0 0 10px;
    font-family: Oswald
}

.related-inline ul {
    margin: 0 0 30px;
    padding: 0
}

.related-inline p {
    margin: 0
}

.related-inline p img {
    max-width: 100%;
    height: auto
}

.b-magazine #hlavni {
    background: 0 0;
    padding: 0;
    margin-bottom: 30px
}

.b-magazine h1 {
    color: #fff
}

.b-magazine .anotace {
    display: none;
    color: #fff;
    font-size: 22px;
    font-size: 1.29 pxrem;
    line-height: 1.2;
    margin-bottom: 75px
}

.b-magazine .anotace p {
    margin: 0
}

.b-magazine .anotace a {
    color: #fff
}

.b-magazine .anotace a:focus, .b-magazine .anotace a:hover {
    color: #fff;
    text-decoration: none
}

.b-magazine .article .heading .ousko {
    display: none !important
}

.b-magazine .article .heading .upravit {
    margin-bottom: 12px
}

.b-magazine .article.newsletter {
    margin-bottom: 15px
}

.mag-filter, .mag-filter__text {
    margin-bottom: 30px
}

.mag-filter__text {
    color: #fff;
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.2
}

.mag-filter__text p {
    margin: 0
}

.mag-filter__text a {
    color: #fff
}

.mag-filter__text a:focus, .mag-filter__text a:hover {
    color: #fff;
    text-decoration: none
}

.mag-filter .ajax {
    margin-bottom: 30px
}

.mag-filter .ajax label {
    float: left;
    margin: 0 14px 10px 0;
    padding: 10px;
    display: inline-block;
    background-color: #f4eecd;
    border-radius: 3px;
    cursor: pointer
}

@media (min-width: 768px) {
    .mag-filter .ajax label {
        width: 133px
    }
}

@media (min-width: 1024px) {
    .mag-filter .ajax label {
        width: 188px
    }
}

.mag-filter .ajax label:hover {
    box-shadow: 0 0 0 3px #294d6f
}

.mag-filter .ajax label input[type=checkbox] {
    display: none
}

.mag-filter .ajax label input[type=checkbox] + span {
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.529;
    text-transform: uppercase;
    font-family: Oswald;
    color: #7e7e7e;
    position: relative
}

.mag-filter .ajax label input[type=checkbox] + span:before {
    content: "";
    width: 21px;
    height: 22px;
    background-image: url(../images/checkbox2.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 3px
}

.photogallery .photo:before, .podcast:before {
    display: block;
    content: ""
}

.mag-filter .ajax label input[type=checkbox]:checked + span {
    color: #cc5730
}

.mag-filter .ajax label input[type=checkbox]:checked + span:before {
    background-position: -21px 0
}

.mag-filter .ajax .sort {
    width: 100%;
    clear: both;
    padding-top: 15px
}

.mag-filter .ajax .sort select {
    background-color: #161b21;
    border: 1px solid #858577;
    color: #f4eecd;
    height: auto;
    padding: 7px 10px;
    width: 180px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529;
    box-shadow: none
}

.podcast-col__next, .podcast-col__play, .podcast__play a {
    font-family: Oswald
}

.photogallery {
    width: 100%;
    clear: both;
    margin-bottom: 30px
}

.photogallery .photo {
    float: left;
    width: 48.85%;
    margin: 0 1.5% 1.5% 0;
    overflow: hidden;
    position: relative;
    background: #eceae8
}

.photogallery .photo:nth-child(2n+2) {
    margin-right: 0
}

@media (min-width: 768px) {
    .photogallery .photo {
        width: 31.85%
    }

    .photogallery .photo:nth-child(2n+2) {
        margin-right: 1.5%
    }

    .photogallery .photo:nth-child(3n+3) {
        margin-right: 0
    }
}

.photogallery .photo:before {
    padding-top: 100%
}

.photogallery .photo:hover {
    box-shadow: 0 0 0 2px #cc5730
}

.photogallery .photo img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 700px;
    width: auto
}

.b-podcast #hlavni {
    background: 0 0;
    padding: 0;
    margin: 0 0 30px
}

.b-podcast h1 {
    color: #fff
}

.podcast {
    position: relative;
    overflow: hidden;
    z-index: 5
}

.podcast .img, .podcast .svg {
    z-index: 6;
    position: absolute
}

.podcast:before {
    padding-top: 52.42%
}

.podcast .img {
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    border-radius: 3px
}

.podcast .svg {
    width: 200px;
    height: 200px;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -200px;
    -webkit-filter: drop-shadow(0 0 1px #fff);
    filter: drop-shadow(0 0 1px #fff)
}

@media (min-width: 768px) {
    .podcast .svg {
        display: block;
        width: 250px;
        height: 250px;
        margin-left: -125px;
        top: -25px;
        margin-top: 0
    }
}

@media (min-width: 1024px) {
    .podcast .svg {
        width: 350px;
        height: 350px;
        margin-left: -175px;
        top: 0
    }
}

.podcast__inner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 7;
    height: 100%
}

@media (min-width: 768px) {
    .podcast__inner {
        padding: 25px 30px
    }
}

.podcast__title {
    color: #fff;
    font-size: 25px;
    font-size: 1.47 pxrem;
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 400;
    float: left;
    display: none
}

@media (min-width: 768px) {
    .podcast__title {
        margin-bottom: 40px;
        font-size: 70;
        font-size: 4.11765rem;
        line-height: 1.2;
        float: none
    }
}

@media (min-width: 1232px) {
    .podcast__inner {
        padding: 80px 80px 40px
    }

    .podcast__title {
        margin-bottom: 130px
    }
}

.podcast__play {
    margin-bottom: 15px
}

.podcast__play a {
    text-shadow: none;
    border-radius: 3px;
    border: 1px solid #b7421b;
    position: relative;
    background-image: url(../images/play.jpg);
    background-color: #d35e37;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    padding: 12px 15px 10px 38px;
    color: #f4eecd;
    text-decoration: none;
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.529;
    text-transform: uppercase;
    display: inline-block
}

@media (min-width: 768px) {
    .podcast__play {
        margin-bottom: 30px
    }

    .podcast__play a {
        box-shadow: 3px 3px 5px #200f0c
    }
}

.podcast__play a:hover {
    text-decoration: none;
    background: #b7421b
}

.podcast__down__link, .podcast__play a:after {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0
}

.podcast__play a:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/play.png);
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 9px
}

.podcast__annotation {
    margin-bottom: 15px;
    font-size: 15;
    font-size: .88235rem;
    line-height: 1.529;
    clear: both;
    width: 100%
}

@media (min-width: 768px) {
    .podcast__annotation {
        margin-bottom: 30px;
        color: #fff
    }
}

@media (min-width: 1232px) {
    .podcast__annotation {
        width: 60%;
        font-size: 17;
        font-size: 1rem;
        line-height: 1.529
    }
}

.podcast__annotation p {
    margin: 0
}

.podcast__down {
    display: none
}

@media (min-width: 768px) {
    .podcast__down {
        margin: 0 0 0 20px;
        display: block
    }
}

.podcast__down__link {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: #fff;
    text-decoration: none;
    width: 57px;
    height: 27px;
    background-image: url(../images/down.png)
}

.podcast__down__link:focus, .podcast__down__link:hover {
    background-position: 0 -27px
}

.podcast__more {
    margin: 0 30px 15px 0
}

@media (min-width: 768px) {
    .podcast__more {
        float: left
    }
}

@media (min-width: 1024px) {
    .podcast__play a {
        padding: 12px 20px 10px 43px
    }

    .podcast__play a:after {
        left: 13px
    }

    .podcast__more {
        margin: 0 0 30px;
        float: none
    }
}

.podcast--first .podcast__inner {
    padding-top: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
    top: auto;
    left: auto
}

@media (min-width: 768px) {
    .podcast__more a {
        color: #fff
    }

    .podcast__more a:focus, .podcast__more a:hover {
        color: #fff;
        text-decoration: none
    }

    .podcast--first {
        text-align: center
    }

    .podcast--first .podcast__inner {
        padding-top: 24%;
        background: 0 0;
        margin-bottom: 0;
        position: absolute;
        top: 0;
        left: 0
    }

    .podcast--first .podcast__title {
        display: none
    }
}

.podcast--first .podcast__play {
    margin-bottom: 10px
}

@media (min-width: 1024px) {
    .podcast--first .podcast__inner {
        padding-top: 27%
    }

    .podcast--first .podcast__play {
        margin-bottom: 30px
    }
}

.podcast--first .podcast__annotation {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
}

@media (min-width: 1024px) {
    .podcast--first .podcast__annotation {
        margin-bottom: 20px
    }
}

.podcast--first .podcast__more {
    float: left
}

@media (min-width: 768px) {
    .podcast--first .podcast__more {
        margin: 0 10px;
        display: inline-block;
        float: none
    }
}

.podcast--first .podcast__share {
    float: right
}

@media (min-width: 768px) {
    .podcast--first .podcast__share {
        position: absolute;
        bottom: 25px;
        right: 25px
    }
}

.podcast--first .podcast__share .fb-share {
    float: left;
    margin-right: 15px
}

.podcast--first .podcast__share .twiter-share {
    float: left
}

.podcast-col {
    margin: 0 0 30px;
    position: relative;
    z-index: 5
}

.podcast-col:before {
    content: "";
    display: block;
    padding-top: 52.31%
}

.podcast-col__img {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    max-width: 100%
}

.podcast-col__img img {
    max-width: 100%;
    height: auto;
    border-radius: 3px
}

.podcast-col__inner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%
}

.podcast-col__play {
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.09;
    position: absolute;
    top: auto;
    bottom: 19px;
    left: 20px;
    display: inline-block;
    padding: 5px 20px 0 35px;
    color: #fff;
    text-decoration: underline
}

.action-list .article__image:before, .article.podcast:before {
    display: none
}

@media (min-width: 1232px) {
    .podcast-col__play {
        top: auto;
        bottom: 19px;
        left: 20px;
        padding: 5px 20px 0 35px
    }
}

.podcast-col__play:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 0;
    background-image: url(../images/play-col.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 25px 50px;
    background-position: 0 0
}

.podcast-col__play:focus, .podcast-col__play:hover {
    text-decoration: none;
    color: #fff
}

.podcast-col__next {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529;
    z-index: 15
}

.action-list .article__image img, .article.podcast .podcast-col__img {
    top: auto;
    left: auto;
    position: relative
}

.podcast-col__next:focus, .podcast-col__next:hover {
    text-decoration: none;
    color: #fff
}

@media (min-width: 1024px) {
    .podcast-col__next {
        bottom: 15px;
        top: auto;
        right: 20px
    }
}

.article.podcast {
    background: 0 0
}

.article.podcast .podcast-col__img img {
    position: relative;
    top: auto;
    left: auto;
    width: 100%
}

.podcast-content {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 15px;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .podcast-content {
        padding: 25px 30px
    }
}

@media (min-width: 1232px) {
    .podcast-content {
        padding: 60px 80px
    }
}

.podcast-det {
    margin: 0 0 45px
}

.podcast-det h2 {
    margin-bottom: 5px
}

.podcast-det .date-time {
    font-size: 12px;
    font-size: .71 pxrem;
    line-height: 1.529;
    color: #6f6f6f;
    margin-bottom: 10px
}

.podcast-det .annotation {
    margin-bottom: 15px
}

.podcast-det .annotation p {
    margin: 0;
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.5333
}

.podcast-det .podcast__play {
    float: left;
    margin: 0 30px 0 0
}

.podcast-det .podcast__play .wr-radio {
    box-shadow: none;
    text-transform: none
}

.podcast-det .podcast__article {
    float: left;
    padding-top: 15px;
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529
}

.page-4 #hlavni {
    background: 0 0;
    padding: 0;
    margin-bottom: 30px
}

.page-4 h1 {
    color: #fff
}

.page-4 .anotace {
    color: #fff;
    font-size: 22px;
    font-size: 1.29 pxrem;
    line-height: 1.2;
    margin-bottom: 75px
}

.page-4 .anotace p {
    margin: 0
}

.action-list .article__content__url, .action-list .article__read {
    margin-bottom: 15px
}

.page-4 .anotace a {
    color: #fff
}

.page-4 .anotace a:focus, .page-4 .anotace a:hover {
    color: #fff;
    text-decoration: none
}

.page-4 .text, .page-4 .text a {
    color: #fff
}

.page-4 .text a:focus, .page-4 .text a:hover {
    color: #fff;
    text-decoration: none
}

#wrUserMenu ul li a, .action-list .article__content__url a {
    color: #666
}

.action-list .article__image {
    overflow: visible
}

.action-list .article__image img {
    border-radius: 3px 3px 0 0
}

.action-list .article__read a {
    display: inline-block;
    height: auto
}

.action-list .article__content__url a:focus, .action-list .article__content__url a:hover {
    color: #cc5730
}

.action-list .fb-share {
    float: left;
    margin-right: 15px
}

.action-list .twiter-share {
    position: relative;
    top: -2px
}

.article.action {
    background: 0 0
}

.article.action .article__image {
    margin: 0;
    overflow: visible;
    background: 0 0
}

.article.action .article__image:before {
    display: none
}

.article.action .article__image img {
    position: relative;
    top: auto;
    left: auto;
    border-radius: 3px
}

.page-5 #hlavni {
    background: 0 0;
    padding: 0;
    margin-bottom: 30px
}

.page-5 h1, .page-5 h2 {
    color: #fff;
    font-size: 35px;
    font-size: 2.06 pxrem;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 500
}

.page-5 .cf + h2 {
    margin-top: 50px
}

.page-5 .anotace {
    color: #fff;
    font-size: 22px;
    font-size: 1.29 pxrem;
    line-height: 1.2;
    margin-bottom: 45px
}

.page-5 .anotace p {
    margin: 0
}

.page-5 .anotace a {
    color: #fff
}

.page-5 .anotace a:focus, .page-5 .anotace a:hover {
    color: #fff;
    text-decoration: none
}

.page-5 .text, .page-5 .text a {
    color: #fff
}

.page-5 .text a:focus, .page-5 .text a:hover {
    color: #fff;
    text-decoration: none
}

.page-5 .text h2 a, .page-5 .text h3 a {
    color: #cc5730
}

.authors .author .more a, .page-5 .text h2 a:focus, .page-5 .text h2 a:hover, .page-5 .text h3 a:focus, .page-5 .text h3 a:hover {
    color: #fff
}

.page-5 .text .author {
    width: 100%;
    margin: 0 0 30px
}

@media (min-width: 768px) {
    .page-5 .text .author {
        width: 48%;
        float: left;
        vertical-align: top;
        margin: 0 2% 35px 0;
        padding-right: 20px
    }
}

@media (min-width: 1024px) {
    .page-5 .text .author {
        width: 32%;
        margin: 0 2% 3% 0
    }
}

@media (min-width: 768px) {
    .page-5 .text .author:nth-of-type(even) {
        margin-right: 0;
        padding-right: 0;
        clear: right
    }
}

@media (min-width: 1024px) {
    .page-5 .text .author:nth-of-type(even) {
        margin-right: 2%;
        padding-right: 20px;
        clear: none
    }
}

@media (min-width: 768px) {
    .page-5 .text .author:nth-of-type(odd) {
        clear: left
    }
}

@media (min-width: 1024px) {
    .page-5 .text .author:nth-of-type(odd) {
        clear: none
    }

    .page-5 .text .author:nth-of-type(3n+3) {
        margin-right: 0
    }

    .page-5 .text .author:nth-of-type(3n+4) {
        clear: left
    }
}

.page-5 .text .author p {
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529
}

.authors .author {
    width: 100%;
    margin-bottom: 30px;
    clear: both
}

.authors .author p {
    color: #fff;
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.333
}

.author {
    margin: 0 0 30px
}

.author .image {
    margin: 0 0 10px;
    padding-top: 25px
}

@media (min-width: 768px) {
    .authors .author {
        float: left;
        clear: left;
        width: 48%
    }

    .authors .author.even {
        float: right;
        clear: right
    }

    .author .image {
        float: left;
        width: 43%;
        max-width: 169px;
        margin: 0 20px 10px 0;
        text-align: left;
        padding-top: 0
    }
}

.article.newsletter, .newsletter-col {
    background-image: url(../images/nl_bg.jpg);
    background-color: #fbf3d5;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    padding: 25px 30px
}

.author .image img {
    border-radius: 500px;
    max-width: 100%;
    height: auto
}

.author h2, .author h3 {
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.529;
    margin: 5px 0;
    font-weight: 400
}

.author p {
    margin: 0;
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.333
}

.newsletter-col {
    margin: 0 0 30px;
    border-radius: 3px
}

.newsletter-col h3 {
    margin: 0 0 10px;
    font-weight: 400
}

.article.newsletter {
    margin: 0 0 30px;
    border-radius: 3px
}

.article.newsletter h2 {
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 20;
    font-size: 1.17647rem;
    line-height: 1.529
}

.article.newsletter .checkboxes-line {
    margin: 0 0 10px
}

.article.newsletter .checkboxes-line label {
    float: left;
    margin: 0 15px 0 0;
    cursor: pointer
}

.article.newsletter .checkboxes-line label input {
    margin-right: 5px
}

.article.newsletter .second-line {
    margin: 0 0 10px
}

.article.newsletter .second-line input[type=text] {
    float: left;
    width: 82%
}

.article.newsletter .second-line input[type=submit] {
    float: right;
    width: 18%
}

.inzerce-col {
    margin: 0 0 30px
}

.inzerce-col img {
    max-width: 100%;
    height: auto;
    border-radius: 3px
}

.article.advert {
    background: 0 0;
    position: relative
}

.article.advert:before {
    content: 'inzerce';
    padding: 5px;
    background: #000;
    color: #7c7c7c;
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.2;
    display: block;
    text-align: center;
    border-radius: 3px 3px 0 0
}

.article.advert img {
    max-width: 100%;
    width: 100%;
    border-radius: 3px
}

.search-results .item, .search-results .modul {
    margin-bottom: 40px
}

.search-results .item h3 {
    margin-bottom: 0
}

.b-error-404 #content {
    background-image: url(../images/404.jpg);
    background-color: #191e24;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    padding: 30px;
    color: #f4eecd;
    margin-bottom: 90px
}

@media (min-width: 768px) {
    .b-error-404 #content {
        padding: 50px 50px 30px
    }
}

@media (min-width: 1024px) {
    .b-error-404 #content {
        padding: 200px 50px 30px;
        min-height: 629px
    }
}

.b-error-404 #content h1 {
    color: #f4eecd;
    font-size: 30px;
    font-size: 1.76 pxrem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0
}

@media (min-width: 768px) {
    .b-error-404 #content h1 {
        font-size: 50px;
        font-size: 2.94 pxrem;
        line-height: 1.2
    }
}

.b-error-404 #content h1 span {
    color: #cc5730
}

.b-error-404 #content h2 {
    color: #f4eecd;
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.2;
    margin: 0 0 30px
}

@media (min-width: 768px) {
    .b-error-404 #content h2 {
        font-size: 30px;
        font-size: 1.76 pxrem;
        line-height: 1.2
    }
}

.b-error-404 #content a {
    height: auto;
    text-decoration: none;
    display: inline-block
}

#wrUserMenu {
    position: fixed;
    top: 30px;
    right: -190px;
    z-index: 100;
    background: #eee;
    border: 1px solid #aaa;
    border-right: none;
    padding: 7px 10px 10px;
    width: 190px;
    transition: all .4s;
    display: none
}

@media (min-width: 1024px) {
    #wrUserMenu {
        display: inline-block
    }
}

#wrUserMenu:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: -1px;
    left: -40px;
    border: 1px solid #aaa;
    border-right: none;
    background-image: url(../images/edit.png);
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%
}

#minikosik:before, .mfp-container:before, .mfp-figure:after {
    content: ''
}

#wrUserMenu:hover {
    right: 0
}

#wrUserMenu strong {
    margin-bottom: 4px;
    display: block
}

#wrUserMenu ul {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.529
}

#frm-form-name, #snippet-cartMiniControl-cartMini {
    line-height: 1.2;
    font-family: Oswald
}

#wrUserMenu ul li {
    margin: 0;
    padding: 0;
    background: 0 0
}

#wrUserMenu ul li a:focus, #wrUserMenu ul li a:hover {
    color: #cc5730
}

.mode-edit .main-article__meta {
    position: absolute;
    bottom: 240px;
    right: 5px;
    margin: 0;
    padding: 20px 10px 10px;
    background-color: rgba(0, 0, 0, .5);
    width: 450px
}

.mode-edit .main-article__meta br {
    display: none
}

.mode-edit .main-article__meta .labels {
    margin: 10px 0
}

.mode-edit .main-article__meta .colors input, .mode-edit .main-article__meta .labels input {
    position: relative;
    top: 4px
}

.mode-edit .hlavni-obrazek, .mode-edit .schvalovani {
    margin: 0;
    position: absolute;
    left: -45px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5)
}

.mode-edit .schvalovani {
    bottom: 380px
}

.mode-edit .hlavni-obrazek {
    bottom: 318px;
    width: 450px
}

.mode-edit .main-article__inner {
    color: #fff;
    bottom: 202px;
    left: 50px;
    width: 1145px
}

.mode-edit .main-article__inner label {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer
}

.mode-edit .autor-col:before, .mode-edit .banner-big:before, .mode-edit .banner-content:before, .mode-edit .banner-small:before, .mode-edit .main-article__down, .mode-edit .newsletter-col:before, .mode-edit .photogallery-select:before, .mode-edit .podcast:before, .mode-edit .related-2:before, .mode-edit .share-col {
    display: none
}

.mode-edit .main-article__inner label input {
    margin-right: 4px
}

.mode-edit #formText-annotation {
    background-color: rgba(255, 255, 255, .3);
    min-height: 60px;
    padding: 5px;
    text-shadow: 0 0 3px #000;
    margin: -5px
}

.mode-edit #formText-edit {
    background-color: rgba(0, 0, 0, .15);
    min-height: 60px;
    padding: 10px;
    text-shadow: 0 0 3px #fff;
    margin-bottom: 20px
}

.mode-edit .autor-col, .mode-edit .banner-big, .mode-edit .banner-content, .mode-edit .banner-small, .mode-edit .newsletter-col, .mode-edit .photogallery-select, .mode-edit .podcast, .mode-edit .related-2 {
    padding: 10px;
    margin: 0 0 20px;
    background: #294d6f;
    color: #fff;
    border-radius: 3px
}

.mode-edit .autor-col p, .mode-edit .banner-big p, .mode-edit .banner-content p, .mode-edit .banner-small p, .mode-edit .newsletter-col p, .mode-edit .photogallery-select p, .mode-edit .podcast p, .mode-edit .related-2 p {
    margin: 0
}

.mode-edit .autor-col p + p, .mode-edit .banner-big p + p, .mode-edit .banner-content p + p, .mode-edit .banner-small p + p, .mode-edit .newsletter-col p + p, .mode-edit .photogallery-select p + p, .mode-edit .podcast p + p, .mode-edit .related-2 p + p {
    margin: 10px 0 0
}

.mode-edit .autor-col select, .mode-edit .banner-big select, .mode-edit .banner-content select, .mode-edit .banner-small select, .mode-edit .newsletter-col select, .mode-edit .photogallery-select select, .mode-edit .podcast select, .mode-edit .related-2 select {
    height: 31px;
    padding: 5px;
    width: 100%
}

.mode-edit .autor-col label, .mode-edit .banner-big label, .mode-edit .banner-content label, .mode-edit .banner-small label, .mode-edit .newsletter-col label, .mode-edit .photogallery-select label, .mode-edit .podcast label, .mode-edit .related-2 label {
    cursor: pointer
}

.flash.info {
    padding: 15px 30px;
    margin: 0 0 15px;
    background-color: rgba(2, 164, 17, .8);
    border: 1px solid #00a000;
    color: #fff;
    border-radius: 3px
}

#frm-form-name {
    border: none;
    background-color: rgba(255, 255, 255, .3) !important;
    padding: 5px 5px 0;
    margin: -5px -5px 2px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-size: 35px;
    font-size: 2.06 pxrem;
    width: 910px;
    text-transform: none
}

#frm-form-heading {
    width: 100%;
    margin-bottom: 10px
}

#frm-form-labels {
    height: 120px
}

#frm-form-mainImage {
    padding: 5px;
    color: #373737;
    width: 290px
}

.related-edit {
    padding: 10px;
    margin: 20px 0;
    background: #294d6f;
    color: #fff;
    border-radius: 3px
}

.related-edit label[for=frm-form-related] {
    color: #fff;
    padding: 10px 10px 0 0;
    display: inline-block
}

.related-edit #frm-form-related {
    margin-top: 10px;
    height: 450px
}

#frm-form-datePublication, #frm-form-heading, #frm-form-labels, #frm-form-mainImage, #frm-form-name, #frm-form-related {
    background: rgba(255, 255, 255, .85)
}

#frm-form-datePublication, #frm-form-timePublication {
    height: 31px;
    width: 130px;
    padding: 5px;
    margin-top: -6px
}

#frm-form-bannerContent_id, #frm-form-cms_podcast_id {
    width: 100%
}

#frm-form-related2 {
    height: 600px;
    width: 100%
}

#directEditMenu {
    width: 100%;
    padding: 5px;
    color: #fff;
    background-color: #294d6f;
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    border-bottom: 1px solid #cc5730
}

#directEditMenu p {
    margin: 0 10px;
    display: inline-block
}

#directEditMenu input[type=submit] {
    padding: 5px 15px;
    height: auto
}

#directEditMenu a {
    display: inline-block;
    margin-left: 15px;
    color: #fff;
    font-size: 13px;
    font-size: .76 pxrem;
    line-height: 1.529
}

#directEditMenu a:hover {
    color: #fff
}

.articles-list .article .heading {
    position: relative;
    border-bottom: 1px solid #294d6f;
    padding: 5px 10px;
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529;
    background-color: #fff
}

.articles-list .article .heading .ousko {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../images/move.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    cursor: move;
    float: left;
    margin: 5px 10px 5px 0
}

.articles-list .article .heading .upravit {
    display: inline-block;
    font-size: 16px;
    font-size: .94 pxrem;
    line-height: 1.529;
    margin-top: 9px
}

.articles-list .article .heading .label-hp, .articles-list .article .heading .label-public {
    position: absolute;
    top: 17px;
    left: 145px
}

.articles-list .article .heading .label-hp {
    left: 250px
}

.articles-list .article .heading .casy {
    clear: both;
    margin: 0
}

.articles-list .article .heading .casy input {
    float: left;
    margin: 0 5px 0 0;
    width: 110px;
    padding: 5px 8px;
    height: 35px
}

.articles-list .article .heading .casy .public-date, .articles-list .article .heading .casy .public-time {
    border: 1px solid #CAC4A3
}

.articles-list .article .heading .casy .ulozto {
    float: right;
    margin: 0;
    width: auto;
    padding: 5px 35px
}

.articles-list .article.ui-sortable-helper {
    opacity: .9;
    box-shadow: 0 0 0 4px #cc5730
}

.articles-list .article.advert .heading {
    background-color: #294d6f;
    padding: 10px;
    border-radius: 3px 3px 0 0
}

.articles-list .article.advert .heading .label-public {
    color: #fff;
    float: left;
    display: inline-block;
    margin-right: 10px;
    padding-top: 7px;
    position: relative;
    top: auto;
    left: auto
}

.articles-list .article.advert .heading select {
    float: left;
    margin: 0 5px 0 0;
    width: 190px;
    padding: 5px 8px;
    height: 35px
}

.articles-list .article.advert .heading .ulozto {
    float: right;
    margin: 0;
    width: auto;
    padding: 5px 35px;
    height: 35px
}

.main-article .heading {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #294d6f;
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.529;
    padding: 15px
}

.main-article .heading .upravit {
    margin: 3px 30px 0 0;
    display: inline-block;
    float: left
}

.main-article .heading form {
    display: inline-block;
    vertical-align: middle;
    float: left
}

.main-article .heading .label-hp, .main-article .heading .label-public {
    display: inline-block;
    margin: 5px 20px 0 0
}

.main-article .heading .casy {
    float: right;
    margin: 0
}

.main-article .heading input.field, .main-article .heading input.ulozto {
    padding: 0 15px;
    height: 29px
}

.main-article .heading input.field {
    width: 120px;
    padding: 0 10px;
    border: 1px solid #CAC4A3
}

.b-checkout, .b-eshop, .b-eshop-detail, .b-eshop-list {
    background-image: url(../images/eshop-mobil.jpg);
    background-color: #191812;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 0
}

@media (min-width: 768px) {
    .b-checkout, .b-eshop, .b-eshop-detail, .b-eshop-list {
        background-image: url(../images/eshop-tablet.jpg)
    }
}

.b-checkout .header .logo img, .b-eshop .header .logo img, .b-eshop-detail .header .logo img, .b-eshop-list .header .logo img {
    max-width: 146px
}

@media (min-width: 1024px) {
    .b-checkout, .b-eshop, .b-eshop-detail, .b-eshop-list {
        background-image: url(../images/eshop.jpg);
        background-size: auto auto
    }

    .b-checkout .header .logo, .b-eshop .header .logo, .b-eshop-detail .header .logo, .b-eshop-list .header .logo {
        margin: 16px 26px 19px -12px
    }

    .b-checkout .header .logo img, .b-eshop .header .logo img, .b-eshop-detail .header .logo img, .b-eshop-list .header .logo img {
        max-width: 250px
    }

    .b-checkout #content, .b-eshop #content, .b-eshop-detail #content, .b-eshop-list #content {
        min-height: 450px
    }
}

.b-checkout .footer, .b-eshop .footer, .b-eshop-detail .footer, .b-eshop-list .footer {
    background-image: url(../images/footer-eshop.jpg)
}

#snippet-cartMiniControl-cartMini {
    font-size: 18px;
    font-size: 1.06 pxrem;
    font-weight: 400;
    position: absolute;
    top: 34px;
    right: 80px
}

#minikosik table .count, #minikosik table .size {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.2
}

@media (min-width: 768px) {
    #snippet-cartMiniControl-cartMini {
        margin-top: -8px;
        float: right;
        position: relative;
        top: auto;
        right: auto
    }
}

@media (min-width: 1024px) {
    #snippet-cartMiniControl-cartMini {
        margin-top: -28px
    }
}

#snippet-cartMiniControl-cartMini p {
    margin: 0
}

#snippet-cartMiniControl-cartMini p a {
    display: inline-block;
    text-decoration: none;
    padding: 16px 18px 15px 48px;
    background-image: url(../images/basket.png);
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 17px 46%
}

@media (min-width: 1024px) {
    #snippet-cartMiniControl-cartMini p a {
        padding: 19px 23px 22px 50px
    }
}

#snippet-cartMiniControl-cartMini p a:hover {
    background-color: #000;
    color: #cc5730
}

@media (max-width: 768px) {
    #snippet-cartMiniControl-cartMini p a .title {
        display: none
    }
}

#snippet-cartMiniControl-cartMini p a .castka {
    display: inline-block;
    padding-left: 10px;
    color: #f4eecd
}

@media (min-width: 768px) {
    #snippet-cartMiniControl-cartMini p a .castka {
        padding-left: 50px
    }
}

.mini-cart {
    padding-bottom: 15px;
    margin-bottom: -15px
}

.mini-cart:hover #minikosik {
    display: block
}

#minikosik {
    background-color: rgba(0, 0, 0, .9);
    padding: 20px 20px 30px;
    color: #f4eecd;
    position: absolute;
    top: 76px;
    right: 0;
    z-index: 20;
    display: none
}

@media (max-width: 768px) {
    #minikosik {
        display: none !important
    }
}

#minikosik:before {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 40px;
    border-bottom: 10px solid rgba(0, 0, 0, .9);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

#minikosik table {
    margin: 0 0 25px;
    width: 100%
}

#minikosik table td {
    padding: 5px;
    vertical-align: middle
}

#minikosik table .title {
    width: 200px;
    min-width: 200px
}

#minikosik table .size {
    font-size: 1 pxrem;
    padding-left: 30px;
    padding-right: 10px
}

#minikosik table .count {
    font-size: 1 pxrem;
    min-width: 60px
}

#minikosik table .count input {
    background: 0 0;
    border: 1px solid #4c493f;
    color: #f4eecd;
    box-shadow: none;
    padding: 1px 5px;
    height: auto;
    text-align: center;
    width: 28px
}

#minikosik table .cena {
    color: #fff;
    text-align: right;
    padding-left: 15px;
    font-size: 17px;
    font-size: 1 pxrem;
    line-height: 1.2;
    white-space: nowrap
}

#minikosik table .delete {
    padding-left: 15px
}

#minikosik table .delete a {
    display: block;
    text-decoration: none;
    width: 14px;
    height: 13px;
    background-image: url(../images/del.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    text-indent: -999em
}

.b-eshop-list h1 + .anotace, .eshop-list .article.product .article__image .article__image__a::before, .eshop-list .article.product .heading {
    display: none
}

#minikosik table .delete a:hover {
    background-position: -50px 0
}

#minikosik .dokoncit {
    height: auto;
    margin-left: 5px
}

.standard-page {
    color: #f4eecd;
    margin: 40px 0
}

.standard-page h1 {
    color: #fff
}

.b-eshop-list h1 {
    color: #fff;
    margin-bottom: 5px
}

.b-eshop-list .mag-filter .ajax .sort select {
    background: 0 0
}

.eshop-list .article.newsletter {
    margin-bottom: 15px
}

.eshop-list .article.product {
    position: relative
}

.eshop-list .article.product .article__image img {
    position: relative;
    top: auto;
    left: auto;
    border-radius: 3px
}

.eshop-list .article.product .article__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: 0 0
}

.eshop-list .article.product .article__content h2 {
    font-size: 22px;
    font-size: 1.29 pxrem;
    line-height: 1.2;
    margin-bottom: 5px
}

.eshop-list .article.product .article__content h2 a {
    text-decoration: underline
}

.eshop-list .article.product .article__content h2 a:hover {
    text-decoration: none;
    color: #cc5730
}

.eshop-list .article.product .article__content .price {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px;
    font-size: 1.29 pxrem;
    line-height: 1.2;
    font-family: Oswald;
    font-weight: 400
}

.eshop-list .article.product .article__content .stock {
    color: #c0bca4;
    font-size: 17px;
    font-size: 1 pxrem;
    line-height: 1.29;
    text-align: right;
    float: right;
    margin-bottom: 5px
}

.eshop-list .article.product .article__content .stock span {
    display: block;
    font-weight: 700
}

.eshop-list .article.product .article__content .main-article__links {
    float: left
}

.eshop-list .article.product .article__content .main-article__links a {
    height: auto;
    font-size: 16px;
    font-size: .94 pxrem;
    line-height: 1;
    padding: 13px 36px
}

.detailSlider {
    width: 100%;
    position: relative
}

.detailSlider__sipka {
    display: none;
    width: 50px;
    height: 187px;
    background-image: url(../images/left.png);
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
    position: absolute;
    top: 155px;
    left: 0
}

@media (min-width: 768px) {
    .detailSlider {
        margin: 60px 0;
        padding: 0 58px
    }

    .detailSlider__sipka {
        display: block
    }
}

.detailSlider__sipka:hover {
    background-color: #cc5730
}

.eshop-right .form-vyprodano .email input, .eshop-right .pieces input, .eshop-right .size select {
    background-color: transparent;
    border: 1px solid #4a483d;
    line-height: 1.2
}

.detailSlider__sipka--next {
    left: auto;
    right: 0;
    background-image: url(../images/right.png)
}

.eshop-left {
    width: 100%;
    clear: both;
    margin-bottom: 30px;
    color: #fff
}

@media (min-width: 768px) {
    .eshop-left {
        float: left;
        width: 47.3%;
        clear: none;
        margin-bottom: 0
    }
}

.eshop-left .main-image {
    margin-bottom: 5px
}

.eshop-left .main-image img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
    width: 100%
}

.eshop-left .main-image img:hover {
    box-shadow: 0 0 0 2px #cc5730
}

.eshop-left .photogallery .photo {
    width: 32.25%;
    margin: 0 1.5% 1.5% 0
}

.eshop-left .photogallery .photo:before {
    padding-top: 115%
}

.eshop-left .photogallery .photo:nth-child(3n+3) {
    margin-right: 0;
    float: right
}

.eshop-right {
    width: 100%;
    clear: both;
    color: #fff
}

@media (min-width: 768px) {
    .eshop-right {
        float: right;
        width: 48%;
        clear: none
    }
}

.eshop-right h1 {
    color: #f4eecd;
    margin: 0 0 8px
}

.eshop-right .stock {
    color: #f4eecd;
    margin: 0 0 20px;
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.2
}

.eshop-right .stock span {
    font-weight: 700
}

.eshop-right .price {
    margin: 0 0 24px;
    font-size: 35;
    font-size: 2.05882rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: Oswald
}

.eshop-bottom .description h2, .eshop-right .form-vyprodano .email input, .eshop-right .pieces input, .eshop-right .size select {
    font-family: "Roboto Slab", sans-serif
}

@media (min-width: 1024px) {
    .eshop-right .price {
        float: left;
        margin: 0 30px 24px 0
    }
}

.eshop-right .size {
    float: left;
    margin: 0 12px 24px 0
}

.eshop-right .size label {
    color: #f4eecd;
    font-size: 17px;
    font-size: 1 pxrem;
    line-height: 1.2
}

.eshop-right .size select {
    color: #f4eecd;
    height: auto;
    padding: 7px;
    width: 73px;
    font-size: 17px;
    font-size: 1 pxrem;
    box-shadow: none
}

.eshop-right .pieces {
    float: left;
    margin: 0 0 24px
}

.eshop-right .pieces label {
    color: #f4eecd;
    font-size: 17px;
    font-size: 1 pxrem;
    line-height: 1.2
}

.eshop-right .pieces input {
    color: #f4eecd;
    height: auto;
    padding: 10px;
    width: 45px;
    font-size: 17px;
    font-size: 1 pxrem;
    box-shadow: none;
    text-align: center
}

.eshop-right .form-vyprodano .info, .eshop-right p.submit {
    width: 100%;
    clear: both
}

.eshop-right p.submit {
    margin-bottom: 25px
}

@media (min-width: 768px) {
    .eshop-right p.submit {
        margin-bottom: 55px
    }
}

.eshop-right p.submit input[type=submit] {
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.2;
    background-image: url(../images/kosik.png);
    background-repeat: no-repeat;
    background-position: 75% 50%;
    padding: 13px 67px 14px 36px;
    height: 51px
}

.eshop-right .form-vyprodano .email {
    float: left;
    margin-bottom: 0
}

.eshop-right .form-vyprodano .email input {
    color: #f4eecd;
    padding: 10px;
    width: auto;
    box-shadow: none;
    font-size: 14px;
    font-size: .82 pxrem
}

@media (min-width: 768px) {
    .eshop-right .form-vyprodano .email input {
        width: 158px
    }
}

@media (min-width: 1024px) {
    .eshop-right .form-vyprodano .email input {
        width: 250px
    }
}

.eshop-right .form-vyprodano .submit {
    float: left;
    width: auto;
    clear: none
}

.eshop-right .form-vyprodano .submit input[type=submit] {
    border-radius: 0 3px 3px 0;
    background-image: none;
    padding: 13px 15px 14px
}

.eshop-bottom {
    width: 100%;
    clear: both;
    color: #fff
}

@media (min-width: 768px) {
    .eshop-right .form-vyprodano .submit input[type=submit] {
        padding: 13px 30px 14px
    }

    .eshop-bottom {
        float: right;
        width: 48%;
        clear: none
    }
}

.eshop-bottom .description {
    margin: 0 0 30px
}

.eshop-bottom .description h2 {
    color: #fff;
    margin: 0 20px 25px 0
}

.checkout .sekce fieldset h2.legend, .checkout .sekce fieldset legend, .eshop-bottom .relatedArticle p a {
    font-family: Oswald;
    font-weight: 400
}

.eshop-bottom .description p {
    margin: 0
}

.eshop-bottom .relatedArticle {
    margin: 0 0 30px
}

.eshop-bottom .relatedArticle p {
    margin: 0
}

.eshop-bottom .relatedArticle p a {
    font-size: 24px;
    font-size: 1.41 pxrem;
    line-height: 1.4167;
    display: block
}

@media (min-width: 1024px) {
    .checkout {
        margin-bottom: 60px
    }
}

.checkout h1 {
    color: #fff;
    margin-bottom: 30px
}

.checkout input[type=text], .checkout textarea {
    background: 0 0;
    border: 1px solid #4c493f;
    color: #f4eecd;
    box-shadow: none;
    height: auto;
    padding: 6px 10px
}

.checkout input[type=text]:focus, .checkout input[type=text]:hover, .checkout textarea:focus, .checkout textarea:hover {
    border-color: #f4eecd
}

.checkout .sekce {
    margin: 0 0 35px;
    clear: both;
    color: #f4eecd;
    text-align: left
}

@media (min-width: 768px) {
    .checkout .sekce {
        margin-bottom: 0
    }
}

.checkout .sekce > span {
    display: none;
    float: left;
    width: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    font-size: 35;
    font-size: 2.05882rem;
    line-height: 1.2
}

.checkout .sekce > span sup {
    font-size: 15px;
    font-size: .88 pxrem;
    line-height: 1.529;
    top: -1em;
    left: 0
}

.checkout .sekce fieldset {
    margin: 0;
    padding: 40px 0 20px;
    background: 0 0;
    border: 1px solid #4c493f;
    border-width: 0 0 1px;
    position: relative
}

@media (min-width: 768px) {
    .checkout .sekce > span {
        display: block
    }

    .checkout .sekce fieldset {
        border-width: 0 0 1px 1px;
        padding: 40px 0 20px 15px
    }
}

@media (min-width: 1024px) {
    .checkout .sekce > span {
        width: 60px
    }

    .checkout .sekce fieldset {
        padding: 40px 0 20px 30px
    }
}

.checkout .sekce fieldset legend {
    margin: 0;
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.2;
    position: relative;
    top: 20px
}

.checkout .sekce fieldset h2.legend {
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.2;
    color: #f4eecd;
    margin: 45px 0 14px
}

.checkout .sekce.aktivni > span {
    color: #cc5730
}

.checkout .sekce.aktivni fieldset {
    background: 0 0
}

@media (min-width: 768px) {
    .checkout .sekce.aktivni fieldset {
        border-color: #cc5730
    }
}

@media (max-width: 768px) {
    .checkout .kosik {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
}

.checkout .kosik table {
    width: 100%;
    max-width: 100%;
    margin: 0
}

.checkout .kosik tbody tr:hover td, .checkout .kosik tbody tr:hover th {
    background-color: #33301F
}

.checkout .kosik tbody tr.celkem td, .checkout .kosik tbody tr.celkem th {
    border-top: 2px solid #555;
    border-bottom: none
}

.checkout .kosik tbody tr.celkem td.cena, .checkout .kosik tbody tr.celkem th.cena {
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.2
}

@media (min-width: 1024px) {
    .checkout .kosik tbody tr.celkem td.cena, .checkout .kosik tbody tr.celkem th.cena {
        width: 16%
    }
}

.checkout .kosik tbody tr.celkem td.cena strong, .checkout .kosik tbody tr.celkem th.cena strong {
    font-weight: 700;
    position: relative;
    font-size: 25px;
    font-size: 1.47 pxrem;
    line-height: 1.2;
    top: -2px
}

.mfp-bg, .mfp-wrap {
    position: fixed;
    left: 0
}

.checkout .kosik tbody tr.celkem td .upravit, .checkout .kosik tbody tr.celkem th .upravit {
    height: auto
}

.checkout .kosik td, .checkout .kosik th {
    padding: 8px;
    vertical-align: middle;
    border-bottom: 1px solid #555
}

.checkout .kosik td.cena, .checkout .kosik th.cena {
    text-align: right
}

.checkout .kosik td.mnozstvi, .checkout .kosik th.mnozstvi {
    width: 10%;
    white-space: nowrap
}

.checkout .kosik td.mnozstvi input, .checkout .kosik th.mnozstvi input {
    background: 0 0;
    border: 1px solid #4c493f;
    color: #f4eecd;
    box-shadow: none;
    padding: 1px 5px;
    height: auto;
    text-align: center;
    width: 38px
}

.checkout .kosik td.smazat, .checkout .kosik th.smazat {
    width: 3%;
    text-align: right
}

.checkout .kosik td.smazat a, .checkout .kosik th.smazat a {
    display: block;
    text-decoration: none;
    width: 14px;
    height: 13px;
    background-image: url(../images/del.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    text-indent: -999em;
    font-size: 0
}

.checkout .kosik td.smazat a:hover, .checkout .kosik th.smazat a:hover {
    background-position: -50px 0
}

.checkout .kosik td a:hover, .checkout .kosik th a:hover {
    color: #cc5730
}

.checkout .kosik th {
    font-weight: 400
}

.checkout .doruceni ul {
    margin: 0 0 15px;
    padding: 0;
    width: 100%
}

.checkout .doruceni ul li {
    background: 0 0 !important;
    padding: 0 !important;
    margin: 0 0 10px
}

@media (min-width: 768px) {
    .checkout .doruceni ul li {
        margin: 0 25px 10px 0;
        display: inline-block;
        vertical-align: top
    }
}

.checkout .doruceni ul li * {
    vertical-align: middle
}

.checkout .doruceni ul label {
    cursor: pointer
}

.checkout .adresa .dorucovaci {
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .checkout .adresa .dorucovaci {
        float: left;
        width: 48%;
        margin-bottom: 0
    }
}

@media (min-width: 1024px) {
    .checkout .adresa .dorucovaci {
        width: 40%
    }
}

.checkout .adresa p {
    margin-bottom: 20px;
    width: 100%
}

.checkout .adresa p label {
    padding-bottom: 2px;
    display: block
}

@media (min-width: 768px) {
    .checkout .adresa p {
        margin-bottom: 10px
    }

    .checkout .adresa p label {
        display: inline-block;
        float: left;
        width: 37%;
        padding: 5px 0 0
    }
}

.checkout .adresa p input {
    width: 100%
}

@media (min-width: 768px) {
    .checkout .adresa p input {
        float: left;
        clear: none;
        width: 60%
    }

    .checkout .adresa #fakturacniUdaje, .checkout .adresa #zobrazFakturacni {
        float: right;
        width: 48%;
        clear: right
    }
}

.checkout .adresa #fakturacniUdaje .upravit, .checkout .adresa #zobrazFakturacni .upravit {
    display: inline-block;
    height: auto
}

.checkout .adresa #skryjFakturacni {
    float: none;
    clear: both;
    width: 100%
}

.checkout .adresa #fakturacniUdaje .legend {
    margin-top: 50px
}

.checkout .adresa #fakturacniUdaje p {
    width: 100%
}

@media (min-width: 1024px) {
    .checkout .adresa #fakturacniUdaje p {
        width: 75%
    }
}

.checkout .dokonceni fieldset {
    border-bottom: none;
    padding-bottom: 0
}

@media (min-width: 768px) {
    .checkout .adresa #fakturacniUdaje .legend {
        margin-top: -39px
    }

    .checkout .dokonceni fieldset {
        margin-bottom: 40px;
        padding-bottom: 20px
    }
}

.checkout .dokonceni .info {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #33301F
}

@media (min-width: 768px) {
    .checkout .dokonceni .info {
        float: right;
        width: 40%;
        margin: 26px 0 0
    }
}

.checkout .dokonceni .info h2 {
    margin: 0 0 20px;
    color: #f4eecd;
    font-size: 18px;
    font-size: 1.06 pxrem;
    line-height: 1.2
}

.checkout .dokonceni .info p {
    margin: 0
}

.checkout .dokonceni p {
    margin-bottom: 20px
}

.checkout .dokonceni p label {
    display: block;
    padding-bottom: 2px
}

@media (min-width: 768px) {
    .checkout .dokonceni .formular {
        float: left;
        width: 53%
    }
}

.checkout .dokonceni .email, .checkout .dokonceni .tel {
    clear: both;
    float: none;
    width: 100%
}

@media (min-width: 768px) {
    .checkout .dokonceni .email, .checkout .dokonceni .tel {
        float: left;
        clear: left;
        width: 47%
    }
}

.checkout .dokonceni .email input, .checkout .dokonceni .tel input {
    width: 100%
}

@media (min-width: 768px) {
    .checkout .dokonceni .tel {
        float: right;
        clear: right
    }
}

.checkout .dokonceni .text {
    clear: both;
    width: 100%
}

.checkout .dokonceni .text textarea {
    width: 100%;
    min-height: 120px
}

.checkout .dokonceni .podminky {
    font-size: 14px;
    font-size: .82 pxrem;
    line-height: 1.529;
    margin-bottom: 40px
}

.checkout .dokonceni .submit {
    margin-bottom: 0
}

.checkout .dokonceni .submit input {
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.2;
    padding: 20px 50px;
    height: auto
}

.mfp-bg, .mfp-container, .mfp-wrap {
    height: 100%;
    width: 100%
}

#fakturacniUdaje label {
    margin-top: 5px
}

.checkout .red {
    vertical-align: top;
    font-size: 1.3em
}

.checkout .adresa fieldset p span.errinfo, .checkout .dokonceni fieldset p span.errinfo {
    display: block;
    color: red;
    font-size: .9285em;
    clear: both
}

.checkout .adresa fieldset p span.errinfo {
    margin-left: 150px
}

.checkout .adresa fieldset p select {
    width: 130px
}

.checkout .adresa .adresa_login {
    float: left;
    clear: both;
    width: auto;
    margin-top: 1em
}

.checkout .adresa .adresa_login p {
    margin: 0;
    width: auto
}

#zobrazFakturacni label {
    display: none
}

.mfp-bg {
    top: 0;
    z-index: 1042;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80)
}

.mfp-wrap {
    top: 0;
    z-index: 1043;
    outline: 0 !important;
    -webkit-backface-visibility: hidden
}

.mfp-container {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box
}

.mfp-container:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mfp-align-top .mfp-container:before {
    display: none
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.mfp-close, .mfp-preloader {
    text-align: center;
    position: absolute
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    width: 100%;
    cursor: auto
}

.mfp-ajax-cur {
    cursor: progress
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
    cursor: auto
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mfp-loading.mfp-figure {
    display: none
}

.mfp-hide {
    display: none !important
}

.mfp-preloader {
    color: #CCC;
    top: 50%;
    width: auto;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

.mfp-preloader a {
    color: #CCC
}

.mfp-close, .mfp-preloader a:hover {
    color: #FFF
}

.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader {
    display: none
}

button.mfp-arrow, button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    box-shadow: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    right: 0;
    top: 0;
    text-decoration: none;
    opacity: .65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace
}

.mfp-close:focus, .mfp-close:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mfp-close:active {
    top: 1px
}

.mfp-close-btn-in .mfp-close {
    color: #333
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap
}

.mfp-figure, img.mfp-img {
    line-height: 0
}

.mfp-arrow {
    position: absolute;
    opacity: .65;
    filter: alpha(opacity=65);
    margin: -55px 0 0;
    top: 50%;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent
}

.mfp-arrow:active {
    margin-top: -54px
}

.mfp-arrow:focus, .mfp-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mfp-arrow .mfp-a, .mfp-arrow .mfp-b, .mfp-arrow:after, .mfp-arrow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: inset transparent
}

.mfp-arrow .mfp-a, .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px
}

.mfp-arrow .mfp-b, .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7
}

.mfp-arrow-left {
    left: 0
}

.mfp-arrow-left .mfp-a, .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px
}

.mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F
}

.mfp-arrow-right {
    right: 0
}

.mfp-arrow-right .mfp-a, .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px
}

.mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}

.mfp-image-holder .mfp-content, img.mfp-img {
    max-width: 100%
}

.mfp-iframe-holder .mfp-close {
    top: -40px
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    background: #000
}

.mfp-figure:after, img.mfp-img {
    width: auto;
    height: auto;
    display: block
}

img.mfp-img {
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto
}

.mfp-figure:after {
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    background: #444
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.mfp-figure figure {
    margin: 0
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, .6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, .6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}

.mfp-ie7 .mfp-img {
    padding: 0
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px
}

.mfp-ie7 .mfp-container {
    padding: 0
}

.mfp-ie7 .mfp-content {
    padding-top: 44px
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0
}

.mfp-wrap .popup-obal {
    display: block
}

.popup-obal {
    display: none;
    border: 1px solid #4a4a4a;
    background-color: rgba(0, 0, 0, .9);
    padding: 30px;
    max-width: 640px;
    margin: 0 auto;
    position: relative
}

.popup-obal .popup-close {
    display: block;
    text-decoration: none;
    width: 22px;
    height: 22px;
    background-image: url(../images/close.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    text-indent: -999em;
    position: absolute;
    top: 15px;
    right: 15px
}

.popup-obal .popup-close:hover {
    background-position: 100% 0
}

.popup-obal .product-add {
    color: #fff;
    margin: 0 0 10px
}

.popup-obal .product-info, .popup-obal .product-name {
    color: #f4eecd;
    font-family: Oswald
}

@media (min-width: 768px) {
    .popup-obal .product-add {
        font-size: 26px;
        font-size: 1.53 pxrem;
        line-height: 1.2
    }
}

.popup-obal .product-name {
    font-size: 20px;
    font-size: 1.18 pxrem;
    line-height: 1.2;
    margin: 0 0 5px
}

.popup-obal .product-info {
    margin: 0 0 10px;
    font-weight: 300
}

@media (min-width: 768px) {
    .popup-obal .product-name {
        font-size: 26px;
        font-size: 1.53 pxrem;
        line-height: 1.2
    }

    .popup-obal .product-info {
        font-size: 18px;
        font-size: 1.06 pxrem;
        line-height: 1.4
    }
}

@media (min-width: 1024px) {
    .popup-obal {
        padding: 50px 60px 40px
    }

    .popup-obal .popup-close {
        top: 30px;
        right: 30px
    }

    .popup-obal .product-info {
        margin: 0 0 40px
    }
}

.popup-obal .product-info strong {
    font-weight: 700
}

.popup-obal .buttons {
    margin: 0
}

#minikosik .popup-obal .buttons .dokoncit, .b-error-404 #content .popup-obal .buttons a, .eshop-list .article.product .article__content .main-article__links .popup-obal .buttons a, .popup-obal .buttons #minikosik .dokoncit, .popup-obal .buttons .b-error-404 #content a, .popup-obal .buttons .btn, .popup-obal .buttons .eshop-list .article.product .article__content .main-article__links a {
    display: inline-block;
    height: auto;
    margin: 10px 10px 0 0
}

.popup-obal .buttons .btn--popup-inverse {
    color: #cc5730;
    background: 0 0;
    box-shadow: inset 0 0 0 1px #cc5730;
    border: none;
    text-shadow: none
}

.popup-obal .buttons .btn--popup-inverse:focus, .popup-obal .buttons .btn--popup-inverse:hover {
    color: #a34526;
    box-shadow: inset 0 0 0 1px #a34526
}

.header {
  height:40px;
  background-color: e5e5e5;
}