<nav id="eshop-menu">
    {snippet eshopmenu}
        {if $items->count()}
            {block #eshopmenu}
                <ul>
                    {foreach $items as $category}
                        {if $category->countProducts > 0}
                            <li>
                                {*
                                <a href="{$basePath}/eshop/category{$category->url}" title="{$category->name}">{$category->name}</a>
                                *}
                                <a href="{$presenter->link(':Eshop:Category:default', array('url' => $category->url))}" title="{$category->name}">{$category->name}</a>
                                {*if $children = $category->related('eshop_category._parent')*}
                                {if $category->_parent == 0 && $category->countChildren}
                                    {if $activeCategory == $category->id}
                                        {*<a n:href="close $category->url" title="Zabalit kategorii {$category->name}" class="more">-</a>*}
                                        <a href="{$basePath}/eshop?categoryMenu-url={$category->url}&do=categoryMenu-close" title="Rozbalit kategorii {$category->name}" class="more">-</a>
                                        {include #eshopmenu, items => $category->related('eshop_category._parent')}
                                    {else}
                                        <a href="{$basePath}/eshop?categoryMenu-url={$category->url}&do=categoryMenu-open" title="Rozbalit kategorii {$category->name}" class="more">+</a>
                                    {/if}
                                {/if}
                            </li>
                        {/if}
                    {/foreach}
                </ul>
            {/block}
        {/if}
    {/snippet}
</nav>