{snippet cartMini}
    <div class="mini-cart {$cart->isEmpty() ? 'empty'}">
        <p>
            <a href="{$presenter->link(':Eshop:Checkout:')}" class="target-link">
                <i class="fa fa-shopping-cart"></i>
                <span class="title">Košík:</span>
                <span class="castka">{$cart->getPriceWithVat()|wrPrice|noescape} Kč</span>
            </a>
        </p>
        {if !$cart->isEmpty()}
            <div class="target-source" id="minikosik">
                <table>
                    <tbody>

                    {foreach $cart->getProducts() as $productId => $product}
                        <tr>
                            <td class="title">
                                <a href="{$basePath}/produkt{$product->url}" title="{$product->getName()}">
                                    {$product->getName()|truncate:32}
                                </a>
                            </td>
                            {*
                            <td class="size">
                                {$product->getVariantName()}
                            </td>
                            *}
                            <td class="count">
                                <form action="{$presenter->link(':Eshop:Cart:changeqty')}" method="get" class="ajax">
                                    <p>
                                        <input type="hidden" name="productId" value="{$product->getId()}" />
                                        <input type="hidden" name="variantId" value="{$product->getVariantId()}" />
                                        <input type="text" name="qty" id="qty{$product->getId()}_{$product->getVariantId()}" class="only-numbers" size="1" value="{$product->getQty()}" />
                                        <label for="qty{$product->getId()}_{$product->getVariantId()}">{$product->getUnit()}</label>
                                        {*<input type="submit" value="R" />*}
                                    </p>
                                </form>
                            </td>
                            <td class="cena">
                                {$product->getPriceWithVat()|wrPrice|noescape} Kč
                            </td>
                            <td class="delete">
                                <a href="{$presenter->link(':Eshop:Cart:remove', array('productId' => $product->getId(), 'variantId' => $product->getVariantId()))}" title="Odstranit produkt" class="deletefromcart ajax">X</a>
                            </td>
                        </tr>
                    {/foreach}

                    </tbody>
                </table>
                <a class="dokoncit" href="{$presenter->link(':Eshop:Checkout:default')}">Dokončit objednávku</a>
                {*
                <p class="empty">Váš košík je prázdný</p>
                *}
            </div>
        {else}
            {*<span>V košíku máte zboží za: 0 Kč</span>*}
        {/if}
    </div>
{/snippet}