<div class="widget-box transparent">
    <div class="widget-header">
        <h2 class="lighter">
            {$head|noescape}
        </h2>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            {$content|noescape}
        </div>
    </div>
</div>
