<p>
    Počet úkolů: {count($items)}
</p>

{if count($items) > 0}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Akce</th>
                <th>Název</th>
                <th>Založil</th>
                <th>Přiřazeno</th>
                <th>Termín dokončení</th>
                <th>Stav</th>
                <th>Časový odhad</th>
                <th colspan="2">Odpracováno</th>
            </tr>
            </thead>

            {var $sumEstimate = 0}
            {var $sumComplete = 0}
            {foreach $items as $item}
                {var $sumEstimate += $item->time}
                <tr>
                    <td style="width:65px;" class="action-buttons">
                        <a href="{$presenter->link(':Admin:Erp:Issue:edit?id='.$item->id)}" title="Editace">
                            <i class="icon-pencil bigger-130"></i>
                        </a>
                        <a href="{$presenter->link(':Admin:Erp:Task:add?issue='.$item->id)}" title="Přidat výkaz práce" class="green">
                            <i class="icon-plus-sign bigger-130"></i>
                        </a>
                        {*
                        <a href="{$presenter->link('delete?id='.$item->id)}" title="Smazání" class="btn btn-xs btn-danger"
                           data-confirm="Opravdu chcete stránku smazat?">
                            <i class="icon-trash bigger-120"></i>
                        </a>
                        *}
                    </td>

                    <td title="{$item->description|striptags}">
                        {$item->name}
                        {if !is_null($item->rel_project)}
                            <br />
                            {var $project = $item->ref('rel_project')}
                            (<a href="{$presenter->link(':Admin:Erp:Project:edit?id='.$project->id)}" title="{$project->name}" target="_blank">{$project->name}</a>)
                        {/if}
                    </td>

                    <td>
                        {if !is_null($item->rel_reporter)}
                            {var $userReporter = $item->ref('rel_reporter')}
                            {$userReporter->name} {$userReporter->surname}
                        {/if}
                    </td>

                    <td>
                        {if !is_null($item->rel_assigned)}
                            {var $userAssigned = $item->ref('rel_assigned')}
                            {$userAssigned->name} {$userAssigned->surname}
                        {/if}
                    </td>

                    <td>
                        {if substr($item->deadline, 0, 10) == date('Y-m-d')}
                            <span class="label label-warning" title="Pozor, blíží se deadline!">
                                                <i class="icon-warning-sign bigger-120"></i>
                                {$item->deadline|date:'d.m.Y'}
                                            </span>
                        {elseif substr($item->deadline, 0, 10) < date('Y-m-d')}
                            <span class="label label-danger" title="Úkol nebyl splněn do stanoveného deadline!">
                                                <i class="icon-warning-sign bigger-120"></i>
                                {$item->deadline|date:'d.m.Y'}
                                            </span>
                        {else}
                            {$item->deadline|date:'d.m.Y'}
                        {/if}
                    </td>

                    <td>
                        {if !is_null($item->rel_issuestatus)}
                            {var $issueStatusClass = 'default'}
                            {if $item->rel_issuestatus == 100}
                                {var $issueStatusClass = 'success'}
                            {elseif $item->rel_issuestatus > 10}
                                {var $issueStatusClass = 'info'}
                            {/if}
                            {var $issueStatus = $item->ref('rel_issuestatus')}
                            <span class="label label-{$issueStatusClass}">{$issueStatus->name}</span>
                        {/if}
                    </td>

                    <td>
                        {if $item->time == 0}
                            <span class="label label-warning" title="Není nastaven časový odhad!">
                                                <i class="icon-warning-sign bigger-120"></i>
                                                0 h
                                            </span>
                        {else}
                            {$item->time} h
                        {/if}
                    </td>

                    <td>
                        {var $timeSpent   = $issueRepository->getTimeSpent($item->id)}
                        {var $sumComplete += $timeSpent}
                        {$timeSpent|time}
                    </td>

                    <td>
                        {var $timeSpentPercent = 0}
                        {if $item->time > 0}
                            {var $timeSpentPercent = round((($timeSpent/3600)/$item->time)*100)}
                        {/if}

                        <div style="width: 30px; height: 30px; line-height: 30px; font-size: 11px;" class="pull-right easy-pie-chart percentage easyPieChart" data-size="30" data-color="#ECCB71" data-percent="{$timeSpentPercent}">
                            <span class="percent">{$timeSpentPercent}</span>%
                            <canvas width="30" height="30"></canvas><canvas height="30" width="30"></canvas>
                        </div>

                        {*
                        <div class="progress no-margin" data-percent="{$timeSpentPercent}%">
                            <div class="progress-bar progress-bar-" style="width:{$timeSpentPercent}%;"></div>
                        </div>
                        *}
                    </td>
                </tr>
            {/foreach}

            <tr>
                <td class="align-right" colspan="6">Celkem:</td>
                <td>{$sumEstimate} h</td>
                <td>{$sumComplete|time}</td>
                <td>
                    {var $sumTimeSpentPercent = 0}
                    {if $sumEstimate > 0}
                        {var $sumTimeSpentPercent = round((($sumComplete/3600)/$sumEstimate)*100)}
                    {/if}

                    <div style="width: 30px; height: 30px; line-height: 30px; font-size: 11px;" class="pull-right easy-pie-chart percentage easyPieChart" data-size="30" data-color="#ECCB71" data-percent="{$sumTimeSpentPercent}">
                        <span class="percent">{$sumTimeSpentPercent}</span>%
                        <canvas width="30" height="30"></canvas><canvas height="30" width="30"></canvas>
                    </div>

                    {*
                    <div class="progress no-margin" data-percent="{$sumTimeSpentPercent}%">
                        <div class="progress-bar progress-bar-" style="width:{$sumTimeSpentPercent}%;"></div>
                    </div>
                    *}
                </td>
            </tr>

        </table>
    </div>
{/if}