{if count($items) > 0}
    <div class="table-responsive">
        <ul class="item-list">

            {var $sumEstimate = 0}
            {var $sumComplete = 0}
            {foreach $items as $item}
                {var $sumEstimate += $item->time}
                <li class="item-default clearfix">
                    <span class="pull-left">
                        <span>
                            <span title="{$item->description|striptags}">
                                <a href="{$presenter->link(':Admin:Erp:Issue:edit?id='.$item->id)}" title="Editace">{$item->name}</a>
                            </span>

                            <span>(
                                {if substr($item->deadline, 0, 10) == date('Y-m-d')}
                                    <span class="label label-warning" title="Pozor, blíží se deadline!">
                                        <i class="icon-warning-sign bigger-120"></i>
                                        {$item->deadline|date:'d.m.Y'}
                                    </span>
                                {elseif substr($item->deadline, 0, 10) < date('Y-m-d')}
                                    <span class="label label-danger" title="Úkol nebyl splněn do stanoveného deadline!">
                                        <i class="icon-warning-sign bigger-120"></i>
                                        {$item->deadline|date:'d.m.Y'}
                                    </span>
                                {else}
                                    <span title="Deadline pro ukončení úkolu.">{$item->deadline|date:'d.m.Y'}</span>
                                {/if}
                            )</span>

                            <br />

                            {var $project = $item->ref('rel_project')}
                            (<a href="{$presenter->link(':Admin:Erp:Project:edit?id='.$project->id)}" title="{$project->name}" target="_blank">{$project->name}</a>)
                        </span>
                    </span>

                    <span class="pull-right">
                        {var $timeSpent   = $issueRepository->getTimeSpent($item->id)}
                        {var $sumComplete += $timeSpent}

                        <span class="action-buttons">
                            {*
                            <a href="{$presenter->link(':Admin:Erp:Issue:edit?id='.$item->id)}" title="Editace">
                                <i class="icon-pencil bigger-130"></i>
                            </a>
                            *}
                            <a href="{$presenter->link(':Admin:Erp:Task:add?issue='.$item->id)}" title="Přidat výkaz práce" class="green tool-tip">
                                <i class="icon-plus-sign bigger-130"></i>
                            </a>
                            <a href="#" title="Časový odhad: {$item->time} h Odpracováno: {$timeSpent|time}" class="blue tool-tip">
                                <i class="icon-info-sign bigger-130"></i>
                            </a>
                            {*
                            <a href="{$presenter->link('delete?id='.$item->id)}" title="Smazání" class="btn btn-xs btn-danger"
                               data-confirm="Opravdu chcete stránku smazat?">
                                <i class="icon-trash bigger-120"></i>
                            </a>
                            *}
                        </span>

                        <span>
                            {var $timeSpentPercent = 0}
                            {if $item->time > 0}
                                {var $timeSpentPercent = round((($timeSpent/3600)/$item->time)*100)}
                            {/if}

                            <span style="width: 30px; height: 30px; line-height: 30px; font-size: 11px; margin-left: 10px;" class="pull-right easy-pie-chart percentage easyPieChart" data-size="30" data-color="#ECCB71" data-percent="{$timeSpentPercent}">
                                <span class="percent" title="Odpracováno {$timeSpent}">{$timeSpentPercent}</span>%
                                <canvas width="30" height="30"></canvas><canvas height="30" width="30"></canvas>
                            </span>

                            {*
                            <div class="progress no-margin" data-percent="{$timeSpentPercent}%">
                                <div class="progress-bar progress-bar-" style="width:{$timeSpentPercent}%;"></div>
                            </div>
                            *}
                        </span>
                    </span>
                </li>
            {/foreach}

        </ul>
    </div>
{/if}