/* Tiny Carousel */
div.tiny-slider { height: 1%; margin: 30px 0 0; overflow:hidden; position: relative; padding: 0 50px 10px; text-align: center; }
div.tiny-slider .viewport { height: 768px; width: 1024px; overflow: hidden; position: relative; }
div.tiny-slider .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
div.tiny-slider .next {
    right: 0;
    left: auto;
    top: 50%;
}
div.tiny-slider .buttons:hover{
    color: #C01313;
    background: #fff;
}
div.tiny-slider .disable { visibility: hidden; }
div.tiny-slider .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 768px; left: 0; top: 0; }
div.tiny-slider .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 768px; border: 1px solid #dcdcdc; width: 1024px;}
