{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-6">
                    {*control listAddButton 'přidat', 'Přidat nový záznam'*}
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80px;">Akce</th>
                                    <th class="align-center">Produkt</th>
                                    <th class="align-center">Varianta</th>
                                    <th class="align-center">Email</th>
                                    <th class="align-center">Datum vložení</th>
                                </tr>
                            </thead>

                            {if $items->count()}
                                <tbody{* class="sortable" data-config="{json_encode(array('sortableUrl' => $basePath.'/admin/core/sort', 'table' => 'eshop_product'))}"*}>
                                    {foreach $items as $item}
                                        <tr>
                                            <td>
                                                <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                                {*control listActionButtons $item->id*}
                                            </td>
                                            <td>
                                                <a n:href=":Admin:Eshop:Product:edit $item->eshop_product_id" title="Detail produktu: {$item->eshop_product->name}">
                                                    {$item->eshop_product->name}
                                                </a>
                                            </td>
                                            <td>
                                                {if $item->eshop_product_variant_id}
                                                    {$item->eshop_product_variant->name}
                                                {/if}
                                            </td>
                                            <td>
                                                {$item->email}
                                            </td>
                                            <td>
                                                {$item->_insertDate}
                                            </td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}