<?xml version="1.0" encoding="utf-8"?>
<SHOP>
    {foreach $products as $product}
    <SHOPITEM>
        <ITEM_ID>{$product->id}</ITEM_ID>
        <PRODUCTNAME><![CDATA[{$product->name}]]></PRODUCTNAME>
        <PRODUCT><![CDATA[{strlen($product->heading) > 3 ? $product->heading : $product->name}]]></PRODUCT>
        <DESCRIPTION>
            {if $product->annotation}
                <![CDATA[{$product->annotation|striptags}]]>
            {/if}
        </DESCRIPTION>
        <URL>{$wwwRoot}{$presenter->link(':Eshop:Product:default', array('url' => $product->url))}</URL>
        {if $product->hasImage()}
            <IMGURL>{$product->imageOriginalUrl}</IMGURL>
        {/if}
        {*<IMGURL_ALTERNATIVE>http://obchod.cz/mobily/nokia-5800-xpressmusic/obrazek2.jpg</IMGURL_ALTERNATIVE>*}
        {*<VIDEO_URL>http://www.youtube.com/watch?v=KjR759oWF7w</VIDEO_URL>*}
        <PRICE_VAT>{$product->getPricePerItemWithVat()|number:2:',':''}</PRICE_VAT>
        {*
        <HEUREKA_CPC>5,8</HEUREKA_CPC>
        <MANUFACTURER>NOKIA</MANUFACTURER>
        *}
        {*
        <CATEGORYTEXT>Elektronika | Mobilní telefony</CATEGORYTEXT>
        *}
        <EAN>{$product->ean}</EAN>
        {*
        <PRODUCTNO>{$product->ean}</PRODUCTNO>
        <PARAM>
            <PARAM_NAME>Barva</PARAM_NAME>
            <VAL>černá</VAL>
        </PARAM>
        *}
        <DELIVERY_DATE>{$deliveryDate}</DELIVERY_DATE>
        {*
        // TODO - az to nekdo zaplati
        <DELIVERY>
            <DELIVERY_ID>CESKA_POSTA</DELIVERY_ID>
            <DELIVERY_PRICE>120</DELIVERY_PRICE>
            <DELIVERY_PRICE_COD>120</DELIVERY_PRICE_COD>
        </DELIVERY>
        <DELIVERY>
            <DELIVERY_ID>PPL</DELIVERY_ID>
            <DELIVERY_PRICE>90</DELIVERY_PRICE>
            <DELIVERY_PRICE_COD>120</DELIVERY_PRICE_COD>
        </DELIVERY>
        *}
        {*
        <ITEMGROUP_ID>EF789</ITEMGROUP_ID>
        <ACCESSORY>CD456</ACCESSORY>
        <GIFT>Pouzdro zdarma</GIFT>
        *}
    </SHOPITEM>
    {/foreach}
</SHOP>