{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>
        
        <a n:href="add" title="Přidat nový úkol" class="btn btn-sm btn-success">
            <i class="icon-plus"></i>
            nový úkol
        </a>
    </div>
{/block}

{block content}
    {var $sumEstimate = 0}
    {var $sumComplete = 0}
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">

                <div class="tabbable">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#issueMain" data-toggle="tab">
                                <i class="green icon-home bigger-110"></i>
                                Moje úkoly
                            </a>
                        </li>

                        <li class="">
                            <a href="#issueNotAssigned" data-toggle="tab">
                                Nepřiřazené úkoly
                            </a>
                        </li>

                        <li class="">
                            <a href="#issueAll" data-toggle="tab">
                                Všechny úkoly
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="issueMain">

                            <div class="row">
                                <div class="col-sm-6">
                                    <h2 class="no-margin-top header smaller lighter green">Aktuální</h2>
                                    {control list $mainItemsActual, 'listTableLight'}
                                </div>

                                <div class="col-sm-6">
                                    <h2 class="no-margin-top header smaller lighter">Spící</h2>
                                    {control list $mainItemsSleeping, 'listTableLight'}
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="issueNotAssigned">
                            {control list $itemsNotAssigned, 'listTable'}
                        </div>

                        <div class="tab-pane" id="issueAll">
                            {control list $itemsAll, 'listTable'}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{/block}