{block content}
    <p>
        <a n:href="default" title="Zpět na výpis projektů" class="btn btn-sm btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
        <a n:href="default" title="Zpět na výpis projektů" class="btn btn-sm btn-success pull-right">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </p>

    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>Základní informace</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        {form previewProjectForm}
                            <fieldset>
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <th>Název projektu</th>
                                            <td>{$item->name}</td>
                                            <th>Nadřízený projekt</th>
                                            <td>{$item->ref('parent')->name}</td>
                                        </tr>
                                        <tr>
                                            <th>Termín dokončení</th>
                                            <td>{$item->deadline|date:'d.m.Y'}</td>
                                            <th>Firma</th>
                                            <td>{$item->ref('rel_company')->name}</td>
                                        </tr>
                                        <tr>
                                            <th>Časový odhad</th>
                                            <td>{$item->time} h</td>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <th>Stav projektu</th>
                                            <td class="no-padding">{input rel_projectstatus} {input submit}</td>
                                            <td colspan="2"></td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        {/form}
                    </div>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-header">
                    <h4>Popis</h4>
                    <span class="widget-toolbar">
                        <a data-action="collapse" href="#">
                            <i class="icon-chevron-up"></i>
                        </a>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        {$item->description|noescape}
                    </div>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-header">
                    <h4>Analýza</h4>
                    <span class="widget-toolbar">
                        <a data-action="collapse" href="#">
                            <i class="icon-chevron-up"></i>
                        </a>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        {$item->analysis|noescape}
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}