<div class="fb-share">
    <div class="fb-like" data-href="{$pageUrl}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
</div>

<div class="twiter-share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
    <script>!function(d,s,id){ var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){ js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs); } }(document, 'script', 'twitter-wjs');</script>
</div>