{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                {*
                <div class="col-xs-6 align-right">
                    <span>Výběr zobrazení: </span>
                    <a class="btn btn-xs btn-primary" title="Tabulkové zobrazení" href="#">tabulka</a>
                    <a class="btn btn-xs btn-info" title="Stromové zobrazení" n:href="tree">strom</a>
                </div>
                *}
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Akce</th>
                                    <th>Kategorie</th>
                                    <th>Název</th>
                                    <th>Podcast</th>
                                    <th>Zobrazit</th>
                                    <th>Anotace</th>
                                </tr>
                            </thead>

                            <tbody>
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>
                                            {if $item->cms_podcast_category_id > 0}
                                                <a n:href=":Admin:Cms:Podcastcategory:edit $item->cms_podcast_category_id" title="">{$item->cms_podcast_category->name}</a>
                                            {/if}
                                        </td>
                                        <td>{$item->name}</td>
                                        <td>
                                            {if !empty($item->file)}
                                                {$item->file}
                                            {/if}
                                        </td>
                                        <td>
                                            {control listYesNo $item->view}
                                        </td>
                                        <td>
                                            {$item->text|noescape|truncate:50}
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}