<ul class="item-list ui-sortable" id="tasks">
    <li class="item-orange clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Answering customer questions</span>
        </label>

        <div data-percent="42" data-color="#ECCB71" data-size="30" class="pull-right easy-pie-chart percentage easyPieChart" style="width: 30px; height: 30px; line-height: 30px;">
            <span class="percent">42</span>%
            <canvas height="30" width="30"></canvas></div>
    </li>

    <li class="item-red clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Fixing bugs</span>
        </label>

        <div class="pull-right action-buttons">
            <a class="blue" href="#">
                <i class="icon-pencil bigger-130"></i>
            </a>

            <span class="vbar"></span>

            <a class="red" href="#">
                <i class="icon-trash bigger-130"></i>
            </a>

            <span class="vbar"></span>

            <a class="green" href="#">
                <i class="icon-flag bigger-130"></i>
            </a>
        </div>
    </li>

    <li class="item-default clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Adding new features</span>
        </label>

        <div class="inline pull-right position-relative dropdown-hover">
            <button class="btn btn-minier bigger btn-primary">
                <i class="icon-cog icon-only bigger-120"></i>
            </button>

            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close pull-right">
                <li>
                    <a title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Mark&nbsp;as&nbsp;done">
                                                            <span class="green">
                                                                <i class="icon-ok bigger-110"></i>
                                                            </span>
                    </a>
                </li>

                <li>
                    <a title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                                                            <span class="red">
                                                                <i class="icon-trash bigger-110"></i>
                                                            </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="item-blue clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Upgrading scripts used in template</span>
        </label>
    </li>

    <li class="item-grey clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Adding new skins</span>
        </label>
    </li>

    <li class="item-green clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Updating server software up</span>
        </label>
    </li>

    <li class="item-pink clearfix">
        <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"> Cleaning up</span>
        </label>
    </li>
</ul>