{if !empty($items)}
    <ul class="bxslider">
        {foreach $items as $key => $item}
            <li>
                <img src="{$item['image']}" alt="" title="" />
                <div class="caption">{$item['text']|noescape}</div>
            </li>
        {/foreach}
    </ul>
{/if}