{if !empty($items)}
    <ul class="bxslider">
        {foreach $items as $key => $item}
            <li class="slide">
                <img src="{$item['image']|noescape}" alt="{$item['name']}" />
                {if isset($item['annotation'])}
                    <div class="caption">
                        {$item['annotation']|noescape}
                    </div>
                {/if}
            </li>
        {/foreach}
    </ul>
{/if}