{if !empty($items)}
    <ul class="bxslider">
        {foreach $items as $item}
            <li class="slide">
                <p>
                    <a href="{$basePath}/novinky{$item->url}" title="">{$item->name|noescape}</a>
                </p>
            </li>
        {/foreach}
    </ul>
{/if}