{if !empty($items)}
    <ul class="bxslider">
        {foreach $items as $key => $item}
            <li class="slide">
                {$item['text']|noescape|truncate:20}
            </li>
        {/foreach}
    </ul>
{/if}