{block content}
    {control breadCrumb}

    <h1 itemprop="name">{!$page->name}</h1>

    <div class="anotace" itemprop="description">{!$page->text}</div>

    {*control categoryMenu*}

    {* ESHOP - vypis produktu na HP *}
    {foreach $products as $productInAction}
        {if $productInAction->eshop_product_id}
            {control eshopProductBox $productInAction->eshop_product}
        {/if}
    {/foreach}

    <div class="cleaner"></div>

{/block}