<h1>Kontaktní formulář</h1>

<p>
    <span>Vaše jméno a příjmení:</span>
    {$formValues->name}
</p>

<p>
    <span>Váš telefon:</span>
    {$formValues->phone}
</p>

<p>
    <span>Váš e-mail:</span>
    {$formValues->email}
</p>

<p>
    <span>Váš dotaz:</span>
    <br />
    {$formValues->text}
</p>

<p>Odesláno ze stránky: {$pageUrl}</p>