<h1>Registrace uživatele</h1>

<p>
    <span>Vaše jméno:</span>
    {$name}
</p>

<p>
    <span>Vaše příjmení:</span>
    {$surname}
</p>

<p>
    <span>Váš e-mail:</span>
    {$email}
</p>

<p>
    <span>Uživatelské jméno:</span>
    {$username}
</p>

<p>
    <span>Heslo:</span>
    {$password}
</p>

<p>Registrační údaje pečlivě uschovejte pro pozdější použití.</p>