{block content}
    <p>
        {control listAddButton}
    </p>

    {*control filter:quick*}

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>Uživ. jméno</th>
                            <th>Alias</th>
                            <th>Fotografie</th>
                            <th>Aktivní</th>
                            <th>Role</th>
                        </tr>
                    </thead>

                    {foreach $items as $item}
                    <tr>
                        <td>
                            {control listActionButtons $item->id}
                        </td>
                        <td>{$item->name}</td>
                        <td>{$item->surname}</td>
                        <td>{$item->username}</td>
                        <td>{$item->alias}</td>
                        <td class="center">
                            {if $item->photo }
                                <img src="{$basePath}/data/user/pw1/{$item->photo}" alt="{$item->name} {$item->surname}" title="{$item->name} {$item->surname}" />
                            {else}
                                <span class="grey">není k dipozici</span>
                            {/if}
                        </td>
                        <td>
                            {control listYesNo $item->active}
                        </td>
                        <td>
                            <a n:href=":Admin:Core:Userrole:edit $item->core_user_role->id" title="{$item->core_user_role->description}">{$item->core_user_role->name}</a>
                        </td>
                    </tr>
                    {/foreach}

                </table>
            </div>
        </div>
    </div>
{/block}