{block content}

<p class="module-menu">
    {control listAddButton 'přidat barvu', 'Přidat novou barvu záhlaví článku'}
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="80px;">Akce</th>
                        <th>Název</th>
                        <th>Alias</th>
                        <th>Zobrazit</th>
                    </tr>
                </thead>

                {if $items->count()}
                    <tbody class="sortable" data-config="{json_encode(array('sortableUrl' => $basePath.'/admin/core/sort', 'table' => 'cms_article_color'))}">
                        {foreach $items as $item}
                            <tr>
                                <td>
                                    <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                    {control listActionButtons $item->id}
                                </td>
                                <td>{$item->name}</td>
                                <td>{$item->alias}</td>
                                <td>{control listYesNo $item->view}</td>
                            </tr>
                        {/foreach}
                    </tbody>
                {/if}
            </table>
        </div>
    </div>
</div>

{/block}