{block content}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                {control listAddButton}
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-12">
                {*control filter:quick*}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="80px;">Akce</th>
                            <th>Název slideru</th>
                            <th>Počet slidů</th>
                        </tr>
                    </thead>

                    {if $items->count()}
                        {foreach $items as $item}
                            <tr>
                                <td>
                                    {control listActionButtons $item->id}
                                </td>
                                <td>{$item->name}</td>
                                <td>{$item->related('cms_slider_item.cms_slider_id')->count()}</td>
                            </tr>
                        {/foreach}
                    {/if}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}