{block content}

    <div class="row">
        <div class="col-xs-12">

            <p>
                {control backButton}
            </p>

            {control form}

            {if !empty($id)}
                <div class="slider-items">
                    <h2>Položky slideru</h2>

                    <p class="module-menu pull-left">
                        <a href="{$presenter->link(':Admin:Cms:Slideritem:add?cms_slider_id='.$id)}" title="Přidat položku menu" class="btn btn-xs btn-success">
                            <i class="icon-plus"></i>
                            přidat položku slideru
                        </a>
                    </p>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80px;">Akce</th>
                                    <th>Název</th>
                                    <th>Zobrazit</th>
                                    <th>Soubor</th>
                                    <th>Url</th>
                                </tr>
                            </thead>

                            {if isset($items) && $items->count()}
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <a href="{$presenter->link(':Admin:Cms:Slideritem:edit?id='.$item->id)}" title="Editace" class="button">
                                                <i class="fa fa-pencil fa-lg green"></i>
                                            </a>

                                            <a href="{$presenter->link(':Admin:Cms:Slideritem:delete?id='.$item->id)}" title="Smazání" class="red mg-delete"
                                               onclick="if (confirm('Opravdu chcete záznam vymazat?')) { return true; } else { return false; }">
                                                <i class="fa fa-trash-o fa-lg red"></i>
                                            </a>

                                            <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <a class="blue" title="Editace" href="{$presenter->link(':Admin:Cms:Slideritem:edit', $item->id)}">
                                                    <i class="icon-pencil bigger-150"></i>
                                                </a>

                                                <a data-confirm="Opravdu chcete záznam vymazat?" class="red mg-delete" title="Smazání" href="{$presenter->link(':Admin:Cms:Slideritem:delete', $item->id)}">
                                                    <i class="icon-trash bigger-150"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>{$item->name}</td>
                                        <td class="center">{control listYesNo $item->view}</td>
                                        <td class="center">
                                            {if !empty($item->file)}
                                                <img src="{$basePath}/data/slider/tn_{$item->file}" title="{$item->name}" />
                                            {/if}
                                        </td>
                                        <td>{$item->url}</td>
                                    </tr>
                                {/foreach}
                            {/if}
                        </table>
                    </div>
                </div>
            {/if}

        </div>
    </div>

{/block}