/* h1, h2, h3, h4, h5, h6  { font-family: Helvetica,Arial,sans-serif; } */
div#login-box               { width: 500px; margin: 0 auto; text-align: center; background-color: white;
                              padding: 20px; margin-top: 20px; }
div#login-box p.image       { margin-top: 100px; }
div#login-box h1            { margin-bottom: 100px; }
div#login-box fieldset      { width: 300px; margin: 0 auto; }

#footer                     { position: fixed; bottom: 0; width: 100%; padding: 5px;
                              text-align: center; background-color: #f2f2f2; border-top: 1px solid #ccc; }
#footer p                   { margin: 0; color: #585858; }
#footer a                   { color: #585858; }

/**
 * Animace spinneru
 */
#nette-ajax-spinner {
	opacity: 0.5;
	border: 4px solid #b8b8b8; /* Light grey */
	border-top: 4px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}