{block content}
    {control breadCrumb}

    <section id="detailItem" itemscope="" itemtype="http://schema.org/Product">
        <h1 itemprop="name">{$product->name}</h1>

        <article class="eshop-left photos">
            <p class="main-image">
                {if !empty($product->image) && file_exists(DATA_DIR.'/eshop/product/detail/'.$product->image)}
                    <a href="{$basePath}/data/eshop/product/zoom2/{$product->image}" class="a-photo" data-title=""
                       data-lightbox="foto1"><img itemprop="image" src="{$basePath}/data/eshop/product/detail/{$product->image}" alt="{$product->name}" /></a>
                {else}
                    <img itemprop="image" src="{$basePath}/images/products/default.jpg" alt="{$product->name}" />
                {/if}
            </p>

            {if $photogallery}
                <div class="photogallery thickbox2">
                    <div class="photos-wrap">
                        {foreach $photogallery->related('cms_photogalleryitem.cms_photogallery_id') as $item}
                            <div class="photo">
                                <a class="a-photo" data-title="{$item->name}" data-lightbox="foto1" href="{$basePath}/data/photogallery/{$photogallery->alias}/pw4/{$item->file}">
                                    <img itemprop="image" alt="{$item->name}" title="{$item->name}" src="{$basePath}/data/photogallery/{$photogallery->alias}/pw2/{$item->file}">
                                </a>
                            </div>
                        {/foreach}
                    </div>
                </div>
            {/if}
        </article>


        <article class="eshop-right">
            <div class="description" itemprop="description">
                {if !empty($product->text)}
                    {$product->text|noescape}
                {else}
                    <p>{$product->name} koupíte výhodně v našem eshopu HoudekCz.</p>
                    <p>Kód produktu: {$product->sku}</p>
                {/if}
            </div>
            <p class="delivery-from"><i class="fa fa-truck"></i> Doprava již od 79&nbsp;Kč</p>
            {*<p class="delivery-info">Při nákupu nad 1999&nbsp;Kč - doprava zdarma</p>*}
            <div class="price-group">
                <p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <span class="label">Cena: </span>
                    <span class="buy_price" itemprop="price">
                        <strong>{$productDetail->getPriceWithVat()|wrPrice|noescape} <span itemprop="priceCurrency" content="CZK">Kč</span></strong>
                    </span>
                    <span class="del">
                        {$productDetail->getPriceWithoutVat()|wrPrice|noescape} {*<span itemprop="priceCurrency" content="CZK">Kč</span>*} bez DPH
                    </span>
                    <span itemprop="condition" content="new"></span>
                </p>

                <div class="form">
                    {control productAddControl:fromActiveRow $product, 'addProductBtnLeft.latte'}
                </div>

                {if $productDetail->getPriceWithVat() != $productDetail->getPricePerItemWithVat()}
                    <p class="price">
                        <span class="label">Cena za kus: </span>
                        <span>{$productDetail->getPricePerItemWithVat()|wrPrice|noescape} <span itemprop="priceCurrency" content="CZK">Kč</span></span>
                    </p>
                {/if}

                <div class="cleaner"></div>
            </div>
            {*
            {if $product->stock > 0}
                <p class="stock">zbývá ještě <span itemprop="availability" content="http://schema.org/InStock">{$product->stock} ks</span></p>

                <div class="form">
                    {control productAddControl $product->id}
                </div>
            {else}
                <p class="stock empty"><span itemprop="availability" content="http://schema.org/SoldOut">Vyprodáno</span></p>

                <form class="form-vyprodano">
                    <p class="info">Chcete dostat zprávu, <br />až bude zboží opět k dispozici?</p>
                    <p class="email">
                        <input type="text" value="" name="email" placeholder="zadejte@email.cz" />
                    </p>
                    <p class="submit">
                        <input type="submit" value="Mám zájem" name="submit" />
                    </p>
                </form>
            {/if}
            *}

            <div class="cleaner"></div>

            {control inCategories $product}
        </article>


        <article class="eshop-bottom">
            <div class="rating">
              <span id="cpcm_cpc_aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <span id="cpcm_cpc_reviewRating" itemprop="ratingValue">4.9</span> {*doprogramovat náhodné číslo od 2,5 do 5.0*}
                <span id="cpcm_cpc_reviewCount" itemprop="reviewCount">23</span> {*doprogramovat náhodné číslo od 5 do 500*}
              </span>
            </div>
        </article>

    </section>

{/block}