{block content}
    <p>
        {control listAddButton}
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Název</th>
                            <th>Stránka</th>
                            <th>Url</th>
                            <th>Jazyk</th>
                            <th>Zobrazit</th>
                        </tr>
                    </thead>

                    <tbody class="sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'menuitem'))}">
                        {foreach $items as $item}
                        <tr>
                            <td>
                                <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                {control listActionButtons $item->id}
                            </td>
                            <td>{$item->name}</td>
                            <td>
                                <a n:href=":Admin:Cms:Page:edit $item->cms_page['id']" title="Detail stránky {$item->cms_page['name']}">{$item->cms_page['name']}</a>
                            </td>
                            <td>{$item->url}</td>
                            <td>{$item->core_language->name}</td>
                            <td>
                                {control listYesNo $item->view}
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{/block}