{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}{$cmsName}{/block}</title>

    {includeblock 'global/ace-design.latte'}

	{block head}{/block}
    
    <script> document.documentElement.className+=' js' </script>
</head>

<body n:class="isset($bodyClass) ? $bodyClass">
	{if $user->isLoggedIn()}
        <div id="navbar" class="navbar navbar-default">
            {includeblock 'global/mainmenu.latte'}
        </div>
    {/if}

    {if $user->isLoggedIn()}
        <div id="main-container">
            <a id="menu-toggler" class="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            <div id="sidebar" class="sidebar">
                {includeblock 'global/sidebar.latte'}
            </div>

            <div class="main-content">
                {includeblock 'global/headmenu.latte'}
                
                <div class="page-content">
                    {if isset($h1) && !empty($h1)}
                        {block pageHeaderButtons}
                            <div class="page-header">
                                <h1>{$h1}</h1>
                            </div>
                        {/block}
                    {/if}

                  {snippet flashMessages}
                    <div n:foreach="$flashes as $flash" class="alert alert-block alert-{($flash->type) ? $flash->type : 'info'} flash">
                        <button data-dismiss="alert" class="close" type="button">
                            <i class="icon-remove"></i>
                        </button>
                        {$flash->message}
                    </div>
                  {/snippet}

                    {include #content}
                </div>
            </div>
            
            <div id="mg-dialog-confirm" class="hide">
            </div>
        </div>

        <div id="footer">
            {includeblock 'global/footer.latte'}
        </div>
    {else}
        {include #content}
    {/if}

    {block scripts}
        <!-- ACE scripts !-->
        <script src="{$basePath}/design/assets/js/jquery-2.0.3.min.js"></script>
        <script src="{$basePath}/design/assets/js/jquery.easy-pie-chart.min.js"></script>
        <script src='{$basePath}/design/assets/js/jquery.mobile.custom.min.js'></script>
        <script src="{$basePath}/design/assets/js/bootstrap.min.js"></script>
        <script src="{$basePath}/design/assets/js/typeahead-bs2.min.js"></script>
        <script src="{$basePath}/design/assets/js/ace-elements.min.js"></script>
        <script src="{$basePath}/design/assets/js/ace.min.js"></script>

        <script src="{$basePath}/design/assets/js/jquery.design-settings.js"></script>
        <script src="{$basePath}/design/assets/js/jquery-ui-1.10.3.full.min.js"></script>
        <script src="{$basePath}/design/assets/js/date-time/bootstrap-datepicker.min.js"></script>
        <script src="{$basePath}/design/assets/js/date-time/locales/bootstrap-datepicker.cs.js"></script>
        <script src="{$basePath}/design/assets/js/date-time/bootstrap-timepicker.min.js"></script>
        {* ==================================================================== *}

        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/admin/jquery.nette.js"></script>
        <script src="{$basePath}/js/jquery.scrollTo/jquery.scrollTo.min.js"></script>

        {*
        <script src="{$basePath}/js/jquery.custom.js"></script>
        *}

        <script type="text/javascript">var basePath = {$basePath};</script>
        
        <script src="{$basePath}/ckeditor/ckeditor.js"></script>
        
        {* ======================== JS jadra MGazda.cz ======================== *}
        <script src="{$basePath}/js/admin/core/dialog.jquery.js"></script>
        <script src="{$basePath}/js/admin/core/delete.jquery.js"></script>
        <script src="{$basePath}/js/admin/core/ui.tabs.jquery.js"></script>
        <script src="{$basePath}/js/admin/core/sortable.jquery.js"></script>
        <script src="{$basePath}/js/admin/core/wr-framework.jquery.js"></script>

        <script src="{$basePath}/js/admin/erp/costRevenues.jquery.js"></script>
        {* ==================================================================== *}

        {block footerScripts}{/block}
	{/block}
</body>
</html>
