{if (!empty($items))}
    <ul>
        {var $i = 1}
        {foreach $items as $item}
            <li class="m{$i++}{(!empty($item->cms_page_id) && $activeItem == $item->cms_page_id) ? ' active' : ''}">
                {var $itemUrl = $item->url}
                {if (empty($itemUrl) && $item->cms_page_id > 0)}
                    {if $item->absolute}
                        {var $itemUrl = $url.$item->cms_page['url']}
                    {else}
                        {var $itemUrl = $basePath.$item->cms_page['url']}
                    {/if}
                {/if}
                <a title="{$item->title}" href="{$itemUrl}" {$item->aClass ? 'class="'.$item->aClass.'"'|noescape}>
                    <span>{$item->name}</span>
                </a>

                {if $item->dropdownEnable && !empty($item->dropdownContent)}
                    <div class="dropdown hidden">
                        {$item->dropdownContent|noescape}
                    </div>
                {/if}
            </li>
        {/foreach}
    </ul>
{/if}