{block content}
    <div class="page-header">
        <h1>Modul projekty</h1>
    </div>
    <p>
        <a n:href="add" title="Přidat nový projekt" class="btn btn-sm btn-success">
            <i class="icon-ok"></i>
            přidat nový
        </a>
    </p>

    {control filter:quick}

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Název</th>
                            <th>Firma</th>
                            <th>Datum vložení</th>
                            <th>Termín dokončení</th>
                            <th>Stav</th>
                            <th>Časový odhad</th>
                            <th colspan="2">Odpracováno</th>
                        </tr>
                    </thead>

                    {var $sumEstimate = 0}
                    {var $sumTimeSpent = 0}
                    {foreach $items as $item}
                        <tr>
                            <td style="width:145px;">
                                <a n:href="edit $item->id" title="Editace" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                {if $item->rel_projectstatus < 100}
                                    <a n:href=":Admin:Erp:Issue:add?project=$item->id" title="Přidat úkol" class="btn btn-xs btn-success">
                                        <i class="icon-plus-sign bigger-120"></i>
                                    </a>
                                {/if}
                                <a n:href="delete $item->id" title="Smazání" class="btn btn-xs btn-danger"
                                   data-confirm="Opravdu chcete stránku smazat?">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </td>
                            <td title="{$item->description|striptags}">
                                {$item->name}
                            </td>
                            <td>
                                {if $item->rel_company > 0}
                                    <a n:href=":Admin:Erp:Company:edit $item->rel_company" title="">{$item->ref('rel_company')->name}</a>
                                {/if}
                            </td>
                            <td>{$item->insertDate|date:'d.m.Y'}</td>
                            <td>
                                {if substr($item->deadline, 0, 10) == date('Y-m-d')}
                                    <span class="label label-warning" title="Pozor, blíží se deadline!">
                                        <i class="icon-warning-sign bigger-120"></i>
                                        {$item->deadline|date:'d.m.Y'}
                                    </span>
                                {elseif substr($item->deadline, 0, 10) < date('Y-m-d')}
                                    <span class="label label-danger" title="Úkol nebyl splněn do stanoveného deadline!">
                                        <i class="icon-warning-sign bigger-120"></i>
                                        {$item->deadline|date:'d.m.Y'}
                                    </span>
                                {else}
                                    {$item->deadline|date:'d.m.Y'}
                                {/if}
                            </td>
                            <td>
                                {var $projectStatusClass = ' label-grey'}
                                {if $item->rel_projectstatus == 15}
                                    {var $projectStatusClass = ' label-default'}
                                {elseif $item->rel_projectstatus == 100}
                                    {var $projectStatusClass = ' label-success'}
                                {elseif $item->rel_projectstatus > 10}
                                    {var $projectStatusClass = ' label-info'}
                                {/if}
                                {if $item->rel_projectstatus > 0}
                                    <span class="label{$projectStatusClass}">
                                        {$item->ref('rel_projectstatus')->name}
                                    </span>
                                {/if}
                            </td>
                            <td>
                                {if $item->time == 0}
                                    <span class="label label-warning" title="Není nastaven časový odhad!">
                                        <i class="icon-warning-sign bigger-120"></i>
                                        0 h
                                    </span>
                                {else}
                                    {$item->time} h
                                    {var $sumEstimate += $item->time}
                                {/if}
                            </td>
                            <td>
                                {var $timeSpent = $projectRepository->getTimeSpent($item->id)}
                                {var $sumTimeSpent += $timeSpent}
                                {$timeSpent|time}
                            </td>
                            <td style="width:100px;">
                                {var $timeSpentPercent = 0}
                                {if $item->time > 0}
                                    {var $timeSpentPercent = round($timeSpent / 3600 / $item->time * 100)}
                                {/if}
                                <div class="progress no-margin" data-percent="{$timeSpentPercent}%">
                                    <div class="progress-bar progress-bar-" style="width:{$timeSpentPercent}%;"></div>
                                </div>
                            </td>
                        </tr>
                    {/foreach}

                    <tr>
                        <td class="align-right" colspan="6">Celkem:</td>
                        <td>{$sumEstimate} h</td>
                        <td>{$sumTimeSpent|time}</td>
                        <td>
                            {var $sumEstimatePercent = 0}
                            {if $sumEstimate > 0}
                                {var $sumEstimatePercent = round($sumTimeSpent / 3600 / $sumEstimate * 100)}
                            {/if}
                            <div class="progress no-margin" data-percent="{$sumEstimatePercent}%">
                                <div class="progress-bar progress-bar-" style="width:{$sumEstimatePercent}%;"></div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{/block}