{block content}
    <div class="page-header">
        <h1>Upravit projekt</h1>
    </div>

    <p>
        <a n:href="default" title="Zpět na výpis projektů" class="btn btn-sm btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </p>

    <div class="box">
        {control projectForm}
    </div>
{/block}