{block content}
    <p>
        <a n:href="default" title="Zpět na výpis projektů" class="btn btn-xs btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
        <a n:href="default" title="Zpět na výpis projektů" class="btn btn-xs btn-success pull-right">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </p>

    <div class="row">
        <div class="col-sm-12">
        
            <div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
                <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li tabindex="0" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                        <a class="ui-tabs-anchor" href="#tabs-1">Základní informace</a>
                    </li>

                    <li class="ui-state-default ui-corner-top">
                        <a class="ui-tabs-anchor" href="#tabs-2">Rozšířené informace</a>
                    </li>

                    <li class="ui-state-default ui-corner-top">
                        <a class="ui-tabs-anchor" href="#tabs-3">Náklady & výnosy</a>
                    </li>
                    
                    <li class="ui-state-default ui-corner-top">
                        <a class="ui-tabs-anchor" href="#tabs-4">Úkoly</a>
                    </li>
                </ul>
                
                <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-23" id="tabs-1">
                    {includeblock 'view/dashboard.latte'}
                </div>

                <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-24" id="tabs-2">
                    
                </div>

                <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-25" id="tabs-3">
                    {control costRevenuesList $item->id}
                </div>
                
                <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-25" id="tabs-4">
                    {control issueList $issues, 'listTable'}
                </div>
            </div>

        </div>
    </div>
{/block}