<div class="slider-wrapper theme-default">
    {if !empty($items)}
        <div class="nivoSlider">
            {foreach $items as $key => $item}
                <img src="{$item['image']}" alt="" title="#description-{$key}" />
            {/foreach}
        </div>
        {foreach $items as $key => $item}
            <div id="description-{$key}" class="nivo-html-caption">{$item['text']|noescape}</div>
        {/foreach}
    {/if}
</div>