{var $bodyClass = 'reservation calendar'}

{block content}
    <h1>Modul rezervace</h1>
    <p class="add">
        <a n:href="add" title="Přidat novou rezervaci" class="add">přidat novou</a>
        <a n:href="default" title="Přidat novou rezervaci" class="list-table">zobrazit jako tabulku</a>
    </p>
    <div class="box">

        <div class="filter">
            <h2>Filtr</h2>
            {control calendarFilterForm}
        </div>

        <h2>Rezervace {$objectName} rok {$year}</h2>

        {snippet months}
            {if $months}
                {foreach $monthsData as $monthNum => $monthMatrix}
                    <div class="month month-{$monthNum}">
                        <h3>{$months[$monthNum]}</h3>
                        <table>
                            <tr>
                                {for $i=1; $i<=7; $i++}
                                    <th>{$days[$i]}</th>
                                {/for}
                            </tr>
                            {foreach $monthMatrix as $weekNum => $weekArray}
                                <tr>
                                    {foreach $weekArray as $dayInWeek => $dayInMonth}
                                        <td{isset($reserverDays[$monthNum][$dayInMonth]) ? ' class="reserved"'}>
                                            <a n:href="setdate!?object={$object}&date={$dayInMonth}.{$monthNum}.{$year}" class="ajax">{$dayInMonth}</a>
                                        </td>
                                    {/foreach}
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                {/foreach}
                <div style="clear: both;"></div>
            {/if}
        {/snippet}

    </div>
{/block}