{block content}
    <h1>Modul rezervace</h1>

    <p class="add">
        <a n:href="add" title="Přidat novou rezervaci" class="add">přidat novou</a>
        <a n:href="calendar" title="Přidat novou rezervaci" class="calendar">zobrazit jako kalendář</a>
    </p>

    <div class="box">

        <table class="list">
            <tr>
                <th>Akce</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Jméno a příjmení</th>
                <th>Schváleno</th>

                {if $reservationConfig['person']}
                    <th>Poč. osob</th>
                {/if}

                <th>{$reservationConfig['object']['name']}</th>
                <th>Telefon</th>
                <th>E-mail</th>
            </tr>

            {foreach $items as $item}
            <tr>
                <td>
                    <a n:href="edit $item->id" title="" class="edit">upravit</a>
                    <a n:href="delete $item->id" title="" class="delete" data-confirm="Opravdu chcete rezervaci smazat?">smazat</a>
                </td>
                <td>{$item->dateFrom|date:'d.m.Y'}</td>
                <td>{$item->dateTo|date:'d.m.Y'}</td>
                <td>{$item->name}</td>
                <td>{$item->authorized ? 'ano' : 'ne'}</td>

                {if $reservationConfig['person']}
                    <td>{$item->person}</td>
                {/if}

                <td>{$reservationConfig['object']['items'][$item->object]}</td>
                <td>{$item->phone}</td>
                <td>
                    <a href="mailto:{$item->email}" title="Odeslat email uživateli {$item->name}">{$item->email}</a>
                </td>
            </tr>
            {/foreach}

        </table>

    </div>
{/block}