{block content}
    <h1>Upravit rezervaci</h1>

    <p class="back">
        <a n:href="default" title="Zpět na výpis rezervací">zpět</a>
    </p>

    <div class="box">
        {control reservationForm}
    </div>
{/block}