{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            {include 'menu.latte'}

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th>Produktů v eshopu</th>
                                    <td>{$productsCount}</td>
                                </tr>
                                <tr>
                                    <th>Produktů v eshopu schválených</th>
                                    <td>{$productsViewsCount}</td>
                                </tr>
                                <tr>
                                    <th>Kategorií v eshopu</th>
                                    <td>{$categoriesCount}</td>
                                </tr>
                                <tr>
                                    <th>Kategorií v eshopu schválených</th>
                                    <td>{$categoriesViewsCount}</td>
                                </tr>
                                <tr>
                                    <th>Produktů v kategoriích</th>
                                    <td>{$productsInCategoriesCount}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}