<div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-12">
        <a class="btn btn-xs btn-info" title="Rychlý přehled" n:href=":Admin:Eshop:Statistics:">přehled</a>
        <a class="btn btn-xs btn-info" title="Produkty v kategoriích" n:href=":Admin:Eshop:Statistics:productsincategories">produkty v kategoriích</a>
    </div>
</div>