{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            {include 'menu.latte'}

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="align-center">ID produktu</th>
                                    <th class="align-center">Název produktu</th>
                                    <th class="align-center">Zařazeno v kategoriích</th>
                                </tr>
                            </thead>

                            {if $products}
                                <tbody>
                                    {foreach $products as $item}
                                        <tr>
                                            <td class="align-center">
                                                <a n:href=":Admin:Eshop:Product:edit $item->id" title="{$item->name}" target="_blank">{$item->id}</a>
                                            </td>
                                            <td>{$item->name}</td>
                                            <td class="align-center">{$item->count}</td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}