/* =========================================================================================================
* HELPERY - pomocne placeholdery a tridy
========================================================================================================= */

/*
	Placeholdery
	* Image replacement
	* Visuallyhidden
	* Clearfix
	* Absolutne centrovany element
-------------------------------------------------------------------------------- */

/*
Image replacement
-------------------------------------------------------------------------------- */
%ir {
	background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    text-indent: -9999px;
}

/*
Skryje pouze vizualne, ale zustava dostupne pro screenreader 
www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden 
-------------------------------------------------------------------------------- */
%visuallyhidden,
.visuallyhidden,
.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	left: -500%;
}

/*
Clearfix
-------------------------------------------------------------------------------- */
%cf {
	zoom: 1; // pro IE
	&:before, 
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/*
Nasazeni specialniho fontu odstranujici white-space dle:
http://scottkellum.com/2013/10/25/the-new-kellum-method.html
-------------------------------------------------------------------------------- */
%fix-white-space {
	font-family: "iconfnt";
	> * {
		font-family: $font-family;
	}
}

/*
text-overflow
-------------------------------------------------------------------------------- */
%text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*
Absolutne pozicovany element centrovany vertikalne na stred 
- vyzaduje pozicovany rodicovsky element
-------------------------------------------------------------------------------- */
%absVertCentered {
	position: absolute;
	top: 50%;
	width: auto;
	transform: translateY(-50%);
}

/*
Absolutne pozicovany element centrovany horisontalne na stred 
- vyzaduje pozicovany rodicovsky element
-------------------------------------------------------------------------------- */
%absHorCentered {
	position: absolute;
	left: 50%;
	height: auto;
	transform: translateX(-50%);
}

/*
Absolutne pozicovany element centrovany na stred 
- vyzaduje pozicovany rodicovsky element
-------------------------------------------------------------------------------- */
%absCentered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}




/*
	Pomocne tridy - standardni
-------------------------------------------------------------------------------- */




.hideOnMobile {
	@include breakpoint($palm) {
		display: none !important;
	}
}

%hideOnMobile {
	@include breakpoint($palm) {
		display: none !important;
	}
}

.hideOnDesk {
	@include breakpoint($lap-and-up) {
		display: none;
	}
}

%fullWidthRelative {
	display: block;
	width: 100%;
	position: relative;
}

%bgOverlay {
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
    overflow-x: hidden;     
	height: 100%;
	z-index: 100;
}

%inlineBlockCenter {
	display: inline-block;
	vertical-align: middle;
}





.inline-block {
	@include inline-block(20px);
}

/*
	Pomocne tridy - pro breakpointy
-------------------------------------------------------------------------------- */

// Na mobilnim zarizeni nebude obrazek floatovan a zaroven bude zarovnan na stred
.img--left,
.img--right,
.img--center {
	@include breakpoint($palm) {
		display: block;
		float: none;
		margin: 0 auto;
	}
}

// Pro mobilni zarizeni se definice vysky odstrani, obrazek bude mit sirku 100% nadrazeneho elementu
.img--short,
.img--medium,
.img--tall {
	@include breakpoint($palm) {
		height: auto;
	}
}

// Multi column list - pro mobilni zobrazeni maji sloupce 100% sirku coz rusi multi column vzhled
.matrix > li,
.multi-list > li {
	@include breakpoint($palm) {
		width: 100%;
	}
}

// Listovy vypis .block-list -> odstraneni paddingu
.block-list {
	> li {
		@include breakpoint($palm) {
			padding: 0;
		}
	}

	&__link {
		@include breakpoint($palm) {
			margin: 0;
			padding: 0;
		}
	}
}

// Flexbox - odstraneni display: table stylu
.flexbox,
.flexbox__item {
	@include breakpoint($palm) {
		display: block;
	}
}



// Odstraneni pozadi, ramecku ...
%noDesign {
	background: transparent;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	&:before,
	&:after {
		border: 0;
	}
}

%fullBlock {
	display: block;
	width: 100%;
}

// Sirkove tridy
.p25 {
	width: 100%;
	@include breakpoint($lap-and-up) {
		width: 25%;
	}
}

.p50 {
	width: 100%;
	@include breakpoint($lap-and-up) {
		width: 50%;
	}
}

.p75 {
	width: 100%;
	@include breakpoint($lap-and-up) {
		width: 75%;
	}
}

// Link, ktery se na desktopu netvari jako Link
.noLink {
	font-weight: normal;
	@include breakpoint($lap-and-up) {
		text-decoration: none;
		color: $text-color;		
		font-weight: inherit;
		&:hover {
			color: $text-color;
		}
	}
}

/*
Pomery stran obrazku - pro podstranky s prekrytim obrazkem
--------------------------------------------------------------------------------- */
.aspectRatio {
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;

	img,
	[class$="__inner"] {
		position: absolute;
		width: 100%;
	}				
}

// 4:3
.aspectRatio--4-3:after {
	padding-top: 75%;
	display: block;
	content: '';
}

// 16:9
.aspectRatio--16-9:after {
	padding-top: 56.25%;
	display: block;
	content: '';
}

// 1:1
.aspectRatio--1-1:after {
	padding-top: 100%;
	display: block;
	content: '';
}
