/* ================================================================================
*  MIXINY
*  eBRANA WEB
================================================================================ */

/*
* font-size
* Definuje velikost pisma v rem jednotkach
* @include font-size($value, 1.5);
-------------------------------------------------------------------------------- */
@mixin font-size($sizeValue: 1.6, $l-height: $line-height) {
    font-size: ($sizeValue);
    font-size: ($sizeValue / $desk-font-size) + rem;
    line-height: $l-height;
}

/*
* wh
* Definuje defaultne stejnou sirku i vysku. Pripadne rozdilne hodnoty.
* @include wh(150px, 200px)
-------------------------------------------------------------------------------- */
@mixin wh($width, $height: false) {
    width: $width;
    @if ($height) {
        height: $height;
    }
    @else {
        height: $width;
    }
}

/*
* opacity
* Definuje pruhlednost elementu s fallbackem
* @include opacity(0.5);
-------------------------------------------------------------------------------- */
@mixin opacity($value) {
    $IEValue: $value * 100;
    opacity: $value;
    -ms-filter:
    "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

/*
* element-color
* Definuje barvu, pozadi, barvu borderu a border-radius
* @include element-color(#fff, #000, #000, 6px);
-------------------------------------------------------------------------------- */
@mixin element-color ($el-text-color, $el-background, $el-border-color, $el-border-radius) {
  color: $el-text-color;
  background-color: $el-background;
  border-color: $el-border-color;
  @include border-radius($el-border-radius);
}

/*
* button-variant
* Ostyluje element do podoby tlacitka
* @include button-variant(#fff, #000, #000, 4px);
-------------------------------------------------------------------------------- */
@mixin button-variant($btn-text-color, $btn-background, $btn-border-color, $btn-border-radius) {
    color: $btn-text-color;
    background-color: $btn-background;
    border-color: $btn-border-color;
    @include border-radius($btn-border-radius);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $btn-text-color;
      background-color: darken($btn-background, 8%);
      border-color: darken($btn-border-color, 12%);
    }
    &:active,
    &.active {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
              background-color: $btn-background;
              border-color: $btn-border-color;
        }
    }
    &:visited {
        color: $btn-text-color
    }
}


/*
* absolute-content
* Absolutne pozicovany element s pozadim pres jiny element
* @include absolute-content(left, $black-trans, white);
-------------------------------------------------------------------------------- */
@mixin absolute-content($side, $white-trans, $black) {
    position: absolute;
    #{$side}: 0;
    width: 100%;
    > a {
        padding: $half-spacing-unit;
    }
    background-color: $white-trans;
    color: $black;
}

/*
* breakpoint
* Mixina pro vytvareni media queries
* @include breakpoint($lap-and-up) { ... }
-------------------------------------------------------------------------------- */
@mixin breakpoint($value) {
    @if $value == $palm {
        @media (max-width: $custom-lap-start) { @content };
    } 
    @else if $value == $lap-and-up {
        @media (min-width: $custom-lap-start) { @content };
    }
    @else if $value == $desk-and-up {
        @media (min-width: $custom-desk-start) { @content };
    }
    @else if $value == $desk-wide {
        @media (min-width: $custom-desk-wide-start) { @content };
    }
}


/*
* box-shadow
* Definuje stin elementu
* @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5), true )
-------------------------------------------------------------------------------- */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
  -webkit-box-shadow:inset $top $left $blur $color;
     -moz-box-shadow:inset $top $left $blur $color;
          box-shadow:inset $top $left $blur $color;
  } @else {
       -webkit-box-shadow: $top $left $blur $color;
          -moz-box-shadow: $top $left $blur $color;
               box-shadow: $top $left $blur $color;
  }
}

/*
* border-radius
* Definuje zakulaceni elementu
* @include border-radius(5px);
-------------------------------------------------------------------------------- */
@mixin border-radius($radius: 0.5em) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/*
* font-face
* Nahraje @font-face
*  @include fontface('family', 'assets/fonts/', 'myfontname');
-------------------------------------------------------------------------------- */
@mixin font-face($font-family, $font-url, $font-name) {
  @font-face {
    font: {
      family: $font-family;
      style: normal;
      weight: normal;
    }
    src: url($font-url + '/' + $font-name + '.eot');
    src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
         url($font-url + '/' + $font-name + '.woff') format('woff'),
         url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
         url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
  }
}

/*
* abs-pos
* absolutne pozicovany element
* @include abs-pos(10px 20px auto 30px);
-------------------------------------------------------------------------------- */
@mixin abs-pos($coordinates: 0 0 0 0) {
    $top:     nth($coordinates, 1);
    $right:   nth($coordinates, 2);
    $bottom:  nth($coordinates, 3);
    $left:    nth($coordinates, 4);

    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    position: absolute;
}

/*
Arrow helper
-------------------------------------------------------------------------------- */

@mixin arrow-helper($arrowSize, $arrowColor, $margin, $side, $align) {
    @if $side == "top" {
        border-bottom-color: $arrowColor;
        top: -2 * $arrowSize;
    }
    @if $side == "bottom" {
        border-top-color: $arrowColor;
        bottom: -2 * $arrowSize;
    }
    @if $side == "left" {
        border-right-color: $arrowColor;
        left: -2 * $arrowSize;
    }
    @if $side == "right" {
        border-left-color: $arrowColor;
        right: -2 * $arrowSize;
    }
    @if $side == "right" or $side == "left" {
        @if $align == "center" {
            top: 50%;
            margin-top: -$arrowSize;
        }
        @else if $align == "top" {
        top: $margin;
        }
        @else if $align == "bottom" {
        bottom: $margin;
        }
    }
    @if $side == "bottom" or $side == "top" {
        @if $align == "center" {
        right: 50%;
        margin-right: -$arrowSize;
        }
        @else if $align == "left" {
        left: $margin;
        }
        @else if $align == "right" {
        right: $margin;
        }
    }
}
 
@mixin arrow($side: "right", $align: "center", $size: 20px, $color: #f6f6f6, $borderColor: "none", $borderSize: 3px) {
    $selector: "&:after, &:before";
    @if $borderColor == "none" {
        $selector: "&:after";
    }
    #{$selector} {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    visibility: visible;
    }
    &:after {
        border-width: $size;
        @include arrow-helper($size, $color, $size, $side, $align);
    }
    @if $borderColor != "none" {
        &:before {
        border-width: $borderSize + $size;
        @include arrow-helper($size + $borderSize, $borderColor, $size - $borderSize, $side, $align);
        }
    }
}

/*
* inline-block
* Inline-block element pro viewport vetsi nez viewport pro mobilni telefon
* @include inline-block($base-spacing-unit, top);
-------------------------------------------------------------------------------- */
@mixin inline-block($spacing: $half-spacing-unit, $align: middle) {
    display: block;
   margin-bottom: $half-spacing-unit;
    &:last-child {
        margin-bottom: 0;
    }  
    @include breakpoint($lap-and-up) {
        display: inline-block;
        vertical-align: $align;
        margin-right: $spacing;
        margin-bottom: 0;
        &:last-child {
            margin-right: 0;
        }
    }
}

/*
* svg-bg
* SVG pozadi + png fallback pomoci modernizeru
* @include svg-bg()
-------------------------------------------------------------------------------- */
@mixin svg-bg($name, $color: transparent, $position: 0 0, $size: 100px 100px, $repeat: no-repeat) {
    background: {
        image: url(#{$img-path}/#{$name}.svg);
        color: $color;        
        position: $position;
        size: $size;
        repeat: $repeat;
    }
    .no-svg & {
        background-image: url(#{$img-path}/png/#{$name}.png);
    }
}

/*
* cool-effect
* Vytvori animaci na elementu za pomoci transition + transform
* @include cool-effect()
-------------------------------------------------------------------------------- */
@mixin cool-effect($bg: $brand-color, $start-opacity: .7, $end-opacity: .5, $trans: all .95s, $effect: 'standard') {
    &:before {
        @include abs-pos();
        @include wh(100%);
        content: '';
        @include opacity($start-opacity);
        background-color: $bg;
        transition: $trans; 
        z-index: 2;       
        pointer-events: none;
    }
    * { transition: $trans; }
    &:hover {
        @include breakpoint($desk-and-up) {
            @if $effect == 'standard' {
               * {
                    opacity: 1;
                }
                p {
                    opacity: 1 !important;
                }
                h1, h2, h3, h4, h5, h6 {
                    opacity: 0 !important;
                }
                &:before {
                    opacity: $end-opacity;
                }
            }
            @else if $effect == 'imgScale' {
                * {
                    opacity: 1;
                }
                p {
                    opacity: 1 !important;
                }
                h1, h2, h3, h4, h5, h6 {
                    opacity: 0 !important;
                }
                img {
                    transform: scaleX(1.2) scaleY(1.2);
                }
                &:before {
                    opacity: $end-opacity;
                }
            }
        }
    }

}

/*
* aspect-ratio
* Nastavuje elementu pomer stran (1:1, 4:3, 16:9)
* @include aspect-ratio('16:9');
-------------------------------------------------------------------------------- */
@mixin aspect-ratio($ratio: #{'16:9'}) {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    // Obrazek, nebo trida koncici na __inner
    img,
    [class$="__inner"],
    [class$="__image"] {
        position: absolute;
        width: 100%;
    }
    &:after {
        display: block;
        content: '';
    }    
    // Pomer stran 16:9
    @if $ratio == '16:9' {
        &:after {
            padding-top: 56.25%;
        }
    }
    // Pomer stran 4:3
    @else if $ratio == '4:3' {
        &:after {
            padding-top: 75%;        
        }
    }
    // Pomer stran 1:1
    @else if $ratio == '1:1' {
        &:after {
            padding-top: 100%;
        }
    }
}

/*
* bg
* Pozadi na elementu
* @include bg();
-------------------------------------------------------------------------------- */
@mixin bg($image: none, $color: transparent, $repeat: no-repeat, $size: auto, $position: 0 0) {
    background: {
        @if $image != none {
            image: url(#{$img-path}/#{$image});
        }
        @else {
            image: $image;
        }
        color: $color;
        repeat: $repeat;
        size: $size;
        position: $position;
    }
}