{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                <div class="col-xs-6 align-right">
                    <span>Související: </span>
                    <a class="btn btn-xs btn-primary" title="Typy bannerů" n:href=":Admin:Cms:Bannertype:">typy bannerů</a>
                </div>
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Akce</th>
                                    <th>Název</th>
                                    <th>Typ</th>
                                    <th>URL</th>
                                    <th>Náhled</th>
                                </tr>
                            </thead>

                            <tbody>
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>{$item->name}</td>
                                        <td>
                                            {if $item->cms_banner_type_id}
                                                {$item->cms_banner_type->name}
                                            {/if}
                                        </td>
                                        <td>{$item->url|truncate:50}</td>
                                        <td>
                                            {if $item->image}
                                                <img src="{$basePath}/data/banner/preview/{$item->image}" />
                                            {/if}
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}