{block footerScripts}
    <script src="{$basePath}/www/js/checkout.jquery.js"></script>
{/block}

{block content}

    <div class="order cb checkout">
        <h1>Pokladna</h1>
        {*
        <form id="form_checkout" method="post" action="/action.php">
        *}

        {snippet checkout}
            {if defined('DELIVERY_FREE_FROM')}
                <p class="delivery-info">Při hodnotě zboží nad {constant('DELIVERY_FREE_FROM')}&nbsp;Kč získáte dopravu zdarma.
                    {if $priceToDeliveryFree > 0}
                        <a n:href=":Homepage:" title="Zpět k nákupu">Objednejte</a> tedy ještě zboží alespoň za
                        {$priceToDeliveryFree|number:0, ',', ''}&nbsp;Kč a získejte dopravu zdarma.
                    {/if}
                </p>
            {/if}

            {if $cart->isEmpty()}
                <p>Nemáte v košíku žádné produkty. Pokud chcete objednat zboží, <a title="pokračujte v nákupu." href="{$basePath}/eshop">pokračujte v nákupu.</a></p>
            {else}
                {form checkoutForm class => ajax}
                    <div>
                        <input name="group" value="4" type="hidden">
                        <input name="mode" value="all" type="hidden">
                    </div>
                    {*
                    <p class="rozcetnik">
                        <a class="obsah scrollTo" href="#dokonceniKosik" title="Dokončit nákup">Dokončit nákup</a>
                        <a class="back" href="http://www.bandivamos.cz/manazer/saka-pro-manazera" title="Vybrat další zboží"><span>Vybrat další zboží</span></a>
                    </p>
                    *}
                    <div class="cleaner"></div>
                    <div id="dialog-top"></div>
                    <div id="kosikObsah" class="kosik sekce {$numStepActive == 1 ? 'aktivni'}">
                        <span>1<sup>/4</sup></span>
                        <fieldset>
                            <legend>Obsah objednávky</legend>
                            <div class="table-obal">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="nazev"></th>
                                        <th class="mnozstvi">Množství</th>
                                        <th class="cena right">Cena bez DPH</th>
                                        <th class="cena">Cena s DPH</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $form["products"]->components as $productKey => $productContainer}
                                        {var $product = $cart->getProducts()[$productKey]}
                                        <tr class="shop_{$productKey}">
                                            <th class="nazev shop_{$productKey}">
                                                <a n:href=":Eshop:Product: url => $product->url" title="$product->name">
                                                    {$product->getName()}
                                                    {if $product->getVariantId()}
                                                        - {$product->getVariantName()}
                                                    {/if}
                                                </a>
                                            </th>
                                            <td class="mnozstvi shop_{$productKey}">
                                                {*
                                                <label class="hidden" for="id_item_8650">Počet kusů: </label>
                                                <input value="8650" name="items[]" type="hidden">
                                                <input id="id_item_8650" value="1" name="volume[]" size="2" type="text">
                                                *}
                                                {*$product[qty]->label*}
                                                {$productContainer[id]->control}
                                                {$productContainer[variantId]->control}
                                                {$productContainer[qty]->control}
                                                <span class="units">{$product->getUnit()}</span>
                                            </td>
                                            <td class="cena right shop_{$productKey}">
                                                {*437&nbsp;Kč*}
                                                {*$productPriceWithoutVat|number:0:',':' '}&nbsp;Kč*}
                                                {$product->getPriceWithoutVat()|wrPrice|noescape}&nbsp;Kč
                                            </td>
                                            <td class="cena right shop_{$productKey}">
                                                {$product->getPriceWithVat()|wrPrice|noescape}&nbsp;Kč
                                            </td>
                                            <td class="smazat shop_{$productKey}">
                                                <a title="Smazat" n:href="remove! $product->getId(), $product->getVariantId()" class="ajax"><span>Smazat</span></a>
                                            </td>
                                        </tr>
                                    {/foreach}

                                    <tr class="postovne">
                                        <th colspan="2">Poštovné a balné</th>
                                        <td class="cena right">
                                            {$shippingPriceWithoutVat|wrPrice|noescape}&nbsp;Kč
                                        </td>
                                        <td class="cena right">
                                            {$shippingPriceWithVat|wrPrice|noescape}&nbsp;Kč
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr class="celkem">
                                        <th>Celkem k úhradě (včetně DPH)</th>
                                        <td>
                                            {*
                                            <input id="prepocitat" class="upravit" name="mode" value="Přepočítat" type="submit">
                                            *}
                                            {input recalculate}
                                        </td>
                                        <td class="cena right">
                                            {$totalPriceWithoutVat|wrPrice|noescape}&nbsp;Kč
                                        </td>
                                        <td class="cena right">
                                            <strong>{$totalPriceWithVat|wrPrice|noescape}&nbsp;Kč</strong>
                                        </td>
                                        <td class="smazat">
                                            <a title="Odstranit vše" n:href="removeall!" id="odstranitVse" class="ajax"><span>Odstranit vše</span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                    <div class="doruceni sekce {$numStepActive == 2 ? 'aktivni'}">
                        <span>2<sup>/4</sup></span>
                        <fieldset>
                            <legend>Způsob dopravy</legend>
                            <ul class="doruceni">
                                {foreach $form["delivery"]->items as $deliveryId => $deliveryItem}
                                    {var $deliveryChecked = ($form["delivery"]->value == $deliveryId ? 'checked=""' : '')}
                                    <li>
                                        <input id="doprava_{$deliveryId}" class="radio delivery" name="delivery" value="{$deliveryId}" type="radio" {$deliveryChecked|noescape} />
                                        <label for="doprava_{$deliveryId}">{$deliveryItem|noescape}</label>
                                        {if isset($deliveries[$deliveryId]) && !empty($deliveries[$deliveryId]->description)}
                                            <div class="description">{$deliveries[$deliveryId]->description|noescape}</div>
                                        {/if}
                                    </li>
                                {/foreach}
                            </ul>
                            <h2 class="legend">Způsob platby</h2>
                            <ul class="platba">
                                {foreach $form["payment"]->items as $paymentId => $paymentItem}
                                    <li>
                                        {var $paymentChecked = ($form["payment"]->value == $paymentId ? 'checked=""' : '')}
                                        <input id="platba_{$paymentId}" class="radio ajax" name="payment" value="{$paymentId}" type="radio" {$paymentChecked|noescape} />
                                        <label for="platba_{$paymentId}">{$paymentItem|noescape}</label>
                                    </li>
                                {/foreach}
                            </ul>
                        </fieldset>
                    </div>
                    <div class="adresa sekce b2c">
                        <span>3<sup>/4</sup></span>
                        <fieldset>
                            <legend>Doručovací adresa</legend>
                            <div class="dorucovaci">
                            {foreach $form["shippingAddress"]->components as $key => $item}
                                <p class="k{$key}">
                                    {$item->label}
                                    {$item->control}
                                </p>
                            {/foreach}
                            </div>

                            <p id="zobrazFakturacni" {if $showBillingAddress}class="hidden"{/if}>
                                <a href="#fakturacniUdaje" class="btn udaje" title="Vyplnit fakturační údaje">Vyplnit fakturační údaje</a>
                                {input showBillingAddress}
                            </p>
                            <div {if !$showBillingAddress}class="hidden"{/if} id="fakturacniUdaje">
                                <h2 class="legend">Fakturační adresa</h2>

                                {foreach $form["billingAddress"]->components as $key => $item}
                                    <p class="k{$key}">
                                        {$item->label}
                                        {$item->control}
                                    </p>
                                {/foreach}

                                <p id="skryjFakturacni"><a href="#fakturacniUdaje" class="btn upravit" title="Skrýt fakturační údaje">Skrýt fakturační údaje</a></p>
                            </div>

                            {*
                            <div class="adresa_login">
                                <p>
                                    <a class="no-login" href="{$basePath}/muj-ucet" onclick="if (window.pageTracker) { pageTracker._trackPageview('/prihlasit-se.htm'); } return false;" title="Přihlásit se jako stávající zákazník">Přihlásit se jako stávající zákazník</a>
                                    <a class="no-login" href="{$basePath}/muj-ucet">Přihlásit se jako stávající zákazník</a>
                                </p>
                            </div>
                            *}
                        </fieldset>
                    </div>
                    {*
                    <div class="platba sekce  {$numStepActive == 4 ? 'aktivni'}">
                        <span>4<sup>/5</sup></span>
                        <fieldset>
                            <legend>Způsob platby</legend>
                            <ul>
                                {foreach $form["payment"]->items as $paymentId => $paymentItem}
                                    <li>
                                        {var $paymentChecked = ($form["payment"]->value == $paymentId ? 'checked=""' : '')}
                                        <input id="platba_{$paymentId}" class="radio ajax" name="payment" value="{$paymentId}" type="radio" {$paymentChecked|noescape} />
                                        <label for="platba_{$paymentId}">{$paymentItem|noescape}</label>
                                    </li>
                                {/foreach}
                            </ul>
                            <p id="displayVoucher">
                                <a href="#voucher" title="Mám slevový či dárkový kupón a chci jej použít">Mám slevový či dárkový kupón</a> a chci jej použít.
                            </p>

                            <p id="voucherForm" class="hidden">
                                {label voucher}{/label}
                                {input voucher}
                                input voucherSubmit
                            </p>

                            <input name="payment_check" value="1" type="hidden">
                        </fieldset>
                    </div>
                    *}

                    <div class="dokonceni sekce" id="dokonceniKosik">
                        <span>4<sup>/4</sup></span>
                        <fieldset>
                            <legend>Dokončení objednávky</legend>
                            <div class="info">
                                <div class="info_before"></div>
                                <h2>Doplňující informace</h2>
                                <p>E-mailový a telefonický kontakt využijeme k&nbsp;tomu, abychom Vás mohli informovat o&nbsp;stavu vyřizování odeslané objednávky a&nbsp;aby Vás mohl dopravce kontaktovat v&nbsp;případě doručení zásilky.</p>
                            </div>
                            <div class="formular">
                                <p class="email">
                                    {label email}{/label}
                                    {input email}
                                </p>
                                <p class="tel">
                                    {label phone}{/label}
                                    {input phone}
                                </p>
                                <p class="text">
                                    {label text}{/label}
                                    {input text}
                                </p>
                                <p class="celkem">
                                    Celkem k úhradě (včetně DPH): <strong>{$totalPrice|wrPrice|noescape}&nbsp;Kč</strong>.
                                </p>
                                {*
                                <p class="newsletter">
                                    <input id="newsletter" class="checkbox" name="newsletter" value="1" type="checkbox">
                                            <span class="text">
                                                <label for="newsletter">Přeji si zasílat reklamní informace</label>
                                            </span>
                                </p>
                                *}
                                <p class="podminky">
                                    Kliknutím na tlačítko Odeslat objednávku souhlasím s obchodními podmínkami e-shopu.
                                    <span class="text">
                                        <a class="new_window" href="{$basePath}/obchodni-podminky">Zobrazit obchodní podmínky</a>.
                                    </span>
                                </p>
                                <p class="submit">
                                    {input submit}
                                </p>
                            </div>
                        </fieldset>
                    </div>
                {/form}
            {/if}
        {/snippet}
    </div>

{/block}