<table style="COLOR:#000000">
    <tbody>
    <tr>
        <td>
            <h2>Děkujeme za objednávku</h2>
            <strong>Objednávka číslo: {$orderId}</strong>
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <div style="FONT-SIZE:12px">
                    Datum vystavení: {date('d.m.Y')}<br />
                    {*Splatnost: 5 dní<br />*}
                    Forma úhrady: {$deliveryName}<br />
                    Variabilní symbol: {$orderId}<br />
                    Bankovní účet dodavatele: xxxxxxxxx/xxxx<br />
                    Celkem k úhradě s DPH: <strong>{$totalPrice}&nbsp;Kč</strong>
                </div>
            </div>
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <table style="COLOR:#000000" width="100%">
                    <tbody>
                        <tr>
                            <td style="WIDTH:50%;VERTICAL-ALIGN:top">
                                <h3 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Odběratel:</h3>
                                <div style="FONT-SIZE:12px">
                                    {$shippingAddress->name}<br />
                                    {$shippingAddress->street}<br />
                                    {$shippingAddress->zip} {$shippingAddress->city}<br />
                                    Česká Republika<br />
                                    <br /><br />
                                    Telefon: {$phone}<br />
                                    Email: <a href="mailto:{$email}" target="_blank">{$email}</a><br />
                                    IČO: <br />
                                    DIČ:
                                </div>
                            </td>
                            <td style="WIDTH:50%;VERTICAL-ALIGN:top">
                                <h3 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Dodavatel:</h3>
                                <div style="FONT-SIZE:12px">
                                    Houdek cz, s.r.o.<br />
                                    Pod Budínem 1221<br />
                                    Rychnov nad Kněžnou, 516 01<br />
                                    Česká Republika<br /><br />
                                    Email: <a href="mailto:info@houdekcz.cz" target="_blank">info@houdekcz.cz</a><br />
                                    <a href="http://www.houdekcz.cz" target="_blank">www.houdekcz.cz</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <h3 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Dodací adresa</h3>
                <div style="FONT-SIZE:12px">
                    {if !$showBillingAddress}
                        Dodací adresa je stejná jako fakturační:<br />
                        {$shippingAddress->name}<br />
                        {$shippingAddress->street}<br />
                        {$shippingAddress->zip} {$shippingAddress->city}<br />
                        Česká Republika<br />
                        <br /><br />
                        Telefon: {$phone}<br />
                        Email: <a href="mailto:{$email}" target="_blank">{$email}</a><br />
                        IČO: <br />
                        DIČ:
                    {else}
                        {$billingAddress->company}<br />
                        {$billingAddress->person}<br />
                        {$billingAddress->street}<br />
                        {$billingAddress->zip} {$shippingAddress->city}<br />
                        Česká Republika<br />
                        <br /><br />
                        Telefon: {$phone}<br />
                        Email: <a href="mailto:{$email}" target="_blank">{$email}</a><br />
                        IČO: {$billingAddress->ico}<br />
                        DIČ: {$billingAddress->dic}
                    {/if}
                </div>
            </div>
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <h3 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Objednané zboží</h3>
                <div style="FONT-SIZE:12px">
                    <table style="COLOR:#000000" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <th style="PADDING-BOTTOM:10px;PADDING-LEFT:0px;PADDING-RIGHT:0px;PADDING-TOP:10px" width="200">Název</th>
                            <th width="150">SKU</th>
                            <th width="50">Množství</th>
                            <th width="100">Cena za jedn.</th>
                            <th width="80">bez DPH</th>
                            <th width="80">DPH 15%</th>
                            <th width="80">s DPH</th>
                        </tr>
                        {foreach $products as $productId => $product}
                            <tr>
                                <td style="PADDING-RIGHT:10px" valign="top">{$product->getProduct()->name}</td>
                                <td valign="top">{$product->getProduct()->getId()}</td>
                                <td valign="top" align="center">{$product->getQty()}</td>
                                <td valign="top" align="right"><strong>{$product->getProduct()->getPriceWithoutVat()|number:0:',':' '}&nbsp;Kč</strong></td>
                                <td valign="top" align="right"><strong>{$product->getPriceWithoutVat()|number:0:',':' '}&nbsp;Kč</strong></td>
                                <td valign="top" align="right"><strong>{$product->getPriceVat()|number:0:',':' '}&nbsp;Kč</strong></td>
                                <td valign="top" align="right"><strong>{$product->getPriceWithVat()|number:0:',':' '}&nbsp;Kč</strong></td>
                            </tr>
                        {/foreach}
                        <tr>
                            <td colspan="7">
                                <br />
                                <h3 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Ostatní</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>Doprava: {$deliveryName}</td>
                            <td>&nbsp;</td>
                            <td align="center">1</td>
                            <td align="right"><strong>{$deliveryPrice} Kč</strong></td>
                            <td align="right"><strong>0 Kč</strong></td>
                            <td align="right"><strong>0 Kč</strong></td>
                            <td align="right"><strong>{$deliveryPrice} Kč</strong></td></tr>
                        <tr>
                            <td>Platba: {$paymentName}</td>
                            <td>&nbsp;</td>
                            <td align="center">1</td>
                            <td align="right"><strong>{$paymentPrice} Kč</strong></td>
                            <td align="right"><strong>0 Kč</strong></td>
                            <td align="right"><strong>0 Kč</strong></td>
                            <td align="right"><strong>{$paymentPrice} Kč</strong></td>
                        </tr>
                        <tr>
                            <td>Celkem:</td>
                            <td>&nbsp;</td>
                            <td align="center">{$product->getQty() + 2}</td>
                            <td align="right"></td>
                            <td align="right"></td>
                            <td align="right"></td>
                            <td align="right"><strong>{$totalPrice} Kč</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <h3 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Vzkaz od Vás</h3>
                <div style="FONT-SIZE:12px">
                    {if empty($text)}
                        <em>Poznámka nevyplněna</em>
                    {else}
                        {$text}
                    {/if}
                </div>
            </div>
            {*
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <div style="FONT-SIZE:12px">
                    Celkem položek: 3<br>
                    <h4 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Celkem bez DPH: 475 Kč</h4>
                    <h4 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Celkem DPH: 57 Kč</h4>
                    <h4 style="LINE-HEIGHT:1.1;MARGIN:0px 0px 5px">Celkem s DPH: 532 Kč</h4>
                </div>
            </div>
            *}
            <div style="BORDER-BOTTOM:#ccc 1px solid;BORDER-LEFT:#ccc 1px solid;PADDING-BOTTOM:10px;MARGIN-TOP:15px;PADDING-LEFT:10px;PADDING-RIGHT:10px;BORDER-TOP:#ccc 1px solid;BORDER-RIGHT:#ccc 1px solid;PADDING-TOP:10px">
                <div style="FONT-SIZE:12px">Pozn. objednávka neslouží jako daňový doklad. Řádný daňový doklad bude doručen se zbožím.</div>
            </div>
        </td>
    </tr>
    </tbody>
</table>