{block content}

    <div class="standard-page cb">
        {*
        {if $page && $page->showHeading && !empty($page->heading)}
            <h1>{$page->heading}</h1>
        {/if}

        {if $page}
            {$page->text|noescape}
        {/if}
        *}

        {if !empty($products)}
            <h1>Děkujeme za odeslání objednávky</h1>

            {* Měřicí kód Sklik.cz *}
            <iframe width="119" height="22" frameborder="0" scrolling="no" src="http://c.imedia.cz/checkConversion?c=100011960&color=ffffff&v={$totalPrice}"></iframe>

            <!-- Google Code for objednavka Conversion Page -->
            <script type="text/javascript">
                var google_conversion_id = 953004819;
                var google_conversion_language = "en";
                var google_conversion_format = "3";
                var google_conversion_color = "ffffff";
                var google_conversion_label = "9Z7RCJCAn1wQk-a2xgM";
                var google_conversion_value = {$totalPrice};
                var google_conversion_currency = "CZK";
                var google_remarketing_only = false;
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/953004819/?value={$totalPrice}&amp;currency_code=CZK&amp;label=9Z7RCJCAn1wQk-a2xgM&amp;guid=ON&amp;script=0"/>
                </div>
            </noscript>

            <!-- GA-Ecommerce -->
            <script type='text/javascript'>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-63702513-1']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_addTrans',
                  {$orderId},      // transaction ID - required
                  'Gelmodel',      // affiliation or store name
                  {$totalPrice}    // total - required
                ]);

                 // add item might be called for every item in the shopping cart
                 // where your ecommerce engine loops through each item in the cart and
                 // prints out _addItem for each

                _gaq.push(['_addItem',
                  {$orderId},           // transaction ID - required
                  {$orderId} + '-d',    // SKU/code - required
                  {$delivery['name']},  // product name
                  {$delivery['price']}, // unit price - required
                  '1'                   // quantity - required
                ]);

                _gaq.push(['_addItem',
                  {$orderId},             // transaction ID - required
                  {$orderId} + '-p',      // SKU/code - required
                  {$payment['name']},     // product name
                  {$payment['price']},    // unit price - required
                  '1'                     // quantity - required
                ]);

                {foreach $products as $product}
                    _gaq.push(['_addItem',
                      {$product->getProduct()->name},       // transaction ID - required
                      'gelmodel',                           // SKU/code - required
                      {$product->getProduct()->name},       // product name
                      {$product->getPriceWithVat()},        // unit price - required
                      {$product->getQty()}                  // quantity - required
                    ]);
                {/foreach}

                _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

                (function() {
                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>

            <script type="text/javascript">
                var _hrq = _hrq || [];
                _hrq.push(['setKey', '028FD762F9A658280E45F665180F5077']);
                _hrq.push(['setOrderId', {$orderId}]);

                {foreach $products as $product}
                    _hrq.push(['addProduct', {$product->getProduct()->name}, {$product->getPriceWithVat()}, {$product->getQty()}]);
                {/foreach}

                _hrq.push(['addProduct', {$delivery['name']}, {$delivery['price']}, 1]);
                _hrq.push(['addProduct', {$payment['name']},  {$payment['price']}, 1]);

                _hrq.push(['trackOrder']);

                (function() {
                    var ho = document.createElement('script'); ho.type = 'text/javascript'; ho.async = true;
                    ho.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.heureka.cz/direct/js/ext/1-roi-async.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ho, s);
                })();
            </script>
        {else}
            <p>Detaily o objednávce již nejsou k dispozici.</p>
            <p>Chcete <a href="{$basePath}/" title="Pokračovat v nákupu">pokračovat v nákupu</a>?</p>
        {/if}

    </div>

{/block}