<!-- basic styles -->

<link href="{$basePath}/design/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{$basePath}/design/assets/css/font-awesome.min.css" />

<!--[if IE 7]>
<link rel="stylesheet" href="{$basePath}/design/assets/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<link rel="stylesheet" href="{$basePath}/design/assets/css/datepicker.css" />
<link rel="stylesheet" href="{$basePath}/design/assets/css/bootstrap-timepicker.css" />

<!-- fonts -->

<link rel="stylesheet" href="{$basePath}/design/assets/css/ace-fonts.css" />

<!-- ace styles -->

<link rel="stylesheet" href="{$basePath}/design/assets/css/ace.min.css" />
<link rel="stylesheet" href="{$basePath}/design/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="{$basePath}/design/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="{$basePath}/design/assets/css/jquery-ui-1.10.3.full.min.css" />

<!--[if lte IE 8]>
<link rel="stylesheet" href="{$basePath}/design/assets/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="{$basePath}/design/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="{$basePath}/design/assets/js/html5shiv.js"></script>
<script src="{$basePath}/design/assets/js/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="{$basePath}/design/mgazda-backend/css/global.css" />
