{if isset($headmenu) && $headmenu->count() > 0}
    <div id="breadcrumbs" class="breadcrumbs">
        <ul class="breadcrumb">
        
        {foreach $headmenu as $item}
            <li>
                <a n:href="$item['url']" title="{$item['name']}">{$item['name']}</a>
            </li>
        {/foreach}
        
        </ul>
    </div>
{/if}