<script type="text/javascript">
    try { ace.settings.check('navbar' , 'fixed') } catch(e) { }
</script>

<div class="navbar-header pull-left">
    <a class="navbar-brand" n:href=":Admin:Core:Homepage:">
        <small>
            {*<img src="{$basePath}/www/design/maydaysped-backend/images/logo-icon.png" title="{$cmsName}" />*}
            {$cmsName}
        </small>
    </a>
</div>

<div role="navigation" class="navbar-header pull-left">
    <ul class="nav ace-nav">
        <li class="light-blue">
            <a n:href=":Homepage:" target="_blank">
                <i class="icon-home"></i>
                Home stránek
            </a>
        </li>
    </ul>
    <!-- /.ace-nav -->
</div>

<div role="navigation" class="navbar-header pull-right">
    <ul class="nav ace-nav">
        <li class="blue">

            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                {*
                <img class="nav-user-photo" src="{$basePath}/data/user/x36/{$user->getIdentity()->photo}" alt="{$user->getIdentity()->name} {$user->getIdentity()->surname}" />
                *}
                <span class="user-info">
                    <small>{$user->getIdentity()->name}</small>
                    {$user->getIdentity()->surname}
                <i class="icon-caret-down"></i>
            </a>

            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                {if $user->isInRole('administrator') || $user->isInRole('supervisor')}
                    <li>
                        <a n:href=":Admin:Core:Settings:" title="Nastavení systému">
                            <i class="icon-cog"></i>
                            Nastavení
                        </a>
                    </li>
                {/if}

                <li>
                    <a n:href=":Admin:Core:User:edit $user->getId()">
                        <i class="icon-user"></i>
                        Profil uživatele
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a n:href=":Admin:Core:Sign:out">
                        <i class="icon-off"></i>
                        Odhlásit se
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.ace-nav -->
</div>