<script type="text/javascript">
    try { ace.settings.check('sidebar' , 'fixed') } catch(e) { }
</script>

{if isset($sidebar) && !empty($sidebar)}
    <ul class="nav nav-list">
        {foreach $sidebar as $alias => $item}
            {if isset($item['items']) && !empty($item['items'])}
                {if !isset($item['resource']) || ($cmsPermission->isAllowed($user->getRoles()[0], $item['resource'], 'list'))}
                    <li>
                        {* vypis meníčka s podpoložkana (menu 1. a 2. úrovně) *}
                        <a href="#" class="dropdown-toggle">
                            <i class="{$item['icon']}"></i>
                            <span class="menu-text">{$item['name']}</span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            {foreach $item['items'] as $alias2 => $subItem}
                                <li{$presenter->getPureName() == $alias2 ? ' class="active"'|noescape}>
                                    <a n:href="$subItem['url']">
                                        <i class="{$subItem['icon']}"></i>
                                        <span class="menu-text">{$subItem['name']}</span>
                                    </a>
                                </li>
                            {/foreach}
                        </ul>
                    </li>
                {/if}
            {else}
                {* vypis jednoduchého meníčka (menu 1. úrovně) *}
                {if !isset($item['resource']) || ($cmsPermission->isAllowed($user->getRoles()[0], $item['resource'], 'list'))}
                    <li n:class="$presenter->isLinkCurrent($item['activeFilter']) ? active">
                        <a n:href="$item['url']">
                            <i class="{$item['icon']}"></i>
                            <span class="menu-text">{$item['name']}</span>
                        </a>
                    </li>
                {/if}
            {/if}
        {/foreach}
    </ul>
    <div id="sidebar-collapse" class="sidebar-collapse">
        <i data-icon2="icon-double-angle-right" data-icon1="icon-double-angle-left" class="icon-double-angle-left"></i>
    </div>
{/if}
