{if $photogallery}
    <div class="photogallery thickbox2">
        {*
        <h2>{$page->cms_photogallery->name}</h2>
        *}

        {var $photos = $photogallery->related('cms_photogalleryitem')}

        {if $photos->count()}
            <div class="photos">
                {foreach $photos as $photo}
                    {if !$photo->delete && $photo->view}
                        <div class="photo">
                            <a href="{$basePath}/data/photogallery/{$photogallery->alias}/pw4/{$photo->file}"
                               data-lightbox="{$photogallery->alias}"
                               data-title="{$photo->name}{$photo->description ? " - ".$photo->description}">
                                <img src="{$basePath}/data/photogallery/{$photogallery->alias}/pw2/{$photo->file}" title="{$photo->name}" alt="{$photo->name}" />
                                {if !empty($photo->name)}
                                    <h3>{$photo->name}</h3>
                                {/if}
                            </a>
                        </div>
                    {/if}
                {/foreach}
            </div>
        {/if}

    </div>
{/if}
