<span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
    <a href="{$presenter->link('edit?id='.$pk)}" title="Editace" class="blue">
        <i class="icon-pencil bigger-150"></i>
    </a>
    
    {if ($user->isInRole('supervisor') || $user->isInRole('administrator'))}
        <a href="{$presenter->link('delete?id='.$pk)}" title="Smazání" class="red mg-delete"
           data-confirm="Opravdu chcete záznam vymazat?">
            <i class="icon-trash bigger-150"></i>
        </a>
    {/if}
    {*
    <a href="{$presenter->link('dialog?id='.$pk)}" title="Test dialog" class="red mg-ajax"
        data-title="Přesunout do koše?" 
        data-content="Opravdu chcete pložku přesunout do koše?">
        <i class="icon-trash bigger-150"></i>
        Dialog
    </a>
    *}
</span>