<div class="paginator align-center">
    <ul class="pagination">
        <li n:class="$prevUrl == '#' ? disabled">
            <a href="{$prevUrl}">
                <i class="icon-double-angle-left"></i>
            </a>
        </li>

        {foreach $items as $pageNum => $pageUrl}
            <li n:class="$pageNum == $page ? active">
                <a href="{$pageUrl}">{$pageNum}</a>
            </li>
        {/foreach}

        <li>
            <a href="{$nextUrl}" n:class="$nextUrl == '#' ? disabled">
                <i class="icon-double-angle-right"></i>
            </a>
        </li>
    </ul>
</div>