<a href="{$presenter->link('sort!', $linkParameters)}" title="Sort by {$name}" class="ajax">
    {$name}
    {if $actualSortFiled == $column}
        <i class="{$sortDirectionSettings[$column] == 'up' ? 'icon-arrow-down' : 'icon-arrow-up'}"></i>
    {/if}
</a>