{block content}
    <p>
        <a n:href="add" title="Přidat nový záznam" class="btn btn-sm btn-success">
            <i class="icon-plus"></i>
            přidat
        </a>
    </p>

    {control filter:quick}

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            {foreach $listItems as $itemName => $item}
                                {if $itemName != 'actions'}
                                    <th>{$item['name']}</th>
                                {/if}
                            {/foreach}
                        </tr>
                    </thead>

                    {foreach $items as $item}
                    <tr>
                        <td>
                            <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                <a n:href="edit $item->id" title="Editace" class="blue">
                                    <i class="icon-pencil bigger-150"></i>
                                </a>
                                <a n:href="delete $item->id" title="Smazání" class="red"
                                   data-confirm="Opravdu chcete uživatele smazat?">
                                    <i class="icon-trash bigger-150"></i>
                                </a>
                            </span>
                        </td>
                        {foreach $listItems as $itemName => $listItem}
                            {if $itemName != 'actions'}
                                {if strpos($listItem['column'], ' ') !== false}
                                
                                {else}
                                    <td>{$item->$listItem['column']}</td>
                                {/if}
                            {/if}
                        {/foreach}
                    </tr>
                    {/foreach}

                </table>
            </div>
        </div>
    </div>
{/block}