<input type="hidden" name="dateStart" value="{date('Y-m-d H:i:s')}" />
<input type="text" name="name" />
<span id="jquery-runner">00:00:00</span>
<a href="#start" title="Start výkazu práce" class="control">start</a>
<input type="submit" name="save" value="uložit" />