<div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-6">
        <h2 style="margin: 0;">Náklady</h2>
    </div>
    <div class="col-sm-6 align-right">
        <a n:href="add?type=cost" title="Přidat novou firmu" class="btn btn-xs btn-success">
            <i class="icon-plus"></i>
            přidat náklad
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Úkol</th>
                <th>Název</th>
                <th>Komu</th>
                <th>Zaplaceno</th>
                <th>Cena</th>
            </tr>
        </thead>

        {var $costsSum = 0}
        {foreach $costs as $item}
            {var $costsSum += $item->price}
            <tr>
                <td>
                    {control listActionButtons $item->id}
                </td>
                <td>{$item->ErpIssue->name}</td>
                <td>{$item->name}</td>
                <td>{$item->ErpCompany->name}</td>
                <td class="align-center">
                    <span class="width-50 label label-{$item->pay ? 'success' : 'danger'}">{$item->pay ? 'ano' : 'ne'}</span>
                </td>
                <td class="align-right">{$item->price}&nbsp;Kč</td>
            </tr>
        {/foreach}

        <tr>
            <td colspan="5" class="align-right bolder">
                Celkem:
            </td>
            <td class="align-right bolder">{$costsSum}&nbsp;Kč</td>
        </tr>
        
    </table>
</div>