{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                {*
                <div class="col-xs-6 align-right">
                    <span>Výběr zobrazení: </span>
                    <a class="btn btn-xs btn-primary" title="Tabulkové zobrazení" href="#">tabulka</a>
                    <a class="btn btn-xs btn-info" title="Stromové zobrazení" n:href="tree">strom</a>
                </div>
                *}
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Akce</th>
                                    <th>
                                        <a n:href="default?sort=name" title="Seřadit podle názvu">Název</a>
                                    </th>
                                    <th>Zobrazit</th>
                                    <th>Homepage</th>
                                    {*<th>Jazyk</th>*}
                                    <th>
                                        <a n:href="default?sort=url" title="Seřadit podle názvu url adresy">Url</a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_page'))}">
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>
                                            {$item->name}
                                        </td>
                                        <td>
                                            {control listYesNo $item->view}
                                        </td>
                                        <td>
                                            {control listYesNo $item->homepage}
                                        </td>
                                        {*<td>{$item->core_language->name}</td>*}
                                        <td>{$item->url}</td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}