{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                <div class="col-xs-6 align-right">
                    <span>Výběr zobrazení: </span>
                    <a class="btn btn-xs btn-info" title="Tabulkové zobrazení" n:href="table">tabulka</a>
                    <a class="btn btn-xs btn-primary" title="Stromové zobrazení" href="#">strom</a>
                </div>
            </div>

            <div class="row padding-10">
                <div class="col-xs-12">
                    <h2 class="row header smaller lighter blue">Struktura stránek</h2>
                    
                    {if !empty($items)}
                        {var $lastLevel = 0}
                        <div id="nestable" class="dd">
                            <ol class="dd-list sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_page'))}">
                                {foreach $items as $item}
                                    {if $lastLevel < $item->_level}
                                        {var $lastLevel = $item->_level}
                                        <ol class="dd-list sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_page'))}">
                                    {elseif $lastLevel > $item->_level}
                                        {for $i = 1; $i <= ($lastLevel - $item->_level); $i++}
                                            </ol>
                                        {/for}
                                        {var $lastLevel = $item->_level}
                                    {/if}
                                    
                                    <li class="dd-item" data-id="{$item->id}">
                                        <div class="dd-handle" {$item->delete ? 'style="background-color:#f9f9f9; color: #e4e6e9;"'|noescape}>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {$item->name}
                                            <div class="pull-right action-buttons">
                                                {control listActionButtons $item->id}
                                            </div>
                                        </div>
                                    </li>
                                {/foreach}
                            </ol>
                        </div>
                    {else}
                        <div class="alert alert-info">
                            Neexistuje žádná stránka. Kliněte na tlačítko <a n:href=":Admin:Cms:Page:add" title="Přidat novou stránku"><strong>přidat novou</strong></a>.
                        </div>
                    {/if}
                </div>
            </div>
            
        </div>
    </div>
{/block}