<div class="tiny-slider">
    {if !empty($items)}
        <a class="buttons prev" href="#"><</a>
        <div class="viewport">
            <ul class="overview">
            {foreach $items as $item}
                <li>
                    <img src="{$item['image']}" />
                </li>
            {/foreach}
            </ul>
        </div>
        <a class="buttons next" href="#">></a>
    {/if}
</div>