{if $user->isLoggedIn()}
    <div id="wrUserMenu">
        <strong>Uživatelské menu</strong>
        <ul>
            <li>
                <a href="{$presenter->link(':Admin:Cms:Page:')}" title="" target="_blank">editovat stránky</a>
            </li>
            <li>
                <a href="{$presenter->link(':Admin:Cms:Text:')}" title="" target="_blank">upravit texty</a>
            </li>
            <li>
                <a href="{$presenter->link(':Admin:Core:Homepage:')}" title="Vstup do administrace" target="_blank">Administrace</a>
            </li>
            <li>
                <a href="{$presenter->link(':Admin:Core:Sign:out')}" title="Odhlásit se ze systému">Odhlásit se</a>
            </li>
        </ul>
    </div>
{/if}