{block content}
<div class="row">
    <div class="col-xs-12">
    {*<h1 n:block=title>Modul produkty eshopu</h1>*}

    <div class="row" style="padding-bottom: 10px;">
        <div class="col-xs-6">
            {control listAddButton 'přidat platbu', 'Přidat novou platební metodu'}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="80px;">Akce</th>
                            <th>Název</th>
                            <th>Aktivní</th>
                            <th>Cena</th>
                        </tr>
                    </thead>

                    {if $items->count()}
                        <tbody>
                            {foreach $items as $item}
                                <tr>
                                    <td>
                                        {control listActionButtons $item->id}
                                    </td>
                                    <td>{$item->name}</td>
                                    <td class="center">{control listYesNo $item->active}</td>
                                    <td>{$item->price|number:2}</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    {/if}
                </table>
            </div>
        </div>
    </div>
</div>

{/block}