{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>

        <a n:href="default" title="Zpět na výpis produktů" class="btn btn-xs btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">
            {control form}

            {if isset($delPayments)}
                {snippet deliveryPaymentItems}

                    <div class="dataTable-wrapper">
                        <h2>Platební metody dopravy</h2>

                        <p>
                            <a n:href="add! deliveryId => $id" title="Přidat platební metodu" class="btn btn-xs btn-success ajax">
                                <i class="fa fa-plus fa-lg green"></i>
                                přidat platební metodu
                            </a>
                        </p>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="80px;" rowspan="2">Akce</th>
                                                <th rowspan="2">Platební metoda</th>
                                                <th colspan="2">Custom metoda</th>
                                            </tr>
                                            <tr>
                                                <th>Název</th>
                                                <th>Cena</th>
                                            </tr>
                                        </thead>

                                        {if $delPayments->count()}
                                            {foreach $delPayments as $delPaymentItem}
                                                <tr>
                                                    <td>
                                                        {*
                                                        <a n:href="edit! id => $item->id" title="Editace" class="button">
                                                            <i class="fa fa-pencil fa-lg green"></i>
                                                        </a>
                                                        *}
                                                        <a n:href="delete! itemId => $delPaymentItem->id" title="Smazání" class="red mg-delete ajax"
                                                           onclick="if (confirm('Opravdu chcete záznam vymazat?')) { return true; } else { return false; }">
                                                            <i class="fa fa-trash-o fa-lg red"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {if $delPaymentItem->eshop_payment}
                                                            {$delPaymentItem->eshop_payment->name}</td>
                                                        {/if}
                                                    <td>{$delPaymentItem->name}</td>
                                                    <td>{$delPaymentItem->price|number:2}</td>
                                                </tr>
                                            {/foreach}
                                        {/if}
                                    </table>
                                </div>
                            </div>
                        </div>

                        {snippet addDeliveryPaymentItems}
                            {if isset($addSubitem)}
                                {form addSubitem, class => ajax}
                                    {input eshop_payment_id}
                                    {input name}
                                    {input price}
                                    {input submit}
                                {/form}
                            {/if}
                        {/snippet}
                    </div>

                {/snippet}
            {/if}
        </div>
    </div>
{/block}