{block content}
    {control breadCrumb}

    <h1 itemprop="name">{!$category->name}</h1>

    {var $children = $category->related('eshop_category._parent')->where(array('view = ?' => 1, 'countProducts > 0'))}
    {if $children->count()}
        <nav class="subcategories">
            <p>V kategorii {$category->name} najdete tyto podkategorie:</p>
            <ul>
            {foreach $children as $child}
                <li>
                    <a n:href=":Eshop:Category: url=>$child->url" title="{$child->name}">{$child->name} ({$child->countProducts})</a>
                </li>
            {/foreach}
            </ul>
        </nav>
    {/if}

    {*<div class="anotace">{!$category->text}</div>*}
    <div class="anotace" itemprop="description">{$text}</div>

    {*control categoryMenu*}

    {if $products}
        {foreach $products as $product}
            {control productBoxControl $product}
        {/foreach}

        <div class="cleaner"></div>

        {control paginator $paginator->limit, $paginator->page, $paginator->count}
    {/if}

    <div class="cleaner"></div>

{/block}