{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row">
                <div class="col-xs-12">
                    <a n:href=":Admin:Eshop:Delivery:" title="">Způsoby dopravy</a>
                </div>
            </div>

            {*
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>

                            <thead>
                                <tr>
                                    <th width="80px;">Akce</th>
                                    <th class="align-center">Název vlastnosti</th>
                                    <th class="align-center">Hodnota</th>
                                </tr>
                            </thead>

                            {if $items->count()}
                                <tbody>
                                    {foreach $items as $item}
                                        <tr>
                                            <td>
                                                <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                                {control listActionButtons $item->id}
                                            </td>
                                            <td>{$item->id}</td>
                                            <td>{$item->value}</td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            {/if}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            *}

        </div>
    </div>
{/block}