<div id="guestbook">
    {control form}

    <div class="list">
        {if $rows}
            {foreach $rows as $row}
                <div class="row">
                    <p class="name">
                        {$row->name}
                        {if $row->email}
                            <a href="mailto:{$row->email}" title=""><img src="www/images/email.gif" alt=""></a>
                        {/if}
                    </p>
                    <p class="date">{$row->date|date:'d.m.Y H:i'}</p>
                    <p class="text">{$row->text}</p>
                </div>
            {/foreach}
        {/if}

    </div>
</div>