<form action="{$presenter->link(':Eshop:Cart:add')}" method="get" class="addProduct ajax">
    <span>
        <input type="hidden" name="productId" value="{$product->id}" />
        <input type="hidden" value="1" name="qty" />
    </span>

    {*
    <p class="price">{$product->getPriceWithVat()} Kč</p>

    {if !is_null($variants) && $variants->count()}
        <p class="size">
            <label>Velikost:</label>
            <select name="variantId">
                {foreach $variants as $variant}
                    {if $variant->size_id}
                        <option value="{$variant->id}">{$variant->size->name}</option>
                    {else}
                        <option value="{$variant->id}">{$variant->name}</option>
                    {/if}
                {/foreach}
            </select>
        </p>
    {/if}
    *}

    <p class="submit">
        <input type="submit" value="Koupit" name="buy" />
    </p>
</form>
