<form action="{$presenter->link(':Eshop:Cart:add')}" method="get" class="addProduct ajax">
    <span>
        <input type="hidden" name="productId" value="{$product->id}" />
    </span>

    {*
    <p class="price">{$product->getPriceWithVat()} Kč</p>

    {if !is_null($variants) && $variants->count()}
        <p class="size">
            <label>Velikost:</label>
            <select name="variantId">
                {foreach $variants as $variant}
                    {if $variant->size_id}
                        <option value="{$variant->id}">{$variant->size->name}</option>
                    {else}
                        <option value="{$variant->id}">{$variant->name}</option>
                    {/if}
                {/foreach}
            </select>
        </p>
    {/if}
    *}

    <p class="pieces">
        <input type="text" value="1" name="qty" />
        <label>
            {if $productActiveRow->eshop_cis_unit_id}
                {$productActiveRow->eshop_cis_unit->name}
            {else}
                ks
            {/if}
        </label>
    </p>

    <p class="submit">
        <input type="submit" value="Koupit" name="buy" />
    </p>
</form>
