<article class="productx">
    {*if $user->isLoggedIn()}
        <div class="heading">
            <span class="ousko"></span>
            <a href="{$presenter->link(':Admin:Eshop:Product:detail',  array('id' =>$product->id))}" title="Editace produktu" class="upravit">Upravit</a>
        </div>
    {/if*}

    <header itemscope="" itemtype="http://schema.org/Product">
        <h3 itemprop="name">
            <a title="Detail produktu {$product->name}" href="{$presenter->link(':Eshop:Product:', array('url' => $product->url))}" itemprop="url">{$product->name}</a>
        </h3>
    </header>
    <p><span itemprop="description">{$product->annotation|noescape|truncate:100}</span></p>
    <figure class="product-img">
        {if !empty($productRow->image) && file_exists(DATA_DIR.'/eshop/product/list/'.$productRow->image)}
            <a title="Detail produktu {$product->name}" href="{$presenter->link(':Eshop:Product:', array('url' => $product->url))}"
               itemprop="url"><img src="{$basePath}/data/eshop/product/list/{$productRow->image}" alt="{$product->name}" itemprop="image"></a>
        {else}
            <a title="Detail produktu {$product->name}" href="{$presenter->link(':Eshop:Product:', array('url' => $product->url))}"
               itemprop="url"><img src="{$basePath}/images/products/default-list.jpg" alt="{$product->name}" itemprop="image"></a>
        {/if}
    </figure>
    <footer>
        <p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {*
            <del>
                {$product->getPriceWithoutVat()} <span itemprop="priceCurrency" content="CZK">Kč bez DPH</span>
            </del>
            *}
            <span itemprop="price">
                <strong>{$product->getPriceWithVat()|wrPrice|noescape}&nbsp;Kč</strong>
            </span>
            <span class="withoutWat">
                {$product->getPriceWithoutVat()|wrPrice|noescape}&nbsp;<span itemprop="priceCurrency" content="CZK">bez DPH</span>
            </span>
            <span itemprop="condition" content="new"></span>
        </p>

        {control productAddControl:fromActiveRow $productRow, 'addProductWithoutPieces.latte'}

        {*
        <input type="submit" name="SearchSubmit" value="Koupit" class="button_buy" title="Přidat do košíku">
        <p class="product-right">
            <input type="text" class="quantity" size="2" value="1" name="quantity"><span class="product_quantity"> &nbsp;ks</span>
        </p>
        *}
    </footer>
    <div class="cleaner"></div>
</article>