<div class="article product">
    {if $user->isLoggedIn()}
        <div class="heading">
            <span class="ousko"></span>
            <a href="{$basePath}/clanek/edit/1" title="Editace článku" class="upravit">Upravit</a>

            <form action="" method="post">
                <div>
                    <input type="hidden" name="do" value="articleBoxControl-submit" />
                    <input type="hidden" name="id" value="1" />
                    <label class="label-public">
                        <input type="checkbox" name="view" value="1" />
                        publikovat
                    </label>
                    <p class="submit">
                        <input class="ulozto" type="submit" value="uložit" />
                    </p>
                </div>
            </form>
            {*
                <div>
                    {input id}
                    {input view}
                    {input showOnHomepage}
                    {input datePublication}
                    {input timePublication}
                    {input save}
                </div>
            {/form*}
        </div>
    {/if}

    <p class="article__image">
        <a href="#" title="Triko Rough Rider Sue" class="article__image__a effect effect--eshop"><img src="{$basePath}/images/tricko.jpg" title="Triko Rough Rider Sue" alt="Triko Rough Rider Sue" /></a>
        <!--  <a href="#" title="Mezi oblíbená auta Elvise Presleyho nepatřily jen Cadillaky" class="article__image__link">Celý článek</a> -->
    </p>

    <div class="article__content">
        <h2><a href="#" title="">Triko Rough Rider Sue</a></h2>
        <p class="price">790 Kč</p>
        <p class="stock">zbývá ještě <span>39 ks</span></p>
        <p class="main-article__links">
            <a class="detail" title="Triko Rough Rider Sue" href="#">Detail</a>
        </p>
    </div>
</div>