{if $items->count()}
    <aside class="productsCategories">
        <h2>Produkt je zařazen v následujících kategoriích</h2>
        <nav class="productCategory">
          <ul>
              {foreach $items as $item}
                  <li>
                      <a href="{plink ':Eshop:Category:', 'url' => $item->url}" title="{$item->name}">{$item->name}</a>
                  </li>
              {/foreach}
          </ul>
        </nav>
    </aside>
{/if}