{block content}
    <div class="page-header">
        <h1>{$h1}</h1>
    </div>
    <p>
        <a n:href="add" title="Přidat nový stav" class="btn btn-sm btn-success">
            <i class="icon-ok"></i>
            přidat nový
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Číslo (ID)</th>
                            <th>Název</th>
                            <th>Popisek</th>
                        </tr>
                    </thead>

                    {foreach $items as $item}
                        <tr>
                            <td>
                                <a n:href="edit $item->id" title="Editace" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                <a n:href="delete $item->id" title="Smazání" class="btn btn-xs btn-danger"
                                   data-confirm="Opravdu chcete stav smazat?">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </td>
                            <td>{$item->id}</td>
                            <td>{$item->name}</td>
                            <td>{$item->note}</td>
                        </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
{/block}