{var $bodyClass = 'homepage'}
{var $h1        = 'Vítejte v CMS WeboveReseni.cz'}

{block content}
    {control row:start}
        {control grid:start 12}
    
            {*
            {control row:start}
                {control grid:start 6}
                    {control widgettask}
                {control grid:end}
                {control grid:start 6}
                    {control widgetpomodoro}
                {control grid:end}
            {control row:end}
            *}
            
            {if in_array('my-issue', $widgetsEnable) || in_array('my-notes', $widgetsEnable)}
                {control row:start}
                
                    {if in_array('my-issue', $widgetsEnable)}
                        {control grid:start 6}
                            <div class="widget-box transparent">
                                <div class="widget-header">
                                    <h2 class="lighter">
                                        <a n:href=":Admin:Erp:Issue:" titlee="Moje úkoly">Moje úkoly</a>
                                        {control list:count $issues}
                                    </h2>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        {control list $issues, 'listLight'}
                                    </div>
                                </div>
                            </div>
                        {control grid:end}
                    {/if}
                    
                    {if in_array('my-notes', $widgetsEnable)}
                        {control grid:start 6}
                            {control widgetnotes}
                        {control grid:end}
                    {/if}
                {control row:end}
            {/if}

            {if in_array('clients', $widgetsEnable) || in_array('domains', $widgetsEnable)}
                {control row:start}
                
                    {if in_array('clients', $widgetsEnable)}
                        {control grid:start 6}
                            {control widgetclient}
                        {control grid:end}
                    {/if}
                    
                    {if in_array('domains', $widgetsEnable)}
                        {control grid:start 6}
                            {control widgetdomain}
                        {control grid:end}
                    {/if}
                {control row:end}
            {/if}
        
        {control grid:end}
    {control row:end}
{/block}


{block head}
{/block}
