<div class="paginator">
    <ul>
        <li n:class="$prevUrl == '#' ? disabled">
            <a href="{$prevUrl}">&#8592;</a>
        </li>

        {foreach $items as $pageNum => $pageUrl}
            <li n:class="$pageNum == $page ? active">
                <a href="{$pageUrl}">{$pageNum}</a>
            </li>
        {/foreach}

        <li n:class="$nextUrl == '#' ? disabled">
            <a href="{$nextUrl}">&#8594;</a>
        </li>
    </ul>
</div>