{form $form}
    {*
    <p class="checkboxes-line">
        {input magazine}
        {input podcast}
        {input actions}
    </p>
    *}
    <p class="second-line">
        <input type="hidden" name="do" value="newsletterControl-save" />
        {input email}
        {input submit}
    </p>
{/form}