{block head}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/basic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
{/block}

{block content}
    <h1 n:block=title>{ifset $activeDirectory}{$activeDirectory->name} | {/ifset}Správa souborů</h1>

    <div class="row">
        <div class="col-xs-12 adddirform">
            <p n:ifset="$activeDirectory"><a n:href="File:default $activeDirectory->parent_id"> < zpět</a></p>

            <h2>Vytvořit nový adresář</h2>
            {form addDirectoryForm}
                {label name/} {input name}
                {input create}
            {/form}
        </div>
    </div>

    {snippet itemsContainer}
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="80px;">Akce</th>
                                <th>Název</th>
                                <th>Typ</th>
                                <th>Velikost</th>
                            </tr>
                        </thead>
                        {if $directories->count() > 0}
                                <tr n:foreach="$directories as $dir">
                                    <td>
                                        <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <a n:href="File:editDirectory $dir->id" title="Editace" class="button">
                                                <i class="icon-pencil bigger-150"></i>
                                            </a>

                                            <a n:href="deleteDirectory! $dir->id" title="Smazání" class="red"
                                               onclick="if (confirm('Chcete opravdu smazat celý adresář i jeho obsahem?')) { return true; } else { return false; }">
                                                <i class="icon-trash bigger-150"></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td><a n:href="File:default $dir->id">{$dir->name}</a></td>
                                    <td class="center">adresář</td>
                                    <td class="center">-</td>
                                </tr>
                        {/if}
                        {if $files->count() > 0}
                                <tr n:foreach="$files as $file">
                                    <td>
                                        <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <a n:href="deleteFile! $file->id" title="Smazání" class="red"
                                                onclick="if (confirm('Chcete opravdu smazat tento soubor?')) { return true; } else { return false; }">
                                                <i class="icon-trash bigger-150"></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td>{$file->name}</td>
                                    <td class="center">{$file->mime_type}</td>
                                    <td class="center">{$file->file_size}&nbsp;B</td>
                                </tr>
                        {/if}

                    </table>
                </div>
            </div>
        </div>
    {/snippet}

    <div class="cleaner"></div>
    <div>
        <form n:name="fileUploadForm" class="dropzone" id="fileDropzone">
            <div class="fallback">
                <input n:name="file" />
                <input n:name="send" />
            </div>
        </form>
    </div>

    <script>
        Dropzone.options.fileDropzone = {
            complete: function(file){
                this.removeFile(file);
            },
            success: function(file, response){
                var snippet = response['snippets']['snippet--itemsContainer'];
                $('#snippet--itemsContainer').html(snippet);
            }
        };
    </script>

{/block}