<ul class="jqueryFileTree" style="display: none;">
    <li class="directory collapsed" id="dir{$directory->id}" n:foreach="$directories as $directory"><a href="#" rel="/{$directory->id}/">{$directory->name}</a></li>
    <li class="file ext_txt" id="photo{$file->id}" n:foreach="$files as $file"><a href="#" rel="{$file->id}">{$file->name}</a></li>
</ul>