{block content}
    <p>
        <a n:href="add" title="Přidat nový výkaz práce" class="btn btn-sm btn-success">
            <i class="icon-ok"></i>
            přidat nový
        </a>
    </p>

    {control filter:quick}

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Úkol</th>
                            <th>Datum od</th>
                            <th>Datum do</th>
                            <th>Doba práce</th>
                            <th>Poznámka</th>
                        </tr>
                    </thead>

                    {var $timeCount = 0}
                    {foreach $items as $item}
                        <tr>
                            <td style="width:83px;">
                                <a n:href="edit $item->id" title="Editace" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                <a n:href="delete $item->id" title="Smazání" class="btn btn-xs btn-danger"
                                   data-confirm="Opravdu chcete stránku smazat?">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </td>
                            <td>
                                {var $issue = $item->ref('rel_issue')}
                                <a n:href=":Admin:Erp:Issue:edit $issue->id" title="Detail úkolu" target="_blank">{$issue->name}</a>
                            </td>
                            <td>{$item->dateFrom|date:'d.m.Y H:i'}</td>
                            <td>{$item->dateTo|date:'d.m.Y H:i'}</td>
                            <td>
                                {var $timeSpent = $taskRepository->getTimeSpent($item->id)}
                                {var $timeCount += $timeSpent}
                                {$timeSpent|time}
                            </td>
                            <td title="{$item->note}">{$item->note|truncate:75}</td>
                        </tr>
                    {/foreach}

                    <tr>
                        <td colspan="4" class="align-right">Celkem: </td>
                        <td>{$timeCount|time}</td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{/block}