{block content}
    <p>
        <a n:href="default" title="Zpět na výpis úkolů" class="btn btn-sm btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12">
        {form taskForm class => 'form-horizontal'}
            <div class="form-group">
                {label rel_issue class => 'col-sm-3 control-label no-padding-right' /}
                <div class="col-sm-9">{input rel_issue}</div>
            </div>
            <div class="form-group">
                {label dateFrom class => 'col-sm-3 control-label no-padding-right' /}
                <span class="input-group col-xs-2">
                    {input dateFrom class => 'form-controll date-picker'}
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </span>
                <span class="input-group bootstrap-timepicker col-xs-2">
                    {input timeFrom class => 'form-control time-picker'}
                    <span class="input-group-addon">
                        <i class="icon-time bigger-110"></i>
                    </span>
                </span>
            </div>

            <div class="form-group">
                {label dateTo class => 'col-sm-3 control-label no-padding-right' /}
                <span class="input-group col-xs-2">
                    {input dateTo class => 'form-controll date-picker'}
                    <span class="input-group-addon left">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </span>
                <span class="input-group bootstrap-timepicker col-xs-2">
                    {input timeTo class => 'form-control time-picker'}
                    <span class="input-group-addon">
                        <i class="icon-time bigger-110"></i>
                    </span>
                </span>
            </div>

            <div class="form-group">
                {label note class => 'col-sm-3 control-label no-padding-right' /}
                <div class="input-group col-xs-3">
                    {input note class => 'form-controll'}
                </div>
            </div>

            <div class="form-actions center">
                {input submit class => 'btn btn-sm btn-success'}
            </div>

        {/form}
    </div>
    </div>
{/block}