<h1>Kontaktní formulář z {$formName}</h1>

<table>
    <tr>
        <th style="text-align:left;">Jméno a příjmení</th>
        <td>{$formValues->name}</td>
    </tr>
    <tr>
        <th style="text-align:left;">Email</th>
        <td>{$formValues->email}</td>
    </tr>
    <tr>
        <th style="text-align:left;">Telefon</th>
        <td>{$formValues->phone}</td>
    </tr>
</table>

<p>
    <strong>Text</strong>
    <br />
    {$formValues->text}
</p>

<p>
  <strong>Webové Řešení</strong><br />
  Edvarda Beneše 1117/15, 568 02 Svitavy<br />
  Tel.: +420 777 123 023<br />
  E-mail: <a title="Napište nám" href="mailto:info@webovereseni.cz">info@webovereseni.cz</a>
</p>

<p>Formulář odeslán z adresy: {$formValues->backlink}</p>

<p>&copy; <a href="mailto:info@webovereseni.cz" title="Webové aplikace na míru - webovereseni.cz">webovereseni.cz</a></p>