<div id="quick-form">
    {if is_object($formMessage) && !empty($formMessage->message)}
        <p class="message {$formMessage->class}">{$formMessage->message}</p>
    {/if}
    {*
      {control form}
     *}
    
    {form form}

        <span class="input">
            {input name}
        </span>

        <p class="form-group required left input2">
            {input email}
        </p>

        <p class="form-group required input4">
            {input text}
        </p>

        <p class="form-group input5">
            <span class="input">
                {*input submit*}
                <button type="submit" class="button">Odeslat <i class="fa fa-long-arrow-right"></i></button>
            </span>
        </p>
    {/form}
</div>