<div class="article advert">
    {if $activeBanner}
        {if $activeBanner->url}
            <a href="{$activeBanner->url}" title="{$activeBanner->name}" target="_blank"><img src="{$basePath}/data/banner/{$activeBanner->image}"
                                                                              title="{$activeBanner->name}" alt="{$activeBanner->name}" /></a>
        {else}
            <img src="{$basePath}/data/banner/{$activeBanner->image}" title="{$activeBanner->name}" alt="{$activeBanner->name}" />
        {/if}
    {/if}
</div>