{if $user->isLoggedIn() || $activeBanner}
    <div class="article advert">
        {if $user->isLoggedIn()}
            <div class="heading">
                <input type="hidden" name="article_id[]" value="" />
                <form action="" method="post">
                    <div>
                        <input type="hidden" name="do" value="advertControl-submit" />
                        <input type="hidden" name="zoneId" value="{$zoneId}" />

                        <label class="label-public">Banner</label>
                        <select name="bannerId">
                            <option value="0"> - </option>

                            {foreach $banners as $bannerId => $bannerName}
                                <option value="{$bannerId}"{$bannerId == $activeBannerId ? ' selected="selected"'}>{$bannerName}</option>
                            {/foreach}

                        </select>

                        <input class="ulozto" type="submit" value="uložit" />
                    </div>
                </form>
                {*
                    <div>
                        {input id}
                        {input view}
                        {input showOnHomepage}
                        {input datePublication}
                        {input timePublication}
                        {input save}
                    </div>
                {/form*}
            </div>
        {/if}

        {if $activeBanner}
            {if $activeBanner->url}
                <a href="{$activeBanner->url}" title="{$activeBanner->name}" target="_blank"><img src="{$basePath}/data/banner/{$activeBanner->image}"
                                                                                  title="{$activeBanner->name}" alt="{$activeBanner->name}" /></a>
            {else}
                <img src="{$basePath}/data/banner/{$activeBanner->image}" title="{$activeBanner->name}" alt="{$activeBanner->name}" />
            {/if}
        {/if}
    </div>
{/if}