{var $robots = noindex}

{block content}
    <h1><span>#404</span> někde se stala chyba</h1>

    <h2>Na téhle adrese nic není</h2>

    <p>Zkuste to vpravo nahoře,<br />nebo si vyberte položku z hlavního menu.</p>

    <p>
        <a href="{$basePath}/" title="Pokračovat na úvod">Pkračovat na úvod</a>
    </p>
{/block}