{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>

        <a n:href=":Admin:Eshop:Product:edit $productId" title="Zpět do detailu produktu" class="btn btn-xs btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </div>
{/block}

{block content}

    {control form}

{/block}