{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-3">
                    {control listAddButton 'přidat produkt', 'Přidat nový produkt'}
                </div>

                <div class="col-xs-5">
                    {control fulltextSearch}
                </div>

                <div class="col-xs-4 align-right">
                    <p>
                        Celkem produktů: {$itemsCount}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        {snippet table}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="80px;">Akce</th>
                                        <th class="align-center">
                                            {control listSortLink 'Název produktu', 'name'}
                                        </th>
                                        <th class="align-center">
                                            {control listSortLink 'Kód produktu', 'sku'}
                                        </th>
                                        {*<th class="align-center">EAN</th>*}
                                        <th class="align-center">Obrázek</th>
                                        <th class="align-center">
                                            {control listSortLink 'Zobrazit', 'view'}
                                        </th>
                                        <th class="align-center">Sklad</th>
                                        <th class="align-center">
                                            {control listSortLink 'Cena', 'price'}
                                        </th>
                                        <th class="align-center">
                                            {control listSortLink 'Cena za kus', 'pricePerItem'}
                                        </th>
                                        <th class="align-center">Jednotky</th>
                                        <th class="align-center">Varianty</th>
                                    </tr>
                                </thead>

                                {if $items->count()}
                                    <tbody {*class="sortable" data-config="{json_encode(array('sortableUrl' => $basePath.'/admin/core/sort', 'table' => 'eshop_product'))}"*}>
                                        {foreach $items as $item}
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                                    {control listActionButtons $item->id}
                                                </td>
                                                <td>{$item->name}</td>
                                                <td class="align-center">{$item->sku}</td>
                                                {*<td class="align-center">{$item->ean}</td>*}
                                                <td class="align-center">
                                                    {if !empty($item->image) && file_exists(DATA_DIR.'/eshop/product/preview/'.$item->image)}
                                                        <img src="{$basePath}/data/eshop/product/preview/{$item->image}" alt="{$item->name}" title="{$item->name}" />
                                                    {else}
                                                        <img src="{$basePath}/images/no-photo-90.png" alt="Fotografie nebyla nalezena" title="Fotografie nebyla nalezena" />
                                                    {/if}
                                                </td>
                                                <td class="center">{control listYesNo $item->view}</td>
                                                <td class="center">{$item->stock|number:0}</td>
                                                <td class="center">{$item->price|number:2}</td>
                                                <td class="center">{$item->pricePerItem|number:2}</td>
                                                <td class="center">
                                                    {if $item->eshop_cis_unit_id}
                                                        {$item->eshop_cis_unit->name}
                                                    {/if}
                                                </td>
                                                <td class="center">Počet: {$item->related('eshop_product_variant.eshop_product_id')->count()}</td>
                                            </tr>
                                        {/foreach}
                                    </tbody>
                                {/if}
                            </table>
                        {/snippet}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {control listPaginator $pageLimit, $page, $itemsCount}
                </div>
            </div>

        </div>
    </div>
{/block}