{block footerScripts}
    <script src="{$basePath}/www/js/admin/cms/page.jquery.js"></script>
{/block}

{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>

        <a n:href="default" title="Zpět na výpis produktů" class="btn btn-xs btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">

            {form form}

                {* ***** vypsani chyb ***** *}
                <div class="alert alert-block alert-danger" n:foreach="$form->errors as $error">
                    <button data-dismiss="alert" class="close" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    {$error}
                </div>

                <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-23" aria-selected="true">
                            <a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-23">Základní nastavení</a>
                        </li>

                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-12" aria-labelledby="ui-id-23" aria-selected="true">
                            <a href="#tabs-12" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-23">Obsahy</a>
                        </li>

                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-13" aria-labelledby="ui-id-23" aria-selected="true">
                            <a href="#tabs-13" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-23">Fotogalerie</a>
                        </li>

                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-24" aria-selected="false">
                            <a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-24">SEO nastavení</a>
                        </li>

                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-25" aria-selected="false">
                            <a href="#tabs-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-25">Rozšířené nastavení</a>
                        </li>
                    </ul>


                    <div id="tabs-1" aria-labelledby="ui-id-23" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                        {*control form*}

                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="header smaller lighter blue">Základní nastavení</h3>

                                <p>
                                    {input name class => width-100}
                                </p>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="row" style="padding-left: 12px;">
                                            {input view}
                                        </p>
                                        <p class="row no-margin-right">
                                            {label sku class => "col-sm-4 control-label no-padding-right" /}
                                            {input sku class => col-sm-8}
                                        </p>
                                        <p class="row no-margin-right">
                                            {label ean class => "col-sm-4 control-label no-padding-right" /}
                                            {input ean class => col-sm-8}
                                        </p>
                                        <p class="row no-margin-right">
                                            {label externId class => "col-sm-4 control-label no-padding-right" /}
                                            {input externId class => col-sm-8}
                                        </p>
                                    </div>
                                </div>
                                {*
                                <p>
                                    {input heading} {input showHeading}
                                </p>
                                *}
                            </div>

                            <div class="col-sm-6">
                                <h3 class="header smaller lighter blue">Zařazení do kategorií</h3>
                                <p>
                                    {input categoryProduct class => width-100}
                                    <br />
                                    <span>(pro zařazení do více kategorií přídržte klávesu CTRL)</span>
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-5">
                                <h3 class="header smaller lighter blue">Ceny, jednotky a stav skladu</h3>
                                <p class="price">
                                    {label price class => "col-sm-3 control-label no-padding-right" /}
                                    {input price}
                                    {input priceWithVat}
                                </p>
                                <p class="price">
                                    {label pricePerItem class => "col-sm-3 control-label no-padding-right" /}
                                    {input pricePerItem}
                                </p>
                                <p class="vat">
                                    {label vat class => "col-sm-3 control-label no-padding-right" /} {input vat}&nbsp;%
                                </p>
                                <p class="stock">
                                    {label stock class => "col-sm-3 control-label no-padding-right" /} {input stock}
                                </p>
                                <p class="unit">
                                    {label eshop_cis_unit_id class => "col-sm-3 control-label no-padding-right" /} {input eshop_cis_unit_id}
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <h3 class="header smaller lighter blue">Varianty produktu</h3>
                                {include 'variants.latte'}
                            </div>
                        </div>
                    </div>

                    <div id="tabs-12" aria-labelledby="ui-id-24" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">
                        <p>
                            {var $btnConfig = array("titleShow" => "zobrazit anotaci","titleHide" => "skrýt anotaci")}
                            <a href="#page-annotation" class="show-annotation" data-wr-config='{json_encode($btnConfig)}'>zobrazit anotaci</a>
                                <span id="page-annotation" class="hidden">
                                    <br />
                                    <label>{label annotation /}</label>
                                    {input annotation}
                                </span>
                        </p>
                        <p>
                            <label>{label text /}</label>
                            {input text}
                        </p>
                    </div>

                    <div id="tabs-13" aria-labelledby="ui-id-24" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">


                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="header smaller lighter blue">Fotogalerie</h3>

                                <p>
                                    {label image class => "col-sm-2 control-label no-padding-right" /}
                                    {input image class => width-100}
                                </p>

                                <p>
                                    {label cms_photogallery_id class => "col-sm-2 control-label no-padding-right" /}
                                    {input cms_photogallery_id}
                                </p>

                                {if isset($product) && !$product->cms_photogallery_id}
                                    <p>
                                        {label images class => "col-sm-2 control-label no-padding-right" /}
                                        {input images}
                                    </p>
                                {/if}
                            </div>
                        </div>
                    </div>

                    <div id="tabs-2" aria-labelledby="ui-id-24" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">
                        <p>{input title}</p>
                        <p>{input keywords}</p>
                        <p>{input description}</p>
                        <p>{input url}</p>
                    </div>

                    <div id="tabs-3" aria-labelledby="ui-id-25" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">
                        {if ($user->isInRole('administrator'))}
                            <p>
                                <label>{label template /}</label>
                                {input template}
                            </p>
                        {/if}
                    </div>

                    <div class="cleaner"></div>
                    {input save}

                </div>
            {/form}
        </div>
    </div>
{/block}