<div class="row">
    <div class="col-xs-12">
        {*<h1 n:block=title>Modul produkty eshopu</h1>*}

        {if empty($id)}
            <p class="alert alert-info">Varianty lze přidávat až po uložení nového produktu.</p>
        {else}
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-6">
                    {*control listAddButton:withUrlAndId 'přidat variantu', 'Přidat novou variantu', ':Admin:Eshop:Productvariant:add', $id*}
                    <a n:href=":Admin:Eshop:Productvariant:add?productId=$id" title="Přidat novou variantu" class="btn btn-xs btn-success">
                        <i class="icon-plus"></i>
                        přidat variantu
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th width="80px;">Akce</th>
                                <th>Název</th>
                                <th>Velikost</th>
                                <th>Zobrazit</th>
                                <th>Cena</th>
                            </tr>
                            </thead>

                            {if $variants->count()}
                                <tbody{* class="sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_page'))}"*}>
                                {foreach $variants as $item}
                                    <tr>
                                        <td>
                                            <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <a class="blue" title="Editace" n:href=":Admin:Eshop:Productvariant:edit $item->id">
                                                    <i class="icon-pencil bigger-150"></i>
                                                </a>

                                                <a data-confirm="Opravdu chcete záznam vymazat?" class="red mg-delete" title="Smazání" n:href=":Admin:Eshop:Productvariant:delete $item->id">
                                                    <i class="icon-trash bigger-150"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>{$item->name}</td>
                                        <td>
                                            {if $item->size_id}
                                                {$item->size->name}
                                            {/if}
                                        </td>
                                        <td class="center">{control listYesNo $item->view}</td>
                                        <td>{$item->price|number:2}</td>
                                    </tr>
                                {/foreach}
                                </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>
        {/if}

    </div>
</div>