{block content}

<h1 n:block=title>Modul způsoby platby</h1>

<p class="module-menu">
    {control listAddButton 'přidat platbu', 'Přidat nový způsob platby'}
</p>

<div class="dataTable-wrapper">
    <table class="dataTable">
        <thead>
            <tr>
                <th width="80px;">Akce</th>
                <th>Název</th>
                <th>Aktivní</th>
                <th>Cena</th>
            </tr>
        </thead>

        {if $items->count()}
            {foreach $items as $item}
                <tr>
                    <td>
                        {control listActionButtons $item->id}
                    </td>
                    <td>{$item->name}</td>
                    <td class="center">{control listYesNo $item->active}</td>
                    <td>{$item->price|number:2}</td>
                </tr>
            {/foreach}
        {/if}
    </table>
</div>

{/block}