{block footerScripts}
    <script src="{$basePath}/www/js/admin/cms/page.jquery.js"></script>
{/block}

{block content}

    <h1 n:block=title>{$h1}</h1>

    <p>
        {control backButton}
    </p>

    {control form}

{/block}