{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>
        
        {if $item->cms_photogallery->id > 0}
            <a n:href=":Admin:Cms:Photogallery:edit $item->cms_photogallery->id" title="Zpět do fotogalerie" class="btn btn-sm btn-success">
                <i class="icon-picture"></i>
                zpět do fotogalerie
            </a>
        {/if}
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">
            {control $formComponentName}
        </div>
    </div>
{/block}