{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                {*
                <div class="col-xs-6 align-right">
                    <span>Výběr zobrazení: </span>
                    <a class="btn btn-xs btn-primary" title="Tabulkové zobrazení" href="#">tabulka</a>
                    <a class="btn btn-xs btn-info" title="Stromové zobrazení" n:href="tree">strom</a>
                </div>
                *}
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="2">Akce</th>
                                    <th rowspan="2">Název</th>
                                    <th rowspan="2">Obrázek</th>
                                    <th rowspan="2">Zobrazit</th>
                                    <th rowspan="2">Zobrazit na HP</th>
                                    <th rowspan="2">URL</th>
                                    <th rowspan="2">Související článek</th>
                                    <th rowspan="2">Datum</th>
                                </tr>
                            </thead>

                            <tbody>
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>
                                            {$item->name}
                                        </td>
                                        <td class="align-center">
                                            {if !empty($item->image)}
                                                <img src="{$dataWww}/action/preview/{$item->image}" title="{$item->name}" />
                                            {/if}
                                        </td>
                                        <td>
                                            {control listYesNo $item->view}
                                        </td>
                                        <td>
                                            {control listYesNo $item->showOnHomepage}
                                        </td>
                                        <td>
                                            {if !empty($item->url)}
                                                {$item->url}
                                            {/if}
                                        </td>
                                        <td>
                                            {if $item->cms_article_id}
                                                {$item->cms_article->name}
                                            {/if}
                                        </td>
                                        <td>
                                            {if !empty($item->date)}
                                                {$item->date->format('d.m.Y H:i')}
                                            {/if}
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}