<nav class="breadCrupmps" itemprop="breadcrumb">
    <i class="fa fa-home"></i>
    {foreach $items as $item}
        {if !is_null($item->url)}
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{$item->url}" title="{$item->name}" itemprop="url"><span itemprop="title">{$item->name}</span></a></span>
        {else}
            {$item->name}
        {/if}
        {sep}<i class="fa fa-angle-double-right"></i>{/sep}
    {/foreach}
</nav>