{block pageHeaderButtons}
    <div class="page-header">
        <h1>{$h1}</h1>
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">
            {control $formComponentName}
        </div>
    </div>
{/block}