{* Latte template *}

{block content}
<h1 n:block=title>Fotogalerie</h1>

<p class="module-menu">
    {control listAddButton 'přidat galerii', 'Přidat novou galerii'}
</p>

<div class="dataTable-wrapper">
    <table class="dataTable">
        <thead>
            <tr>
                <th width="80px;">Akce</th>
                <th>Název</th>
            </tr>
        </thead>

        {if $items->count()}
            {foreach $items as $item}
                <tr>
                    <td>
                        {control listActionButtons $item->id}
                    </td>
                    <td class="center"><a n:href="Photogallery:detail $item->id">{$item->name}</a></td>
                </tr>
            {/foreach}
        {/if}
    </table>
</div>