{block content}
<h1 n:block=title>{$gallery->name} | Fotogalerie</h1>

<p class="module-menu">
    {control backButton $presenter->link("Photogallery:default")}
    <a href="{$presenter->link('Photogallery:photos',array('id'=>$gallery->id))}" title="Přidat fotografie">
        <i class="fa fa-plus fa-lg green"></i>přidat fotografie
    </a>
</p>

<p>{$gallery->description}</p>


<p n:if="count($galleryPhotos) == 0"><i>V této galerii nejsou žádné fotografie. Fotografie můžete přidat <a n:href="Photogallery:photos $gallery->id">zde</a></i></p>
<div class="photos">
    <div class="photo" n:foreach="$galleryPhotos as $photo">
        <div>
            <img height="200" src="{$basePath}/upload/{$photo->path}">
        </div>
        <div class="txts">
            <p>{if $photo->title}{$photo->title|truncate:50}{else}&nbsp;{/if}</p>
        </div>
        <div class="btns">
            <a n:href="Photo:edit $photo->id, $gallery->id" class="fa fa-pencil fa-lg green" title="Upravit popisky galerie"></a>
            <a n:href="removePhoto! $photo->id" class="fa fa-times fa-lg red" title="Odebrat fotografii z galerie"></a>
        </div>
    </div>
</div>



