{block head}
<link rel="stylesheet" href="{$basePath}/www/jqueryfiletree/jqueryFileTree.css" />
<style>
    #photolooker, #photolooker .action p, #photolooker .action .addbtn, #dirlooker, #dirlooker .action p, #dirlooker .action addbtn{
        display: none;
    }

</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/basic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
{/block}

{block footerScripts}
    <script type="text/javascript" src="{$basePath}/www/jqueryfiletree/jquery.easing.js"></script>
    <script type="text/javascript" src="{$basePath}/www/jqueryfiletree/jqueryFileTree.js"></script>
    <script>
        $(document).ready(function () {
            $('#filechooser').fileTree({
                root: '/',
                script: '/cms/file/getdir'
            }, function (file) {
                $('#dirlooker').hide();
                var text = $("#photo" + file + " a").text();
                var src = {$basePath} + "/upload/" + text;
                $("#photolooker img").attr('src', src);
                $('#photolooker').data('photo-id', file);
                $('#photolooker').show();
                var gallery = {$activeGallery->id};
                checkPhotoExists(gallery, file);
            }, function (dir) {
                $('#photolooker').hide();
                $('#dirlooker').hide();
                $('#dirlooker .action p').hide();
                $('#dirlooker .action .addbtn').hide();
                dir = dir.replace(/\//g, '');

                $.ajax({
                    method: "GET",
                    url: {$presenter->link('File:dirinfo')},
                    data: {
                        dir: dir
                    },
                    success: function (result, status) {
                        if (result.status === 0) {
                            console.log('Parameter error');
                            return;
                        }
                        $('#dirlooker .dirname').text(result.name);
                        $('#photocount').text(result.imageCount);
                        $('#dirlooker').data('dir-id', dir);

                        $('#dirlooker').show();
                        $('#dirlooker .action .addbtn').show();
                    }
                });
            });

            $('#photolooker .addbtn').click(function () {
                var gallery = {$activeGallery->id};
                var photo = $('#photolooker').data('photo-id');
                $.ajax({
                    method: "POST",
                    url: {$presenter->link('Photogallery:addphoto')},
                    data: {
                        gallery: gallery,
                        photo: photo
                    },
                    success: function (result, status) {
                        if (result.status === 1) {
                            checkPhotoExists(gallery, photo);
                        }
                    }
                });
            });

            function checkPhotoExists(gallery, photo) {
                $('#photolooker .action p').hide();
                $('#photolooker .action .addbtn').hide();
                $.ajax({
                    method: "POST",
                    url: {$presenter->link('Photogallery:checkphoto')},
                    data: {
                        gallery: gallery,
                        photo: photo
                    },
                    success: function (result, status) {
                        if (result.status === 0) {
                            console.log('Parameter error');
                            return;
                        }
                        if (result.exists) {
                            $('#photolooker .action p').show();
                        } else {
                            $('#photolooker .action .addbtn').show();
                        }
                    }
                });
            }

            $('#dirlooker .addbtn').click(function () {
                var gallery = {$activeGallery->id};
                var dir = $('#dirlooker').data('dir-id');
                $.ajax({
                    method: "POST",
                    url: {$presenter->link('Photogallery:adddirphotos')},
                    data: {
                        gallery: gallery,
                        dir: dir
                    },
                    success: function (result, status) {
                        if (result.status === 0) {
                            console.log('Parameter error');
                            return;
                        }

                        $('#dirlooker .action .addbtn').hide();
                        $('#dirlooker .action p').show();
                    }
                });
            });
        });
    </script>
{/block}

{block content}
<h1 n:block=title>Přidání fotografií do galerie</h1>
<p class="module-menu">
    {control backButton $backUrl}
</p>



<div class="ui-tabs">
    <ul>
        <li>
            <a href="#photos-select" title="Vybrat nahrané fotografie">Vybrat nahrané fotografie</a>
        </li>
        <li>
            <a href="#photos-upload" title="Nahrát nové fotografie">Nahrát nové fotografie</a>
        </li>
    </ul>

    <div id="photos-select">
        <div id="filechooser"></div>

        <div id="dirlooker" data-dir-id="">
            <i>adresář</i>
            <h3 class="dirname">Adresar</h3>
            <p>Počet fotografií: <b id="photocount"></b></p>
            <div class="action">
                <p>Fotografie přidány</p>
                <button class="addbtn">Přidat fotografie do galerie</button>
            </div>
        </div>

        <div id="photolooker" data-photo-id="">
            <i>fotografie</i>
            <div>
                <img src="#" height="300" />
            </div>
            <div class="action">
                <p>Fotografie se nachází v dané galerii</p>
                <button class="addbtn">Přidat do galerie</button>
            </div>
        </div>
    </div>

    <div id="photos-upload">
        <div class="cleaner"></div>
        <div>
            <form n:name="photoUploadForm" class="dropzone" id="fileDropzone">
                <div class="fallback">
                    <input n:name="file" />
                    <input n:name="send" />
                </div>
            </form>
        </div>

        <script>
            Dropzone.options.fileDropzone = {
                acceptedFiles: 'image/*'
            };
        </script>
    </div>


    <div class="cleaner"></div>
</div>