<h1>Rezervace z {$formName}</h1>

<table>
    <tr>
        <th>Datum rezervace</th>
        <td>{$formValues->dateFrom} - {$formValues->dateTo}</td>
    </tr>
    <tr>
        <th>Jméno a příjmení</th>
        <td>{$formValues->name}</td>
    </tr>

    {if $reservationConfig['person']}
        <tr>
            <th>Počet osob</th>
            <td>{$formValues->person}</td>
        </tr>
    {/if}

    <tr>
        <th>{$reservationConfig['object']['name']}</th>
        <td>{$reservationConfig['object']['items'][$formValues->object]}</td>
    </tr>

    <tr>
        <th>Telefon</th>
        <td>{$formValues->phone}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{$formValues->email}</td>
    </tr>
    <tr>
        <th colspan="2">Poznámka</th>
    </tr>
    <tr>
        <td colspan="2">{$formValues->note}</td>
    </tr>
</table>

<p>Rezervace odeslána z adresy: {$formValues->backlink}</p>

<p>&copy; <a href="http://www.mgazda.cz" title="Webové aplikace na míru - MGazda.cz">MGazda.cz</a></p>