{block content}
    <div id="hlavni">
        <h1>{$title}</h1>

        <div class="search-results">

            {if !empty($results)}
                {foreach $results as $module => $result}
                    <div class="module">
                        <h2>{$result['name']}</h2>
                        <p>Nalezeno: <strong>{$result['items']->count()}</strong> záznamů</p>

                        {foreach $result['items'] as $item}
                            <div class="item">
                                {if $module == 'Page'}
                                    <h3>
                                        <a href="{$basePath}{$item->url}" title="{$item->heading}">{$item->heading}</a>
                                    </h3>
                                {elseif $module == 'Category'}
                                    <h3>
                                        <a href="{$basePath}/kategorie{$item->url}" title="{$item->heading}">{$item->heading}</a>
                                    </h3>
                                {elseif $module == 'Product'}
                                    <h3>
                                        <a href="{$basePath}/produkt{$item->url}" title="{$item->heading}">{$item->heading}</a>
                                    </h3>
                                {elseif $module == 'Article'}
                                    <div class="item">
                                        <h3>
                                            <a href="{$basePath}/clanek{$item->url}" title="">{$item->name}</a>
                                        </h3>
                                        <div class="annotation">{$item->annotation|noescape}</div>
                                    </div>
                                {elseif $module == 'Podcast'}
                                    {if $item->cms_podcast_category_id && $item->cms_podcast_category}
                                        <h3>
                                            <a href="{$basePath}/podcasty{$item->cms_podcast_category->url}" title="{$item->cms_podcast_category->name}">{$item->name}</a>
                                        </h3>
                                    {else}
                                        <h3>{$item->name}</h3>
                                    {/if}
                                {/if}
                            </div>
                        {/foreach}
                    </div>
                {/foreach}
            {else}
                <p>Seznam výsledků je prázdný.</p>
            {/if}

        </div>
    </div>
{/block}
