{block content}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Náklady a výnosy</h1>
            </div>

            <div class="row">
                <div class="col-sm-12" style="padding-bottom: 15px;">
                    {control filterForm}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    {includeblock 'listCost.latte'}
                </div>
                
                <div class="col-sm-6">
                    {includeblock 'listRevenues.latte'}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    Zisk: 0
                </div>
            </div>
        </div>
    </div>
{/block}