<div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-6">
        <h2 style="margin: 0;">Výnosy</h2>
    </div>
    <div class="col-sm-6 align-right">
        <a n:href="add?type=revenue" title="Přidat novou firmu" class="btn btn-xs btn-success">
            <i class="icon-plus"></i>
            přidat výnos
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Projekt</th>
                <th>Úkol</th>
                <th>Název</th>
                <th>Zaplaceno</th>
                <th>Cena</th>
            </tr>
        </thead>

        {var $revenuesSum = 0}
        {foreach $revenues as $revenue}
            {var $revenuesSum += $revenue->price}
            <tr>
                <td>
                    {control listActionButtons $revenue->id}
                </td>
                <td>{$revenue->project->name}</td>
                <td>{$revenue->ErpIssue->name}</td>
                <td>{$revenue->name}</td>
                <td class="align-center">
                    <span class="width-50 label label-{$revenue->pay ? 'success' : 'danger'}">{$revenue->pay ? 'ano' : 'ne'}</span>
                </td>
                <td class="align-right">{$revenue->price}&nbsp;Kč</td>
            </tr>
        {/foreach}

        <tr>
            <td colspan="5" class="align-right bolder">
                Celkem:
            </td>
            <td class="align-right bolder">{$revenuesSum}&nbsp;Kč</td>
        </tr>
        
    </table>
</div>