<div class="author">
    {if !empty($userImage)}
        <div class="image">
            <a href="#na" title="{$userName}"><img src="{$basePath}/data/user/pw2/{$userImage}" alt="{$userName}"></a>
        </div>
    {/if}

    <h3><a href="#na" title="{$userName}">{$userName}</a></h3>
    <p>{$annotation}</p>
    <p class="vsechnyClanky">
        <a href="{$basePath}/magazin/autor/{$alias}">Všechny články autora</a>
    </p>
</div>