{if $authors->count() > 0}
    <div class="authors">

        {var $i = 1}
        {foreach $authors as $author}
            <div class="author{($i++ % 2) == 0 ? ' even'}">
                {if !empty($author->photo)}
                    <div class="image">
                        <a href="#na" title="{$author->name} {$author->surname}"><img src="{$basePath}/data/user/pw2/{$author->photo}" alt="{$author->name} {$author->surname}"></a>
                    </div>
                {/if}

                <h2><a href="#na" title="{$author->name} {$author->surname}">{$author->name} {$author->surname}</a></h2>

                {if !empty($author->annotation)}
                    <p>{$author->annotation}</p>
                {/if}

                <p class="more">
                    <a href="#na" title="Všechny články autora">Všechny články autora</a>
                </p>
            </div>
        {/foreach}

    </div>
{/if}