<div class="author">
    <div class="image">
        <a href="#na" title="Martin Pešek"><img src="{$basePath}/images/test-images/martin-pesek.jpg" alt="Martin Pešek"></a>
    </div>

    <h3><a href="#na" title="Martin Pešek">Martin Pešek</a></h3>
    <p>Medailonek autora. Pár slov o autorovi. Medailonek autora. Pár slov o autorovi. Medailonek autora. Pár slov o autorovi.</p>
</div>