<footer class="footer{$bottomClass}">
    <section class="footer__inner">
        <aside class="footer-detail">
            <summary>
                <i class="fa fa-envelope"></i> Novinky a slevy emailem
            </summary>
            <p>Nechte si zasílat informace o novinkách, akcích a slevách.</p>

            {control newsletterControl:box}
        </aside>
        <menu class="footer__box footer__box--b1">
            <aside class="footer-detail">
                <summary><i class="fa fa-info"></i> Důležité informace</summary>
                {control textbox:pure 2}
                {*
                <ul class="footer-menu">
                    <li class="footer-menu__item"><a href="{$basePath}/obchodni-podminky" title="Vše o nákupním procesu">Vše o nákupu</a></li>
                    <li class="footer-menu__item"><a href="{$basePath}/kontakt" title="Benefity">Naše výhody</a></li>
                    <li class="footer-menu__item"><a href="http://www.webovereseni.cz" title="Tvorba internetových obchodů">Autoři e-shopu</a></li>
                </ul>
                *}
            </aside>
            <aside class="footer-detail">
                <summary><i class="fa fa-money"></i> Možnosti platby</summary>
                {control textbox:pure 3}
                {*
                <ul class="footer-menu">
                    <li class="footer-menu__item">Platba na dobírku</li>
                    <li class="footer-menu__item">Platba hotově</li>
                    <li class="footer-menu__item">Pltaba předem bankovním převodem</li>
                </ul>
                *}
            </aside>
            <aside class="footer-detail">
                <summary><i class="fa fa-comments-o"></i> Kontaktujte náš</summary>
                {control textbox:pure 1}
                {*
                <p>Rychnov nad Kněžnou, 516 01, Pod Budínem 1221</p>
                <p><a title="Telefonické objednávky" href="tel:+420602712603">Tel. 602 712 603</a></p>
                <p><a title="Dotazy" href="mailto:velkoobchod.houdek@seznam.cz">E-mail: velkoobchod.houdek@seznam.cz</a></p>
                *}
            </aside>
        </menu>
    </section>
     <aside class="footer-copy">
        <summary>&nbsp;</summary>
         <div class="footer-copy">
          <p>&copy; {date('Y')} HOUDEK CZ, s.r.o. - všechna práva vyhrazena |
          <a href="{$basePath}/pristupnost" title="">Prohlášení o přístupnosti</a> |
          <a href="{$basePath}/uziti" title="">Podmínky užití</a> |
          <a href="{$basePath}/ochrana" title="">Ochrana osobních údajů</a> |
          <a href="{$basePath}/vymena" title="">Výměna odkazů</a> |
          &#174; Tvorba webových stránek <a href="http://www.webovereseni.cz" title="Web vytvořilo">webovereseni.cz</a></p>
         </div>
      </aside>
      <div class="cleaner"></div>
</footer>