<header class="header-bg">
    <div class="header">
        <div class="header-content">
            <div id="logo">
                <a href="{$basePath}/" title="Úvodní stránka"><p>Houdek<em>cz</em></p></a>
                <span class="moto">Prodej jednorázového nádobí</span>
            </div>
            <div class="search-box">
                <form action="{$basePath}/search" method="get">
                    <input class="field" type="text" name="q" value="">
                    <button class="search-box__submit" type="submit">
                        <span class="visuallyhidden">Hledat</span>
                        <span class="icon-search"></span>
                    </button>
                </form>
            </div>

            {* komponenta kosiku *}
            {control cartMiniControl}
        </div>
    </div>
    <div class="cleaner"></div>
</header>

<nav class="menu-bg">
    <div class="menu">
        {* komponenta generatoru hlavniho menu *}
        {control mainMenu}

        <div class="mobile">
            <i class="fa fa-mobile"></i>
            <span class="code">+420</span>
            <a href="tel:+420775372409" title="Telefonické objednávky"><strong>775 372 409</strong></a>
            |
            <i class="fa fa-envelope"></i>
            <a href="mailto:info@houdekcz.cz" title="Napište nám">info@houdekcz.cz</a>
        </div>
    </div>
</nav>