<p>Vážený zákazníku,<br /><br />
děkujeme za Váš nákup, objednávku jsme v pořádku přijali. O datu expedice a způsobu doručení vás budeme dále informovat e-mailem.</p>

{$order->content|noescape}

<p>
Děkujeme!<br />
</p>