<p>Vážený zákazníku,<br /><br />
vaši zakázku jsme expedovali a bude v následujících dnech doručována. O termínu dodání vás bude informovat vybraný doručovatel.</p>

{$order->content|noescape}

<p>
Děkujeme!<br />
</p>