{block content}

    <p>
        {control backButton}
    </p>

    {control form}

    {if !empty($id)}
        <div class="slider-items">
            <p class="module-menu">
                <a href="{$presenter->link(':Admin:Cms:Menuitem:add?cms_menu='.$id)}" title="Přidat obrázek pro slider">
                    <i class="fa fa-plus fa-lg green"></i>
                    přidat položku menu
                </a>
            </p>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="80px;">Akce</th>
                            <th class="center">Název</th>
                            <th class="center">Url</th>
                            <th class="center">Stránka</th>
                            <th class="center">Zobrazit</th>
                            <th class="center">Otevřít v novém okně</th>
                            <th class="center">Dropdown</th>
                        </tr>
                        </thead>

                        {if isset($items) && $items->count()}
                            {foreach $items as $item}
                                <tr>
                                    <td>
                                        <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <a class="blue" title="Editace" href="{$presenter->link(':Admin:Cms:Menuitem:edit?id='.$item->id)}">
                                                <i class="icon-pencil bigger-150"></i>
                                            </a>

                                            <a data-confirm="Opravdu chcete záznam vymazat?" class="red mg-delete" title="Smazání" href="{$presenter->link(':Admin:Cms:Menuitem:delete?id='.$item->id)}">
                                                <i class="icon-trash bigger-150"></i>
                                            </a>
                                        </span>



                                    </td>
                                    <td>{$item->name}</td>
                                    <td>{$item->url}</td>
                                    <td>
                                        {if $item->cms_page}
                                            {$item->cms_page->name}
                                        {/if}
                                    </td>
                                    <td class="center">{control listYesNo $item->view}</td>
                                    <td class="center">{control listYesNo $item->newWindow}</td>
                                    <td class="center">{control listYesNo $item->dropdownEnable}</td>
                                </tr>
                            {/foreach}
                        {/if}
                    </table>
                </div>
            </div>
        </div>
    {/if}

{/block}