{block content}
    <div class="row">
        <div class="col-xs-12">

            {include 'list-filter.latte'}

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    {*<th width="80px;">Akce</th>*}
                                    <th>Č. obj.</th>
                                    <th>Datum přijetí</th>
                                    <th>Objednavatel</th>
                                    <th>Doprava a platba</th>
                                    <th class="align-center">Poč. položek</th>
                                    {*<th class="align-center">Cena bez DPH</th>*}
                                    <th class="align-center">Cena s DPH</th>
                                    <th class="align-center">Cena celkem</th>
                                    <th class="align-center">Stav</th>
                                    {*
                                    <th class="align-center">Expedováno</th>
                                    *}
                                </tr>
                            </thead>

                            {if $items->count()}
                                {foreach $items as $item}
                                    <tr>
                                        {*
                                        <td>
                                            <a title="Zobrazit detail objednávky č. {$item->id}" n:href="detail $item->id">
                                                <i class="fa fa-file-text-o fa-lg blue"></i>
                                            </a>
                                        </td>
                                        *}
                                        <td class="align-center">
                                            <a title="Zobrazit detail objednávky č. {$item->id}" n:href="detail $item->id">{$item->id}</a>
                                        </td>
                                        <td>{$item->_insertDate->format('d.m.Y H:i')}</td>
                                        <td>
                                            {$item->name} ({$item->email})<br />
                                            {$item->street}, {$item->city} {$item->zip}
                                        </td>
                                        <td>
                                            {if $item->eshop_delivery_id}
                                                {$item->eshop_delivery->name}
                                            {/if}
                                            {if $item->eshop_delivery_payment_id}
                                                <br />
                                                {$item->eshop_delivery_payment->name}
                                            {/if}
                                        </td>
                                        <td class="align-right">{$item->itemCount|number:2}</td>
                                        {*<td class="align-right">{$item->priceWithoutVat|number:2}</td>*}
                                        <td class="align-right">{$item->priceWithVat|number:2}</td>
                                        <td class="align-right">{$item->totalPrice|number:2}</td>
                                        <td class="align-center">
                                            <form action="{$presenter->link(':Admin:Eshop:Order:')}" method="get" class="changeStatus ajax">
                                                <span>
                                                    <input type="hidden" name="do" value="changestatus" />
                                                    <input type="hidden" name="orderId" value="{$item->id}" />
                                                    <select name="eshop_order_status_id">
                                                        {foreach $statusArray as $statusId => $statusName}
                                                            <option value="{$statusId}" {$statusId == $item->eshop_order_status_id ? 'selected="selected"'|noescape}>{$statusName}</option>
                                                        {/foreach}
                                                    </select>
                                                    <input type="submit" name="submit" value="uložit" />
                                                </span>
                                            </form>
                                            {if $eshopConfig['invoice']['pdf']}
                                                <a n:href=":Admin:Eshop:Order:pdf $item->id" title="Generuj PDF">pdf</a>
                                            {/if}
                                        </td>
                                        {*
                                        <td class="align-center">
                                            <form action="{$presenter->link(':Admin:Eshop:Order:shipped', array('id' => $item->id))}" method="get" class="shipped ajax">
                                                <span>
                                                    <input type="checkbox" value="1" name="shipped" {$item->shipped ? 'checked="checked"'|noescape} />
                                                </span>
                                            </form>
                                        </td>
                                        *}
                                    </tr>
                                {/foreach}
                            {/if}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}