<div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-6">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-xs-12">
                {form filterForm}
                    {input filter}
                    <p>
                        {label number class => col-xs-3 /}
                        {input number}
                    </p>
                    <p>
                        {label dateFrom class => col-xs-3 /}
                        {input dateFrom}
                        do
                        {input dateTo}
                    </p>
                    <p>
                        {label status class => col-xs-3 /}
                        {input status}
                    </p>
                    <p>
                        {input submit}
                    </p>
                {/form}
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-xs-12">
                <span class="col-xs-3">Rychlý filtr:</span>
                <a class="btn btn-xs {$filter == 'all' ? 'btn-primary' : 'btn-info'}" title="Všechny objednávky" n:href=":Admin:Eshop:Order:$action?filter=all">
                    vše
                </a>
                <a class="btn btn-xs {$filter == 'yesterday' ? 'btn-primary' : 'btn-info'}" title="Včerejší objednávky" n:href=":Admin:Eshop:Order:$action?filter=yesterday">
                    včera
                </a>
                <a class="btn btn-xs {$filter == 'today' ? 'btn-primary' : 'btn-info'}" title="Dnešní objednávky" n:href=":Admin:Eshop:Order:$action">
                    dnes
                </a>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-xs-12">
                <span class="col-xs-3">Pohled:</span>
                <a class="btn btn-xs {$action == 'default' ? 'btn-primary' : 'btn-info'}" title="Rychlý přehled" n:href=":Admin:Eshop:Order:default?filter=$filter">
                    rychlý přehled
                </a>
                <a class="btn btn-xs {$action == 'products' ? 'btn-primary' : 'btn-info'}" title="Objednávky s produkty" n:href=":Admin:Eshop:Order:products?filter=$filter">
                    objednávky s produkty
                </a>
            </div>
        </div>

        {if $eshopConfig['invoice']['transportExport']}
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-12">
                    <span class="col-xs-3">Export:</span>
                    <a class="btn btn-xs btn-success" title="Geis parcel" n:href=":Admin:Eshop:Order:exportgeis?filter={$filter}" target="_blank">
                        Geis
                    </a>
                    <a class="btn btn-xs btn-success" title="Česká pošta" n:href=":Admin:Eshop:Order:exportpost?filter={$filter}" target="_blank">
                        Česká pošta
                    </a>
                </div>
            </div>
        {/if}
    </div>

</div>