{block content}
    <div id="login-box">
        <p class="image">
            <img src="{$basePath}/design/wr/images/logo.png" alt="{$cmsName}" title="{$cmsName}" />
        </p>
        <h1>{$cmsName}</h1>
        
        {form signInForm}
            <fieldset>
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        <input type="text" placeholder="Uživatelské jméno" class="form-control" name="username" />
                        <i class="icon-user"></i>
                    </span>
                </label>

                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        <input type="password" placeholder="Heslo" class="form-control" name="password" />
                        <i class="icon-lock"></i>
                    </span>
                </label>

                <div class="space"></div>

                <div class="clearfix">
                    <input class="width-35 pull-right btn btn-sm btn-primary" type="submit" value="Přihlásit se" />
                </div>

                <div class="space-4"></div>
            </fieldset>
        {/form}
    </div>
{/block}