{if !empty($items)}
    <p>
        <span>{$name}</span>

        {foreach $items as $itemName => $item}
            <a href="{$presenter->link('default?filter='.$itemName)}" title="{$item['name']}" class="btn btn-xs btn-{$active == $itemName ? 'primary' : 'info'}">{$item['name']}</a>
        {/foreach}
    </p>
{/if}