{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-6">
                    {control listAddButton 'přidat kategorii', 'Přidat novou kategorii'}

                    {if ($user->isInRole('superadmin') || $user->isInRole('admin') || $user->isInRole('administrator'))}
                        <a class="btn btn-xs btn-warning" title="Optimalizovat kategorie pro FE" n:href="preparemenu"
                           onclick="if (confirm('Chcete spustit optimalizaci kategorii eshopu?')) { return true; } return false;">
                            <i class="icon-refresh"></i>
                            optimalizovat kategorie pro FE
                        </a>
                    {/if}
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Akce</th>
                                    <th>Název kategorie</th>
                                    <th>Zobrazit</th>
                                    <th>Produkty</th>
                                </tr>
                            </thead>

                            {if $items->count()}
                                <tbody{* class="sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_page'))}"*}>
                                    {var $level = 0}
                                    {block rows}
                                        {foreach $items as $item}
                                            <tr>
                                                <td style="width: 70px;">
                                                    {control listActionButtons $item->id}
                                                </td>
                                                <td style="width: 45px;">
                                                    <span class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                        <a class="green"
                                                           title="Přidat nový produkt do kategorie {$item->name}"
                                                           n:href=":Admin:Eshop:Product:add?categoryId=$item->id">
                                                            <i class="icon-plus-sign bigger-150"></i>
                                                            {*přidat produkt*}
                                                        </a>
                                                    </span>
                                                </td>
                                                <td>
                                                    {for $i=0; $i < $level; $i++}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/for}
                                                    {$item->name}
                                                </td>
                                                <td class="center">{control listYesNo $item->view}</td>
                                                <td class="center">
                                                    {*
                                                    {var $count = $item->related('eshop_category_product.eshop_category_id')->count()}
                                                    {if $count > 0}
                                                        <a n:href=":Admin:Eshop:Product:?categoryId=$item->id" title="Zobrazit produkty {$item->name}">produktů: {$count}</a>
                                                    {else}
                                                        produktů: 0
                                                    {/if}
                                                    *}
                                                    {if $item->countProducts > 0}
                                                        <a n:href=":Admin:Eshop:Product:?categoryId=$item->id" title="Zobrazit produkty z kategorie {$item->name}">produktů: {$item->countProducts}</a>
                                                    {else}
                                                        produktů: 0
                                                    {/if}

                                                </td>
                                            </tr>

                                            {? $children = $item->related('eshop_category._parent')}
                                            {if $children->count()>0}
                                                {include #rows, items => $children, level => $level+1}
                                            {/if}
                                        {/foreach}
                                    {/block}
                                </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}