{block footerScripts}
    <script src="{$basePath}/www/js/admin/cms/page.jquery.js"></script>
{/block}

{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>

        <a n:href="default" title="Zpět na výpis produktů" class="btn btn-xs btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">

            {form form}

                {* ***** vypsani chyb ***** *}
                <div class="alert alert-block alert-danger" n:foreach="$form->errors as $error">
                    <button data-dismiss="alert" class="close" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    {$error}
                </div>

                <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-23" aria-selected="true">
                            <a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-23">Základní nastavení</a>
                        </li>

                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-24" aria-selected="false">
                            <a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-24">SEO nastavení</a>
                        </li>

                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-25" aria-selected="false">
                            <a href="#tabs-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-25">Rozšířené nastavení</a>
                        </li>
                    </ul>


                    <div id="tabs-1" aria-labelledby="ui-id-23" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                        {*control form*}

                        <p>
                            {input name}
                        </p>
                        {*
                        <p>
                            {input heading} {input showHeading}
                        </p>
                        *}

                        <p>
                            {var $btnConfig = array("titleShow" => "zobrazit anotaci","titleHide" => "skrýt anotaci")}
                            <a href="#page-annotation" class="show-annotation" data-wr-config='{json_encode($btnConfig)}'>zobrazit anotaci</a>
                                <span id="page-annotation" class="hidden">
                                    <br />
                                    <label>{label annotation /}</label>
                                    {input annotation}
                                </span>
                        </p>
                        <p>
                            <label>{label text /}</label>
                            {input text}
                        </p>
                    </div>

                    <div id="tabs-2" aria-labelledby="ui-id-24" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">
                        <p>{input title}</p>
                        <p>{input keywords}</p>
                        <p>{input description}</p>
                        <p>{input url}</p>
                    </div>

                    <div id="tabs-3" aria-labelledby="ui-id-25" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">
                        <p>{input view}</p>
                        {*if ($user->isInRole('administrator'))}
                            <p>
                                <label>{label template /}</label>
                                {input template}
                            </p>
                        {/if*}
                    </div>

                    <div class="cleaner"></div>
                    {input save}

                </div>
            {/form}
        </div>
    </div>
{/block}