{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-12">
                    <p>
                        Celkem produktů: {$itemsCount}
                    </p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-12">
                    <h2>Výpočet ceny za kus</h2>

                    {control pricePerItemForm}
                </div>
            </div>

        </div>
    </div>
{/block}