{block content}
    <h1>Modul návštěvní kniha</h1>

    <p class="add">
        <a n:href="add" title="Přidat nový záznam" class="add">přidat nový záznam</a>
    </p>

    <div class="box">

        <table class="list">
            <tr>
                <th>Akce</th>
                <th>Jméno a příjmení</th>
                <th>E-mail</th>
                <th>Datum</th>
                <th>Zobrazit</th>
            </tr>

            {foreach $items as $item}
            <tr>
                <td>
                    {control listActionButtons $item->id}
                </td>
                <td>{$item->name}</td>
                <td>
                    <a href="mailto:{$item->email}" title="Email na {$item->name}" class="mailto">{$item->email}</a>
                </td>
                <td>{$item->date|date:'d.m.Y H:i'}</td>
                <td>{$item->display ? 'ano' : 'ne'}</td>
            </tr>
            {/foreach}

        </table>

    </div>
{/block}