{block content}
    <h1>Upravit záznam</h1>

    <p class="back">
        <a n:href="default" title="Zpět na výpis záznamů">zpět</a>
    </p>

    <div class="box">
        {control guestbookForm}
    </div>
{/block}