<div id="reservation-list">

    <div class="filter">
        <h2>Filtr</h2>
        {control calendarFilterForm}
    </div>

    <h2>Rezervace {$objectName} rok {$year}</h2>

    {snippet months}
    {if $months}
        {foreach $monthsData as $monthNum => $monthMatrix}
            <div class="month month-{$monthNum}">
                <h3>{$months[$monthNum]}</h3>
                <table>
                    <tr>
                        {for $i=1; $i<=7; $i++}
                            <th>{$days[$i]}</th>
                        {/for}
                    </tr>
                    {foreach $monthMatrix as $weekNum => $weekArray}
                        <tr>
                            {foreach $weekArray as $dayInWeek => $dayInMonth}
                                <td{isset($reserverDays[$monthNum][$dayInMonth]) ? ' class="reserved"'}>{$dayInMonth}</td>
                            {/foreach}
                        </tr>
                    {/foreach}
                </table>
            </div>
        {/foreach}
        <div style="clear: both;"></div>
    {/if}
    {/snippet}

</div>