{block content}
    <p>
        {control listAddButton}
    </p>

    {*control filter:quick*}

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>
                                <a n:href="default?sort=name" title="Seřadit podle názvu">Název</a>
                            </th>
                            <th>Zobrazit</th>
                            <th>Počet fotek</th>
                        </tr>
                    </thead>

                    {foreach $items as $item}
                        <tr>
                            <td>
                                {control listActionButtons $item->id}
                            </td>
                            <td>{$item->name}</td>
                            <td>
                                {control listYesNo $item->view}
                            </td>
                            <td>{$item->related('cms_photogalleryitem')->count()}</td>
                        </tr>
                    {/foreach}

                </table>
            </div>
        </div>
    </div>
{/block}