{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>
        
        <a n:href="default" title="Zpět na výpis projektů" class="btn btn-sm btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">
            {control $formComponentName}
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <h2>Fotografie</h2>
            
            {var $items = $photogallery->related('cms_photogalleryitem')}
            
            {if $items->count() > 0}
                <div class="row-fluid">
                    <ul class="ace-thumbnails">
                    
                        {foreach $items as $item}
                            {if $item->delete == 0}
                                <li>
                                    <a data-rel="colorbox" title="Photo Title" href="{$basePath}/data/photogallery/{$photogallery->alias}/original/{$item->file}" class="cboxElement">
                                        <img src="{$basePath}/data/photogallery/{$photogallery->alias}/pw2/{$item->file}">
                                    </a>

                                    <div class="tools">
                                        <a  n:href=":Admin:Cms:Photogalleryitem:edit $item->id">
                                            <i class="icon-pencil"></i>
                                        </a>

                                        <a n:href=":Admin:Cms:Photogalleryitem:delete $item->id" class="mg-delete" data-confirm="Opravdu chcete fotografii vymazat?">
                                            <i class="icon-remove red"></i>
                                        </a>
                                    </div>
                                </li>
                            {/if}
                        {/foreach}

                    </ul>
                </div>
            {else}
                <p>Fotografie nejsou k dispozici.</p>
            {/if}
        </div>
    </div>
{/block}