{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                <div class="col-xs-6 align-right">
                    <span>Související: </span>
                    <a class="btn btn-xs btn-primary" title="Štítky článků" n:href=":Admin:Cms:Articlelabel:">štítky</a>
                    <a class="btn btn-xs btn-primary" title="Barvy hlavičky článků" n:href=":Admin:Cms:Articlecolor:">barvy</a>
                </div>
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Akce</th>
                                    <th>
                                        <a n:href="default?sort=name" title="Seřadit podle názvu">Název</a>
                                    </th>
                                    <th>Hl. obrázek</th>
                                    <th>Zobrazit</th>
                                    <th>
                                        <a n:href="default?sort=url" title="Seřadit podle názvu url adresy">Url</a>
                                    </th>
                                    <th>Datum publikace</th>
                                    <th>Poč. shlédnutí</th>
                                </tr>
                            </thead>

                            <tbody class="sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_page'))}">
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>
                                            <a n:href=":Article:edit $item->id" title="Editace článku s náhledem" target="_blank">{$item->name}</a>
                                        </td>
                                        <td>
                                            {if !empty($item->mainImage)}
                                                <img src="{$dataWww}/articles/preview/{$item->mainImage}" title="{$item->name}" />
                                            {/if}
                                        </td>
                                        <td>
                                            {control listYesNo $item->view}
                                        </td>
                                        <td>{$item->url}</td>
                                        <td>
                                            {if $item->datePublication}
                                                {$item->datePublication->format('d.m.Y H:i')}
                                            {/if}
                                        </td>
                                        <td>{$item->showCount}</td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}