<div class="ikony">
  <ul>
    <li class="i1"><span>Internet k dispozici <br>v celém areálu</span></li>
    <li class="i2"><span>Vhodné pro rodiny <br>s dětmi</span></li>
    <li class="i3"><span>Zvířata vítána</span></li>
    <li class="i4"><span>Parkování v uzamčené zahradě</span></li>
    <li class="tlaco"><a title="Rezervace apartmánu" href="rezervace">Rezervace apartmánu</a></li>
    <li class="i5"><span>WC v apartmánu</span></li>
    <li class="i6"><span>Koupelna se sprchou <br>v apartmánu</span></li>
    <li class="i7"><span>Kuchyňka v apartmánu</span></li>
    <li class="i8"><span>Venkovní krb a pergola <br>k dispozici</span></li>
  </ul>
</div>