<div class="rozcestnik">
    <div class="roz1"><h2><a title="Apartmány ve Velkém Mederu" href="apartmany">Apartmány</a></h2></div>
    <div class="roz2"><h2><a title="Ceník ubytování ve Velkém Mederu" href="cenik">Ceník</a></h2></div>
    <div class="roz3"><h2><a title="Fotogalerie ubytování ve Velkém Mederu" href="fotogalerie">Fotogalerie</a></h2></div>
</div>