{* This is the welcome page, you can delete it *}

{block content}
    <section id="canvas">
        <div id="moto">
            {*
            <h1>Vše pro web</h1>
            <h2>Poznejte rozdíl v technologii, přistupu, zkušenostech a zisku!</h2>
            *}
            {control textbox:pure 1}
        </div>
        <div id="bubbles"> <!--flash, shake, bounce, tada, swing, wobble, wiggle, pulse, fadeIn, bubble2 wiggle, bubble2 tada  -->
            <!--<div class="bubble b1  bubble1 levit"><a href="#web" title="Chci nový web/eshop"><h3>Potřebuji <br /> webové řešení</h3></a></div>
            <div class="bubble b2  bubble2 levit"><a href="#mobilni" title="Chci aplikaci na mobil"><h3>Potřebuji <br /> mobilní aplikaci</h3></a></div>
            <div class="bubble b3 bubble1 levit"><a href="#im" title="Chci vyžší zisky"><h3>Potřebuji <br /> internetový marketing</h3></a></div>
            <div class="bubble b4  bubble2 levit"><a href="#analyza" title="Chci nalyzovat problém"><h3>Potřebuji <br /> analýzu webu</h3></a></div>
            <div class="bubble b5  bubble3 levit"><a href="#identitu" title="Chci novou firemní identitu"><h3>Potřebuji <br /> firemní identitu</h3></a></div>-->
            <div class="bubble b1"><a href="#web" title="Chci nový web/eshop"><h3>Potřebuji <br /> webové řešení</h3></a></div>
            <div class="bubble b2"><a href="#mobilni" title="Chci aplikaci na mobil"><h3>Potřebuji <br /> mobilní aplikaci</h3></a></div>
            <div class="bubble b3"><a href="#im" title="Chci vyžší zisky"><h3>Potřebuji <br /> internetový marketing</h3></a></div>
            <div class="bubble b4"><a href="#analyza" title="Chci nalyzovat problém"><h3>Potřebuji <br /> analýzu webu</h3></a></div>
            <div class="bubble b5"><a href="#identitu" title="Chci novou firemní identitu"><h3>Potřebuji <br /> firemní identitu</h3></a></div>
            <div class="clean"></div>
            <p>
                <span class="button">
                    <a href="#" title="Všechny webové služby">Všechny služby</a>
                </span>
            </p>
        </div>
        <div class="clean"></div>
    </section>
    <section id="canvas2">
        <div id="seo">
            {*
            <h2>Proč zvolit nás?</h2>
            <h3>Děláme věci nejen designové, ale i funkční a přitom cenově dostupné.</h3>
            *}
            {control textbox:pure 2}
        </div>
        <div id="benefits">
            <span class="mezera mf"></span>
            <div class="benefit be1">
                <a href="#web" title="Chci nový web/eshop">
                    <h3>Inovativnost <br /> a kreativita</h3>
                    <p>Pomocí nejnovějších technologií a nápadů jsme před konkurencí a maximálizujeme výsledky.</p>
                </a>
            </div>
            <span class="mezera m2"></span>
            <div class="benefit be2">
                <a href="#mobilni" title="Chci aplikaci na mobil">
                    <h3>Použitelnost <br />a komplexnost</h3>
                    <p>Komplexní vývoj webů <br />a mobilních zařízení na <br />míru. Naše práce se líbí.</p>
                </a>
            </div>
            <span class="mezera m3"></span>
            <div class="benefit be3">
                <a href="#im" title="Chci vyžší zisky">
                    <h3>Přístupnost<br /> a viditelnost</h3>
                    <p>Maximální přístupnost jak pro vyhledávače, tak pro lidi. Zviditelníme Vás!</p>
                </a>
            </div>
            <span class="mezera m4"></span>
            <div class="benefit be4">
                <a href="#analyza" title="Chci nalyzovat problém">
                    <h3>Spolehlivost <br /> a zkušenost</h3>
                    <p>Zakládáme si na komunikaci a držíme vždy slovo, proto máme zkušenosti s mnoha projekty.</p>
                </a>
            </div>
            <span class="mezera m5"></span>
            <div class="benefit be5">
                <a href="#identitu" title="Chci novou firemní identitu">
                    <h3>Funkčnost <br /> a jednoduchost</h3>
                    <p>Projekty jsou plně funkční uživatelsky přívětivé, jednoduché a velice intuitivní.</p>
                </a>
            </div>
            <span class="mezera ml"></span>
            <div class="clean"></div>
            <span class="button">
                <a href="#footer-bg" title="Kontaktujte nás">Kontaktujte nás</a>
            </span>
        </div>
        <div class="clean"></div>
    </section>
    <section>
        <div id="earn-money" class="parallax">
            <div id="money">
                {*
                <h2>Našim partnerům vyděláváme peníze</h2>
                <p>Zamlouvá se Vám naše práce?</p>
                <p>Jsme tu pro Vás, navrhneme <a href="#redesign" title="Redesign">nové a lepší řešení.</a></p>
                *}
                {control textbox:pure 3}
            </div>
    <span class="button">
        <a href="#footer-bg" title="Kontaktujte nás">Konzultace zdarma</a>
    </span>
        </div>
    </section>
    <section id="canvas4">
        <div id="realization">
            <div id="refer">
                {*
                <h2>Naše reference</h2>
                <p>Prohlédněte si nejnovější <a href="#realizace" title="Naši partneři">projekty</a>, které jsme realizovali.</p>
                *}
                {control textbox:pure 4}
            </div>
            <div id="realization-slider-bg"></div>
            <div id="realization-shadow-bg"></div>
        </div>
        <div id="realization-passage"></div>
    </section>
{/block}
