<div id="logo">
    <a title="Logo MAYDAYSped.cz" href="/"><img src="/img/logo.png" alt="Logo MAYDAYSped.cz" /></a>
</div>

{control mainMenu}

<div id="tel"></div>

<div class="cleaner">
    <div class="displayNone"></div>
</div>

<div id="banners">
    <ul>
        <li class="b1"><a href="#">EXPORT/IMPORT</a></li>
        <li class="b4"><a href="#">EXPRESNÍ<br /><div id="sup">přeprava</div></a></li>
        <li class="b5"><a href="#">SPECIÁLNÍ<br /><div id="sup">přeprava</div></a></li>
        <li class="b5"><a href="#">POPTÁVKA</a></li>
        <li class="b3"><a href="#">SKLADOVÁNÍ</a></li>
    </ul>
</div>

<div id="slider">
    <div id="slider-title"></div>
</div>