{block content}
    <div id="hlavni">
        {if $page->showHeading}
            <h1>{$page->heading}</h1>
        {/if}
        
        {if in_array($page->id, array(2, 19))}
            {includeblock 'photogallery/thickbox2.latte'}
        {/if}
        
        <div class="text">{!$page->text}</div>

        {includeblock 'subpages.latte'}
        
        {if !in_array($page->id, array(2, 19))}
            {includeblock 'photogallery/thickbox2.latte'}
        {/if}
        
        {control pageComponent}

        <div class="cleaner"></div>
        
    </div>

     {*
     <div id="sloupec">
        {includeblock 'column.latte'}
     </div>
     *}
{/block}
