{if $subpages->count() > 0}
    <div class="subpages">
        <h2>Podstránky</h2>
        
        <div class="items">
            {foreach $subpages as $subpage}
                <div class="subpage">
                    <h3>
                        <a href="{$subpage->url}" title="{$subpage->name}">{$subpage->name}</a>
                    </h3>
                    <div class="annotation">{$subpage->annotation|truncate:50|noescape}</div>
                </div>
            {/foreach}
        </div>
        
    </div>
{/if}