{if $flags->count() > 1}
    <div id="flags">
        <ul>
            {foreach $flags->getLanguages() as $flag}
                <li>
                    <a href="{$flag['url']}" title="{$flag['name']}">
                        <img src="/maydaysped.cz/images/flags/{$flag['id']}.png" alt="{$flag['name']}" width="22px" height="14px" />
                    </a>
                </li>
            {/foreach}
        </ul>
    </div>
{/if}