{block head}
    <link rel="stylesheet" media="screen" href="{$basePath}/library/bxslider/jquery.bxslider.css" />
{/block}

{block footerScripts}
    <script src="{$basePath}/library/bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript">
        $(".bxslider").bxSlider({ pager: false });
    </script>
{/block} 
{block content}
    {* <aside class="company">
      <a href="http://www.proverenaspolecnost.cz/show,16572">
        <img style="border-radius: 10px; box-shadow: 0 0 3px 3px #ddd; border: 1px solid grey" src="http://www.proverenaspolecnost.cz/assets/img/pieczec.php?l=cz2&i=16572" />
      </a>
    </aside> *}
    <section class="slider-wrapper">
        {control bxSlider:byId 1}

        {*
        <div class="nivoSlider">
            <img src="{$basePath}/images/slider/banner.jpg" alt="Akce měsíce na kónické svíčky" title="Akce měsíce na kónické svíčky">

            <div id="description-0" class="nivo-html-caption">
                <h2 class="heading"><strong>Akce</strong> měsíce: <em>kónické svíčky</em></h2>
                <p class="slider-botton">
                   <a href="" title="">vice zde &raquo;</a>
                </p>
            </div>
        </div>
        *}
        <div class="better">
            <span class="better1">
                <i class="fa fa-gift"></i>
                <strong> DOPRAVA ZDARMA</strong>
                <br/> - nad 1 999 Kč
            </span>
            <span class="better2">
                 <a href="http://www.proverenaspolecnost.cz/show,16572">
                  <img src="/www/images/slider/ProverenaFirma.png" alt="Prověřená Firma 2015" />
                  </a>
            </span>
            <span class="better3">
                <i class="fa fa-history"></i>
                <strong> 7 let</strong>
                <br/> - zkušeností v oboru
            </span>
        </div>
    </section>

    <section class="products">
        <aside class="recommended">
            <h2><strong>Akce</strong> měsíce</h2>
        </aside>
        <div class="product-rows">

            {* ESHOP - vypis produktu na HP *}
            {foreach $products as $productInAction}
                {if $productInAction->eshop_product_id}
                    {control eshopProductBox $productInAction->eshop_product}
                {/if}
            {/foreach}

        </div>
        <div class="cleaner"></div>
    </section>
{/block}