{block content}
    <p>
        {control listAddButton}
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>ID (alias)</th>
                            <th>Název</th>
                        </tr>
                    </thead>

                    {if $items->count()}
                        {foreach $items as $item}
                            <tr>
                                <td>
                                    {control listActionButtons $item->id}
                                </td>
                                <td>{$item->id}</td>
                                <td>{$item->name}</td>
                            </tr>
                        {/foreach}
                    {/if}
                </table>
            </div>
        </div>
    </div>

{/block}