{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-6">
                    {*
                    <a class="btn btn-xs btn-success" title="Importovat kategorie" n:href="importcategory">
                        <i class="icon-plus"></i>
                        importovat kategorie
                    </a>
                    *}
                    <a class="btn btn-xs btn-success" title="Importovat produkty" n:href="importproduct">
                        <i class="icon-plus"></i>
                        importovat produkty
                    </a>
                </div>
            </div>


        </div>
    </div>
{/block}