{block content}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    {control listAddButton}
                </div>
                {*
                <div class="col-xs-6 align-right">
                    <span>Výběr zobrazení: </span>
                    <a class="btn btn-xs btn-primary" title="Tabulkové zobrazení" href="#">tabulka</a>
                    <a class="btn btn-xs btn-info" title="Stromové zobrazení" n:href="tree">strom</a>
                </div>
                *}
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-12">
                    {*control filter:quick*}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Akce</th>
                                    <th>Název</th>
                                    <th>Autor</th>
                                    <th>Logo</th>
                                    <th>Obrázek</th>
                                    <th>Banner</th>
                                    <th>Zobrazit</th>
                                    <th>Podcasty</th>
                                </tr>
                            </thead>

                            <tbody{* class="sortable" data-config="{json_encode(array('sortableUrl' => '/admin/core/sort', 'table' => 'cms_podcast_category'))}"*}>
                                {foreach $items as $item}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                            {control listActionButtons $item->id}
                                        </td>
                                        <td>{$item->name}</td>
                                        <td>
                                            {if !empty($item->author_id)}
                                                {$item->author->name} {$item->author->surname}
                                            {/if}
                                        </td>
                                        <td>
                                            {if !empty($item->logo)}
                                                {$item->logo}
                                            {/if}
                                        </td>
                                        <td>
                                            {if !empty($item->image)}
                                                <img src="{$dataWww}/podcastcategory/preview/{$item->image}" title="{$item->name}" />
                                            {/if}
                                        </td>
                                        <td>
                                            {if !empty($item->categoryBanner)}
                                                <img src="{$dataWww}/podcastcategory/banner/preview/{$item->categoryBanner}" title="{$item->name}" />
                                            {/if}
                                        </td>
                                        <td>
                                            {control listYesNo $item->view}
                                        </td>
                                        <td>
                                            {var $podcastCount = $item->related('cms_podcast.cms_podcast_category_id')->count()}
                                            {if $podcastCount > 0}
                                                <a n:href=":Admin:Cms:Podcast:?categoryId=$item->id" title="Zobrazit podcasty {$item->name}">podcastů: {$podcastCount}</a>
                                            {else}
                                                podcastů: 0
                                            {/if}
                                            <br /><br />
                                            <a class="btn btn-minier btn-success" title="Přidat nový podcast" n:href=":Admin:Cms:Podcast:add?categoryId=$item->id">
                                                <i class="icon-plus"></i>
                                                přidat podcast
                                            </a>
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{/block}