{block content}
    <div class="page-header">
        <h1>Modul firmy</h1>
    </div>
    <p>
        <a n:href="add" title="Přidat novou firmu" class="btn btn-sm btn-success">
            <i class="icon-ok"></i>
            přidat novou
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Název</th>
                            <th>Kontakt</th>
                            <th>IČO</th>
                            <th>DIČ</th>
                            {*<th>Datum vložení</th>*}
                            <th>Nasmlouváno</th>
                            <th>Fakturováno</th>
                            <th>Zaplaceno</th>
                            <th>Projekty</th>
                        </tr>
                    </thead>

                    {foreach $items as $item}
                        <tr>
                            <td>
                                {control listActionButtons $item->id}
                            </td>
                            <td>{$item->name}</td>
                            <td>
                                {$item->contactPerson}
                                {if $item->contactEmail}
                                    , <a href="mailto:{$item->contactEmail}" title="Odeslat email">{$item->contactEmail}</a>
                                {/if}
                                {$item->contactPhone ? ', tel.: '.$item->contactPhone}
                            </td>
                            <td>{$item->ico}</td>
                            <td>{$item->dic}</td>
                            {*<td>{$item->insertDate|date:'d.m.Y'}</td>*}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Počet: {$projectRepo->count('rel_company = '.$item->id)}</td>
                        </tr>
                    {/foreach}

                    <tr>
                        <td colspan="5" class="align-right bolder">
                            Celkem:
                        </td>
                        <td class="align-right bolder">0</td>
                        <td class="align-right bolder">0</td>
                        <td class="align-right bolder">0</td>
                        <td class="bolder">Kč</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
{/block}