{block content}

<p class="module-menu">
    {control listAddButton 'přidat štítek', 'Přidat nový štítek'}
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="80px;">Akce</th>
                        <th>Název</th>
                        <th>Alias</th>
                        <th>Zobrazit</th>
                    </tr>
                </thead>

                {if $items->count()}
                    {foreach $items as $item}
                        <tr>
                            <td>
                                {control listActionButtons $item->id}
                            </td>
                            <td>{$item->name}</td>
                            <td>{$item->alias}</td>
                            <td>{control listYesNo $item->view}</td>
                        </tr>
                    {/foreach}
                {/if}
            </table>
        </div>
    </div>
</div>

{/block}