{block dialog}
    <section class="popup-obal">
        <header class="popup-header">
          <a class="popup-modal-dismiss popup-close" href="#" title="zavřít"><i class="fa fa-times-circle"></i></a>
          <p class="product-add"><i class="fa fa-cart-plus"></i> Právě jste přidali do košíku:</p>
        </header>
        <p class="product-name">{$product->getName()}</p>

        <p class="product-info">
            {if $product->getVariantId()}
                Velikost: {$product->getVariantName()},
            {/if}
            {$product->getQty()}&nbsp;{$product->getUnit()} za <strong>{$product->getPriceWithVat()|wrPrice|noescape}&nbsp;Kč</strong>
        </p>

        {if $deliveryFreeFrom}
            <p class="delivery-info">Při hodnotě zboží nad {constant('DELIVERY_FREE_FROM')}&nbsp;Kč získáte dopravu zdarma.
                {if $priceToDeliveryFree > 0}
                    <a n:href=":Homepage:" title="Zpět k nákupu">Objednejte</a> tedy ještě zboží alespoň za {$priceToDeliveryFree|number:0, ',', ''}&nbsp;Kč
                    a získejte dopravu zdarma.
                {/if}
            </p>
        {/if}

        <p class="buttons">
          <a href="#" title="Pokračovat v nákupu" class="btn btn--popup-inverse popup-modal-dismiss">Pokračovat v nákupu</a>
          <a n:href=":Eshop:Checkout:" title="Dokončit objednávku" class="btn btn--popup ">Dokončit objednávku</a>
        </p> 
    </section>
{/block}