{block content}
    <p>
        <a n:href="add" title="Přidat novou doménu" class="btn btn-sm btn-success">
            <i class="icon-plus"></i>
            přidat novou
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>
                                <a n:href="default?sort=name" title="Seřadit podle názvu">Název</a>
                            </th>
                            <th>
                                <a n:href="default?sort=dateBuy" title="Seřadit podle data zakoupení">Datum zakoupení</a>
                            </th>
                            <th>
                                <a n:href="default?sort=dateExpire" title="Seřadit podle data expirace">Datum expirace</a>
                            </th>
                            <th>Společnost</th>
                        </tr>
                    </thead>

                    {foreach $items as $item}
                        <tr>
                            <td>
                                <a n:href="edit $item->id" title="Editace" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                <a n:href="delete $item->id" title="Smazání" class="btn btn-xs btn-danger"
                                   data-confirm="Opravdu chcete doménu smazat?">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </td>
                            <td><a href="http://{$item->name}" target="_blank">{$item->name}</a></td>
                            <td>{if !is_null($item->dateBuy)} {$item->dateBuy->format('d.m.Y')} {else}  {/if}</td>
                            <td>{if !is_null($item->dateExpire)} {$item->dateExpire->format('d.m.Y')} {else}  {/if}</td>
                            <td>
                                {if (!is_null($item->rel_company))}
                                    {var $company = $item->ref('company')}
                                    <a n:href=":Admin:Crm:Company:Company:edit $company->id" title="Detail firmy {$company->name}">{$company->name}</a>
                                {/if}
                            </td>
                        </tr>
                    {/foreach}

                </table>
            </div>
        </div>
    </div>
{/block}