{block content}
    <p>
        <a n:href="add" title="Přidat novou fakturu" class="btn btn-sm btn-success">
            <i class="icon-ok"></i>
            přidat novou
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Akce</th>
                            <th>Číslo</th>
                            <th>Odběratel</th>
                            <th>VS</th>
                            <th>KS</th>
                            <th>SS</th>
                            <th>Datum vystavení</th>
                            <th>Datum splatnosti</th>
                            <th>Zaplaceno</th>
                            <th>Částka</th>
                        </tr>
                    </thead>

                    {foreach $items as $item}
                        <tr>
                            <td>
                                {control listActionButtons $item->id}
                            </td>
                            <td>{$item->num}</td>
                            <td>
                                {if (!is_null($item->company))}
                                    <a n:href=":Admin:Crm:Company:Company:edit $item->company->id" title="Detail firmy {$item->company->name}">{$item->company->name}</a>
                                {/if}
                            </td>
                            <td>{$item->variableSymbol}</td>
                            <td>{$item->constantSymbol}</td>
                            <td>{$item->specificSymbol}</td>
                            <td>{$item->issueDate|date:'d.m.Y'}</td>
                            <td>{$item->dueDate|date:'d.m.Y'}</td>
                            <td class="align-center">
                                <span class="width-50 label label-danger">ne</span>
                            </td>
                            <td>0 Kč</td>
                        </tr>
                    {/foreach}
                    <tr>
                        <td colspan="9" class="align-right">Celkem: </td>
                        <td>0 Kč</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{/block}