<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
                    <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                        <li aria-selected="true" aria-labelledby="ui-id-23" aria-controls="tabs-1" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                            <a id="ui-id-23" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-1">Základní nastavení</a>
                        </li>

                        <li aria-selected="false" aria-labelledby="ui-id-24" aria-controls="tabs-2" tabindex="-1" role="tab" class="ui-state-default ui-corner-top">
                            <a id="ui-id-24" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-2">SEO nastavení</a>
                        </li>

                        <li aria-selected="false" aria-labelledby="ui-id-25" aria-controls="tabs-3" tabindex="-1" role="tab" class="ui-state-default ui-corner-top">
                            <a id="ui-id-25" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-3">Rozšířené nastavení</a>
                        </li>
                    </ul>

                    <div style="display: block;" aria-hidden="false" aria-expanded="true" role="tabpanel" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-23" id="tabs-1">
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-name">Název stránky</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="col-xs-10 col-sm-10" value="" id="frm-defaultForm-name" size="100" name="name">
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-_parent">Nadřízená stránka</label>
                            </div>
                            <div class="col-sm-10">
                                <select id="frm-defaultForm-_parent" name="_parent"><option value="0"> - </option><option value="1">Milan Gazda</option><option value="2">Vozový park</option><option value="3">Blog</option><option value="4">Fotogalerie</option><option value="5">Návštěvní kniha</option><option value="6">Kontakt</option><option value="7">Testovací galerie</option></select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                            </div>
                            <div class="col-sm-10">
                                <label for="frm-defaultForm-view"><input type="checkbox" id="frm-defaultForm-view" name="view">Shváleno</label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                            </div>
                            <div class="col-sm-10">
                                <label for="frm-defaultForm-homepage"><input type="checkbox" id="frm-defaultForm-homepage" name="homepage">Homepage</label>
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-annotation">Anotace</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea id="frm-defaultForm-annotation" class="ckeditor" rows="5" cols="75" name="annotation" style="visibility: hidden; display: none;"></textarea><div lang="cs" aria-labelledby="cke_frm-defaultForm-annotation_arialbl" role="application" dir="ltr" class="cke_1 cke cke_reset cke_chrome cke_editor_frm-defaultForm-annotation cke_ltr cke_browser_gecko" id="cke_frm-defaultForm-annotation"><span class="cke_voice_label" id="cke_frm-defaultForm-annotation_arialbl">Textový editor, frm-defaultForm-annotation</span><div role="presentation" class="cke_inner cke_reset"><span style="height: auto; -moz-user-select: none;" role="presentation" class="cke_top cke_reset_all" id="cke_1_top"><span class="cke_voice_label" id="cke_11">Panely nástrojů editoru</span><span onmousedown="return false;" aria-labelledby="cke_11" role="group" class="cke_toolbox" id="cke_1_toolbox"><span role="toolbar" aria-labelledby="cke_14_label" class="cke_toolbar" id="cke_14"><span class="cke_voice_label" id="cke_14_label">Schránka/Zpět</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(5,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(4,event);" onfocus="return CKEDITOR.tools.callFunction(3,event);" onkeydown="return CKEDITOR.tools.callFunction(2,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_15_label" role="button" hidefocus="true" tabindex="-1" title="Vyjmout" class="cke_button cke_button__cut cke_button_disabled " id="cke_15"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -264px;background-size:auto;" class="cke_button_icon cke_button__cut_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__cut_label" id="cke_15_label">Vyjmout</span></a><a onclick="CKEDITOR.tools.callFunction(9,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(8,event);" onfocus="return CKEDITOR.tools.callFunction(7,event);" onkeydown="return CKEDITOR.tools.callFunction(6,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_16_label" role="button" hidefocus="true" tabindex="-1" title="Kopírovat" class="cke_button cke_button__copy cke_button_disabled " id="cke_16"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -216px;background-size:auto;" class="cke_button_icon cke_button__copy_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__copy_label" id="cke_16_label">Kopírovat</span></a><a onclick="CKEDITOR.tools.callFunction(13,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(12,event);" onfocus="return CKEDITOR.tools.callFunction(11,event);" onkeydown="return CKEDITOR.tools.callFunction(10,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_17_label" role="button" hidefocus="true" tabindex="-1" title="Vložit" class="cke_button cke_button__paste  cke_button_off" id="cke_17"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -312px;background-size:auto;" class="cke_button_icon cke_button__paste_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__paste_label" id="cke_17_label">Vložit</span></a><a onclick="CKEDITOR.tools.callFunction(17,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(16,event);" onfocus="return CKEDITOR.tools.callFunction(15,event);" onkeydown="return CKEDITOR.tools.callFunction(14,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_18_label" role="button" hidefocus="true" tabindex="-1" title="Vložit jako čistý text" class="cke_button cke_button__pastetext  cke_button_off" id="cke_18"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -720px;background-size:auto;" class="cke_button_icon cke_button__pastetext_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__pastetext_label" id="cke_18_label">Vložit jako čistý text</span></a><a onclick="CKEDITOR.tools.callFunction(21,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(20,event);" onfocus="return CKEDITOR.tools.callFunction(19,event);" onkeydown="return CKEDITOR.tools.callFunction(18,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_19_label" role="button" hidefocus="true" tabindex="-1" title="Vložit z Wordu" class="cke_button cke_button__pastefromword  cke_button_off" id="cke_19"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -768px;background-size:auto;" class="cke_button_icon cke_button__pastefromword_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__pastefromword_label" id="cke_19_label">Vložit z Wordu</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(25,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(24,event);" onfocus="return CKEDITOR.tools.callFunction(23,event);" onkeydown="return CKEDITOR.tools.callFunction(22,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_20_label" role="button" hidefocus="true" tabindex="-1" title="Zpět" class="cke_button cke_button__undo cke_button_disabled " id="cke_20"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1008px;background-size:auto;" class="cke_button_icon cke_button__undo_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__undo_label" id="cke_20_label">Zpět</span></a><a onclick="CKEDITOR.tools.callFunction(29,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(28,event);" onfocus="return CKEDITOR.tools.callFunction(27,event);" onkeydown="return CKEDITOR.tools.callFunction(26,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_21_label" role="button" hidefocus="true" tabindex="-1" title="Znovu" class="cke_button cke_button__redo cke_button_disabled " id="cke_21"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -960px;background-size:auto;" class="cke_button_icon cke_button__redo_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__redo_label" id="cke_21_label">Znovu</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_22_label" class="cke_toolbar" id="cke_22"><span class="cke_voice_label" id="cke_22_label">Úpravy</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(33,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(32,event);" onfocus="return CKEDITOR.tools.callFunction(31,event);" onkeydown="return CKEDITOR.tools.callFunction(30,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="true" aria-labelledby="cke_23_label" role="button" hidefocus="true" tabindex="-1" title="Kontrola pravopisu během psaní (SCAYT)" class="cke_button cke_button__scayt cke_button_off " id="cke_23"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -888px;background-size:auto;" class="cke_button_icon cke_button__scayt_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__scayt_label" id="cke_23_label">Kontrola pravopisu během psaní (SCAYT)</span><span class="cke_button_arrow"></span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_24_label" class="cke_toolbar" id="cke_24"><span class="cke_voice_label" id="cke_24_label">Odkazy</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(37,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(36,event);" onfocus="return CKEDITOR.tools.callFunction(35,event);" onkeydown="return CKEDITOR.tools.callFunction(34,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_25_label" role="button" hidefocus="true" tabindex="-1" title="Odkaz" class="cke_button cke_button__link  cke_button_off" id="cke_25"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -528px;background-size:auto;" class="cke_button_icon cke_button__link_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__link_label" id="cke_25_label">Odkaz</span></a><a onclick="CKEDITOR.tools.callFunction(41,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(40,event);" onfocus="return CKEDITOR.tools.callFunction(39,event);" onkeydown="return CKEDITOR.tools.callFunction(38,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_26_label" role="button" hidefocus="true" tabindex="-1" title="Odstranit odkaz" class="cke_button cke_button__unlink cke_button_disabled " id="cke_26"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -552px;background-size:auto;" class="cke_button_icon cke_button__unlink_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__unlink_label" id="cke_26_label">Odstranit odkaz</span></a><a onclick="CKEDITOR.tools.callFunction(45,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(44,event);" onfocus="return CKEDITOR.tools.callFunction(43,event);" onkeydown="return CKEDITOR.tools.callFunction(42,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_27_label" role="button" hidefocus="true" tabindex="-1" title="Záložka" class="cke_button cke_button__anchor  cke_button_off" id="cke_27"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -504px;background-size:auto;" class="cke_button_icon cke_button__anchor_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__anchor_label" id="cke_27_label">Záložka</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_28_label" class="cke_toolbar" id="cke_28"><span class="cke_voice_label" id="cke_28_label">Vložit</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(49,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(48,event);" onfocus="return CKEDITOR.tools.callFunction(47,event);" onkeydown="return CKEDITOR.tools.callFunction(46,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_29_label" role="button" hidefocus="true" tabindex="-1" title="Obrázek" class="cke_button cke_button__image  cke_button_off" id="cke_29"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -360px;background-size:auto;" class="cke_button_icon cke_button__image_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__image_label" id="cke_29_label">Obrázek</span></a><a onclick="CKEDITOR.tools.callFunction(53,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(52,event);" onfocus="return CKEDITOR.tools.callFunction(51,event);" onkeydown="return CKEDITOR.tools.callFunction(50,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_30_label" role="button" hidefocus="true" tabindex="-1" title="Tabulka" class="cke_button cke_button__table  cke_button_off" id="cke_30"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -912px;background-size:auto;" class="cke_button_icon cke_button__table_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__table_label" id="cke_30_label">Tabulka</span></a><a onclick="CKEDITOR.tools.callFunction(57,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(56,event);" onfocus="return CKEDITOR.tools.callFunction(55,event);" onkeydown="return CKEDITOR.tools.callFunction(54,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_31_label" role="button" hidefocus="true" tabindex="-1" title="Vložit vodorovnou linku" class="cke_button cke_button__horizontalrule  cke_button_off" id="cke_31"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -336px;background-size:auto;" class="cke_button_icon cke_button__horizontalrule_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__horizontalrule_label" id="cke_31_label">Vložit vodorovnou linku</span></a><a onclick="CKEDITOR.tools.callFunction(61,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(60,event);" onfocus="return CKEDITOR.tools.callFunction(59,event);" onkeydown="return CKEDITOR.tools.callFunction(58,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_32_label" role="button" hidefocus="true" tabindex="-1" title="Vložit speciální znaky" class="cke_button cke_button__specialchar  cke_button_off" id="cke_32"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -864px;background-size:auto;" class="cke_button_icon cke_button__specialchar_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__specialchar_label" id="cke_32_label">Vložit speciální znaky</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_33_label" class="cke_toolbar" id="cke_33"><span class="cke_voice_label" id="cke_33_label">Nástroje</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(65,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(64,event);" onfocus="return CKEDITOR.tools.callFunction(63,event);" onkeydown="return CKEDITOR.tools.callFunction(62,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_34_label" role="button" hidefocus="true" tabindex="-1" title="Maximalizovat" class="cke_button cke_button__maximize  cke_button_off" id="cke_34"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -672px;background-size:auto;" class="cke_button_icon cke_button__maximize_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__maximize_label" id="cke_34_label">Maximalizovat</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_35_label" class="cke_toolbar" id="cke_35"><span class="cke_voice_label" id="cke_35_label">Dokument</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(69,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(68,event);" onfocus="return CKEDITOR.tools.callFunction(67,event);" onkeydown="return CKEDITOR.tools.callFunction(66,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_36_label" role="button" hidefocus="true" tabindex="-1" title="Zdroj" class="cke_button cke_button__source  cke_button_off" id="cke_36"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -840px;background-size:auto;" class="cke_button_icon cke_button__source_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__source_label" id="cke_36_label">Zdroj</span></a></span><span class="cke_toolbar_end"></span></span><span class="cke_toolbar_break"></span><span role="toolbar" aria-labelledby="cke_37_label" class="cke_toolbar" id="cke_37"><span class="cke_voice_label" id="cke_37_label">Základní styly</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(73,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(72,event);" onfocus="return CKEDITOR.tools.callFunction(71,event);" onkeydown="return CKEDITOR.tools.callFunction(70,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_38_label" role="button" hidefocus="true" tabindex="-1" title="Tučné" class="cke_button cke_button__bold  cke_button_off" id="cke_38"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -24px;background-size:auto;" class="cke_button_icon cke_button__bold_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__bold_label" id="cke_38_label">Tučné</span></a><a onclick="CKEDITOR.tools.callFunction(77,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(76,event);" onfocus="return CKEDITOR.tools.callFunction(75,event);" onkeydown="return CKEDITOR.tools.callFunction(74,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_39_label" role="button" hidefocus="true" tabindex="-1" title="Kurzíva" class="cke_button cke_button__italic  cke_button_off" id="cke_39"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -48px;background-size:auto;" class="cke_button_icon cke_button__italic_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__italic_label" id="cke_39_label">Kurzíva</span></a><a onclick="CKEDITOR.tools.callFunction(81,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(80,event);" onfocus="return CKEDITOR.tools.callFunction(79,event);" onkeydown="return CKEDITOR.tools.callFunction(78,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_40_label" role="button" hidefocus="true" tabindex="-1" title="Přeškrtnuté" class="cke_button cke_button__strike  cke_button_off" id="cke_40"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -72px;background-size:auto;" class="cke_button_icon cke_button__strike_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__strike_label" id="cke_40_label">Přeškrtnuté</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(85,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(84,event);" onfocus="return CKEDITOR.tools.callFunction(83,event);" onkeydown="return CKEDITOR.tools.callFunction(82,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_41_label" role="button" hidefocus="true" tabindex="-1" title="Odstranit formátování" class="cke_button cke_button__removeformat  cke_button_off" id="cke_41"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -792px;background-size:auto;" class="cke_button_icon cke_button__removeformat_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__removeformat_label" id="cke_41_label">Odstranit formátování</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_42_label" class="cke_toolbar" id="cke_42"><span class="cke_voice_label" id="cke_42_label">Odstavec</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(89,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(88,event);" onfocus="return CKEDITOR.tools.callFunction(87,event);" onkeydown="return CKEDITOR.tools.callFunction(86,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_43_label" role="button" hidefocus="true" tabindex="-1" title="Číslování" class="cke_button cke_button__numberedlist  cke_button_off" id="cke_43"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -648px;background-size:auto;" class="cke_button_icon cke_button__numberedlist_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__numberedlist_label" id="cke_43_label">Číslování</span></a><a onclick="CKEDITOR.tools.callFunction(93,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(92,event);" onfocus="return CKEDITOR.tools.callFunction(91,event);" onkeydown="return CKEDITOR.tools.callFunction(90,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_44_label" role="button" hidefocus="true" tabindex="-1" title="Odrážky" class="cke_button cke_button__bulletedlist  cke_button_off" id="cke_44"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -600px;background-size:auto;" class="cke_button_icon cke_button__bulletedlist_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__bulletedlist_label" id="cke_44_label">Odrážky</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(97,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(96,event);" onfocus="return CKEDITOR.tools.callFunction(95,event);" onkeydown="return CKEDITOR.tools.callFunction(94,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_45_label" role="button" hidefocus="true" tabindex="-1" title="Zmenšit odsazení" class="cke_button cke_button__outdent cke_button_disabled " id="cke_45"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -456px;background-size:auto;" class="cke_button_icon cke_button__outdent_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__outdent_label" id="cke_45_label">Zmenšit odsazení</span></a><a onclick="CKEDITOR.tools.callFunction(101,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(100,event);" onfocus="return CKEDITOR.tools.callFunction(99,event);" onkeydown="return CKEDITOR.tools.callFunction(98,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_46_label" role="button" hidefocus="true" tabindex="-1" title="Zvětšit odsazení" class="cke_button cke_button__indent  cke_button_off" id="cke_46"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -408px;background-size:auto;" class="cke_button_icon cke_button__indent_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__indent_label" id="cke_46_label">Zvětšit odsazení</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(105,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(104,event);" onfocus="return CKEDITOR.tools.callFunction(103,event);" onkeydown="return CKEDITOR.tools.callFunction(102,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_47_label" role="button" hidefocus="true" tabindex="-1" title="Citace" class="cke_button cke_button__blockquote  cke_button_off" id="cke_47"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -168px;background-size:auto;" class="cke_button_icon cke_button__blockquote_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__blockquote_label" id="cke_47_label">Citace</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_48_label" class="cke_toolbar" id="cke_48"><span class="cke_voice_label" id="cke_48_label">Styly</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_combo cke_combo__styles  cke_combo_off" id="cke_12"><span class="cke_combo_label" id="cke_12_label">Styl</span><a onclick="CKEDITOR.tools.callFunction(106,this);return false;" onfocus="return CKEDITOR.tools.callFunction(108,event);" onmousedown="return CKEDITOR.tools.callFunction(109,event);" onkeydown="return CKEDITOR.tools.callFunction(107,event,this);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="true" aria-labelledby="cke_12_label" role="button" tabindex="-1" title="Formátovací styly" hidefocus="true" class="cke_combo_button"><span class="cke_combo_text cke_combo_inlinelabel" id="cke_12_text">Styl</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span role="presentation" class="cke_combo cke_combo__format  cke_combo_off" id="cke_13"><span class="cke_combo_label" id="cke_13_label">Formát</span><a onclick="CKEDITOR.tools.callFunction(110,this);return false;" onfocus="return CKEDITOR.tools.callFunction(112,event);" onmousedown="return CKEDITOR.tools.callFunction(113,event);" onkeydown="return CKEDITOR.tools.callFunction(111,event,this);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="true" aria-labelledby="cke_13_label" role="button" tabindex="-1" title="Formát" hidefocus="true" class="cke_combo_button"><span class="cke_combo_text cke_combo_inlinelabel" id="cke_13_text">Formát</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_49_label" class="cke_toolbar" id="cke_49"><span class="cke_voice_label" id="cke_49_label">about</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(117,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(116,event);" onfocus="return CKEDITOR.tools.callFunction(115,event);" onkeydown="return CKEDITOR.tools.callFunction(114,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_50_label" role="button" hidefocus="true" tabindex="-1" title="O aplikaci CKEditor" class="cke_button cke_button__about  cke_button_off" id="cke_50"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 0px;background-size:auto;" class="cke_button_icon cke_button__about_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__about_label" id="cke_50_label">O aplikaci CKEditor</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div role="presentation" class="cke_contents cke_reset" id="cke_1_contents" style="height: 200px;"><span class="cke_voice_label" id="cke_56">Stiskněte ALT 0 pro nápovědu</span><iframe frameborder="0" src="" style="width: 100%; height: 100%;" class="cke_wysiwyg_frame cke_reset" title="Textový editor, frm-defaultForm-annotation" aria-describedby="cke_56" tabindex="0" allowtransparency="true"></iframe></div><span role="presentation" class="cke_bottom cke_reset_all" id="cke_1_bottom" style="-moz-user-select: none;"><span onmousedown="CKEDITOR.tools.callFunction(0, event)" title="Uchopit pro změnu velikosti" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" id="cke_1_resizer">◢</span><span class="cke_voice_label" id="cke_1_path_label">Cesta objektu</span><span aria-labelledby="cke_1_path_label" role="group" class="cke_path" id="cke_1_path"><span class="cke_path_empty">&nbsp;</span></span></span></div></div>
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-text">Text stránky</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea id="frm-defaultForm-text" class="ckeditor" rows="10" cols="75" name="text" style="visibility: hidden; display: none;"></textarea><div lang="cs" aria-labelledby="cke_frm-defaultForm-text_arialbl" role="application" dir="ltr" class="cke_2 cke cke_reset cke_chrome cke_editor_frm-defaultForm-text cke_ltr cke_browser_gecko" id="cke_frm-defaultForm-text"><span class="cke_voice_label" id="cke_frm-defaultForm-text_arialbl">Textový editor, frm-defaultForm-text</span><div role="presentation" class="cke_inner cke_reset"><span style="height: auto; -moz-user-select: none;" role="presentation" class="cke_top cke_reset_all" id="cke_2_top"><span class="cke_voice_label" id="cke_59">Panely nástrojů editoru</span><span onmousedown="return false;" aria-labelledby="cke_59" role="group" class="cke_toolbox" id="cke_2_toolbox"><span role="toolbar" aria-labelledby="cke_62_label" class="cke_toolbar" id="cke_62"><span class="cke_voice_label" id="cke_62_label">Schránka/Zpět</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(125,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(124,event);" onfocus="return CKEDITOR.tools.callFunction(123,event);" onkeydown="return CKEDITOR.tools.callFunction(122,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_63_label" role="button" hidefocus="true" tabindex="-1" title="Vyjmout" class="cke_button cke_button__cut cke_button_disabled " id="cke_63"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -264px;background-size:auto;" class="cke_button_icon cke_button__cut_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__cut_label" id="cke_63_label">Vyjmout</span></a><a onclick="CKEDITOR.tools.callFunction(129,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(128,event);" onfocus="return CKEDITOR.tools.callFunction(127,event);" onkeydown="return CKEDITOR.tools.callFunction(126,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_64_label" role="button" hidefocus="true" tabindex="-1" title="Kopírovat" class="cke_button cke_button__copy cke_button_disabled " id="cke_64"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -216px;background-size:auto;" class="cke_button_icon cke_button__copy_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__copy_label" id="cke_64_label">Kopírovat</span></a><a onclick="CKEDITOR.tools.callFunction(133,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(132,event);" onfocus="return CKEDITOR.tools.callFunction(131,event);" onkeydown="return CKEDITOR.tools.callFunction(130,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_65_label" role="button" hidefocus="true" tabindex="-1" title="Vložit" class="cke_button cke_button__paste  cke_button_off" id="cke_65"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -312px;background-size:auto;" class="cke_button_icon cke_button__paste_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__paste_label" id="cke_65_label">Vložit</span></a><a onclick="CKEDITOR.tools.callFunction(137,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(136,event);" onfocus="return CKEDITOR.tools.callFunction(135,event);" onkeydown="return CKEDITOR.tools.callFunction(134,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_66_label" role="button" hidefocus="true" tabindex="-1" title="Vložit jako čistý text" class="cke_button cke_button__pastetext  cke_button_off" id="cke_66"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -720px;background-size:auto;" class="cke_button_icon cke_button__pastetext_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__pastetext_label" id="cke_66_label">Vložit jako čistý text</span></a><a onclick="CKEDITOR.tools.callFunction(141,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(140,event);" onfocus="return CKEDITOR.tools.callFunction(139,event);" onkeydown="return CKEDITOR.tools.callFunction(138,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_67_label" role="button" hidefocus="true" tabindex="-1" title="Vložit z Wordu" class="cke_button cke_button__pastefromword  cke_button_off" id="cke_67"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -768px;background-size:auto;" class="cke_button_icon cke_button__pastefromword_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__pastefromword_label" id="cke_67_label">Vložit z Wordu</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(145,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(144,event);" onfocus="return CKEDITOR.tools.callFunction(143,event);" onkeydown="return CKEDITOR.tools.callFunction(142,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_68_label" role="button" hidefocus="true" tabindex="-1" title="Zpět" class="cke_button cke_button__undo cke_button_disabled " id="cke_68"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1008px;background-size:auto;" class="cke_button_icon cke_button__undo_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__undo_label" id="cke_68_label">Zpět</span></a><a onclick="CKEDITOR.tools.callFunction(149,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(148,event);" onfocus="return CKEDITOR.tools.callFunction(147,event);" onkeydown="return CKEDITOR.tools.callFunction(146,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_69_label" role="button" hidefocus="true" tabindex="-1" title="Znovu" class="cke_button cke_button__redo cke_button_disabled " id="cke_69"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -960px;background-size:auto;" class="cke_button_icon cke_button__redo_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__redo_label" id="cke_69_label">Znovu</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_70_label" class="cke_toolbar" id="cke_70"><span class="cke_voice_label" id="cke_70_label">Úpravy</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(153,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(152,event);" onfocus="return CKEDITOR.tools.callFunction(151,event);" onkeydown="return CKEDITOR.tools.callFunction(150,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="true" aria-labelledby="cke_71_label" role="button" hidefocus="true" tabindex="-1" title="Kontrola pravopisu během psaní (SCAYT)" class="cke_button cke_button__scayt cke_button_off " id="cke_71"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -888px;background-size:auto;" class="cke_button_icon cke_button__scayt_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__scayt_label" id="cke_71_label">Kontrola pravopisu během psaní (SCAYT)</span><span class="cke_button_arrow"></span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_72_label" class="cke_toolbar" id="cke_72"><span class="cke_voice_label" id="cke_72_label">Odkazy</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(157,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(156,event);" onfocus="return CKEDITOR.tools.callFunction(155,event);" onkeydown="return CKEDITOR.tools.callFunction(154,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_73_label" role="button" hidefocus="true" tabindex="-1" title="Odkaz" class="cke_button cke_button__link  cke_button_off" id="cke_73"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -528px;background-size:auto;" class="cke_button_icon cke_button__link_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__link_label" id="cke_73_label">Odkaz</span></a><a onclick="CKEDITOR.tools.callFunction(161,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(160,event);" onfocus="return CKEDITOR.tools.callFunction(159,event);" onkeydown="return CKEDITOR.tools.callFunction(158,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_74_label" role="button" hidefocus="true" tabindex="-1" title="Odstranit odkaz" class="cke_button cke_button__unlink cke_button_disabled " id="cke_74"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -552px;background-size:auto;" class="cke_button_icon cke_button__unlink_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__unlink_label" id="cke_74_label">Odstranit odkaz</span></a><a onclick="CKEDITOR.tools.callFunction(165,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(164,event);" onfocus="return CKEDITOR.tools.callFunction(163,event);" onkeydown="return CKEDITOR.tools.callFunction(162,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_75_label" role="button" hidefocus="true" tabindex="-1" title="Záložka" class="cke_button cke_button__anchor  cke_button_off" id="cke_75"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -504px;background-size:auto;" class="cke_button_icon cke_button__anchor_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__anchor_label" id="cke_75_label">Záložka</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_76_label" class="cke_toolbar" id="cke_76"><span class="cke_voice_label" id="cke_76_label">Vložit</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(169,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(168,event);" onfocus="return CKEDITOR.tools.callFunction(167,event);" onkeydown="return CKEDITOR.tools.callFunction(166,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_77_label" role="button" hidefocus="true" tabindex="-1" title="Obrázek" class="cke_button cke_button__image  cke_button_off" id="cke_77"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -360px;background-size:auto;" class="cke_button_icon cke_button__image_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__image_label" id="cke_77_label">Obrázek</span></a><a onclick="CKEDITOR.tools.callFunction(173,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(172,event);" onfocus="return CKEDITOR.tools.callFunction(171,event);" onkeydown="return CKEDITOR.tools.callFunction(170,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_78_label" role="button" hidefocus="true" tabindex="-1" title="Tabulka" class="cke_button cke_button__table  cke_button_off" id="cke_78"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -912px;background-size:auto;" class="cke_button_icon cke_button__table_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__table_label" id="cke_78_label">Tabulka</span></a><a onclick="CKEDITOR.tools.callFunction(177,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(176,event);" onfocus="return CKEDITOR.tools.callFunction(175,event);" onkeydown="return CKEDITOR.tools.callFunction(174,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_79_label" role="button" hidefocus="true" tabindex="-1" title="Vložit vodorovnou linku" class="cke_button cke_button__horizontalrule  cke_button_off" id="cke_79"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -336px;background-size:auto;" class="cke_button_icon cke_button__horizontalrule_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__horizontalrule_label" id="cke_79_label">Vložit vodorovnou linku</span></a><a onclick="CKEDITOR.tools.callFunction(181,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(180,event);" onfocus="return CKEDITOR.tools.callFunction(179,event);" onkeydown="return CKEDITOR.tools.callFunction(178,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_80_label" role="button" hidefocus="true" tabindex="-1" title="Vložit speciální znaky" class="cke_button cke_button__specialchar  cke_button_off" id="cke_80"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -864px;background-size:auto;" class="cke_button_icon cke_button__specialchar_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__specialchar_label" id="cke_80_label">Vložit speciální znaky</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_81_label" class="cke_toolbar" id="cke_81"><span class="cke_voice_label" id="cke_81_label">Nástroje</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(185,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(184,event);" onfocus="return CKEDITOR.tools.callFunction(183,event);" onkeydown="return CKEDITOR.tools.callFunction(182,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_82_label" role="button" hidefocus="true" tabindex="-1" title="Maximalizovat" class="cke_button cke_button__maximize  cke_button_off" id="cke_82"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -672px;background-size:auto;" class="cke_button_icon cke_button__maximize_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__maximize_label" id="cke_82_label">Maximalizovat</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_83_label" class="cke_toolbar" id="cke_83"><span class="cke_voice_label" id="cke_83_label">Dokument</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(189,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(188,event);" onfocus="return CKEDITOR.tools.callFunction(187,event);" onkeydown="return CKEDITOR.tools.callFunction(186,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_84_label" role="button" hidefocus="true" tabindex="-1" title="Zdroj" class="cke_button cke_button__source  cke_button_off" id="cke_84"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -840px;background-size:auto;" class="cke_button_icon cke_button__source_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__source_label" id="cke_84_label">Zdroj</span></a></span><span class="cke_toolbar_end"></span></span><span class="cke_toolbar_break"></span><span role="toolbar" aria-labelledby="cke_85_label" class="cke_toolbar" id="cke_85"><span class="cke_voice_label" id="cke_85_label">Základní styly</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(193,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(192,event);" onfocus="return CKEDITOR.tools.callFunction(191,event);" onkeydown="return CKEDITOR.tools.callFunction(190,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_86_label" role="button" hidefocus="true" tabindex="-1" title="Tučné" class="cke_button cke_button__bold  cke_button_off" id="cke_86"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -24px;background-size:auto;" class="cke_button_icon cke_button__bold_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__bold_label" id="cke_86_label">Tučné</span></a><a onclick="CKEDITOR.tools.callFunction(197,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(196,event);" onfocus="return CKEDITOR.tools.callFunction(195,event);" onkeydown="return CKEDITOR.tools.callFunction(194,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_87_label" role="button" hidefocus="true" tabindex="-1" title="Kurzíva" class="cke_button cke_button__italic  cke_button_off" id="cke_87"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -48px;background-size:auto;" class="cke_button_icon cke_button__italic_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__italic_label" id="cke_87_label">Kurzíva</span></a><a onclick="CKEDITOR.tools.callFunction(201,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(200,event);" onfocus="return CKEDITOR.tools.callFunction(199,event);" onkeydown="return CKEDITOR.tools.callFunction(198,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_88_label" role="button" hidefocus="true" tabindex="-1" title="Přeškrtnuté" class="cke_button cke_button__strike  cke_button_off" id="cke_88"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -72px;background-size:auto;" class="cke_button_icon cke_button__strike_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__strike_label" id="cke_88_label">Přeškrtnuté</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(205,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(204,event);" onfocus="return CKEDITOR.tools.callFunction(203,event);" onkeydown="return CKEDITOR.tools.callFunction(202,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_89_label" role="button" hidefocus="true" tabindex="-1" title="Odstranit formátování" class="cke_button cke_button__removeformat  cke_button_off" id="cke_89"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -792px;background-size:auto;" class="cke_button_icon cke_button__removeformat_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__removeformat_label" id="cke_89_label">Odstranit formátování</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_90_label" class="cke_toolbar" id="cke_90"><span class="cke_voice_label" id="cke_90_label">Odstavec</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(209,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(208,event);" onfocus="return CKEDITOR.tools.callFunction(207,event);" onkeydown="return CKEDITOR.tools.callFunction(206,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_91_label" role="button" hidefocus="true" tabindex="-1" title="Číslování" class="cke_button cke_button__numberedlist  cke_button_off" id="cke_91"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -648px;background-size:auto;" class="cke_button_icon cke_button__numberedlist_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__numberedlist_label" id="cke_91_label">Číslování</span></a><a onclick="CKEDITOR.tools.callFunction(213,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(212,event);" onfocus="return CKEDITOR.tools.callFunction(211,event);" onkeydown="return CKEDITOR.tools.callFunction(210,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_92_label" role="button" hidefocus="true" tabindex="-1" title="Odrážky" class="cke_button cke_button__bulletedlist  cke_button_off" id="cke_92"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -600px;background-size:auto;" class="cke_button_icon cke_button__bulletedlist_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__bulletedlist_label" id="cke_92_label">Odrážky</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(217,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(216,event);" onfocus="return CKEDITOR.tools.callFunction(215,event);" onkeydown="return CKEDITOR.tools.callFunction(214,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_93_label" role="button" hidefocus="true" tabindex="-1" title="Zmenšit odsazení" class="cke_button cke_button__outdent cke_button_disabled " id="cke_93"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -456px;background-size:auto;" class="cke_button_icon cke_button__outdent_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__outdent_label" id="cke_93_label">Zmenšit odsazení</span></a><a onclick="CKEDITOR.tools.callFunction(221,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(220,event);" onfocus="return CKEDITOR.tools.callFunction(219,event);" onkeydown="return CKEDITOR.tools.callFunction(218,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_94_label" role="button" hidefocus="true" tabindex="-1" title="Zvětšit odsazení" class="cke_button cke_button__indent  cke_button_off" id="cke_94"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -408px;background-size:auto;" class="cke_button_icon cke_button__indent_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__indent_label" id="cke_94_label">Zvětšit odsazení</span></a><span role="separator" class="cke_toolbar_separator"></span><a onclick="CKEDITOR.tools.callFunction(225,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(224,event);" onfocus="return CKEDITOR.tools.callFunction(223,event);" onkeydown="return CKEDITOR.tools.callFunction(222,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_95_label" role="button" hidefocus="true" tabindex="-1" title="Citace" class="cke_button cke_button__blockquote  cke_button_off" id="cke_95"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 -168px;background-size:auto;" class="cke_button_icon cke_button__blockquote_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__blockquote_label" id="cke_95_label">Citace</span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_96_label" class="cke_toolbar" id="cke_96"><span class="cke_voice_label" id="cke_96_label">Styly</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_combo cke_combo__styles  cke_combo_off" id="cke_60"><span class="cke_combo_label" id="cke_60_label">Styl</span><a onclick="CKEDITOR.tools.callFunction(226,this);return false;" onfocus="return CKEDITOR.tools.callFunction(228,event);" onmousedown="return CKEDITOR.tools.callFunction(229,event);" onkeydown="return CKEDITOR.tools.callFunction(227,event,this);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="true" aria-labelledby="cke_60_label" role="button" tabindex="-1" title="Formátovací styly" hidefocus="true" class="cke_combo_button"><span class="cke_combo_text cke_combo_inlinelabel" id="cke_60_text">Styl</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span role="presentation" class="cke_combo cke_combo__format  cke_combo_off" id="cke_61"><span class="cke_combo_label" id="cke_61_label">Formát</span><a onclick="CKEDITOR.tools.callFunction(230,this);return false;" onfocus="return CKEDITOR.tools.callFunction(232,event);" onmousedown="return CKEDITOR.tools.callFunction(233,event);" onkeydown="return CKEDITOR.tools.callFunction(231,event,this);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="true" aria-labelledby="cke_61_label" role="button" tabindex="-1" title="Formát" hidefocus="true" class="cke_combo_button"><span class="cke_combo_text cke_combo_inlinelabel" id="cke_61_text">Formát</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span class="cke_toolbar_end"></span></span><span role="toolbar" aria-labelledby="cke_97_label" class="cke_toolbar" id="cke_97"><span class="cke_voice_label" id="cke_97_label">about</span><span class="cke_toolbar_start"></span><span role="presentation" class="cke_toolgroup"><a onclick="CKEDITOR.tools.callFunction(237,this);return false;" onmousedown="return CKEDITOR.tools.callFunction(236,event);" onfocus="return CKEDITOR.tools.callFunction(235,event);" onkeydown="return CKEDITOR.tools.callFunction(234,event);" onblur="this.style.cssText = this.style.cssText;" aria-haspopup="false" aria-labelledby="cke_98_label" role="button" hidefocus="true" tabindex="-1" title="O aplikaci CKEditor" class="cke_button cke_button__about  cke_button_off" id="cke_98"><span style="background-image:url(http://www.mgazda.test/ckeditor/plugins/icons.png?t=DAED);background-position:0 0px;background-size:auto;" class="cke_button_icon cke_button__about_icon">&nbsp;</span><span aria-hidden="false" class="cke_button_label cke_button__about_label" id="cke_98_label">O aplikaci CKEditor</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div role="presentation" class="cke_contents cke_reset" id="cke_2_contents" style="height: 200px;"><span class="cke_voice_label" id="cke_103">Stiskněte ALT 0 pro nápovědu</span><iframe frameborder="0" src="" style="width: 100%; height: 100%;" class="cke_wysiwyg_frame cke_reset" title="Textový editor, frm-defaultForm-text" aria-describedby="cke_103" tabindex="0" allowtransparency="true"></iframe></div><span role="presentation" class="cke_bottom cke_reset_all" id="cke_2_bottom" style="-moz-user-select: none;"><span onmousedown="CKEDITOR.tools.callFunction(120, event)" title="Uchopit pro změnu velikosti" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" id="cke_2_resizer">◢</span><span class="cke_voice_label" id="cke_2_path_label">Cesta objektu</span><span aria-labelledby="cke_2_path_label" role="group" class="cke_path" id="cke_2_path"><span class="cke_path_empty">&nbsp;</span></span></span></div></div>
                            </div>
                        </div>
                    </div>

                    <div aria-hidden="true" aria-expanded="false" style="display: none;" role="tabpanel" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-24" id="tabs-2">
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-url">Url</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="col-xs-10 col-sm-10" value="" id="frm-defaultForm-url" size="100" name="url">
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-title">Titulek stránky</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="col-xs-10 col-sm-10" value="" id="frm-defaultForm-title" size="100" name="title">
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-description">Meta popisek</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea id="frm-defaultForm-description" rows="5" cols="75" name="description"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-keywords">Meta keywords</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea id="frm-defaultForm-keywords" rows="5" cols="75" name="keywords"></textarea>
                            </div>
                        </div>
                        
                    </div>

                    <div aria-hidden="true" aria-expanded="false" style="display: none;" role="tabpanel" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-25" id="tabs-3">
                        
                        <h3 style="margin-top: 0;" class="header smaller lighter blue">
                            Nastavení fotogalerie
                        </h3>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-CmsPhotogallery_id">Fotogalerie</label>
                            </div>
                            <div class="col-sm-10">
                                <select id="frm-defaultForm-CmsPhotogallery_id" name="CmsPhotogallery_id"><option value="0"> - </option><option value="1">Testovací fotogalerie</option><option value="2">Vozový park</option></select>
                                <a href="/admin/cms/photogallery/add" title="Založit novou fotogalerii">založit fotogalerii</a>
                            </div>
                        </div>
                        
                        
                        <h3 class="header smaller lighter blue">
                            Ostatní nastavení
                        </h3>
                        
                        <div class="form-group required">
                            <div class="col-sm-2 control-label">
                                <label for="frm-defaultForm-component">Zobrazit komponentu</label>
                            </div>
                            <div class="col-sm-10">
                                <select id="frm-defaultForm-component" name="component"><option value=""> - </option><option value="photogallery">Fotogalerie</option><option value="contactForm">Kontaktní formulář</option><option value="guestbook">Návštěvní kniha</option><option value="reservation">Rezervace - formulář</option><option value="reservationList">Rezervace - výpis</option></select>
                            </div>
                        </div>
                        
                    </div>
                </div>