<div class="row">
    <div class="col-sm-12">
        {form previewProjectForm}
            <fieldset>
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Název projektu</th>
                            <td>{$item->name}</td>
                            <th>Nadřízený projekt</th>
                            <td>{$item->ref('parent')['name']}</td>
                        </tr>
                        <tr>
                            <th>Termín dokončení</th>
                            <td>{$item->deadline|date:'d.m.Y'}</td>
                            <th>Firma</th>
                            <td>{$item->ref('rel_company')['name']}</td>
                        </tr>
                        <tr>
                            <th>Časový odhad</th>
                            <td>{$item->time} h</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Stav projektu</th>
                            <td class="no-padding">{input rel_projectstatus} {input submit}</td>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        {/form}
    </div>
</div>