<!DOCTYPE html>
<html>
<head ng-init="document.title ='HOUDEK.CZ – {$title}'" itemscope="itemscope" itemtype="http://schema.org/WebSite">
	<meta charset="UTF-8">
    <title>{$title}</title>
	<meta name="description" content="{$description}">
    <meta name="author" content="webovereseni.cz" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="general" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="{$title} | houdekcz.cz" />
    <meta property="og:description" content="{$description}" /> 
    <meta property="og:site_name" content="houdekcz.cz" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{$ogUrl ? $ogUrl : ''}" />
    <meta property="og:site_name" content="Houdekcz" />
    <meta property="og:type" content="website" />
    <meta name="msapplication-TileColor" content="#28190D" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{$title} | houdekcz.cz" />
    <meta name="twitter:description" content="{$description}" />
    <meta name="twitter:site" content="@houdekcz" />
    <meta name="twitter:creator" content="@weboveresenicz" />
    <meta name="geo.position" content="50.1535000N, 16.2788997E"> 
    <meta name="geo.placename" content="Rychnov nad Kněžnou, Králove Hradecký Kraj"> 
    <meta name="geo.region" content="Česká Republika">
    <meta name="ICBM" content="50.1535000, 16.2788997" />  
    <meta itemprop="url" content="http://www.houdekcz.cz/" />
    <meta itemprop="name" content="HOUDEKCZ.CZ" />
    <meta name="google-site-verification" content="oe69UUWnAABXmpxIAMSp8uSFqSwa0mD5WYMNaBnSVY8" />

    <link rel="stylesheet" media="screen, print" href="{$basePath}/css/style.css" />
    <link rel="stylesheet" media="screen, print" href="{$basePath}/library/jquery-ui-1.11.4.custom/jquery-ui.min.css" /> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  
    <link rel="shortcut icon" type="image/x-icon" href="/www/images/favicon.ico" />
    {* ***** fotogalerie lightbox2 ***** *}
    {* <link rel="stylesheet" media="screen, print" href="{$basePath}/library/lightbox2/css/lightbox.css"> *}

    {* ***** slider tinycarousel ***** *}
    {*
    <link rel="stylesheet" href="{$basePath}/library/tinycarousel/tinycarousel.css" type="text/css" media="screen" />
    *}
    {* ***** nivoslider ***** 
    <link rel="stylesheet" href="{$basePath}/library/nivoslider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{$basePath}/library/nivoslider/themes/default/default.css" type="text/css" media="screen" />
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/android-chrome-144x144.png" />
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/android-chrome-192x192.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/android-chrome-36x36.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/android-chrome-48x48.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/android-chrome-72x72.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/android-chrome-96x96.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/images/favicons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/images/favicons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/images/favicons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/images/favicons/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/images/favicons/apple-touch-icon-180x180.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/images/favicons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/images/favicons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/images/favicons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/images/favicons/apple-touch-icon-76x76.png"/>
    <link rel="icon" sizes="16x16" href="{$basePath}/images/favicons/favicon-16x16.png"/>
    <link rel="icon" sizes="194x194" href="{$basePath}/images/favicons/favicon-194x194.png"/>
    <link rel="icon" sizes="32x32" href="{$basePath}/images/favicons/favicon-32x32.png"/>
    <link rel="icon" sizes="96x96" href="{$basePath}/images/favicons/favicon-96x96.png"/>
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/mstile-144x144.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/mstile-150x150.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/mstile-310x150.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/mstile-310x310.png">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicons/mstile-70x70.png">  *}

    {block head}{/block}
</head>

<body class="b-{$bodyClass}" {*onload="initialize()"*}>
    {block bodyTop}{/block}

    {includeblock 'global/google-analytics.latte'}
    <div id="page">
        <script> //document.documentElement.className+=' js' </script>

        {includeblock 'global/header.latte'}

        <section id="content">
           {snippet flashMessages}
                <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
           {/snippet}

            {if $presenter->isModuleCurrent('Eshop') && !$presenter->isLinkCurrent(':Eshop:Checkout:*')}
                {* layout pro eshop *}
                <section class="column-left">
                    {control categoryMenu}
                </section>
                <section itemscope itemtype="http://schema.org/Product" class="column-right">
                    {include #content}
                </section>
            {else}
                {* layout pro ostatní sekce *}
                {include #content}
            {/if}
        </section>
        
    </div>
    
    <div class="cleaner"></div>
    
    {includeblock 'global/bottom.latte'}

    {snippet dialog}
        {ifset #dialog}
            {include #dialog}
        {/ifset}
    {/snippet}

    {block scripts}
        <script type="text/javascript">var basePath = {$basePath};</script>
        <script src="{$basePath}/js/jquery-1.11.3.min.js"></script>
        {*<script src="{$basePath}/js/jquery-ui-1.10.3.custom.min.js"></script>*}
        <script src="{$basePath}/library/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
        <script src="{$basePath}/js/ui.datepicker-cs.js"></script>
        <script src="{$basePath}/js/jquery.scrollTo/jquery.scrollTo.js"></script>
        <script src="{$basePath}/js/jquery.form.min.js"></script>

        {* ***** fotogalerie lightbox2 ***** *}
        {*<script src="{$basePath}/library/lightbox2/js/lightbox.min.js"></script>*}

        {* ***** slider tinycarousel ***** *}
        {*
        <script src="{$basePath}/library/tinycarousel/jquery.tinycarousel.min.js"></script>
        *}
        {* ***** nivo slider ***** *}
        {*
        <script src="{$basePath}/library/nivoslider/jquery.nivo.slider.pack.js"></script>
        *}

        <script src="{$basePath}/js/jquery.magnific-popup.js"></script>

        <script src="{$basePath}/js/jquery.nette.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>

        <script src="{$basePath}/js/jquery.custom.js"></script>
    {/block}
    {block footerScripts}{/block}
</body>
</html>
