{block content}
    <div class="row">
        <div class="col-xs-12">
            {*<h1 n:block=title>Modul produkty eshopu</h1>*}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-xs-6">
                    {control listAddButton 'přidat akci', 'Přidat novou akci'}
                </div>

                <div class="col-xs-6 align-right">
                    <p>
                        Celkem akcí: {$itemsCount}
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80px;">Akce</th>
                                    <th class="align-center">Název akce</th>
                                    <th class="align-center">Poč. produktů</th>
                                </tr>
                            </thead>

                            {if $items}
                                <tbody{* class="sortable" data-config="{json_encode(array('sortableUrl' => $basePath.'/admin/core/sort', 'table' => 'eshop_product'))}"*}>
                                    {foreach $items as $item}
                                        <tr>
                                            <td>
                                                <input type="hidden" name="id[]" class="id" value="{$item->id}" />
                                                {control listActionButtons $item->id}
                                            </td>
                                            <td>{$item->name}</td>
                                            <td class="align-center">{$item->count}</td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}