{block head}
    {*<link href="{$basePath}/library/select2-3.5.4/select2.min.css" rel="stylesheet" />*}
    <link href="{$basePath}/library/select2-3.5.4/select2.css" rel="stylesheet" />
{/block}

{block footerScripts}
    <script src="{$basePath}/library/select2-3.5.4/select2.min.js"></script>

    <script type="text/javascript">
        $('select.select2-multiple').select2();
    </script>
{/block}

{block pageHeaderButtons}
    <div class="page-header">
        <h1 style="float: left;">{$h1}</h1>

        <a n:href="default" title="Zpět na výpis akcí" class="btn btn-xs btn-success">
            <i class="icon-double-angle-left"></i>
            zpět
        </a>
    </div>
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">
            {control form}
        </div>
    </div>
{/block}