{if $page->cms_photogallery_id}
    <div class="photogallery thickbox2">
        <h2>{$page->cms_photogallery->name}</h2>
        
        {var $photos = $page->cms_photogallery->related('cms_photogalleryitem')}
        
        {if $photos->count()}
            <div class="photos">
                {foreach $photos as $photo}
                    {if !$photo->delete && $photo->view}
                        <div class="photo">
                            <a href="/data/photogallery/{$page->cms_photogallery->alias}/pw4/{$photo->file}"
                                data-lightbox="{$page->cms_photogallery->alias}"
                                data-title="{$photo->name}{$photo->description ? " - ".$photo->description}">
                                <img src="/data/photogallery/{$page->cms_photogallery->alias}/pw2/{$photo->file}" title="{$photo->name}" />
                            </a>
                        </div>
                    {/if}
                {/foreach}
            </div>
        {/if}
        
    </div>
{/if}
